#editEstonianAddress, #addEstonianAddress, #editEuropeanAddress, #addEuropeanAddress {
    //padding: 15px 0 15px 15px;
    padding-right: 0!important;
    padding-top: 0!important;

    .modal-dialog {
        margin-right: -15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .modal-content {
        min-height: calc(100vh + 15px);
    }

    .modal-header {
        border: none;
    }

    .modal-footer {
        border: none;
    }

    .modal-button {
        width: 100%;
        height: 60px;
        background: $darkColor;
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $secondTextColor;
        border: none;
    }
}
