.fixed-block {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $bodyBg;
    box-shadow: 0 -4px 10px rgba(103, 100, 117, .6);
    padding: 10px 16px 24px;
    text-align: right;
    z-index: 10;

    @include min-w(992px) {
        display: none;
    }

    .text {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 124%;
        color: #373638;
        margin-bottom: 4px;
    }

    .big-text {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #373638;
    }
}

.next-step-button {
    width: 100%;
    height: 50px;
    background: $textColor3;
    color: $secondTextColor;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    border: none;
    border-radius: 8px;

    &:disabled {
        opacity: .6;
    }
}
