.page-footer {
    position: relative;
    flex: 0 0 auto;
    background-color: $footerBg;
    padding: 0 0 26px;
    color: #fff;
    @include min-w(576px) {
        padding: 40px 0 0;
    }
    @include min-w(1151px) {
        padding: 40px 103px 0;
    }

    &__inner {
        position: relative;
        padding-top: 24px;

        @include min-w(768px) {
            padding-top: 22px;

        }
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 80px;
            width: 100%;
            border-top: 1px solid $neutralBrand2;
            @include min-w(360px) {
                max-width: 330px;
            }
            @include min-w(576px) {
                max-width: 90%;

            }
            // @include min-w(1440px) {
            //     max-width: 1080px;
            // }
        }
    }

    .footer-info-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 11px;

        @include min-w(576px) {
            flex-direction: row-reverse;
            padding-bottom: 36px;

        }
    }

    .footer-info {
        width: 100%;
        position: relative;

        @include min-w(576px) {
            border-right: 1px solid $neutralBrand2;
            max-width: 420px;
        }
    }

    .footer-logo {
        max-width: 150px;
        fill: $backgroundColor-4 ;

        @include max-w(767px) {
            display: none;
        }
    }

    .tag-line {
        color: $backgroundColor-4;
        margin: 10px 0 16px ;

    }

    .working-hours {
        text-align: center;
        color: $fourth-color;
        margin-top: 15px;
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 140%;
        opacity: .7;

        @include min-w(576px) {
            text-align: left;
            font-size: 15px;
        }
        @include max-w(768px) {
            margin-top: 35px;
            margin-bottom: 55px;
        }
    }

    .connect-with {
        fill: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $linkColor2;
        padding-bottom: 27px;

        @include min-w(576px) {
            justify-content: space-between;
            padding-bottom: 0;
            max-width: 290px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 105px;
            // width: 100%;
        }
    }
    .item-link{
        text-decoration: none;
    }
    .svg-center {
        display: flex;
        max-width: 105px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .connect-icon {
        max-width: 32px;
        display: block;
        height: auto;
    }

    .connect-text {
        margin: 0 auto;
        font-size: 14px;
        padding: 13px 0;
        color: $bodyBg;

        @include min-w(576px) {
            text-align: left;
            font-size: 15px;
            padding: 13px 0 0;
        }
    }

    a {
        color: #fff;
    }

    .accordion-items {
        @include min-w(320px) {
            max-width: 100%;
            width: 100%;
        }

        @include min-w(769px) {
            max-width: 200px;
        }
    }

    .footer-accordion-menu {
        width: 100%;

        @include min-w(320px) {
            padding-left: 0;
        }

        @include min-w(576px) {
            padding-left: 15px
        }
        @include min-w(769px) {
            display: flex;
            flex-direction: row;
        }

        @include min-w(1025px) {
            padding-left: 86px;
        }
    }

    .accordion {
        background: transparent;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: .5s;
        border-bottom: 1px solid $neutralBrand2;
        // margin-bottom: 5px;

        @include min-w(320px) {
            padding: 13px 0 19px;
            font-family: $mainFontFamily;
            color:$backgroundColor-6;
        }
        @include min-w(576px){
            font-size: 18px;
            color:$secondTextColor;

        }
        @include min-w(769px) {
            border-bottom: 1px solid transparent;
            padding: 0 16px 16px;
            font-family: $secondFontFamily;
        }
    }

    .accordion:after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Icon / plus'%3E%3Cpath id='Vector' d='M10 4.16675V15.8334' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M4.16797 10H15.8346' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: ' ';
        height: 20px;
        width: 20px;
        font-size: 17px;
        font-weight: bold;
        float: right;
        margin-left: 5px;

        @include min-w(576px){
            font-size: 18px;
        }

        @include min-w(769px) {
            display: none;
        }
    }

    .active:after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16797 1H12.8346' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 14px;
        height: 2px;
        margin-top: 9px;
        margin-right: 3px;
        content: ' ';

        @include min-w(769px) {
            display: none;
        }
    }

    .panel {
        padding: 0 18px;
        background-color: transparent;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-out;

        @include min-w(769px) {
            max-height: unset;
            max-width: 200px;
        }

        &-link {
            text-decoration: none;
            line-height: 21px;
            font-size: 15px;
            color: $fourth-color;
            display: block;
            opacity:    .53;
            font-weight: 400;
            margin-bottom: 6px;
        }

    }

    .footer-social {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-bottom: 32px;
        @include min-w(576px) {
            justify-content: flex-start;
            margin-bottom: 20px;
        }

        &__icon {
            max-width: 32px;
            width: 100%;
            text-decoration: none;
            margin: 0 10px;

            @include min-w(576px) {
                margin: 0 20px 0 0;
            }
            .social-icon {
                fill: $linkColor2;
                opacity: .53;
            }
        }
    }

    .terms-condition, .copyright {
        text-align: center;
        width: 100%;
        line-height: 140%;
        color: $fourth-color;
        opacity: .5;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        a {
            text-decoration: none;
            margin-right: 15px;
            margin-left: 10px;
            color: $fourth-color;
            font-size: 14px;
            @include min-w(576px){
                font-size: 15px;
            }
        }

        @include min-w(576px){
            font-size: 15px;
        }
    }

    .footer-bottom-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include min-w(576px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
.info-style {
    margin:0;
}

.product-try-on-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(53,53,59,.3);
}

.product-try-on-popup-open {
    display: block;

    .modal-content {
        height: 500px;
    }
}

.product-try-on-popup-close {
    border: none;
    background-color: transparent;
}
