@import '../elements/header-menu';
@import '../elements/search';

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .4s;
    border-bottom: 1px solid $neutralBrand;
    background: $bodyBg;

    &-parts {
        width: 100%;
    }

    &-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $neutralBrand;
        overflow: hidden;
        height: 72px;
        transition: height .5s;

        .page-container {
            z-index: 0;
        }

        @include max-w(1151px) {
            display: none;
        }
    }

    &-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 6px 0;
        z-index: -1;
        @include min-w(1440px){
            padding: 6px 16px 6px 0;
        }

        .page-container {
            z-index: -1;
        }

        @include max-w(1151px) {
            padding: 18px 0;
            & .iconic-menu {
                display: none !important;
            }
        }
    }

    .page-container {
        display: flex;
        justify-content: space-between;
        max-width: $containerWidth;
        position: relative;
        z-index: 1;
        @media screen and (min-width: 1151px) and (max-width:1151px) {
            .header-logo{
                display: none;
            }

        }
    }
}

.header-free-shipping {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--title {
        color: $linkColor2;
        font-size: 14px;
        line-height: 140%;
        margin: 0 150px 0 8px;
    }

    &--icon {
        height: 24px;
        width: 24px;
        color: $darkColor;
    }
}

.header-logo {
    max-width: 138px;
    width: 100%;
    fill: $darkColor;

    @include max-w(1151px) {
        height: 19px;
        margin: 0 20px 0 40px;
    }
    @include min-w(1440px){
        margin-left: 33px;
    }

    &-link {
        display: inline-flex;
    }
}

.menu-icon {
    max-width: 30px;
    height: 24px;

    &--search {
        max-width: 20px;
        margin-left: 35px;

        // @include min-w(576px) {
        //     margin: 0;
        // }
        @include min-w(1152px) {
            display: none;
        }
    }

    &--bag {
        max-width: 35px;
        @include min-w(1152px) {
            display: none;
        }
    }

    &--wish-list {
        margin-right: 20px;
        max-width: 23px;
        @include min-w(1152px) {
            display: none;
        }
    }
}

.on-sale-color a {
    color: $backgroundColor-5;
    font-weight: 500;
    @include min-w(1152px) {
        font-weight: 400;
    }
}

.main-nav {
    position: fixed;
    top: 0;
    padding-top: 40px;
    left: -200%;
    width: 100%;
    height: 100vh;
    background-color: $bodyBg;
    margin: 0;
    display: block;
    overflow-y: scroll;
    z-index: 2;
    transition: all .5s;

    &__list {
        position: relative;
        list-style: none;
        padding: 0;
        border-top: 1px solid $neutralBrand;

        .menu-item {
            padding: 10px 15px;

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 120%;
                display: flex;
                align-items: center;
                color: $linkColor2;
                text-decoration: none;

            }
        }

        .list-decor {
            border-bottom: 1px solid $neutralBrand;
            padding: 20px 15px;
            position: relative;
            display: block;
            width: 100%;

            a {
                color: $linkColor;

                &:after {
                    position: absolute;
                    content: url('../images/chevron.svg');
                    display: block;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .login-menu-open {
            border-bottom: 1px solid $neutralBrand;
            padding: 20px 50px;
            position: relative;
            display: block;
            width: 100%;

            a {
                color: $linkColor;

                &:before {
                    position: absolute;
                    content: url('../images/acc.svg');
                    fill: $darkColor;
                    display: block;
                    left: 15px;
                    top: 45%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .on-sale-color a {
            color: $backgroundColor-5;
            font-size: 18px;
            font-weight: 500;
        }

        .info-link a {
            color: $linkColor2;
            font-size: 18px;
        }
    }
}

.localization {
    display: flex;
    position: absolute;
    top: 5px;
    left: 15px;

    &-lang {
        margin-right: 20px;
    }
}

.menu-open {
    left: 0;
}

.sub-menu-depth-1 {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    right: -200%;
    max-width: 100%;
    transition: right .4s ease-in-out;
    background-color: $bodyBg;
    height: 100vh;
    list-style: none;
    padding: 10px 0;
    margin-top: 0;
    z-index: 2;

    .menu-item a {
        &:after {
            display: none;
        }
    }
}

.activeSubMenu {
    .sub-menu-depth-1 {
        right: 0;
    }
}

.closeSub {
    width: 100%;
    position: relative;
    border-bottom: 1px solid $neutralBrand;
    padding-bottom: 10px;
    text-align: center;

    #back {
        width: 100%;
        padding: 0 0 6px;
        z-index: 1;
    }

    &:before {
        position: absolute;
        content: url('../images/chevron-left.svg');
        display: block;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 28px;
        z-index: 0;
    }
}

.nav-bottom {
    margin-top: 51px;
    text-align: center;
}

.mail-style {
    text-decoration: none;
    color: $textColor;
}

.header-social {
    &__icon {
        text-decoration: none;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        fill: #023130;
        opacity: .4;
        transition: opacity .3s;
        margin: 0 5px;

        &:hover {
            opacity: .8;
        }
    }
}

.page-header-bottom .header-logo-link, .page-header-bottom .iconic-menu {
    display: none;
}

.sticky-header {
    transition: .1s;
    height: 0;
    opacity: 0;
}

.page-header-bottom .header-logo-link {
    display: flex;
    max-width: 140px;
    margin: 0 auto;
    @include min-w(1151px) {
        display: none;
    }
}
.account-page-form fieldset{
    padding: 0;
    & #somfrp_user_info{
        padding: 18px 12px;
    }
    & #somfrp_user_info::placeholder{
        font-size: 17px;
        color: #e1e1e8;
    }
    & strong{
        font-weight: 400;
    }
}
.somfrp-lost-pass-form-text{
    & p:first-of-type{
        font-size: 18px;
        font-weight: 400 !important;
        color: $linkColor;
        line-height: 140%;
        margin-top: 39px;
    }
    & p:last-of-type{
        font-size: 16px;
        color: $linkColor2;
        margin: 20px 0;
    }
}

.login-wrap, .header-search-modal-wrap {
    position: fixed;
    height: 100vh;
    font-family: $mainFontFamily;
    background-color: rgba(53, 53, 59, .3);
    top: 0;
    right: 0;
    width: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: .3s;

    .login-info-popup-close, .button-back {
        display: flex;
        justify-content: space-between;
        width: 240px;
        align-items: center;
        font-family: $mainFontFamily;
        background-color: transparent;
        border: transparent;
        color: $textColor;
        @include min-w(768px) {
            display: block;
            font-weight: 500;
            width: 210px;
            justify-content: start;
        }
    }

    .log-button {
        position: relative;
        font-family: $mainFontFamily;
        border: 1px solid #35353b;
        padding: 21px;
        display: block;
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin: 20px auto 32px;
        color: $linkColor;

        &:first-of-type:after {
            content: '';
            position: absolute;
            bottom: -33px;
            left: 0;
            right: 0;
            border-bottom: 1px solid #e1e1e8;
            @include min-w(768px) {
                display: none;
            }
        }

        &-type-2 {
            background-color: #023130;
            color: #fff;
            margin-top: 0;
            padding: 21px;
            @include min-w(768px) {
                background-color: $bodyBg;
                color: $textColor;
            }
        }
    }

    .woocommerce-form-register__submit, .woocommerce-Button, .woocommerce-form-login__submit,.big-btn {
        font-family: $mainFontFamily;
        background-color: #023130;
        color: #fff;
        border: 1px solid #35353b;
        padding: 21px;
        display: block;
        width: 100%;
        border-radius: 8px;
        margin: 20px auto;
    }

    .the_champ_login_ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            border: 1px solid #35353b !important;
            padding: 10px 20px !important;
            max-width: 156px;
            width: 100% !important;
            background-color: #fff;
            border-radius: 8px;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            @include min-w(768px) {
                max-width: 172px;
                padding: 10px 30px !important;
            }
        }

        #theChampGoogleButton {
            border: transparent;
            border-radius: 50%;
            position: relative;

            &:after {
                position: absolute;
                top: 7px;
                right: -55px;
                content: 'Google';
                display: block;
                font-size: 16px;
                line-height: 140%;
                font-style: normal;
                color: $textColor;
            }
        }

        .theChampFacebookLogin {
            border-radius: 50%;
            background-color: transparent !important;
        }

        .theChampFacebookLoginSvg {
            display: none !important;
        }

        .theChampFacebookLogoContainer {
            background-image: url(../images/facebook.svg) !important;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            margin-right: 16px;

            &:after {
                position: absolute;
                top: 3px;
                right: -82px;
                content: 'Facebook';
                display: block;
                font-size: 16px;
                line-height: 140%;
                font-style: normal;
                color: $textColor;
            }
        }
    }

    .show-pass-popup {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 8px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .login-info, .login-modal, .sign-up-modal, .recover-password-modal,
    .sign-up-with-email-modal, .reset-password-modal, .congrat, .log-in-user-modal, .reset-pass-confirmation, .header-search-modal {
        overflow: hidden;
        max-width: 400px;
        width: 0;
        background-color: #fff;
        transition: .3s;
        position: fixed !important;
        top: 0;
        right: 0;
        height: 100vh;

        h5, span {
            text-align: center;
        }

        p {
            position: relative;
            text-align: center;
        }

        .show-pass-popup {
            margin: 0;
        }

        .woocommerce-privacy-policy-text, label {
            display: none;
        }

        .login-header {
            font-size: 18px;
            line-height: 110%;
            text-align: left;
            color: #35353b;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: -20px;
                right: -20px;
                border-bottom: 1px solid #e1e1e8;
            }

            svg {
                margin-right: 15px;
            }
        }

        .woocommerce-form-login__rememberme {
            display: none;
        }
        .woocommerce-Input{
            padding: 18px 12px ;
        }
    }

    .woocommerce-form-row {
        .show-pass-popup {
            margin: 0;
        }
    }

    .log-in-user-modal {
        display: flex;
        flex-direction: column;

        .button-close {
            background-color: transparent;
            border: none;
        }

        .separateItem {
            margin: 50px auto 0;
        }
        & h5{
            font-weight: 500;
            @include min-w(1440px){
                font-weight: 400;
            }
        }

        .btn {
            padding: 20px 50px;

            &:hover {
                color: #fff;
            }
        }
    }

    .login-modal {

        .u-column2 {
            display: none;
        }
    }

    .sign-up-with-email-modal {
        .u-column1 {
            display: none;
        }
    }

    .login-info-modal-open, .login-modal-open, .sign-up-modal-open, .recover-password-modal-open,
    .sign-up-with-email-modal-open, .reset-password-modal-open, .congrat, .log-in-user-modal-open, .header-search-modal-open {
        padding: 15px 16px;
        width: 100%;
        @include min-w(768px) {
            padding: 15px 20px;
        }
    }

    &-open {
        width: 100%;
    }

    .login-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0 20px;

        & h5 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
            @include min-w(768px) {
                font-family: $secondFontFamily;
                font-size: 20px;
            }
        }

        &__description {
            color: $linkColor2;
        }

        & p {
            font-size: 16px;
            color: $linkColor2;
            line-height: 140%;
            margin: 0;
            @include min-w(768px) {
                font-size: 17px;
            }
        }

        & b {
            color: $darkColor;
        }
    }
}

.forgot {
    font-size: 14px;
    color: $textColor;
    opacity: .7;
}

.header-search-modal-wrap-open {
    width: 100%;
}

#password-lost-form-wrap {
    display: flex !important;
    flex-direction: column-reverse !important;

    .som-password-sent-message {
        color: #000;
    }
}

.sent-status-message {
    font-weight: 500;
}

.recovered-confirm {
    margin: 40px auto 20px;
    max-width: 80px;
    width: 100%;
}

.input-pass, .form-row-wide {
    position: relative;
    margin: 0;
}

.bag-menu-item, .aside-cart-close {
    cursor: pointer;
}

// .bag-menu-item {
//     // padding: 0 5px 0 0 !important;
// }

.product-count {
    font-size: 17px;
    line-height: 120%;
    color: #7a7a88;
    padding-right: 28px;
}

.aside-cart-wrapper {
    height: 100vh;
    width: 0;
    position: fixed;
    background-color: rgba(53, 53, 59, .3);
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: .3s;
}

.aside-cart-wrapper-open {
    width: 100%;
}

.aside-cart {
    max-width: 400px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
    padding: 15px 15px 50px;

    .aside-header-wrap {
        border-bottom: 1px solid #e1e1e8;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;

        .product-count {
            font-weight: 500;
            font-size: 18px;
            line-height: 110%;
            margin-right: auto;
            padding: 0 0 8px 5px;
            color: $textColor4;
        }
    }

    .cart-empty.woocommerce-info {
        display: none;
    }

    .aside-headline {
        font-weight: 500;
        font-size: 18px;
        line-height: 110%;
        padding: 0;
        color: $textColor4;
    }

    &-container {
        overflow-y: scroll;
        height: 100vh;
        padding: 0 0 300px !important;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .woocommerce-cart-form {
        width: 100%;
    }

    .product-column {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .cart-row {
        display: flex;
        flex-direction: row;

    }

    .product-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 102px;
        width: 100%;
        height: 140px;
        min-width: 100px;
    }

    .totals-wrapper {
        display: none;
    }

    .variation-Prescriptions, .variation-Additionalprice, .variation-Lensesconfiguration {
        display: none !important;
    }

    .quantity-button {
        cursor: pointer;
        font-size: 25px;
        color: #75737c;
        //padding: 0 0 5px;
        padding: 0 10px 5px;
    }

    .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &span:nth-child(2){
            width: 20px;
            text-align: center;
        }
    }

    .quantity-num {
        width: 20px!important;
        border-color: transparent !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .rotate-180 {
        transform: rotate(90deg) !important;
    }

    .lens-config {
        width: 100%;
    }

    .lenses-configuration {
        width: 100%;
        display: none;
        & table {
            margin: 0 auto 18px;
        }
    }

    td {
        width: 55px;
        border-color: #e1e1e8;
        border-style: solid;
        border-width: 1px;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #3f3f48;
        padding: 10px 5px;
        text-align: center;
    }

    .prescription-table-item {
        width: 360px;
        margin: 0 auto;
        & span{
            font-weight: 400;
            color: $linkColor2;
        }
        & td:first-child{
            font-weight: 500;
        }
        & tr:first-child td {
            font-weight: 500;
        }
    }
    .lenses-configuration-rows {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
        line-height: 140%;
        color: $linkColor2;

        span {
            font-size: 16px;
            font-weight: 500;
            color: $textColor;
            padding-right: 5px;
        }
    }

    .sub-title {
        color: $linkColor2;
        font-size: 16px;
        line-height: 110%;
        padding-right: 10px;
    }

    .cart-subtotal {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #e1e1e8;

        & p {
            font-weight: 500 !important;
            font-size: 16px;
            line-height: 124%;
            color: #373638;
        }
    }

    .product-quantity {
        max-width: 100px;
        position: absolute;
        left: 120px;
        top: 110px;
    }

    .product-result-price {
        position: absolute;
        right: 5px;
        top: 120px;
        font-weight: 500;
    }

    .product-subtotal {
        text-align: right;
        padding-right: 5px;
    }

    .product-price {
        display: none;
    }

    .cart-product-info {
        display: flex;
        flex-direction: column;
        max-width: 630px;
        width: 100%;
    }

    .qty {
        //max-width: 20px;
        max-width: 60px;
        color: $linkColor;
    }

    .variation {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 117px;
        top: 45px;

        .variation-Color, .variation-Size {
            margin-right: 5px;
            color: $linkColor2;
            font-size: 15px;

            p {
                color: $textColor4;
            }
        }
    }

    .lenses_item .variation {
        display: none;
    }
    //.lenses_item .mobile-cart-product-info {
    //    display: block;
    //}
    .variation-Lensestoken, .variation-Lensside {
        display: none;
    }

    .cart-product-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .cart-product-name {
        position: absolute;
        top: -10px;
        left: 117px;
        max-width: 210px;
        max-height: 48px;
        overflow: hidden;
        font-family: $secondFontFamily;
        font-size: 20px;
        line-height: 124%;
        color: $textColor4;
    }

    .product-item-column {
        display: flex;
        flex-direction: column;
    }

    .wish-product-link {
        display: none;
    }

    .product-remove {
        display: none;
    }

    .add-accessories-btn {
        display: none;
    }

    .categories-section {
        display: none;
    }

    .message-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .empty-cart-container {
        width: 100%;
    }

    .empty-cart-header {
        font-family: $secondFontFamily;
        font-size: 20px;
        line-height: 124%;
        color: $linkColor;
        text-align: center;
    }

    .empty-cart-description {
        font-family: $mainFontFamily;
        font-size: 15px;
        line-height: 140%;
        color: $linkColor2;
        text-align: center;
        margin-top: 11px;
    }

    .return-to-shop {
        text-align: center;
    }

    .wc-backward {
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 160% !important;
        text-align: center !important;
        text-decoration-line: underline !important;
        color: #59af9e !important;
        background-color: transparent !important;
    }

    .sign-up {
        display: none;
    }

    .free-delivery {
        background: rgba(251, 196, 160, .3);
        border-radius: 4px;
        padding: 3px 0 4px;
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-text {
            font-size: 14px;
            line-height: 140%;
            color: $textColor4;
        }

        .shipping-image {
            margin-right: 9px;
            fill: transparent;
            stroke: #35353b;
        }
    }
    .free-delivery_mobile{
        display: none;
    }
    .woocommerce-Price-amount.amount {
        font-weight: 500;
    }

    .radio-item {
        display: inline-block;
        position: relative;
        padding: 0 6px;
        margin: 10px 0 0;
    }

    .radio-item input[type='radio'] {
        display: none;
    }

    .radio-item label {
        font-size: 15px;
        color: #373638;
        font-weight: normal;
    }

    .radio-item label:before {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 11px;
        border: 2px solid $darkColor;
        background-color: transparent;
    }

    .radio-item input[type=radio]:checked + label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 10px;
        content: ' ';
        display: block;
        background: $darkColor;
    }

    .control-button, .control-button2 {
        display: none;
        flex-direction: column;
        box-shadow: 10px 0 10px #777;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 400px;
        width: 100%;
        padding: 15px 20px 24px;
        background-color: #fff;
    }

    .choice {
        margin-top: 20px;
    }

    .show-control-button {
        display: flex;
    }

    .go-to-checkout {
        width: 100%;

        a {
            background: $textColor3;
            border-radius: 8px;
            text-decoration: none;
            color: #fff;
            padding: 14px;
            width: 100%;
            text-align: center;
            display: block;
        }
    }

    .go-to-login {
        display: none;
    }

    .cart-sign-in {
        width: 49%;
        border-radius: 10px;
        color: #fff;
        background-color: $textColor3;
        border: 1px solid $textColor3;
        padding: 14px 0 15px;
    }

    .cart-sign-up {
        width: 49%;
        border-radius: 10px;
        border: 1px solid #35353b;
        background-color: transparent;
        color: #35353b;
        padding: 14px 0 15px;
    }

    .cart_item {
        position: relative;
        border-bottom: 1px solid $neutralBrand;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .order-item-pre-heading {
        font-size: 15px;
        color: $linkColor2;
        font-weight: 400;

        span {
            color: $textColor4;
        }
    }
    .order-lens-item-pre-heading{
        font-size: 15px;
        color: $textColor4;
    }
    .aside-product-remove {
        cursor: pointer;
        display: block;
        max-width: 10px;
        position: absolute;
        right: 15px;
        top: 0;
        stroke: #7a7a88;

        a:hover {
            background-color: transparent;
        }
    }

    .free-delivery-text-bold {
        font-weight: 700;
    }

}

.base-price {
    display: none;
}

.showHidePrice {
    display: block;
}

.bag-link {
    text-decoration: none;
    font-size: 17px;
    position: relative;

    .mobile-product-count {
        position: absolute;
        right: 0;
        top: 2px;
        text-decoration: none;
        color: #35353b;
    }

    .decor {
        background-color: #ec423e;
        position: absolute;
        top: 0;
        right: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;

        @include min-w(1151px) {
            display: none;
        }
    }
}

.our-suggestions-info-wrapper {
    position: relative;
    overflow: hidden;
    padding: 12px 15px;
    margin-bottom: 24px;
    background-color: rgba(251, 196, 160, .3);
    z-index: 0;

    .add-suggestions-btn {
        color: #924125;
        font-size: 14px;
        font-weight: 700;
    }
}
.our-suggestions-info-wrapper__mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 4px;
    & .free-shipping--icon{
        height: 32px;
        width: 32px;
        margin-right: 8px;
    }
    & .cost-for-free{
        font-weight: 700;
    }
    & .free-shipping__suggestions{
        font-family: $mainFontFamily;
        font-size: 14px;
        color: $linkColor;
    }
}
.our-suggestions-info {
    border-radius: 4px;
    background-image: url(../images/delivery_decor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.count-cart-header {
    display: none;
}

.mobile-cart-product-info {
    display: none;
}

.empty-cart-payment-info {
    display: none;
}

.mobile-login-menu-item-decor {
    background: url(../images/account-bg.jpg) no-repeat;
    background-size: cover;
}

.breadcrumbs__separator {
    color: $linkColor2;
}

.suggestions-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(53, 53, 59, .3);
    display: none;
    z-index: 99999;

    @include min-w(992px) {
        padding: 15px;
    }

    .suggestions-modal {
        padding: 15px 15px 0;
        background-color: #fff;
        max-width: 1072px;
        width: 100%;
        position: relative;
        height: 100%;

        @include min-w(992px) {
            height: auto;
        }

        .modal-body {
            padding: 40px 15px;
            @include min-w(1440px){
                padding: 22px 15px 0;
            }
        }

        .slick-arrow {
            background-color: #b2d1d4;
            border-radius: 50%;
            padding: 15px;
            width: 50px;
            height: 50px;
            
            &:hover {
                cursor: pointer;
            }
        }

        .prev {
            transform: rotate(180deg);
        }

        .prev.slick-arrow {
            position: absolute;
            top: 22%;
            left: 7px;
            z-index: 1;

            path {
                stroke: $darkColor;
            }
        }

        .next.slick-arrow {
            position: absolute;
            top: 22%;
            right: 7px;
            z-index: 1;
            stroke:#023130;

            path {
                stroke: $darkColor;
            }
        }
    }

    .button-close-suggestions-modal {
        text-decoration: none;
        stroke: #35353b;
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
    }

    .right-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
    }

    .product-item {
        padding: 0 15px;
    }
}

.suggestions-modal-overlay__open {
    z-index: 99;
    display: flex;
}

.add-to-cart-suggestion-product {
    width: 100%;
    font-size: 16px;
    line-height: 140%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 11px 16px;
    background: #59af9e;
    opacity: .9;
    color: #fff;
    font-family: $mainFontFamily;
    display: block;
    text-align: center;
    cursor: pointer;
    border: transparent;
}

.modal-body .product-price {
    margin-bottom: 26px;
}

.suggestions-modal-title {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #35353b;
    padding: 25px 0 10px;
}

.product-sort {
    display: none;

    @include min-w(1152px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 35px 0;
        max-width: 600px;
        width: 100%;
    }
}

#wc-stripe-payment-request-button-separator {
    display: none;
}

.attribute-size {
    text-transform: uppercase;
}

.product-link-arrow {
    display: none !important;
    @include min-w(992px) {
        display: block !important;
    }
}

.yith-wcan-filters-opener i.filter-icon {
    margin-bottom: 6px !important;
}

.product-link-load-more {
    display: block !important;
    margin-top: 48px !important;
    @include min-w(768px) {
        display: none !important;
    }
}
