.header-cart {
    z-index: 20;
    .top-wrapper {
        padding: 17px 15px 16px;
        @include min-w(768px) {
            padding: 21px 30px;
        }
        @include min-w(1152px) {
            padding: 21px 80px;
        }
    }
    &-info {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .localization {
        position: relative;
    }

    .product-step.one.active, .product-step.two.active, .product-step.three.active {
        background-color: #023130;
        color: #fff;
    }

    .header-logo {
        @include max-w(1151px) {
            margin: 0;
            max-width: unset;
            width: unset;
        }
    }
    .product-step.two {
        background-color: #eff1f2;
        color: $textColor;
    }
    .product-step.three{
        background-color: #eff1f2;
        color: $textColor4;
    }

    .product-step {
        max-width: 25%;
        width: 100%;
        overflow: hidden;

        @include min-w(767px) {
            max-width: 34%;
        }

        &__description {
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            margin: 10px 0 11px !important;
            font-family: $mainFontFamily;
            font-weight: 400;

            @include min-w(767px) {
                font-size: 15px;
                margin: 17px 0 18px!important;
            }
        }

        .product-count {
            font-size: 14px;
            line-height: 140%;
            color: #ffffff;
            font-family: $mainFontFamily;
        }
    }

    .two {
        max-width: 50%;
        width: 100%;
        @include min-w(767px) {
            max-width: 34%;
        }
    }
    .decor {
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            right: -17px;
            top: -21px;
            border: 1px solid rgba(63,63,72,.3);
            height: 32px;
            width: 42px;
            transform: rotateZ(45deg);
            background-color: #eff1f2;
            @include min-w(768px){
                top: -14px;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -17px;
            bottom: -22px;
            border: 1px solid rgba(63,63,72,.3);
            height: 32px;
            width: 41px;
            transform: rotateZ(-45deg);
            background-color: #eff1f2;
            @include min-w(768px){
                bottom: -14px;
            }
        }
    }

    .header-cart-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cart-localization {
        padding: 0 0 0 15px;
        border-left: 1px solid #e1e1e8;

        .localization-lang {
            color: #7a7a88;
            font-size: 17px;
            line-height: 140%;
        }
    }
    .cart-menu-link {
        text-decoration: none;
        color: #7a7a88;
        font-size: 15px;
        line-height: 140%;
        padding-right: 15px;
    }
}

.sign-up {
    display: none;
}

.free-delivery {
    background: rgba(251, 196, 160, .3);
    border-radius: 4px;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-text {
        font-size: 14px;
        line-height: 140%;
    }

    .shipping-image {
        margin-right: 9px;
        fill: transparent;
        stroke: #35353b;
    }
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: ' ';
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid $darkColor;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: ' ';
    display: block;
    background: $darkColor;
}

.control-button {
    display: none;
    flex-direction: column;
    box-shadow: 10px 0 10px #777;
    position: absolute;
    bottom:0;
    right: 0;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    background-color: #fff;
}

.choice {
    margin-top: 20px;
}
.show-control-button {
    display: flex;
}

.go-to-checkout {
    width: 100%;

    a {
        background: $textColor3 !important;
        border-radius: 8px !important;
        text-decoration: none !important;
        color: #fff !important;
        padding: 14px !important;
        width: 100% !important;
        text-align: center !important;
        display: block !important;
        font-weight: 400 !important;
    }
}

.go-to-login {
    display: none;
}

.cart-sign-in{
    width: 49%;
    border-radius: 10px;
    color: #fff;
    background-color: $textColor3;
    border: 1px solid $textColor3;
    padding: 14px 0;
}
.cart-sign-up {
    width: 49%;
    border-radius: 10px;
    border: 1px solid #35353b;
    background-color: transparent;
    color: #35353b;
    padding: 14px 0;
}

.product-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-template-cart-tpl {
    .btn {
        display: inline-block !important;
        outline: none !important;
        border: none !important;
        border-radius: 8px !important;
        padding: 8px 50px !important;
        background-color: $darkColor !important;
        color: #fff !important;
        transition: .4s !important;
        font-size: 16px !important;
        font-family: $mainFontFamily !important;

        &--product-view{
            width: 137px !important;
            height: 44px !important;
            padding: 11px 50px !important;
            margin-top: 30px !important;

            &:focus, :active {
                color:$secondTextColor;
                border: transparent !important;
            }
            @include min-w(678px) {
                display: none !important;
            }
        }

        &--try-on {
            background-color: #fff !important;
            border: 1px solid $textColor !important;
            width: 137px !important;
            height: 44px !important;
            text-decoration: none !important;
            padding: 11px 40px !important;
            margin-top: 30px !important;
            margin-right: 15px !important;
            color: $textColor !important;
            @include min-w(678px) {
                display: none !important;
            }
        }
    }

    .suggestions-modal-title, .accessories-modal-title {
        font-family: $mainFontFamily;
        display: block;
        text-align: center;
        font-weight: 500 !important;
        font-size: 22px !important;
        line-height: 120% !important;
        color: #35353b !important;
        padding: 20px !important;
    }
    .accessories-modal-header{
        position: relative;
        font-family: $mainFontFamily;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: $linkColor;
        padding-bottom: 20px;
        &::after {
            content: '';
            position: absolute;
            top: 40px;
            left: -20px;
            right: -20px;
            border-bottom: 1px solid #e1e1e8;
        }
        @include min-w(768px){
            display: none;
        }
    }
}
