.prescription-wrapper {
    display: block;

    @include min-w(992px) {
        display: flex;
    }

    .input-wrapper {
        margin-bottom: 0;
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }
}

.prescription-table {
    display: flex;
    //margin-bottom: 30px;
}

.prescription-form {
    width: 100%;
    padding-bottom: 35px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    .input-wrapper {
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title {
        text-align: center;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }

    //#pd-2 {
    //    display: none;
    //}
}

.content-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &> div {
        width: calc(50% - 8px);
    }

    .title {
        text-align: center;
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;

            @include min-w(992px) {
                font-size: 18px;
            }
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;

            @include min-w(992px) {
                //font-size: 15px;
            }
        }
    }
}

@include min-w(992px) {
    .prescription-table:nth-child(1) {
        width: calc(50% + 36px);
        margin-right: 16px;
    }

    .prescription-table:nth-child(2) {
        width: calc(50% - 36px);

        .title-column {
            display: none;
        }
    }
}

.title-column {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    .title {
        width: 56px;
        text-align: center;
        height: 56px;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;
        }
    }
}

.prescription-pupillary {
    margin-top: 40px;
    position: relative;
    display: flex;

    @include min-w(992px) {
        padding-top: 47px;
        border-top: 1px solid $neutralBrand;
    }

    .prescription-pupillary-text {
        margin: 0 0 15px;

        @include min-w(992px) {
            display: none;
        }
    }

    .prescription-modal-button {
        position: relative;
        margin-left: 15px;

        @include min-w(992px) {
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}

.pupillary-info {
    display: flex;
    align-items: center;
    gap: 16px;

    .pupillary-title {
        color: $textColor4;
        font-weight: 500;
        width: 56px;
        height: 56px;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include min-w(992px) {
            flex-direction: column;
            width: 175px;
        }
    }

    .pupillary-title-title {
        margin: 0;
    }

    .pupilarity-subtitle {
        display: none;

        @include min-w(992px) {
            margin: 0;
            display: block;
            font-weight: normal;
            font-size: 15px;
            line-height: 140%;
            color: $linkColor2;
            opacity: .7;
        }
    }

    .pupillary-selects {
        width: 100%;
        display: flex;
        gap: 16px;
    }

    .select-wrapper {
        height: 56px;
        width: calc(100% - 8px);

        @include min-w(992px) {
            width: 140px;
        }

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }
}

.pupillary-checkbox {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    @include min-w(992px) {
        justify-content: flex-start;
        padding-left: 156px;
    }

    label {
        font-size: 16px;
        line-height: 140%;
        color: #35353b;
    }
}

.prescription-comment {
    margin-bottom: 45px;
    position: relative;

    .comment-text {
        font-size: 14px;
        line-height: 140%;
        color: #7a7a8c;
        margin: 0;
    }

    textarea {
        height: 150px;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -30px;
        background: #e1e1e8;
    }
}

.add-prism-checkbox {
    padding-bottom: 20px;

    .add-prism-text {
        font-size: 16px;
        line-height: 140%;
        color: #7a7a88;
    }
}

.prism-wrapper {
    padding-bottom: 20px;

    .content-columns .title p:first-child {
        @include min-w(992px) {
            font-size: 18px!important;
        }
    }
}

.prescription-login-button {
    border: none;
    background: transparent;
    color: #023130;
    text-decoration: underline;
}

.prescription-additional-wrapper {
    //display: none;
}

.open-additional-prescriptions {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @include min-w(992px) {
        justify-content: flex-start;
    }

    .text {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: $textColor4;
        margin: 0;
    }

    svg {
        margin-top: 3px;
        margin-left: 15px;
        transform: rotate(-90deg);
        transition: .3s;
    }

    .open {
        transform: rotate(90deg);
    }
}

.save-new-pre-label {
    margin-top: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;
    color: $linkColor2;

    #new-name {
        border-radius: 8px;
    }
}
