.modal-header {
    border: none;
}

.modal-footer {
    border: none;
    justify-content: center;
}

.modal-button {
    width: 157px;
    height: 54px;
    background: $darkColor;
    border-radius: 8px;
    color: $secondTextColor;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}
