.pre-footer-section {
    background: linear-gradient(89.24deg, #fac9bd .72%, #fbc4a0 99%);
    .subscribe-item-mobile {
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @include min-w(768px) {
            background-size: 0;
        }

        .subscribe-info-text {
            margin-bottom: 20px;
            @include min-w(768px){
                margin-top: 25px;
                margin-right: 40px;
                max-width: 35ch;
            }
        }
        .info-text-style{
            margin-top: 0;
            line-height: 140%;
            color: $textColor;
            @include min-w(768px){
                font-size: 18px;
            }     
        }
        .subscribe-info-title{
            color: #924125;
            // line-height: 110%;
            @include min-w(768px){
                margin-top: 35px;
            }            
        }
        &-info {
            padding: 48px 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 515px;

            @include min-w(768px) {
                text-align: left;
                padding: 0 30px;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                flex-direction: row;
            }

            @include min-w(1152px) {
                padding: 0 180px;
                max-width: 1440px;
                // margin: 0 auto;
                // right: 0;
            }
        }
    }
    .subscribe-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        width: 100%;

        @include min-w(768px) {
            max-width: 375px;
        }
        & .btn--subscribe{
            border-radius: 0 8px 8px 0;
        }
    }
    .subscribe-desktop-bg {
        display: none;

        @include min-w(768px) {
            display: inline;
        }
    }
    .content-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include min-w(768px) {
            justify-content: flex-end;
        }
        @include min-w(1151px) {
            justify-content: flex-end;
            padding:0 100px;
        }
    }
    .subscribe-email {
        background: #fff;
        border-radius: 8px 0 0 8px;
        border-color: #fff;
        padding: 18px;
        margin: 0;
        &::placeholder{
            color: $linkColor2;
            opacity: .8;
        }
    }
}
