.testimonials {
    background: linear-gradient(360deg, rgba(175,125,170,.4) 0%, rgba(254,214,227,.4) 58.41%);
    padding: 48px 0 51px;
    margin-bottom: 112px;
    position: relative;

    @include min-w(768px) {
        padding: 88px 0 15px;
    }
    .review-info-title{
        font-size: 22px;
        font-weight: 500;
        text-align: center;

        @include min-w(768px) {
            font-size: 28px;
        }
    }
    .review-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        position: relative;
        text-align: center;
        color: $linkColor2;
        margin: 39px 0 20px;

        @include min-w(768px) {
            color: $darkColor;
            font-size: 24px;
            text-align: left;
            margin: 56px 0 17px;
        }

        &:before {
            position: absolute;
            top: 0;
            left: -50px;
            content: url(../../images/decor-quote.svg);
            display: none;

            @include min-w(768px) {
                display: block;
            }
        }
    }
    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        opacity: .89;

        @include min-w (768px) {
            font-size: 18px;
        }
    }

    .raiting {
        padding: 0 15px;
    }
    .verified {

        p {
            color: $textColor3;
            background: rgba(89, 175, 158, .1);
            border-radius: 20px;
            max-width: 170px;
            padding: 6px 10px 6px 35px;
            width: 100%;
            position: relative;
            text-align: center;
            margin: 15px auto;

            @include min-w(1151px) {
                margin: 10px 0;
            }

            &:before {
                position: absolute;
                top: 5px;
                left: 10px;
                content: url(../../images/verified.svg);
            }
        }

    }

    .reviewer-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include min-w(1153px) {
            justify-content: flex-start;
        }
    }
    .slider-container {
        max-width: 1105px;
    }
    .review-info {
        padding: 0;

        @include min-w(768px) {
            padding: 0 50px;
        }
    }
    .slick-arrow {
        background-color: transparent !important;
        border: 1px solid $textColor3;
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .slick-dots {
        &:not(.slick-active) button:before{
            opacity: .25;
        }
    }
}
