.try-on {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;

    @include min-w(576px) {
        margin-bottom: 100px;
    }

    &-banner {
        display: none;
        @include min-w(576px) {
            display: block;
        }
    }

    &-mobile-banner {
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        @include min-w(576px) {
            display: none;
        }
    }

    &-info {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 45px;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        padding-bottom: 15px;

        @include min-w(576px) {
            right: 100px;
            top: 50%;
            bottom: unset;
            transform: translateY(-50%);
        }

        @include min-w(1151px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            right: 200px;
            top: 50%;
            bottom: unset;
            transform: translateY(-50%);
            padding: 0;
        }

        &-title {
            font-family: $secondFontFamily;
            color: $darkColor;
            margin-bottom: 0;
        }
        &-description {
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 35px;
            color:$textColor4;
            @include min-w(1151px) {
                width: 467px;
                height: 56px;
                margin-bottom: 0;
                font-size: 20px;
                line-height: 140%;
            }
        }
    }
}
