.error404 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor-3;

    .page-header, .page-footer {
        display: none;
    }
}

.page-404{
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-404 {
        max-width: 166px;
        width: 100%;
    }
}
