.blog-main {
    padding-top: 80px;
    padding-bottom: 75px;
    @include min-w(1152px) {
        padding-top: 166px;
        padding-bottom: 0;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
    .menu-blog-category-container {
        overflow: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }        
       
    .menu-blog-category-container > ul {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        margin: auto;
        padding-left: 16px;
        padding-bottom: 23px;
                
        @include min-w(768px) {
            justify-content: center;
            padding-bottom: 34px;
        }

        li {
            background: rgba(187, 211, 229, .3);
            border-radius: 20px;
            padding: 10px 14px;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            color: #35353b;
            margin-right: 12px;
            text-decoration: none;
            list-style-type: none;
            white-space: nowrap;
            width: max-content;

            &:hover {
                cursor: pointer;
            }

            @include min-w(768px) {
                padding: 10px 16px;
                margin-right: 16px;
                border-radius: 32px;

            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        li.current-menu-item {
            color: #fff;
            background: #59af9e;
        }
    }

    h1, h2, h3, p {
        margin: 0;
    }

    .blog_top {
        display: grid;
        grid-template-rows: 360px;
        gap: 32px;
        margin: 0 -15px;
        @include min-w(768px) {
            grid-template-rows: 490px;
            gap: 17px;
            margin: 0;
        }
        @include min-w(1300px) {
            grid-template-columns: 740px 1fr;
        }
    }

    .blog_main {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 83px 16px;
        background-size: cover;

        @include min-w(768px) {
            padding: 32px;
        }

        .category_title {
            font-family: $secondFontFamily;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            padding-top: 25px;
            @include min-w(768px) {
                width: 16ch;
                padding-top: 15px;
                font-size: 40px;
                line-height: 44px;
            }
        }

        .category_subtitle {
            display: none;
            @include min-w(768px) {
                display: block;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 30ch;
                padding-top: 11px;
            }
        }
    }

    .category_name {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        width: fit-content;
        height: fit-content;
        background-color: #59af9e;
        border-radius: 4px;
        padding: 7px 6px;
        text-transform: uppercase;
        color: #fff;

        @include max-w(768px) {
            &-popular {
                font-size: 10px;
                background-color: transparent;
                color: #59af9e;
                padding: 0;
                padding-bottom: 10px;
            }
        }
    }

    .popular_title {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 18px;
        color: $textColor4;
        @include min-w(768px) {
            font-family: $secondFontFamily;
            font-size: 28px;
            line-height: 31px;
        }
    }

    .blog_popular {
        overflow: hidden;
        padding-left: 15px;
        @include min-w(768px) {
            padding: 0;
        }
    }

    .popular_grid {
        display: grid;
        grid-gap: 28px;
        grid-auto-flow: column;
        overflow: auto;
        grid-template-columns: 162px 162px 162px;

        @include min-w(500px) {
            grid-template-columns: auto;
        }

        @include min-w(1300px) {
            grid-template-columns: auto;
            grid-auto-flow: row;
        }

        .grid_item {
            display: grid;
            grid-gap: 20px;

            @include min-w(1300px) {
                grid-template-columns: 200px 1fr;
                grid-template-rows: 128px;
            }

        }

        .popular_img > img {

            object-fit: cover;
            height: 98px;
            @include min-w(768px) {
                height: 180px;
            }
            @include min-w(1300px) {
                height: 100%;
            }

        }

        .popular_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .category_title {
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #3f3f48;
            @include min-w(768px) {
                font-size: 20px;
                line-height: 25px;
                padding-top: 7px;
                padding-bottom: 6px;
            }

        }

        .category_subtitle {
            display: none;
            color: #75737c;
            @include min-w(1300px) {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                display: block;
            }

        }

    }

    .blog_articles {

        .articles_title {
            padding-top: 64px;
            padding-bottom: 23px;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            color: $textColor4;
            @include min-w(768px) {
                font-family: $secondFontFamily;
                font-size: 28px;
                line-height: 31px;
                padding-top: 57px;
                padding-bottom: 34px;
                color: $textColor;
            }
        }

        .articles_grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 450px;
            grid-column-gap: 16px;
            grid-row-gap: 60px;

            @include min-w(768px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 450px;
            }

            @include min-w(1300px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 450px;
                grid-row-gap: 80px;

            }
        }

        .articles_img > img{
            height: 200px;
            margin-bottom: 22px;
            width: 100%;
            object-fit: cover;
            @include min-w(475px) {
                height: 236px;
            }
        }

        .author {
            margin: 12px 0;
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 10px;
            align-items: center;
            @include min-w(768px) {
                grid-template-columns: 48px 1fr;
            }
        }

        .author_img {
            border-radius: 50%;
            height: 40px;
            object-fit: cover;
            @include min-w(768px) {
                height: 48px;
            }
        }

        .author_name {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;
            @include min-w(768px){
                font-size: 15px;
                color: #75737c;
            }
        }

        .post_name {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            padding-bottom: 6px;
            color: $textColor4;
            @include min-w(768px){
                font-family: $secondFontFamily;
                font-size: 20px;
                line-height: 124%;
            }
        }

        .post_description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $linkColor2;
            @include min-w(768px){
                font-size: 15px;
                line-height: 140%;
                color: #75737c;
            }
        }

    }

    .load-more {
        padding-top: 81px;
        padding-bottom: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 328px;
        margin: 0 auto;

        &_text {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            color: #3f3f48;
            opacity: .7;
        }

        &_line {
            width: 100%;
            height: 8px;
            background-color: #e1e1e8;
            margin-top: 10px;
            margin-bottom: 32px;
            border-radius: 5px;
        }

        &_progress {
            width: 10%;
            height: 8px;
            border-radius: 5px;
            background-color: #59af9e;
        }

        &_btn {
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            border: 1px solid #3f3f48;
            background-color: transparent;
            border-radius: 8px;
            padding: 16px 111px;
            color: #35353b;
            font-family: $mainFontFamily;
        }

    }

}
