@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.main-single-brand {
    padding-top: 55px;
    padding-bottom: 35px;
    @include min-w(1151px) {
        padding-top: 106px;
        padding-bottom: 102px;
    }

    .page-container {
        position: relative;
        & .product-item{
            margin-bottom: 40px;
            @include min-w(1440px){
                margin-bottom: 103px;
            }
        }
    }
    .page-title .counter {
        font-size: 21px;
    }
    .slider-brand {
        color: #fff;
        margin-bottom: 0 !important;

        .single-brand-banner-mobile-wrap {
            position: relative;
        }

        .slider__title--mobile {
            font-family: $secondFontFamily;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            width: 50%;
            color: #fff;
            position: absolute;
            bottom: 37px;
            left: 16px;

            @include min-w(576px) {
                display: none;
            }
        }

        .slider__title {
            padding-top: 142px;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            width: 75%;
            color: #fff;
            display: none;

            @include min-w(576px) {
                display: block;
                padding-top: 135px;
                padding-bottom: 18px;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px;
                text-align: left;
                width: 505px;
                max-width: 100%;
            }
        }

        .slider__subtitle {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            color: #7a7a88;
            margin-top: 24px;
            margin-bottom: 45px;
            @include min-w(576px) {
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                width: 505px;
                max-width: 100%;
                color: #fff;
            }
        }
    }

    .slider__bg {
        color: #fff;

        @include min-w(576px) {
            height: 400px;
        }
    }

    .single-brand-banner {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: none;

        @include min-w(576px) {
            display: block;
        }
    }

    .single-brand-banner-mobile {
        width: 100%;
        object-fit: contain;
        @include min-w(576px) {
            display: none;
        }
    }

    .slick-dots {
        bottom: 10px;
        color: #fff;
        @include min-w(576px) {
            bottom: 25px;
        }
    }
    .slick-dots li{
        width: 5px;
    }

    .slick-dots li button {
        &:before {
            background: $darkColor !important;
            content: '' !important;
            width: 6px;
            height: 8px;
            border-radius: 28px;
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        width: 14px;
        border-radius: 28px;
    }
    .slick-dots li.slick-active {
        margin: 0;
        width: 14px;
    }

    .brand-header-mob {
        display: block;
        padding-bottom: 150px;
    }

    .featured__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        text-align: center;
        color: #35353b;
        padding-bottom: 46px;
        display: none;
        @include min-w(768px) {
            display: block;
        }
    }

    .featured__title-mob {
        text-decoration: none;
        color: #35353b;
        display: block;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        padding-bottom: 18px;

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49121 9.54175L18.9912 9.54175' stroke='%23023130' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.1577 4L18.9911 9.54167L13.1577 15.0833' stroke='%23023130' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            position: absolute;
            right: 0;
        }

        @include min-w(768px) {
            display: none;
        }
    }

    .featured__grid {
        display: block;

        @include min-w(768px) {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .featured__grid .slick-dots {
        bottom: -24px;
    }

    .featured__img img {
        height: 236px;
        object-fit: cover;
        width: 100%;
    }

    .featured__text {

        .category_title a {
            font-family: $mainFontFamily;
            text-decoration: none;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
            color: #3f3f48;
            @include min-w(768px){
                font-family: $secondFontFamily;
                font-size: 20px;
                line-height: 124%;
            }
        }

        .category_subtitle {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
            color: $linkColor2;
            @include min-w(768px){
                font-size: 15px;
                color: #75737c;
            }
        }
    }
    .info-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headline.breadcrumbs{
        padding: 15px 0 30px;
    }

    .breadcrumbs__link span,.breadcrumbs__separator,.breadcrumbs__current{
        font-size: 12px;
        line-height: 124%;
        color: $linkColor;
        opacity: .5;
    }
    .page-title{
        margin: 0;
    }

    .filter {
        max-width: 1440px;
        width: 100%;
        padding: 0 50px;
        margin: 0 auto;
        position: relative;
        border-top: 1px solid $neutralBrand;

        @include min-w(1151px) {
            background-color: $backgroundColor-6;
        }

        &:after {
            border-bottom: 1px solid $neutralBrand;
            width: 100%;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
        }

        &-title {
            font-size: 16px;
            @include min-w(1151px) {
                padding: 25px 10px;
                line-height: 34px;
                font-weight: 400;
                margin: 0;
            }
        }

        &-container {
            @include min-w(1151px) {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        &-wrap {
            width: 100%;
        }

        .filters-container {
            @include min-w(1151px) {
                background-color: $backgroundColor-6;
            }
        }

        .filter-content {
            @include min-w(1152px) {
                position: absolute;
                background-color: #fff;
                z-index: 999;
                padding: 20px 16px;
                filter: drop-shadow(0 4px 5px rgba(103, 100, 117, .15));
                min-width: 200px;
            }
        }
    }
    #sortBy2 {
        position: relative;
        max-width: 120px;
        margin: 0;

        @include min-w(768px) {
            margin: 0 auto;
        }
        &:before {
            content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxM0w3IDdMMSAxIiBzdHJva2U9IiM3QTdBODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg==);
            display: block;
            transform: rotate(90deg);
            height: 0;
            position: absolute;
            left: 12px;
            top: 12px;
            fill: $linkColor;
        }
    }

    .product-sort {
        display: none;

        @include min-w(1152px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 35px 0;
            max-width: 600px;
            width: 100%;
        }
    }

    .grid-button {
        display: flex;
    }

    .mobile-grid-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 75px;
        width: 20%;

        @include min-w(992px) {
            display: none;
        }
    }
}

.filters-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include min-w(992px) {
        flex-direction: row;
    }

    .yith-wcan-filter, .filter-tax {
        width: 100%;
        border: none !important;
        border-bottom: 1px solid #d7d7d7 !important;
        border-radius: 0 !important;

        @include min-w(1151px) {
            border-bottom: 1px solid transparent !important;
            max-width: 120px;
            margin: 0;
        }
    }
}

.filter-button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    padding: 15px 0;

    @include min-w(1151px) {
        display: none;
    }

    &:before {
        content: '';
        display: block;
        padding: 1px;
        background-color: #d7d7d7;
        position: absolute;
        left: 50%;
        transform: rotateX(-50%);
        height: 100%;
    }
    & .sort-by.main-modal-button{
        font-family: $mainFontFamily;
        font-size: 16px;
        line-height: 140%;
        color: $textColor4 !important;
    }
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .filters-container form .yith-wcan-filter, .yith-wcan-dropdown {
        border: none !important;
    }

    .filters-container form .yith-wcan-dropdown {
        padding-right: 35px;
    }

    .filter-title {
        font-size: 16px;
        line-height: 34px;
        font-weight: 400;
        margin: 0;
        width: 105px !important;
    }

    .dropdown-wrapper {
        width: 240px;
    }
}

.yith-wcan-filters {
    @include min-w(1151px) {
        margin: 0 !important;
    }
    &.btn.btn-primary.enhanced{
        color: $darkColor !important;
    }
}

.filters-container form .filter-orderby {
    @include min-w(1151px) {
        display: flex !important;
        margin: 0 !important;
        max-width: 400px !important;
        width: 100% !important;
    }

    .filter-title {
        @include min-w(1151px) {
            margin: 0 !important;
            padding: 0;
        }
    }

    .filter-content {

        @include min-w(1151px) {
            max-width: 250px !important;
            width: 100% !important;
        }
    }
}

.orderby {
    z-index: 1002;
    @include min-w(1151px) {
        display: none;
    }
}

.opened {
    background-color: #fff !important;
    position: relative;
}

.filter-items .filter-item.color {
    margin: 5px !important;

    a {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    .term-label {
        display: block;
        font-size: 15px !important;
        text-align: center;
        padding: 0 5px;
    }

    a .term-color {
        margin: 0 !important;
    }
}

.filter-items.filter-label.with-images {
    .filter-item {
        padding-left: 45px !important;
        position: relative;
        max-width: 400px;

        &:before {
            content: '';
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 20px;
            width: 20px;
            left: 10px;
            top: 10px;
            padding: 1px;
        }
    }
    .active:before {
        content: '';
        border: 1px solid $darkColor;
        background-color: $darkColor;
        background-image: url(../../images/checkbox_checked.svg) !important;
        background-size: 65%;
        background-position: center center;
        background-repeat: no-repeat !important;
    }
    a {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    .term-label {
        padding: 0 5px;
    }
}

.load-more {
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 328px;
    width: 100%;
    margin: 0 auto;
    @include min-w(768px){
        padding-bottom: 120px;
    }

    &_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        color: #3f3f48;
        opacity: .7;
    }

    &_line {
        width: 100%;
        height: 8px;
        background-color: #e1e1e8;
        margin-top: 3px;
        margin-bottom: 32px;
        border-radius: 5px;
    }

    &_progress {
        width: 10%;
        height: 8px;
        border-radius: 5px;
        background-color: #59af9e;
    }

    &_btn {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        border: 1px solid #3f3f48;
        background-color: transparent;
        border-radius: 8px;
        padding: 16px 90px;
        color: #35353b;
        max-width: 328px;
        width: 100%;
    }
}

.blog-link {
    display: none;
    @include min-w(768px){
        display: block;
    }
}
