.page-template-brands-tpl {
    padding-top: 70px;
}
.brands-main {
    padding-top: 10px;
    padding-bottom: 92px;
    @include min-w(1152px) {
        padding-top: 90px;
        padding-bottom: 106px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .breadcrumbs span:first-child > a {
        text-decoration: none;
        color: #7a7a88;
    }

    .brands__title {
        font-family:$secondFontFamily;
        color: $textColor4;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        padding-top: 41px;
        @include min-w(768px) {
            margin: 0;
            padding-top: 35px;
            padding-bottom: 16px;
            font-size: 40px;
            line-height: 110%;
        }
    }

    .brands__subtitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #7a7a88;
        @include min-w(768px) {
            color: $textColor4;
            font-size: 17px;
            line-height: 140%;
            margin-top: 0;
        }
    }

    .alphabet {
        position: sticky;
        top: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding-top: 20px;
        overflow: auto;
        z-index: 9;
        height: 70px;
        justify-content: flex-start;

        &::-webkit-scrollbar {
            width: 1px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0 rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3);
        }

        &.stuck{
            padding-top: 87px;
        }
        @include min-w(768px) {
            font-size: 20px;
            height: 110px;
            padding-top: 45px;

            &.stuck{
                padding-top: 57px;
            }
        }

    }

    .alphabet__letter {
        width: fit-content;
        height: fit-content;
        color: $textColor4;
        padding: 13px;
        cursor: pointer;
        @include min-w(768px) {
            font-family: $secondFontFamily;
            margin-right: 18px;
        }
        &:hover{
            color:$fourth-color;
            background: $linkColorHover;
            border-radius: 116px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .item__wrap {
        margin: 0;
        margin-bottom: 15px;
        grid-column: 1/3;
        @include min-w(768px) {
            margin-top: 30px;
            margin-bottom: 23px;
            grid-column: 1/5;
        }
    }

    .item__letter {
        font-family: $mainFontFamily;
        color: $textColor4;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
        position: relative;

        span {
            position: absolute;
            top: -155px;
        }

        &:after, &:before {
            content: '';
            height: 1px;
            background-color: #e1e1e8;
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            margin: 0 -55%;
            @include min-w(768px) {
                width: 48%;
                margin: 0 -50.5%;
            }
        }
    }

    .active {
        background: #59af9e;
        color: #fff;
        border-radius: 116px;

        &:hover {
            cursor: pointer;
        }
    }

    .brands_items {
        padding-top: 15px;
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        @include min-w(768px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-top: 0;
        }
    }

    .item__brand {
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
