.empty-cart-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.empty-cart-container {
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 45px;
    @include min-w(768px){
        padding-top: 60px;
    }

    .page-container {
        padding: 0;
    }

    .sign-up {
        display: block;
    }

    .message-icon{
        margin-bottom: 24px;
    }

    .empty-cart-header{
        font-family: $mainFontFamily;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 11px;
        color: $textColor;

        @include min-w(768px){
            font-family: $secondFontFamily;
            font-size: 20px;
        }
    }

    .empty-cart-description{
        font-family: $mainFontFamily;
        font-size: 16px;
        line-height: 140%;
        color: $linkColor;
        margin-bottom: 16px;

        @include min-w(768px){
            font-size: 15px;
            color: $linkColor2;
            margin-bottom: 48px;
            width: 330px;
        }
    }
}

.woocommerce-cart {
    .page-title {
        display: none;
    }

    .site-main {
        padding-top: 112px;
        @include min-w(768px){
            padding-top: 155px;
        }
    }

    .woocommerce-info {
        display: none;
    }

    .cart-collaterals {
        max-width: 100%;
        width: 100% !important;
        margin-bottom: 20px;
        background-color: rgba(239, 241, 242, .3);
        padding: 20px 20px 0;
        border-radius: 5px;

        @include min-w(576px) {
            max-width: 400px;
        }

        //td {
        //    width: 100%;
        //}
        .wc-forward {
            background: #59af9e !important;
            border-radius: 8px;
            color: #fff;
            font-size: 16px !important;
            line-height: 140%;
            font-weight: 400 !important;
            font-family: $mainFontFamily;
        }
    }
    span.variation-Color {
        font-size: 14px;
        color: $linkColor2;
        @include min-w(768px){
            font-size: 15px;
        }
    }
    .variation-Color p{
        font-size: 14px;
        color: $textColor4;
        margin: 0;

        @include min-w(768px){
            font-size: 15px;
        }
    }
    span.variation-Size {
        font-size: 14px;
        color: $linkColor2;
        @include min-w(768px){
            font-size: 15px;
        }
    }
    .variation-Size p{
        font-size: 14px;
        color: $textColor4;
        margin: 0;

        @include min-w(768px){
            font-size: 15px;
        }
    }
    .cart-subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #e1e1e8;
        & .cost{
            font-weight: 700;
        }

        span,p {
            font-weight: 500;
            font-size: 16px;
            line-height: 124%;
            color: #373638;
            font-family: $mainFontFamily;
        }

        bdi {
            color: $textColor;
        }
    }
    .woocommerce-Price-amount.amount{
        font-family: $mainFontFamily;
        font-weight: 500;
        color: $textColor !important;
    }
    .cart_totals {
        width: 100% !important;

        .order-total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #e1e1e8;
            padding: 15px 0;
            margin-bottom: 15px;

            p{
                margin: 0;
                font-family: $mainFontFamily;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 124%;
                color: #3f3f48;
            }
        }
        .go-to-checkout .cart-subtotal {
            display: none;
        }
    }

    .count-cart-header {
        display: none;

        @include min-w(768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .cart-header-count, .cart-header-product-count {
            font-family: $secondFontFamily;
            font-weight: 500;
            font-size: 28px;
            line-height: 110%;
            color: $textColor4;
            margin: 0;
        }
    }
}
.return-to-shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-w(768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .sign-up {
        text-decoration: none;
        font-size: 16px;
        line-height: 140%;
        color: #023130;
        background-color: #fff;
        border: 1px solid  #023130;
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 13px 16px;
        margin-bottom: 10px;

        @include min-w(768px) {
            margin-bottom: 0 !important;
        }
    }

    .wc-backward {
        font-family: $mainFontFamily;
        margin-bottom: 10px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 160% !important;
        text-align: center !important;
        text-decoration-line: underline !important;
        color: #59af9e !important;
        background-color: transparent !important;
        @include min-w(768px) {
            margin-bottom: 0 !important;
            text-decoration-line: none !important;
            font-size: 16px !important;
            line-height: 140%;
            color: #fff !important;
            background-color: #023130 !important;
            border: 1px solid  #023130 !important;
            max-width: 200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: 400 !important;
            border-radius: 8px !important;
            padding: 11px 12px 12px !important;
        }
    }
}

.empty-cart-payment-info {
    display: none;

    @include min-w(992px) {
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }
}

.payment-image-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header {
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    color: #35353b;
}

.payment-image {
    margin: 0 15px;
}

.free-delivery-info, .free-returns-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .info-description {
        padding-left: 17px;
    }

    h6 {
        font-size: 18px;
        line-height: 120%;
        color: #3f3f48;
    }

    .text {
        font-size: 15px;
        line-height: 140%;
        color: #7a7a88;
    }

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #023130;

        svg {
            margin-left: 12px;
            margin-bottom: 2px;
        }
    }
}

.categories-section {
    width: 100%;
    margin-bottom: 60px;

    @include min-w(767px) {
        display: none;
    }

    .headline {
        font-size: 28px;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 20px;
        text-align: left;

        @include min-w(768px) {
            text-align: center;
        }
    }

    .slick-slide {
        padding: 0 15px;
        box-sizing: content-box;
        position: relative;
    }

    .slick-list {
        padding: 0 10% 15px 0;
    }

    .category-item {
        height: 360px;
        background-position: 50%, 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin: 0 15px 15px;

        @include min-w(769px) {
            background-size: 0;
            height: auto;
            margin: 0 0 15px;
        }
    }

    .desktop-cat-image {
        display: none;

        @include min-w(769px) {
            display: block;
            object-fit: cover;
        }
    }

    .categories_link {
        position: absolute;
        left: 24px;
        bottom: 30px;
        font-weight: 500;
        font-size: 22px;
        text-decoration: none;
        color: $darkColor;
        display: inline-block;

        &--arrow {
            height: 20px;
            width: 27px;
        }
    }
}

.modal-dialog {

    .modal-content {
        position: relative;
        .btn-close {
            position: absolute;
            top: 17px;
            right: 16px;
            z-index: 10;
        }
    }
    .modal-body {
        padding: 32px 40px;

        h3 {
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
            color: $textColor4;
            @include min-w(1440px){
                font-size: 20px;
            }
        }

        .text {
            color: #7a7a88;
            font-size: 17px;
            line-height: 140%;
        }
    }
}

.totals-wrapper {
    display: none;

    @include min-w(992px) {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
    }
    #wc-stripe-payment-request-wrapper{
        display: none;
    }
}

.woocommerce-cart-form {
    max-width: 845px;
    width: 100%;
    //padding-bottom: 300px;

    @include min-w(920px) {
        margin-right: 35px;
        padding-bottom: 300px;
    }
}

.variation-Prescriptions, .variation-Additionalprice, .variation-Lensesconfiguration, .variation-Lensestoken, .variation-Lensside{
    display: none !important;
}

.product-quantity, .product-subtotal {
    vertical-align: top !important;
}

.quantity-button , .lens-minus , .lens-plus , .quantity-down , .quantity-up{
    cursor: pointer;
    font-size: 25px;
    color: #75737c;
    //padding: 0 0 5px;
    padding: 0 10px 5px !important;
}

.quantity {
    position: absolute;
    bottom: -10px;
    left: -90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & span:nth-child(2){
        width: 20px;
        text-align: center;
    }
}

.quantity-num {
    border-color: transparent !important;
    width: 20px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.actions {
    display: none;
}

.rotate-180 {
    transform: rotate(90deg) !important;
}

.lenses-configuration {
    display: none;
}

.cart-product-thumbnail, .product-quantity {
    max-width: 200px;
    width: 100%;
}

.page-template-cart-tpl {
    position: relative;
    z-index: 15;

    .add-accessories-btn {
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        background-color: transparent;
        border: 1px solid #023130;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px 16px;
        color: #023130;
        font-family: $mainFontFamily;

        @include min-w(992px) {
            max-width: 165px;
        }
    }

    .add-to-cart-accessories {
        display: block;
        box-sizing: border-box;
        font-family: $mainFontFamily;
        width: 100%;
        font-size: 16px;
        line-height: 140%;
        padding: 11px 16px;
        border-radius: 8px;
        background: #59af9e;
        opacity: .9;
        color: #fff;
        border: transparent;

        @include min-w(768px){
            background-color: transparent;
            padding: 13px 16px;
            border: 1px solid $textColor4;
            margin: 20px 0 0;
            color: $textColor;
        }
    }
    .product-column {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        width: 100%;
    }

    td {
        font-family: $mainFontFamily;
        width: 55px;
        border-color: #e1e1e8;
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        line-height: 110%;
        color: #3f3f48;
        padding: 10px 5px;
        text-align: center;
    }

    .prescription-table-item {
        width: 100%;
        margin: 15px 0;
        @include min-w(768px){
            max-width: 360px;
        }
        & span{
            font-weight: 400;
            color: $linkColor2;
        }
        & td:first-child{
            font-weight: 500;
        }
        & tr:first-child td {
            font-weight: 500;
        }
    }

    .lenses-configuration-rows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $mainFontFamily;
        font-size: 14px;
        line-height: 140%;
        color: #7a7a88;
        @include min-w(768px){
            font-size: 15px;
        }

        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #35353b;
            margin-right: 15px;
        }
    }
    .lenses-configuration{
        width: 100%;
    }

    .cart-product-button-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        @include min-w(1440px){
            width: 74%;
            margin-left: 215px;
        }
    }

    .woocommerce-cart-form__cart-item {
        max-width: 845px;
        width: 100%;
        border-bottom: 1px solid #e1e1e8;
        padding: 32px 0;
        position: relative;
    }

    .product-item-column {
        display: flex;
        flex-direction: column;
    }

    .product-item {
        margin: 0;
        @include min-w (768px){
            margin: 0 13px;
        }
    }
    .variation {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        span {
            margin-right: 8px;
            font-size: 14px;
            line-height: 140%;
            font-family: $mainFontFamily;
            @include min-w(768px){
                font-size: 15px;
            }
        }
    }

    .order-item-pre-heading {
        font-size: 14px;
        line-height: 140%;
        color: $textColor4;
        opacity: .7;
        font-family: $mainFontFamily;
        @include min-w(768px){
            font-size: 15px;
        }

        & span {
            color: #3f3f48;
            opacity: 1;
        }
    }
    .order-lens-item-pre-heading{
        font-family: $mainFontFamily;
        font-size: 14px;
        line-height: 140%;
        color: $textColor4;
        @include min-w(768px){
            font-size: 15px;
        }
    }
    .cart-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        @include max-w(992px) {
            flex-wrap: wrap;
        }
    }

    .cart-product-thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        width: 100%;
        height: 175px;

        @include max-w(767px) {
            max-width: 102px;
            height: 125px;
        }
    }

    .localization-lang {
        margin-right: 0;
    }

    .cart-product-wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        @include max-w(1152px) {
            flex-wrap: wrap;
        }
        .lens-config {
            width: 100%;
            @include min-w(768px) {
                display: none;
            }
        }
    }

    .product-name {
        padding: 15px;
    }

    .button-open-control-menu {
        height: 2px;
        width: 2px;
        padding: 0;
        border: 2px solid #7a7a88;
        border-radius: 50%;
        position: relative;
        margin-left: 10px;
        margin-bottom: 40px;

        @include min-w(992px) {
            display: none;
        }

        &:before {
            content: '';
            height: 2px;
            width: 2px;
            padding: 0;
            border: 2px solid #7a7a88;
            position: absolute;
            border-radius: 50%;
            top: 5px;
            left: -2;
        }
        &:after {
            content: '';
            height: 2px;
            width: 2px;
            padding: 0;
            border: 2px solid #7a7a88;
            position: absolute;
            border-radius: 50%;
            bottom: -16px;
            left: -2;
        }
    }
    .go-to-checkout {
        font-family: $mainFontFamily;
        width: 100%;

        a {
            background: $textColor3;
            border-radius: 8px;
            text-decoration: none;
            color: #fff;
            padding: 14px;
            width: 100%;
            text-align: center;
            display: block;
        }
    }
    .product-remove {
        display: inline-flex;
        background: #fff;
        border-radius: 8px;
        color: #023130 !important;
        max-width: 330px;
        width: 100%;
        text-align: center;
        border: 1px solid #023130;
        padding: 13px;
        font-family: $mainFontFamily;
        order: 3;

        @include min-w(992px) {
            border: none;
            text-align: left;
            max-width: 150px;
            width: 50%;
            padding-right: 5px;
        }
        & p.lens-delete{
            text-align: center;
            margin: 0 auto;
            color: $darkColor;
            @include min-w(768px){
                color: $textColor4;
                margin: 0;
            }
        }
        svg {
            display: none;
            @include min-w(992px) {
                display: block;
            }
        }
        a {
            width: 100%;
            font-size: 16px;
            line-height: 140%;
            font-weight: 400;
            height: auto;
            display: inline;
            text-align: center;
            color: $darkColor !important;

            @include min-w(992px) {
                text-align: center;
                color: $textColor4 !important;
            }

            &:hover {
                width: 100% !important;
                border-radius: 0 !important;
                color: #3f3f48 !important;
                background-color: transparent !important;
                text-align: center !important;
            }
        }
    }

    .cart-wish-product-link {
        background: #023130;
        border-radius: 8px;
        color: #fff !important;
        text-align: center;
        margin-bottom: 15px;
        display: block;
        position: relative;
        top: unset;
        right: unset;
        padding: 14px 35px;
        order: 2;
        max-width: 330px;
        width: 100%;
        @include min-w(992px) {
            background-color: transparent;
            padding: 10px 0;
            margin-bottom: 0;
            order: 1;
        }
    }

    .save-for-later {
        text-decoration: none;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        padding: 0 15px;
        font-family: $mainFontFamily;
        @include min-w(992px) {
            color: $textColor4;
            padding:0 0 0 25px;
        }
        & svg{
            display: none;
            @include min-w(768px){
                display: inline-block;
                padding-bottom: 5px;
            }
        }
    }

    .edit-lenses-btn {
        border: none;
        background-color: $textColor3;
        text-decoration: none;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        font-family: $mainFontFamily;
        font-weight: 400;
        order: 1;
        margin-bottom: 15px;
        padding: 14px 35px;
        border-radius: 8px;
        max-width: 330px;
        width: 100%;
        @include min-w(992px) {
            color: $textColor4;
            background-color: transparent;
            padding: 0 25px;
            order: 2;
            margin-bottom: 0;
            width: 72%;
        }

        svg {
            margin-bottom: 3px;
            display: none;
            @include min-w(992px) {
                display: inline;
            }
        }
    }

    .mobile-control_overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(53, 53, 59, .3);
        z-index: 15;
        overflow: hidden;
        height: 0;

        @include min-w(992px) {
            position: relative;
            height: auto;
            top: unset;
            left: unset;
            background-color: #fff;
        }
    }

    .mobile-control {
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 999999;
        width: 100%;
        padding: 25px 15px 24px;

        @include min-w(992px) {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;
        }
    }

    .mobile-control-button-close {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        padding: 10px;

        &__decor {
            width: 40px;
            height: 3px;
            background: #e1e1e8;
            display: block;
            border-radius: 2px;

        }
        @include min-w(992px) {
            display: none;
        }
    }

    #controlOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-control_overlay-open {
        height: 100vh;
    }

    .sign-up {
        display: none;

        @include min-w(992px) {
            display: block;
        }
    }

    .free-delivery, .free-delivery_mobile {
        background: rgba(251, 196, 160, .3);
        border-radius: 4px;
        padding: 16px 0;
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include min-w(768px){
            display: none;
        }
        
        &-text {
            font-family: $mainFontFamily;
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 0;
            width: 85%;
            color: $textColor4;
        }
        & .free-delivery-text-bold {
            font-weight: 700;
        }

        .shipping-image {
            margin-right: 9px;
            fill: transparent;
            stroke: #35353b;
        }
    }

    .radio-item {
        display: inline-block;
        position: relative;
        padding: 0 6px;
        margin: 10px 0 0;
    }

    .radio-item input[type='radio'] {
        display: none;
    }

    .radio-item label {
        font-family: $mainFontFamily;
        font-size: 14px;
        line-height: 140%;
        color: #373638;
        font-weight: normal;
        @include min-w(768px){
            font-size: 15px;
            color: $linkColor;
        }
    }

    .radio-item label:before {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 11px;
        border: 2px solid $textColor4;
        background-color: transparent;
    }

    .radio-item input[type=radio]:checked + label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 10px;
        content: ' ';
        display: block;
        background: $darkColor;
        @include min-w(1440px){
            color: $textColor4;
        }
    }

    .wcppec-checkout-buttons .woo_pp_cart_buttons_div{
        display: none;
    }

    .control-button {
        display: none;
        flex-direction: column;
        box-shadow: 10px 0 10px #777;
        position: fixed;
        bottom:0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: #fff;
        z-index: 99;
    }

    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    .show-control-button {
        display: flex;
        width: 100%;
        max-width: 100% !important;

        @include min-w(992px) {
            display: none;
        }
    }

    .go-to-login {
        display: none;
    }

    .cart-sign-in{
        font-family: $mainFontFamily;
        font-weight: 16px;
        background-color: $darkColor;
        border: 1px solid $darkColor;
        width: 156px;
        border-radius: 10px;
        color: #fff;
        padding: 12px 0;
        margin-right: 12px;
        @include min-w(1440px) {
            width: 170px;
            margin-right: 15px;
        }
    }
    .cart-sign-up {
        font-family: $mainFontFamily;
        font-size: 16px;
        width: 156px;
        border-radius: 10px;
        border: 1px solid #35353b;
        background-color: transparent;
        padding: 12px 0;
        color: $darkColor;
        @include min-w(1440px){
            width: 170px;
        }
    }

    .cross-sells {
        display: none;
    }

    .our-suggestions .product-price {
        display: flex !important;
        margin-bottom: 26px;
    }

    .woocommerce-shipping-totals {
        display: none !important;
    }

    .cart-quantity-subtotal-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        position: absolute;
        top: 100px;
        right: 0;

        @include min-w(991px) {
            top: 33px;
            right: 0;
        }

        @include min-w(1366px) {
            top: 0  ;
            right: 15px;
        }
    }

    .product-subtotal {
        text-align: right;
        padding: 15px 0;
        border-top: 1px solid #e1e1e8;

        @include min-w(767px) {
            padding-left: 15px;
            padding-top: 15px;
        }

        .sub-title {
            font-family: $mainFontFamily;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            padding-right: 10px;
            color: #7a7a88;
        }

        bdi {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            margin-right: 0;
            color: #35353b;
            @include min-w(768px){
                margin-right: 15px;
            }
        }
    }

    .product-result-price {
        padding-left: 70px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        font-family: $mainFontFamily;
        color: #373638;
        @include min-w(768px){
            padding-left: 30px;
            color: $textColor4;
        }
    }
    .modal-body .product-price {
        display: flex;
    }

    .slick-arrow {
        background-color: #b2d1d4;
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        transform: rotate(180deg);
    }

    .product-info-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .mobile-cart-product-info {
        width: 100%;
        padding-left: 15px;
        display: block;
        position: relative;

        .mobile-control-panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .cart-product-name {
            font-family: $mainFontFamily;
            font-size: 18px;
            max-height: 48px;
            width: 200px;
            overflow: hidden;
            line-height: 140%;
            color: #3f3f48;
            margin: 0 0 8px;

            @include min-w(1440px){
                font-family: $secondFontFamily;
                font-size: 20px;
                line-height: 124%;
                width: 400px;
            }
        }
        .lens-config {
            display: none;

            @include min-w (767px) {
                display: block;
            }
        }
    }

    .cart-product-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        .product-price {
            display: none;
        }

        .product-name {
            padding: 0;
        }
        .cart-product-name {
            display: none;
        }
        .product-item-column {
            display: none;
        }
        .lens-config {

            @include min-w (767px) {
                display: none;
            }
        }
    }

    .base-price {
        display: none;
    }

    .showHidePrice {
        display: block;
    }
    .our-suggestions-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        font-size: 14px;
        line-height: 140%;
        position: relative;
        overflow: hidden;
        padding: 9px 15px;
        margin-bottom: 0;
        background-color: rgba(251, 196, 160, .3);
        z-index: 0;
        @include min-w(768px){
            margin-bottom: 15px;
        }
        & .free-shipping--icon{
            height: 32px;
            width: 48px;
            margin-right: 8px;
        }
        & .free-shipping__suggestions{
            font-family: $mainFontFamily;
            font-size: 14px;
            color: $linkColor;
        }
        .add-suggestions-btn {
            color: #924125;
            font-weight: 700;
        }

        &__mobile {
            @include min-w(993px) {
                display: none;
            }
        }
    }
    .our-suggestions-info {
        border-radius: 4px;
        //background-image: url(../images/delivery_decor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .accessoriesModal {
        .product-price {
            display: flex;
            & span.price{
                font-family: $mainFontFamily;
                font-weight: 500;
                color: $linkColor;
            }
        }
        .prev.slick-arrow {
            position: absolute;
            top: 22%;
            left: -15px;
            z-index: 1;

            path {
                stroke: $darkColor;
            }            
        }
        .next.slick-arrow {
            position: absolute;
            top: 22%;
            right: -15px;
            z-index: 1;

            path {
                stroke: $darkColor;
            }
        }

        .product-item {
            max-width: 308px;
            margin-bottom: 25px;
        }

        .modal-body {
            padding: 16px 15px 40px;
            @include min-w(1440px){
                padding: 24px 68px 50px;
            }
        }
    }

    .suggestions-modal {
        .modal-body {
            padding: 24px 15px 40px;
            @include min-w(1440px){
                padding: 24px 68px 75px;
            }
        }

        .product-item {
            max-width: 309px;
            margin-bottom: 25px;
        }

        .prev.slick-arrow {
            position: absolute;
            top: 22%;
            left: -15px;
            z-index: 1;

            path {
                stroke: $darkColor;
            }
        }
        .next.slick-arrow {
            position: absolute;
            top: 22%;
            right: -15px;
            z-index: 1;

            path {
                stroke: $darkColor;
            }
        }
        .add-to-cart-suggestion-product {
            width: 100%;
            font-size: 16px;
            line-height: 140%;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 11px 16px;
            background: #59af9e;
            opacity: .9;
            color: #fff;
            font-family: $mainFontFamily;
            display: block;
            text-align: center;
            cursor: pointer;
            border: transparent;
        }
    }
    .aside-product-remove {
        cursor: pointer;
        display: none;
    }

    .summary-header {
        font-size: 20px;
        line-height: 124%;
        font-family: $secondFontFamily;
        font-weight: 400;
        color: #35353b;
    }
}
