//@import '~slick-carousel/slick/slick.css';
//@import '~slick-carousel/slick/slick-theme.css';
@import '../my-account/my-prescriptions';
@import '../block/prescription';
@import 'wishlist';

.order-check-wrapper {
    display: flex;
    margin-top: 16px;

    .text {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $linkColor2;

        .prism-weight {
            color: $textColor;
        }

        a {
            color: $darkColor;
        }
    }
}

.category-page {
    padding: 60px 0 0;

    @include min-w(1152px) {
        padding: 138px 0 0;
    }

    .article-img {
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;
        }
    }

    .banner {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &-info {
            max-width: 1440px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 15px;

            @include min-w(769px) {
                padding: 0 30px;
            }

            @include min-w(1153px) {
                padding: 0 80px;
            }
        }
        &-header {
            line-height: 110%;
            margin: 0 0 5px;
        }

        &-text {
            position: absolute;
            bottom: 20px;
            left: 16px;
            font-family: $secondFontFamily;
            color: #fff;

            @include min-w(576px) {
                position: absolute;
                bottom: 20px;
                left: 40px;
                color: $darkColor;
            }
            @include min-w(1151px) {
                position: absolute;
                bottom: 132px;
                left: 79px;
                color: $darkColor;
            }
        }

        .description {
            font-family: $mainFontFamily;
            font-size: 16px;
            line-height: 140%;
            color: $secondTextColor;
            opacity: .8;
            margin: 0;
            width: 30ch;

            @include min-w(576px) {
                font-size: 17px;
                line-height: 140%;
                color: $textColor;
                opacity: 1;
            }
            @include min-w(1151px) {
                width: 35ch;
            }
        }

        .quiz-bold {
            font-family: $mainFontFamily;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
            color: $secondTextColor;
            margin-top: 0;
            @include min-w(576px) {
                font-family: $secondFontFamily;
                font-size: 14px;
                line-height: 160%;
                color: $textColor;
                opacity: 1;
            }
        }
    }

    .desktop-banner {
        margin: 0 auto;
        display: none;

        @include min-w(576px) {
            display: block;
        }
    }

    .mobile-banner {
        display: block;

        @include min-w(576px) {
            display: none;
        }
    }

    .info-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filter {
        max-width: 1440px;
        width: 100%;
        padding: 0 50px;
        margin: 0 auto;
        position: relative;

        @include min-w(1151px) {
            background-color: $backgroundColor-6;
        }

        &:after {
            border-bottom: 1px solid $neutralBrand;
            width: 100%;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
        }

        &-title {
            font-size: 16px;
            @include min-w(1151px) {
                padding: 25px 10px;
                line-height: 34px;
                font-weight: 400;
                margin: 0;
            }
        }

        &-container {
            @include min-w(1151px) {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        &-wrap {
            width: 100%;
        }

        .filters-container {
            padding-bottom: 115px;
            @include min-w(1151px) {
                background-color: $backgroundColor-6;
            }

            @include min-w(992px) {
                padding-bottom: 0;
            }
        }

        .filter-content {
            @include min-w(1152px) {
                position: absolute;
                background-color: #fff;
                z-index: 2;
                padding: 20px 16px;
                filter: drop-shadow(0 4px 5px rgba(103, 100, 117, .15));
                min-width: 165px;
            }
        }
    }

    .breadcrumbs {
        &__separator{
            color: $linkColor;
            opacity: .5;
        }
        &__current{
            color: $linkColor;
            opacity: .5;
        }
        a {
            text-decoration: none;
            color: $linkColor;
            font-size: 15px;
            opacity: .5;
        }

        span {
            font-size: 12px;
            line-height: 124%;
            @include min-w(768px){
                font-size: 15px;
                line-height: 140%;
            }
        }
    }

    .product-sort {
        display: none;

        @include min-w(1152px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 35px 0;
            max-width: 600px;
            width: 100%;
        }
    }

    .grid-button {
        display: flex;
    }

    .mobile-grid-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 75px;
        width: 20%;

        @include min-w(992px) {
            display: none;
        }
    }

    .headline {
        padding: 24px 0 32px;
    }

    .product-item {
        margin-bottom: 64px;

        @include min-w(767px) {
            margin: 0 0 100px;
        }
    }

    .product-link {
        text-decoration: none;
        color: $textColor4;
    }

    .product-price {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $textColor;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .price {
        display: flex;
        line-height: 140%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .price ins {
        font-family: $mainFontFamily;
        color: $backgroundColor-5;
        text-decoration: none;
        margin-right: 8px;
    }
    .price del {
        font-family: $mainFontFamily;
        color:$linkColor2;
        opacity: .5;
        font-size: 16px;
        font-weight: normal;
        text-decoration-line: line-through;
        @include min-w(1152px){
            font-family: $secondFontFamily;
            font-size: 14px;
            opacity: .7;
        }
    }
    span.raiting {
        padding-bottom: 5px;

    }
    span.star {
        color:$textColor4;
    }

    .product-btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .product-thumbnail {
        position: relative;
        margin-bottom: 15px;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .product-attribute {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;

        p, span {
            margin: 0;
            padding: 0;
        }
    }

    .attribute-color {

        &-item {
            display: inline-block;
            height: 20px;
            width: 20px;
            background-color: $linkColor2;
            border-radius: 20px;
            cursor: pointer;
            position: relative;
            margin-left: 6px!important;
        }

        &-after {
            &:after {
                position: absolute;
                content: '';
                width: 28px;
                height: 28px;
                border: 1px solid rgba(63, 63, 72, .3);
                left: -4px;
                top: -4px;
                border-radius: 50%;
            }
        }
    }

    .wish-product-link {
        position: absolute;
        right: 21px;
        top: 28px;
    }

    .wish-product-icon {
        max-width: 18px;
        height: 18px;
        fill: #3f3f48;
    }

    .featured-article {
        margin-bottom: 68px;
        &-link {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: $textColor;
            margin-bottom: 18px;

            @include min-w (768px) {
                display: none;
            }
        }

        .arrow-right {
            padding: 0 0 5px;
        }

        &-header {
            font-size: 22px;
            font-weight: 500;
            color: $textColor;
            font-family: $secondFontFamily;
            text-align: center;
            margin-bottom: 18px;
            display: none;

            @include min-w (768px) {
                font-size: 28px;
                margin-bottom: 46px;
                display: block;
            }
        }
    }
    .article {

        @include min-w(768px) {
            margin-bottom: 0;
        }

        @include max-w(992px) {
            padding: 15px;
        }
        .name a{
            font-size: 18px;
            line-height: 140%;
            margin-top: 22px;
            margin-bottom: 0;
            font-family: $mainFontFamily;
            color: $textColor4;
            @include min-w(768px){
                font-size: 20px;
                line-height: 124%;
                font-family: $secondFontFamily;
            }
        }

        .description {
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;
            margin-top: 6px;
            @include min-w (768px){
                font-size: 15px;
                color: #75737c;
            }
        }
    }

    .slick-dots li{
        width: 5px;
    }

    .slick-dots li button {
        &:before {
            background: $darkColor !important;
            content: '' !important;
            width: 6px;
            height: 8px;
            border-radius: 28px;
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        width: 14px;
        border-radius: 40%;
    }
    .slick-dots li.slick-active {
        margin: 0;
        width: 14px;
    }
}

.filters-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include min-w(992px) {
        flex-direction: row;
    }

    .yith-wcan-filter, .filter-tax {
        width: 100%;
        border: none !important;
        border-bottom: 1px solid #d7d7d7 !important;
        border-radius: 0 !important;

        @include min-w(1151px) {
            border-bottom: 1px solid transparent !important;
            max-width: 120px;
            margin: 0;
        }
    }
}

.filter-button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    padding: 15px 0;

    @include min-w(1151px) {
        display: none;
    }

    &:before {
        content: '';
        display: block;
        padding: 1px;
        background-color: #d7d7d7;
        position: absolute;
        left: 50%;
        transform: rotateX(-50%);
        height: 100%;
    }
}

.yith-wcan-filters.filters-modal .yith-wcan-filter {
    margin-bottom: 0;
    padding: 18px 20px 18px 16px;
}

.yith-wcan-filters.filters-modal .filters-container > .clear-selection {
    margin-bottom: 0;
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .filters-container form .yith-wcan-filter, .yith-wcan-dropdown {
        border: none !important;
    }

    .filters-container form .yith-wcan-dropdown {
        padding-right: 35px;
    }

    .filter-title {
        font-size: 16px;
        line-height: 34px;
        font-weight: 400;
        margin: 0;
        width: 105px !important;
        color: $linkColor;
        opacity: .5;
    }

    .dropdown-wrapper {
        width: 240px;
    }
}

.yith-wcan-filters {
    @include min-w(1151px) {
        margin: 0 !important;
    }
}

.yith-wcan-filters.filters-modal .close-button {
    top: 7px;
    right: 10px;
}
.yith-wcan-filters.filters-modal .filters-container {
    padding: 0;
    margin-top: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.filters-container form .filter-orderby {
    @include min-w(1151px) {
        display: flex !important;
        margin: 0 !important;
        max-width: 400px !important;
        width: 100% !important;
    }

    .filter-title {
        @include min-w(1151px) {
            margin: 0 !important;
            padding: 0;
        }
    }

    .filter-content {

        @include min-w(1151px) {
            max-width: 250px !important;
            width: 100% !important;
        }
    }
}

.orderby {
    @include min-w(1151px) {
        display: none;
    }
}

.opened {
    background-color: transparent !important;
    position: relative;
}

.add-prescription-wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    z-index: 999;
    padding: 15px;
}
.filter-items .filter-item.color {
    margin: 5px !important;

    a {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    .term-label {
        display: block;
        font-size: 15px !important;
        text-align: center;
        padding: 0 5px;
    }

    a .term-color {
        margin: 0 !important;
    }
}

.filter-items.filter-label.with-images {
    .filter-item {
        padding-left: 45px !important;
        position: relative;
        max-width: 400px;

        &:before {
            content: '';
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 20px;
            width: 20px;
            left: 10px;
            top: 10px;
            padding: 1px;
        }
    }
    .active:before {
        content: '';
        border: 1px solid $darkColor;
        background-color: $darkColor;
        background-image: url(../../images/checkbox_checked.svg) !important;
        background-size: 65%;
        background-position: center center;
        background-repeat: no-repeat !important;
    }
    a {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    .term-label {
        padding: 0 5px;
    }
}

.load-more {
    padding-top: 81px;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 328px;
    width: 100%;
    margin: 0 auto;

    &_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #3f3f48;
    }

    &_line {
        width: 100%;
        height: 8px;
        background-color: #e1e1e8;
        margin-top: 10px;
        margin-bottom: 32px;
        border-radius: 5px;
    }

    &_progress {
        width: 10%;
        height: 8px;
        border-radius: 5px;
        background-color: #59af9e;
    }

    &_btn {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        border: 1px solid #3f3f48;
        background-color: transparent;
        border-radius: 8px;
        padding: 16px 90px;
        color: #35353b;
        width: 100%;
    }
}

.blog-link {
    display: none;
    margin-bottom: 50px;

    @include min-w(992px) {
        display: block;
    }
}

#preset_369 {
    .add-prescription-wrap {
        display: none;
    }
}

.text-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    font-family: $mainFontFamily;
    color: $textColor;
}

.enter-you-prescription-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(53, 53, 59, .3);
    display: none;
    z-index: 99999;

    @include min-w(992px) {
        padding: 15px;
    }

    .enter-you-prescription-modal {
        padding: 15px;
        background-color: #fff;
        max-width: 960px;
        width: 100%;
        position: relative;
        height: 100vh;
        overflow-y: scroll;

        @include min-w(992px) {
            height: auto;
            margin-top: 10%;
            margin-bottom: 10%;
            overflow-y: scroll;
        }
    }

    .modal-headline {
        //text-align: right;
        text-align: center;
        padding: 0 0 37px;
    }

    .button-close-prescription-modal {
        text-decoration: none;
        stroke: #35353b;
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
    }

    .text-heading {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $textColor;
    }

    .text {
        display: block;
        width: 100%;
        margin: 0;

        @include min-w(992px) {
            //display: none;
            padding-top: 55px;
        }
    }

    .left-close {
        position: absolute;
        left: 15px;
        top: 6px;

        @include min-w(992px) {
            display: none;
        }
    }
    .right-close {
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        @include min-w(992px) {
            display: block;
            z-index: 99;
        }
    }
}
.enter-you-prescription-modal-overlay__open {
    z-index: 99;
    display: flex;
}

#sortBy {
    position: relative;
    max-width: 120px;
    margin: 0;

    @include min-w(768px) {
        margin: 0 auto;
    }
    &:before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMSAxM0w3IDdMMSAxIiBzdHJva2U9IiM3QTdBODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg==);
        display: block;
        transform: rotate(90deg);
        height: 0;
        position: absolute;
        left: 5px;
        top: 8px;
    }
}

.add-prescription-form {
    text-align: left;
    //background: rgba(239, 241, 242, .3);
    border-radius: 10px;
    padding: 20px 0 30px;

    select {
        background: #fff;
    }
}

.prescription-wrapper {
    display: block;
    position: relative;

    @include min-w(992px) {
        display: flex;
    }

    .input-wrapper {
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }
}

.prescription-modal-button {
    position: absolute;
    width: 17px;
    height: 17px;
    //border-radius: 50%;
    //border: 2px solid $linkColor2;
    border: none;
    top: 0;
    right: 0;
    font-size: 10px;
    color: $linkColor2;
    background: transparent;
}

@include min-w(992px) {
    .prescription-table:nth-child(1) {
        width: calc(50% + 36px);
        margin-right: 16px;
    }

    .prescription-table:nth-child(2) {
        width: calc(50% - 36px);

        .title-column {
            display: none;
        }
    }
}

.title-column {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    .title {
        width: 56px;
        text-align: center;
        height: 56px;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;
        }
    }
}

.prescription-table {
    display: flex;
    margin-bottom: 30px;
}

.lens-add-comment {
    margin-bottom: 20px;
    margin-top: 55px;

    .text {
        cursor: pointer;
        padding-top: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: $textColor4;
        text-align: center;

        @include min-w(992px) {
            text-align: left;
        }
    }
}

.pupillary-checkbox, .add-prism-checkbox {
    .order-check-wrapper {
        display: flex;
        margin-top: 16px;

        .text {
            margin: 0;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;

            .prism-weight {
                color: $textColor;
            }

            a {
                color: $darkColor;
            }
        }
    }

    .custom-checkbox> input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox> span {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-checkbox> span::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $darkColor;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    .custom-checkbox> input:checked+ span::before {
        border-color: $darkColor;
        background-color: $darkColor;
        background-image: url(../../images/check.svg);
    }
}

.content-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &> div {
        width: calc(50% - 8px);
    }

    .title {
        text-align: center;
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include min-w(992px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;

            span {
                display: none;

                @include min-w(992px) {
                    display: inline;
                }
            }
        }
    }
}

.prescription-form {
    width: 100%;
    padding-bottom: 35px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    .input-wrapper {
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title {
        text-align: center;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }

    //#pd-2 {
    //    display: none;
    //}
}

.filter-prescription-preheader {
    width: 100%;
    max-width: 526px;
    text-align: center;
    margin: 20px auto 26px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $textColor;
}

// label[for=prescription_name] {
//     //margin: 0 auto;
// }

input[name=prescription_name] {
    //margin: 0 auto 30px;
    margin-bottom: 30px;
    background: #fff;
}

.top-button-wrapper {
    position: relative;
    height: 30px;
}

.prescription-pupillary {
    color: $textColor4;

    .prescription-modal-button {
        margin-left: 0;
        top: 16px;
    }

    @include min-w(992px) {
        display: none;
    }
}

.pupillary-distance {
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: $linkColor2;
    display: none;

    @include min-w(992px) {
        display: inline-block;
    }
}

#pd-1 {
    @include min-w(992px) {
        width: 320px;
        max-width: 100%;
    }
}

.prescription-comment {
    display: none;
}

.save-prescription-button {
    //width: auto;
    margin: 0 auto;
    width: 300px;
    background: $darkColor;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    font-family: $mainFontFamily;
}

.show-more-chevron {
    margin-left: 5px;
    transform: rotate(-90deg);
}

.show-more-chevron-open {
    transform: rotate(90deg);
}

.button-confirm-wrapper {
    display: flex;
    justify-content: center;
}

.pupillary-info .select-wrapper {
    @include min-w(992px) {
        width: 320px;
    }
}

.pupillary-info {
    display: flex;
}

.pupillary-title {
    text-align: center;
    margin-right: 20px;
}

.whishlist-wrapper{
    padding-top: 60px;
    @include min-w(1152px){
        padding-top: 136px;
    }
}

.title-wrapper{
    height: 56px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e1e1e8;
    @include min-w(1152px){
        display: none;
    }
}

.my-account-link{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    color: $textColor;
    @include min-w(1152px){
        display: none;
    }
}

.chevron-icon {
    position: absolute;
    left: 25px;
    top: 22px;
}

.wish-product-count{
    font-size: 18px;
    line-height: 140%;
    color:$linkColor;
    padding: 0 2px;
}

.wish-list-breadcrumbs{
    padding: 54px 0;
    @include max-w(1151px){
        display: none;
    }
}

.wish-title{
    font-family: $secondFontFamily;
    font-size: 28px;
    font-weight: 500;
    line-height: 110%;
    color: $textColor4;
    margin-bottom: 70px;
    @include max-w(1151px){
        display: none;
    }
}
