.confirmation-member-main {
    padding-top: 155px;
    padding-bottom: 75px;
    @include min-w(1440px) {
        padding-top: 160px;
        padding-bottom: 106px;
    }

    .btn--confirmation_member_button {
        padding: 14px 30px;

        @include min-w(992px) {
            padding: 19px 0;
            width: 200px;
        }
    }

    .confirmation {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .confirm_text {
        margin: 0;
        padding-bottom: 32px;
        width: 645px;
        max-width: 100%;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #7a7a88;

        @include min-w(992px) {
            font-size: 17px;
        }

        & span {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            color: #023130;

            @include min-w(992px) {
                font-size: 17px;
            }
        }

        & .price {
            color: #59af9e;
        }

    }

    .button-wrap {
        padding-bottom: 130px;
        @include min-w(768px) {
            padding-bottom: 130px;
        }

    }

    .icon {
        margin-bottom: 30px;

        @include min-w(768px) {
            margin-bottom: 70px;
        }

    }

    .confirm_heading {
        margin: 0;
        padding-bottom: 16px;
        font-size: 22px;
        @include min-w(768px){
            font-family: $secondFontFamily;
            font-size: 28px;
            line-height: 110%;
            color: $textColor4;
        }
    }

    .without-padding {
        padding: 0;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(-271.58deg, #fac9bd 0%, #faf3e5 96.69%);
        height: 462px;
        width: 100%;
        margin-bottom: 60px;
        position: relative;
        padding: 0 15px;

        @include min-w(600px) {
            height: 550px;
        }
        @include min-w(768px) {
            height: 520px;
        }
        @include min-w(1350px) {
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            height: 280px;
            padding: 0;
            margin-bottom: 120px;
        }

        .banner_glasses {
            position: absolute;
            left: unset;
            top: -40px;
            @include min-w(1350px) {
                left: -60px;
            }
        }

        .glasses_img {
            height: 160px;
            object-fit: cover;
            @include min-w(400px) {
                height: auto;
            }
        }

        .banner_text {
            width: 502px;
            max-width: 100%;
            text-align: center;
            @include min-w(1350px) {
                padding-right: 50px;
            }

            .heading {
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                text-align: center;
                color: $darkColor;

                @include min-w(992px) {
                    font-family: $secondFontFamily;
                    font-size: 28px;
                    line-height: 110%;
                    width: 500px;
                    padding-right: 28px;
                }
            }

            .buttons {
                display: grid;
                grid-auto-flow: row;
                gap: 16px;
                padding-top: 44px;
                padding-bottom: 48px;
                @include min-w(768px) {
                    grid-auto-flow: column;
                    padding-top: 36px;
                }
                @include min-w(1350px) {
                    padding-left: 28px;
                    padding-bottom: 0;
                }
            }
        }
    }

    .social {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include min-w(768px) {
            flex-direction: row;
        }
    }

    .social_text {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        margin-right: 22px;
    }

    .social_icons {
        display: grid;
        grid-auto-flow: column;
        gap: 24px;

    }

    .social_icon-fb {
        & > img {
            width: 48px;
        }
    }

    .slick-disabled {
        opacity: 0;
    }
    .similar-slider-container, .recommended-slider-container, .product-like-slider-container {
        width: 100%;
        position: relative;
    }

    .recommended-slider-container {
        margin-top: 80px;
    }

    .slider-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        font-family: $secondFontFamily;
        position: relative;
        display: flex;
        justify-content: space-between;

        .arrow-right {
            position: relative;
            top: -2px;
            padding-left: 12px;

            @include min-w(768px) {
                display: none;
            }
        }

        @include min-w(768px) {
            font-weight: 500;
            font-size: 28px;
            line-height: 110%;
        }
    }
    .similar-slider, .recommended-slider, .product-like-slider {

        .slick-list {
            //margin: 0 -15px;
            @include max-w(768px) {
                padding: 0 10% 15px 0;
            }
        }

        .slick-slide {
            margin: 0 15px;
        }
    }

    .similar-nav-container, .recommended-nav-container, .product-like-nav-container, .recently-nav-container  {
        max-width: 1325px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .slick-arrow {
        background-color: #b2d1d4;
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        transform: rotate(180deg);
    }

    .confirm_buttons {
        padding-bottom: 60px;
        width: 100%;
        @include min-w(768px) {
            width: initial;
        }
    }

    .social_sign-up {
        display: grid;
        grid-auto-flow: column;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        @include min-w(768px) {
            display: block;
        }

    }
    //
    //.social {
    //    display: flex;
    //    align-items: center;
    //    flex-direction: column;
    //    @include min-w(768px) {
    //        flex-direction: row;
    //    }
    //}
    //
    //.social_text {
    //    font-size: 22px;
    //    font-style: normal;
    //    font-weight: 500;
    //    line-height: 26px;
    //    margin-right: 22px;
    //}
    //
    //.social_icons {
    //    display: grid;
    //    grid-auto-flow: column;
    //    gap: 24px;
    //
    //}
    //
    //.social_icon-fb {
    //    & > img {
    //        width: 48px;
    //    }
    //}
}

.confirm-button-view-order-wrapper {
    width: 100%;

    @include min-w(480px) {
        width: fit-content;
    }
}

.confirm-button-view-order {
    width: 100%;
    padding: 12px 30px;

    @include min-w(480px) {
        width: fit-content;
    }
}

.recently-slider {
    padding-bottom: 87px!important;
}

.recently-product-section {
    .recently-nav-container  {
        max-width: 1325px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }
}
