.confirmation-guest-main {
    padding-top: 155px;
    padding-bottom: 75px;
    @include min-w(1440px) {
        padding-top: 160px;
        padding-bottom: 106px;
    }

    .icon {
        margin-bottom: 30px;

        @include min-w(768px) {
            margin-bottom: 70px;
        }
    }

    .confirmation {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .confirm_heading {
        margin: 0;
        padding-bottom: 16px;
        @include min-w(768px){
            font-family: $secondFontFamily;
            font-size: 28px;
            line-height: 110%;
            color: $textColor4;
        }
    }

    .confirm_text {
        margin: 0;
        padding-bottom: 40px;
        width: 632px;
        max-width: 100%;
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #7a7a88;

        & span {
            //font-family: "Roboto, sans-sefir";
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            color: #023130;
        }

    }

    .cta-text {
        display: none;
        @include min-w(768px) {
            width: 628px;
            max-width: 100%;
            text-align: center;
            margin: 0;
            padding-bottom: 32px;
            font-size: 17px;
            line-height: 24px;
            color: #7a7a88;

            & span {
                color: #59af9e;
            }
        }

    }

    .confirm_buttons {
        padding-bottom: 60px;
        width: 100%;
        @include min-w(768px) {
            width: initial;
        }
    }

    .social_sign-up {
        display: grid;
        grid-auto-flow: column;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        @include min-w(768px) {
            display: block;
        }

    }

    .social {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include min-w(768px) {
            flex-direction: row;
        }
    }

    .social_text {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        margin-right: 22px;
    }

    .social_icons {
        display: grid;
        grid-auto-flow: column;
        gap: 24px;

    }

    .social_icon-fb {
        & > img {
            width: 48px;
        }
    }
    .slick-disabled {
        opacity: 0;
    }
    .similar-slider-container, .recommended-slider-container, .product-like-slider-container {
        width: 100%;
        position: relative;
    }

    .slider-header {
        font-weight: 500;
        font-size: 28px;
        line-height: 110%;
    }
    .similar-slider, .recommended-slider, .product-like-slider {

        .slick-list {
            //margin: 0 -15px;
            @include max-w(768px) {
                padding: 0 10% 15px 0;
            }
        }

        .slick-slide {
            margin: 0 15px;
        }
    }

    .similar-nav-container, .recommended-nav-container, .product-like-nav-container  {
        max-width: 1325px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .slick-arrow {
        background-color: #b2d1d4;
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        transform: rotate(180deg);
    }

}
