.contacts-main {
    padding-top: 80px;
    overflow: hidden;
    @include min-w(1152px) {
        padding-top: 160px;
    }

    .breadcrumbs span:first-child > a {
        text-decoration: none;
        color: #7a7a88;
    }

    .filter_buttons {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 23px;
        &::-webkit-scrollbar {
            display: none;
        }
        @include min-w(768px) {
            justify-content: center;
            padding-bottom: 59px;
        }
    }

    .filter_button {
        background: rgba(187, 211, 229, .3);
        border-radius: 20px;
        padding: 10px 14px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color: #35353b;
        margin-right: 12px;
        white-space: nowrap;
        &:hover{
            cursor: pointer;
        }
        @include min-w(768px) {
            padding: 16px;
            margin-right: 16px;
            border-radius: 32px;
            font-size: 15px;
        }
    }

    .filter_button-active {
        font-size: 15px;
        background: #59af9e;
        color: $fourth-color;
        @include max-w(768px){
            font-size: 14px;
            font-weight: 500;
        }
    }

    .contacts_heading {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        margin: 0;
        padding-bottom: 16px;
        @include min-w(768px) {
            font-size: 40px;
            line-height: 44px;
        }
    }

    .contacts_subheading {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin: 0;
        padding-bottom: 31px;
        color: $linkColor2;
        @include min-w(768px) {
            font-size: 17px;
            line-height: 24px;
            width: 462px;
        }
    }

    .contacts_buttons{
        display: flex;
        flex-wrap: wrap;
    }

    .contacts_info{
        display: flex;
        flex-wrap: wrap;
    }

    .contacts-left{
        flex-grow: 1;
    }
    
    .contacts-right {
        padding-top: 40px;
        flex-grow: 1;
        @include min-w(768px) {
            border-left: 1px solid #e1e1e8;
            margin-top: 28px;
            padding-left: 55px;
            padding-top: 20px;
        }

    }

    .right-heading {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: $textColor4;
        @include min-w(768px) {
            font-family: $secondFontFamily;
            font-size: 28px;
            line-height: 31px;
        }
    }

    .right_contact_item {
        padding: 20px 0;
        border-bottom: 1px solid #e1e1e8;
        display: flex;
        align-items: flex-start;
        @include min-w (768px){
            &:first-child p{
                color: $linkColor2;
            }
        }

        p {
            margin: 0;
            width: 286px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: $linkColor2;

            @include min-w(768px) {
                font-size: 17px;
                line-height: 24px;
                color: $textColor4;
            }
        }

        & > div:first-child {
            margin-right: 18px;
        }
        
        &:last-child {
            border-bottom: none;

        }
    }

    .social_title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        color: #35353b;
        margin-right: 22px;
        @include min-w (768px){
            font-family: $secondFontFamily;
        }
    }

    .social {
        padding-top: 30px;
        padding-bottom: 44px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        fill: #023130;
        opacity: .2;
        transition: opacity .3s;
        margin-right: 16px;

        &:hover {
            opacity: .8;
        }
    }

    .doubts {
        background-image: url(../../images/pattern.jpg);
        background-size: cover;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        color: #023130;
        border-radius: 8px;
        @include min-w(768px){
            font-family: $secondFontFamily;
        }

        p {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            @include min-w(768px){
                font-size: 20px;
            }
        }

        &_link {
            text-decoration: none;
            color: #023130;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @include min-w(768px){
                font-size: 18px;

            }

            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1.875 10.0264L19.375 10.0264' stroke='%23023130' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.543 4.48438L19.3763 10.026L13.543 15.5677' stroke='%23023130' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='16' fill='%23023130' transform='translate(0.382812 0.484375)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                font-size: 14px;
                content: ' ';
                margin-left: 10px;
                padding-left: 21px;
            }
        }
    }

    .team {
        padding-top: 64px;
        padding-bottom: 99px;
        @include min-w(768px) {
            padding-top: 132px;
            padding-bottom: 119px;
        }

    }

    .team_heading {
        text-align: left;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        padding-bottom: 32px;
        color: $textColor4;
        @include min-w(768px) {
            font-family: $secondFontFamily;
            text-align: center;
            font-size: 28px;
            line-height: 31px;
            padding-bottom: 32px;
        }

    }

    .team_members{
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 16px;
        grid-row-gap: 56px;
        overflow: auto;
        @include min-w(768px) {
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &::-webkit-scrollbar {
            display: none;  /* Safari and Chrome */
        }
    }

    .team_member{
        display: none;
        background-size: cover;
        background-repeat: no-repeat;
        height: 344px;
        color: #fff;
        align-items: flex-end;
        padding: 20px;
        width: 258px;
        @include min-w(768px) {
            width: 308px;
            height: 415px;

        }

    }
    .show {
        display: flex;
    }
    .team_member_info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p{
            margin: 0;
        }
    }
    .team_member_discription {
        font-size: 18px;
        // max-width: 190px;
        @include min-w(360px) {
            width: 160px;
        }
        @include min-w(1440px) {
            width: 190px;
        }
        & p:last-of-type{
            font-size: 16px;
        }
    }
    .team_member_icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #59af9e;
        display: flex;
        justify-content: center;
        align-items: center;
        @include min-w(1440px) {
            width: 48px;
            height: 48px;
        }
    }
}
