.faq-main {
    padding-top: 80px;
    padding-bottom: 75px;
    overflow: hidden;
    @include min-w(1440px) {
        padding-top: 160px;
        padding-bottom: 106px;
    }

    .faq-container {
        padding: 0;
        @include min-w(1440px) {
            padding: 0 324px;
        }
    }

    h1 {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #3f3f48;
        padding: 25px 0;
        margin: 0;
        @include min-w(768px) {
            font-size: 40px;
            line-height: 44px;
            padding: 35px 0 44px;
            margin: 0;
        }
    }

    h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding-bottom: 24px;
        @include min-w(768px) {
            font-size: 28px;
            line-height: 31px;
            padding-bottom: 32px;
            border-bottom: 1px solid #e1e1e8;
        }
    }

    .breadcrumbs span:first-child > a {
        text-decoration: none;
        color: #7a7a88;
    }

    .filter_buttons {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 50px;
        overflow: auto;
        margin-right: -15px;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        @include min-w(768px) {
            padding-bottom: 70px;
        }
    }

    .filter_button {
        background: rgba(187, 211, 229, .3);
        border-radius: 20px;
        padding: 10px 14px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color: #35353b;
        margin-right: 12px;
        white-space: nowrap;
        &:hover{
            cursor: pointer;
        }
        @include min-w(768px) {
            padding: 16px;
            margin-right: 16px;
            border-radius: 32px;

        }
    }

    .filter_button-active {
        background: #59af9e;
        &:hover,:focus {
            color:$fourth-color;
        }
    }

    .faq_accordion {
        position: relative;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none !important;
        transition: .5s;
        margin-bottom: 5px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .faq_accordion:after {
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Icon / plus'%3E%3Cpath id='Vector' d='M10 4.16675V15.8334' stroke='%2335353B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector_2' d='M4.16797 10H15.8346' stroke='%2335353B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: ' ';
        height: 20px;
        width: 20px;
        font-size: 17px;
        margin-left: 5px;
    }

    .active:after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16797 1H12.8346' stroke='%23023130' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        content: ' ';
        width: 14px;
        height: 2px;
        margin-top: 9px;
        margin-right: 3px;
    }

    .accordion-item {
        padding: 15px 0;
        border-top: none;
        border-bottom: 1px solid #e1e1e8;

        @include min-w(768px) {
            padding: 24px 0;
            border-bottom: 1px solid #e1e1e8;
        }
    }

    .acc-wrap {
        display: none;
        margin-bottom: 48px;
        @include min-w(768px) {
            margin-bottom: 56px;
            display: none;

        }
    }

    .show {
        display: block;
    }

    .faq_panel {
        background-color: transparent;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-out;
    }

    .panel_heading {
        margin: 0;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

        @include min-w(768px) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .panel_info {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        color: #7a7a88;
        @include min-w(768px) {
            font-size: 15px;
            line-height: 21px;
        }
    }
}
.product-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $textColor;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.price {
    display: flex;
    line-height: 140%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.price ins {
    font-family: $mainFontFamily;
    color: $backgroundColor-5;
    text-decoration: none;
    margin-right: 8px;
}
.price del {
    font-family: $mainFontFamily;
    color:$linkColor2;
    opacity: .5;
    font-size: 16px;
    font-weight: normal;
    text-decoration-line: line-through;
    @include min-w(1152px){
        font-family: $secondFontFamily;
        font-size: 14px;
        opacity: .7;

    }
}
span.raiting {
    padding-bottom: 5px;

}
span.star {
    color:$textColor4;
    margin-bottom: 5px;
}

.recently-nav-container{
    max-width: 1325px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.sitemap-main{
    padding-top: 80px;
    padding-bottom: 72px;
    @include min-w(1440px) {
        padding-top: 160px;
        padding-bottom: 156px;
    }

    h1 {
        font-family: $secondFontFamily;
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        text-align: left;
        color: $textColor4;
        padding: 40px 0 16px;
        margin: 0;
        border-bottom: 1px solid #e1e1e8;
        @include min-w(768px) {
            font-size: 40px;
            line-height: 110%;
            padding: 35px 0 48px;
            border:none;
        }
    }

    h2 {
        font-family: $mainFontFamily;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-align: left;
        padding-bottom: 12px;
        margin: 0;
        color: $textColor4;
        @include min-w(768px) {
            font-family: $secondFontFamily;
            font-size: 28px;
            line-height: 110%;
            padding-bottom: 24px;
        }
    }
    .item-wrap{
        margin: 24px 0;
        padding-bottom: 24px;
        border-bottom: 1px solid #e1e1e8;
        &:last-of-type{
            margin-bottom: 0;
        }
        @include min-w(768px){
            margin: 64px 0;
            padding-bottom: 48px;
            &:first-of-type{
                margin-top: 0;
            }
            &:last-of-type{
                border-bottom:none;
                padding-bottom: 0;
            }
        }
    }
    .item-block{
        @include min-w(768px){
            display: flex;
            flex-wrap: wrap;
        }        
    }

    .sitemap-item-link{
        text-decoration: none;
    }

    .sitemap-item{
        padding-bottom: 10px;
        &:last-of-type{
            padding-bottom: 0;
        }
        @include min-w(768px){
            width: calc(25% - 30px);
            padding-bottom: 16px;
            margin-right: 30px;
            &:nth-child(4n){
                margin-right: 0;
            }
        }
    }

    .sitemap-item-label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 140%;
        color:$textColor;
        opacity: .8;
        margin: 0;
        @include min-w(768px){
            font-size: 17px;
            max-height: 23px;
            opacity: 1;
        }
    }
}