@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '../block/_testimonials';

.page-home {
    padding: 60px 0 0;
    // @include min-w(1152px) {
    //     padding: 90px 0 0;
    // }

    .intro-section {
        padding: 0;
        position: relative;

        @include min-w(1152px) {
            padding: 74px 0 0;
        }

        .slick-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
        }
    }

    .intro-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &-text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 15px;
            margin-top: 25px;

            @include min-w(768px) {
                position: absolute;
                top: 70px;
                left: 30px;
                right: unset;
                margin: 0;
            }

            @include min-w(1152px) {
                position: absolute;
                top: 185px;
                left: 0;
                right: 0;
                padding: 0 30px;
            }

            @include min-w(1153px) {
                padding: 0 80px;
                max-width: 1440px;
                margin: 0 auto;
            }
        }

        &-description {
            font-weight: 500;
            color: #fff;
            text-align: center;
            margin-bottom: 9px;

            @include min-w(768px) {
                margin-top: 0;
                text-align: left;
                font-size: 18px;
            }
        }

        &-header {
            text-align: center;
            color: $darkColor;
            font-size: 32px;
            line-height: 100%;
            max-width: 400px;
            margin: 0 auto 34px;

            @include min-w(768px) {
                text-align: left;
            }

            @include min-w(1152px) {
                margin: 0 0 22px;
                font-size: 40px;
                line-height: 110%;
            }
        }

        &-buttons {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include min-w(375px) {
                justify-content: center;
            }
            @include min-w(768px) {
                text-align: left;
                justify-content: left;
            }

            .btn {
                margin: 0 0 20px;
                display: inline-block;
                padding: 15px;
                width: 100%;
                line-height: 22px;

                @include min-w(320px) {
                    max-width: 140px;
                }

                @include min-w(360px) {
                    max-width: 157px;
                }

                @include min-w(375px) {
                    margin-right: 20px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }

        &__image {
            margin: 0 auto;
            display: none;
            @include min-w(576px) {
                display: block;
            }

            &--mobile {
                width: 100%;
                @include min-w(576px) {
                    display: none;
                }
            }
        }
    }

    .separate-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0 35px;

        &__icon {
            max-width: 105px;
            fill: $darkColor;
        }

        &__head {
            color: $textColor3;
            font-size: 16px;
            text-align: center;
            margin: 8px 0;
        }

        &__description {
            font-size: 18px;
            line-height: 140%;
            color: $linkColor2;
            text-align: center;
        }
    }

    .categories-section {
        width: 100%;

        .headline {
            font-size: 28px;
            font-weight: 500;
            color: $textColor;
            margin-bottom: 20px;
            text-align: left;

            @include min-w(768px) {
                text-align: center;
            }
        }

        .slick-slide {
            padding: 0 15px;
            box-sizing: content-box;
            position: relative;
        }

        .slick-list {
            padding: 0 10% 15px 0;
        }

        .category-item {
            height: 360px;
            background-position: 50%, 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 0 15px 15px;

            @include min-w(769px) {
                background-size: 0;
                height: auto;
                margin: 0 0 20px;
            }
        }

        .desktop-cat-image {
            display: none;

            @include min-w(769px) {
                display: block;
                object-fit: cover;
            }
        }

        .categories_link {
            position: absolute;
            left: 24px;
            bottom: 30px;
            font-weight: 500;
            font-size: 22px;
            text-decoration: none;
            color: $darkColor;
            display: inline-block;

            @include min-w(768px) {
                left: 36px;
            }
            &--arrow {
                height: 20px;
                width: 27px;
            }
        }
    }

    .quiz-section {

        .quiz-section__item {
            height: 480px;
            background-position: 100% 100%;
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
            margin-top: 35px;
            margin-bottom: 96px;
            padding: 170px 80px 0;
            @include min-w(768px) {
                display: block;
                margin-bottom: 88px;
            }

            .quiz-header {
                max-width: 400px;
                margin-bottom: 30px;
            }

            &--mobile {
                height: 480px;
                padding: 105px 10px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 96px;

                @include min-w(768px) {
                    display: none;
                }

                .quiz-title {
                    text-align: center;
                    margin-bottom: 31px;
                    font-size: 22px;
                    font-family: $mainFontFamily;
                }
            }
        }
    }

    .best-selling-headline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @include min-w(768px) {
            margin-bottom: 24px;
        }
    }

    .best-selling-header {
        font-weight: 500;
        font-size: 28px;
        font-family: $secondFontFamily;
        display: none;
        margin-bottom: 0;

        @include min-w(768px) {
            display: block;
        }
    }

    .best-selling-link {
        font-weight: 400;
        font-size: 17px;
        color: $textColor3;
        text-decoration: none;
        display: none;

        @include min-w(768px) {
            display: block;
        }
    }
    .best-selling-mobile-link {
        font-size: 20px;
        font-weight: 500;
        color: $linkColor;
        text-decoration: none;

        @include min-w(768px) {
            display: none;
        }
        .arrow-right {
            position: absolute;
            top: -2px;
            padding-left: 12px;
        }
    }

    .article {
        margin-bottom: 50px;
        @include min-w(768px) {
            margin-bottom: 0;
        }
        .name {
            font-size: 18px;
            line-height: 140%;
            margin-top: 22px;
            margin-bottom: 0;
            font-family: $mainFontFamily;
            color: $textColor4;
            @include min-w(768px){
                font-size: 20px;
                line-height: 124%;
                font-family: $secondFontFamily;
            }
        }

        .description {
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;
            margin-top: 6px;
            @include min-w (768px){
                font-size: 15px;
                color: #75737c;
            }
        }
    }

    .article-img {
        img {
            object-fit: cover;
            width: 100%;
            height: 236px;
        }
    }

    .home-slider-container {
        width: 100%;
        position: relative;
        margin-bottom: 4px;
        &:last-of-type{
            margin-bottom: 19px;
        }
        @include min-w(768px){
            margin-bottom: 33px;
            &:last-of-type{
                margin-bottom: -7px;
            }
        }
    }

    .slick-disabled {
        opacity: 0;
    }

    .eye-slider, .sun-slider, .special-sun-slider, .lenses-slider {
        .slick-list {
            margin: 0 -15px;
            @include max-w(768px) {
                padding: 0 10% 15px 0;
            }
        }

        .slick-slide {
            margin: 0 10px;
        }

        .product-link {
            text-decoration: none;
            color: $textColor4;
        }

        .product-price {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: $textColor;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .price {
            display: flex;
            line-height: 140%;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .price ins {
            font-family: $mainFontFamily;
            color: $backgroundColor-5;
            text-decoration: none;
            margin-right: 8px;
        }
        .price del {
            font-family: $mainFontFamily;
            color:$linkColor2;
            opacity: .5;
            font-size: 16px;
            font-weight: normal;
            text-decoration-line: line-through;
            @include min-w(1152px){
                font-family: $secondFontFamily;
                font-size: 14px;
                opacity: .7;
            }
        }
        span.raiting {
            padding-bottom: 5px;

        }
        span.star {
            color:$textColor4;
            margin-bottom: 5px;
        }

        .product-thumbnail {
            position: relative;
            margin-bottom: 15px;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .product-attribute {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;

            p, span {
                margin: 0;
                padding: 0;
            }
        }

        .attribute-color {

            &-item {
                display: inline-block;
                height: 20px;
                width: 20px;
                background-color: $linkColor2;
                border-radius: 20px;
                cursor: pointer;
                position: relative;
                margin-left: 6px!important;
            }

            &-after {
                &:after {
                    position: absolute;
                    content: '';
                    width: 28px;
                    height: 28px;
                    border: 1px solid rgba(63, 63, 72, .3);
                    left: -4px;
                    top: -4px;
                    border-radius: 50%;
                }
            }
        }
    }

    .wish-product-link {
        position: absolute;
        right: 19px;
        top: 19px;
    }

    .wish-product-icon {
        max-width: 20px;
        height: 18px;
        fill: #3f3f48;
    }

    .featured-article {

        &-link {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: $textColor;
            margin-bottom: 18px;

            @include min-w (768px) {
                display: none;
            }
        }

        .arrow-right {
            padding: 0 0 5px;
        }

        &-header {
            font-size: 22px;
            font-weight: 500;
            color: $textColor;
            font-family: $secondFontFamily;
            text-align: center;
            margin-bottom: 18px;
            display: none;

            @include min-w (768px) {
                font-size: 28px;
                margin-bottom: 46px;
                display: block;
            }
        }
        & .name a{
            color: $textColor4;
        }

        & .featured-articles div{
            margin-bottom: 33px;
            &:last-of-type{
                margin-bottom: 10px;
            }
            @include min-w(768px){
                margin-bottom: 0;
            }
        }
    }
    .nav-container, .sun-nav-container, .special-sun-nav-container, .lenses-nav-container {
        max-width: 1325px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .testimonial-nav-container {
        max-width: 1135px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .slick-arrow {
        background-color: #b2d1d4;
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        transform: rotate(180deg);
    }

    .blog-link {
        font-size: 16px;
        width: 100%;
        margin-bottom: 40px;
        @include min-w (768px){
            margin-top: 31px;
            margin-bottom: 0;
        }
    }

    .slick-dots li{
        width: 5px;
    }

    .slick-dots li button {
        &:before {
            background: $darkColor;
            content: '' !important;
            width: 6px;
            height: 8px;
            border-radius: 28px;
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        width: 14px;
        border-radius: 28px;
    }
    .slick-dots li.slick-active {
        margin: 0;
        width: 14px;
    }
    .stories {
        padding: 10px 0 85px;

        @include min-w (992px) {
            padding: 80px 0 130px;
        }

        &-image {
            display: none;

            @include min-w(768px) {
                display: block;
            }
        }

        &-image-mobile {
            @include min-w(768px) {
                display: none;
            }
        }
        &-headline {
            font-weight: 500;
            font-size: 16px;
            color: $textColor3;
            margin-bottom: 7px;

            @include min-w (768px) {
                font-size: 20px;
            }
        }

        &-header {
            font-size: 22px;
            font-weight: 500;
            color: $textColor;
            font-family: $secondFontFamily;
            line-height: 120%;
            margin-bottom: 16px;

            @include min-w (768px) {
                font-size: 28px;
                line-height: 110%;
                margin-bottom: 10px;
                color: $darkColor;
            }
        }

        &-description {
            font-size: 14px;
            color: $linkColor2;
            line-height: 140%;
            margin-top: 37px;

            @include min-w (768px) {
                font-size: 15px;
                color: $textColor;
                margin-top: 0;
            }
        }

        &-link {
            position: relative;
            text-decoration: none;
            font-family: $secondFontFamily;
            font-size: 14px;
            font-weight: 500;
            color: $textColor4;
            @include min-w (768px){
                color: $darkColor;
            }

            .arrow-right {
                position: absolute;
                top: -2px;
                padding-left: 12px;
                color:$linkColor;
                stroke:$linkColor;
                @include min-w(768px){
                    color: $darkColor;
                    stroke: $darkColor;
                }
            }
        }
    }

    .stories-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        & .arrow-right{
            stroke: $textColor;
            @include min-w(768px){
                stroke:$darkColor;
            }
        }
    }

    .stories-text-content {
        max-width: 620px;
        width: 100%;
    }

    .seo {
        &-title {
            font-size: 22px;
            line-height: 120%;
            font-weight: 500;
            color: $linkColor;
            font-family: $mainFontFamily;

            @include min-w (768px) {
                font-size: 28px;
                line-height: 110%;
                font-family: $secondFontFamily;
            }
        }

        &-content {
            max-width: 875px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 70px;
            @include min-w (768px) {
                padding-bottom: 100px;
            }
        }

        &-text {
            font-size: 16px;
            color: $textColor4;
            opacity: .7;

            @include min-w (768px) {
                font-size: 17px;
            }
        }

        &-link {
            position: relative;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            color: $textColor4;
            @include min-w(768px){
                font-family: $secondFontFamily;
            }

            .arrow-down {
                position: absolute;
                top: -2px;
                margin-left: 8px;
                color: $linkColor;
                stroke: $linkColor;
            }
        }
    }
}
