.single-main {
    padding-top: 80px;
    padding-bottom: 75px;
    @include min-w(1440px) {
        padding-top: 139px;
        padding-bottom: 106px;
    }

    h2, h3, p {
        margin: 0;
    }

    .single-container {
        padding: 0;
        padding-top: 24px;
        @include min-w(1440px) {
            padding: 24px 324px 0;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .wp-block-cover::before{
        opacity: 0 !important;
    }

    .big-paragraph {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #7a7a88;
        @include min-w(768px) {
            font-size: 17px;
            line-height: 24px;
        }

    }

    h2 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: #3f3f48;
        @include min-w(768px) {
            font-size: 28px;

            line-height: 31px;

        }

    }

    h3 {
        padding-top: 32px;
        padding-bottom: 12px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        color: #3f3f48;
        @include min-w(768px) {
            font-size: 20px;
        }

    }

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        color: #7a7a88;
        @include min-w(768px) {
            font-size: 15px;

            line-height: 21px;

        }

    }

    figure {
        margin: 0;
        margin-top: 56px;

        figcaption {
            font-size: 14px;
            line-height: 140%;
            font-style: normal;
            font-weight: 400;
            text-align: left;
            margin: 0;
            padding-top: 16px;
            color: $linkColor2;
            @include min-w(768px){
                font-size: 15px;
                color: $textColor4;
                opacity: .7;
            }
        }
    }

    li {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #7a7a88;

        &::marker {
            color: #3f3f48;
            font-size: 18px;
            line-height: unset;
        }
    }

    ul li {
        margin-bottom: 8px;
    }

    ol li {
        margin-bottom: 13px;
    }

    blockquote {
        background: linear-gradient(76.02deg, #fbc4a0 1.39%, #fac9bd 98.55%);
        border-radius: 8px;
        margin: 0;
        padding: 24px;
        margin-top: 32px;

        p {
            color: #3f3f48;
        }

    }

    .quote-green {
        position: relative;
        background: #b2d1d4;
        padding: 40px 32px 32px 46px;

        &::before {
            position: absolute;
            top: 25px;
            opacity: .5;
            z-index: 0;
            content: url('../../images/qoute.svg');
        }

        p {
            color: #023130;
            position: relative;
        }
    }

    .wrap{
        //display: initial;
        //@include min-w(1200px) {
        //    display: flex;
        //    justify-content: center;
        //    margin-left: -110px;
        //}
        position: relative;
        max-width: $containerWidth;
        width: 100%;
        margin: 0 auto;
        padding: 0 385px;

        @include max-w(1400px){
            padding: 0 70px;
        }

        //@include max-w(1200px){
        //    padding: 0 30px;
        //}

        @include max-w(768px){
            padding: 0 15px;
        }
    }
    .wp-block-cover, .wp-block-cover-image{
        min-height: 400px !important;
    }
    .main_text {
        position: absolute;
        top: 340px;
        z-index: 9;
        padding-left: 0;
        width: 330px;
        @include min-w(768px){
            top: 315px;
            padding-left: 15px;
            width: 630px;
        }
    }

    .author{
        border-top: 1px solid #e1e1e8;
        display: flex;
        align-items: center;
        padding: 16px 0;
        margin-top: 56px;
    }

    .author_img{
        border-radius: 50%;
        width: 88px;
        height: 88px;
        margin-right: 20px;
        @include min-w(768px) {
            width: 80px;
            height: 80px;
        }
    }

    .written{
        text-transform: initial;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
        color: $linkColor2;
        @include min-w(768px) {
            font-weight: 700;
            letter-spacing: .085em;
            text-transform: uppercase;
            line-height: 100%;
            color: $textColor4;
            opacity: .6;
        }

    }
    .author_name{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        color: #3f3f48;
        padding-top: 8px;
        padding-bottom: 5px;
        @include min-w(768px) {
            font-size: 20px;
            line-height: 22px;
            padding-top: 11px;
            padding-bottom: 3px;
        }

    }
    .author_description{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: #7a7a88;
        @include min-w(768px) {
            font-size: 15px;
            line-height: 21px;
        }

    }

    .share{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        border-bottom: 1px solid #e1e1e8;
        padding: 34px 0 30px;
        @include min-w(1440px){
            border-top: 1px solid #e1e1e8;
            padding: 42px 0 39px;
        }
    }
    .share_buttons{
        display: flex;
        align-items: center;
    }
    .share_text{
        padding-bottom: 18px;
        @include min-w(768px) {
            padding-bottom: 0;
        }

    }
    .share_text p{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        color: $textColor4;
    }

    .like{
        width: 110px;
        display: flex;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
        height: 52px;
        justify-content: space-around;
        align-items: center;
        color: #7a7a88;
    }
    .the_champ_horizontal_sharing .theChampSharing{
        background-color: #eff1f2;
        color: #eff1f2;
        border: 5px solid #eff1f2;
        margin-left: 16px;
    }

    .category_name {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: fit-content;
        height: fit-content;
        background-color: #59af9e;
        border-radius: 4px;
        padding: 7px 6px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 8px;
        @include min-w(768){
            font-size: 12px;
            margin-bottom: 17px;
        }
        @include max-w(768px) {
            &-mob {
                background-color: transparent;
                color: #59af9e;
                padding: 0;
                padding-bottom: 10px;
            }
        }
    }

    .post_name {
        font-family: $secondFontFamily;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        color: #fff;

        @include min-w(768px){
            font-size: 40px;
            line-height: 110%;
        }
    }

}

.links{
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: $textColor4;
    & .back_link{
        width:175px;
        display: flex;
        text-justify: auto;
    }
    & svg{
        margin: 7px 13px 0 12px;
    }
}

.related{

    h2{
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        padding: 56px 0 16px;
        text-align: left;
        color: #35353b;
        @include min-w(768px) {
            font-size: 28px;
            text-align: center;
            line-height: 30px;
            padding: 132px 0 41px;
        }
    }

    .related_grid{
        display: grid;
        grid-template-columns: 162px 162px 162px;
        gap: 16px;
        overflow: auto;
        margin-right: -15px;
        @include min-w(475px) {
            margin-right: 0;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .articles_img{
            margin-bottom: 22px;
        }
        .articles_img > img{
            width: 416px;
            max-width: 100%;
            height: auto;
            @include min-w(1200px) {
                height: 236px;
            }
        }
        .post_name{
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #3f3f48;
            @include min-w(768px) {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}

.menu-blog-category-container{
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}
.menu-blog-category-container > ul {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: auto;
    padding-bottom: 16px;
    padding-left: 16px;
    
    @include min-w(768px) {
        justify-content: center;
        padding-top: 25px;
    }

    li {
        background: rgba(187, 211, 229, .3);
        border-radius: 20px;
        padding: 10px 14px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        color: #35353b;
        margin-right: 12px;
        text-decoration: none;
        list-style-type: none;
        white-space: nowrap;
        width: max-content;

        &:hover {
            cursor: pointer;
        }

        @include min-w(768px) {
            padding: 10px 16px;
            margin-right: 16px;
            border-radius: 32px;

        }
    }

    li.current-menu-item {
        color: #fff;
        background: #59af9e;
    }
}

.button-arrow-left {
    transform: rotate(180deg);
}