.terms-main {
    padding-top: 60px;
    padding-bottom: 63px;
    @include min-w(1152px) {
        padding-top: 145px;
        padding-bottom: 114px;
    }

    h1 {
        font-family: $secondFontFamily;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        text-align: left;
        color: #3f3f48;
        margin: 24px 0 48px;
        @include min-w(1152px){
            font-size: 40px;
            margin: 35px 0;
        }

    }

    h2 {
        font-family: $secondFontFamily;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        color: $textColor;
        margin-bottom: 16px;
        @include min-w(768px){
            color: $textColor4;
            margin-bottom: 12px;
        }
    }

    ol {
        padding-left: 20px;
        margin-bottom: 24px;
    }

    li {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #7a7a88;
        padding-bottom: 16px;
        @include min-w(768px){
            padding-bottom: 8px;
        }

        &::marker {
            font-size: 16px;
            font-weight: 700;
            line-height: 160%;
            color:$textColor4;
        }
    }

    .terms-container {
        padding: 0;
        @include min-w(768px) {
            padding: 0 180px;
        }
        @include min-w(1440px) {
            padding: 0 347px;
        }
    }

    .breadcrumbs span:first-child > a{
        text-decoration: none;
        color: #7a7a88;
    }
}
