@import 'src/assets/sass/base';
@import 'category';
@import '_single-product-tab';

.site-main {
    //margin-top: 138px;
}

.page-container {
    //padding-top: 100px;
}

.category-page {
    padding-top: calc(35px - 1.5em) !important;

    @include min-w(1152px) {
        padding-top: calc(119px - 1.5em) !important;
    }
}

.term-description {
    display: none;
}

.btn--try-on {
    background-color: #fff;
    border: 1px solid $darkColor;
    width: 137px;
    height: 44px;
    text-decoration: none;
    padding: 11px 25px;
    margin-top: 30px;
    margin-right: 15px;
    color: $darkColor;
    & .try-on-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    @include min-w(678px) {
        display: none;
    }
}

.btn--product-view {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: $darkColor;
    color: #fff;
    transition: .4s;
    font-size: 16px;
    font-family: $mainFontFamily;
    width: 137px !important;
    height: 44px !important;
    margin-top: 30px !important;
    padding: 8px 50px;

    &:focus, :active {
        color: $secondTextColor;
        border: transparent !important;
    }

    @include min-w(678px) {
        display: none !important;
    }
}

.woocommerce-pagination {
    display: none;
}
