.whishlist-wrapper {
    .page-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .product-item {
        display: none;

        @include min-w(768px) {
            display: block;
        }
    }

    .product-item-mobile {
        display: flex;
        gap: 10px;
        padding: 24px 16px 32px;
        border-bottom: 1px solid $neutralBrand;

        @include min-w(768px) {
            display: none;
        }
    }

    .product-image-mobile {
        width: 102px;
        height: 122px;
        flex-shrink: 0;
        background: rgba(239, 241, 242, .5);

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .product-title-mobile {
        flex-grow: 1;

        a {
            text-decoration: none;
        }
    }

    .product-title-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $textColor4;
        margin: 0;
    }

    .product-dots-mobile {
        width: 40px;
        flex-shrink: 0;
    }

    .three-dots-button {
        background: transparent;
        border: none;
    }

    .product-row {
        @include min-w(768px) {
            //border-bottom: 1px solid $neutralBrand;
        }
    }
}

.wishlist-delete-mobile-wrapper {
    display: none;
    width: 100%;
    padding: 6px 16px 16px;
    border-radius: 10px 10px 0 0;
    background: $bodyBg;
    position: fixed;
    bottom: 0;
    z-index: 9999;

    .remove-button-close {
        width: 40px;
        height: 3px;
        background: $neutralBrand;
        border-radius: 2px;
        margin: 0 auto 20px;
        display: block;
        border: none;
    }

    .remove-from-wishlist {
        width: 100%;
        height: 50px;
        border: 1px solid $darkColor;
        border-radius: 8px;
        color: $darkColor;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        background: transparent;
    }
}

.wishlist-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $textColor4;
    opacity: .3;
    z-index: 99;
    pointer-events: none;
    display: none;
}

.product-rait-info {
    display: none;
}

.wishlist-more-details-button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid $darkColor;
    border-radius: 4px;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: $darkColor;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        color: $darkColor;
    }
}

.wish-product-link-del {
    position: absolute;
    right: 10px;
    top: 15px;
    background: transparent;
    border: none;
}
