//  Базовые стили

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    height: 100%;
}

.html--hidden{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 99;
}

a {
    color: $link-color;
    text-decoration: none;
    outline: none;

    &:hover,
    &:active {
        color: $link-color--hover;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    position: relative;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.page-container {
    max-width: $container-width;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;

    @include max-w($screen-xl){
        width: 88%;
    }

    @include max-w($screen-tablet-landscape){
        width: 100%;
        padding-left: $large-padding;
        padding-right: $large-padding;
    }

    @include max-w(320px){
        padding-left: $container-padding;
        padding-right: $container-padding;
    }
}

.icon {
    display: inline-block;
}

.brand-color{
    color: $brand-color;
}

.main-title-brand-color{
    font-family: $font-family-bold;
    color: $brand-color;
    text-transform: uppercase;
    margin: 0;
    @include fluid-font(49px, 78px, 320px, 1920px);
}

.main-subtitle-brand-color{
    font-family: $font-family;
    color: $brand-color;
    margin-bottom: 43px;
    @include fluid-font(19px, 40px, 320px, 1920px);
}


//Antonio 50px White
.title-brand-color {
    color: $fourth-color;
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(21px, 50px, 320px, 1920px);
}
//Antonio 44px White
.second-title-brand-color {
    color: $fourth-color;
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(28px, 44px, 320px, 1920px);
}

.second-title-brand-color-mobile {
    color: $fourth-color;
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(28px, 44px, 320px, 1920px);
    display: none;
}

//Antonio 50px White Bold
.title-brand-color-bold {
    color: $fourth-color;
    font-family: $font-family-bold;
    text-transform: uppercase;
    @include fluid-font(27px, 50px, 320px, 1920px);
}

//Antonio 50px White Bold
.title-brand-color-bold-mobile{
    color: $fourth-color;
    font-family: $font-family-bold;
    text-transform: uppercase;
    @include fluid-font(18px, 50px, 320px, 1920px);
    display: none;
}

//Antonio 32px White
.subtitle-brand-color{
    color: $fourth-color;
    font-family: $font-family;
    @include fluid-font(15px, 32px, 320px, 1920px);
}

//Antonio 30px White
.description-brand-color {
    opacity: 0.8;
    color: $fourth-color;
    font-family: $font-family;
    @include fluid-font(16px, 30px, 375px, 1920px);
}

//Antonio 22px White
.third-description-brand-color{
    opacity: 0.8;
    color: $fourth-color;
    font-family: $font-family;
    @include fluid-font(16px, 22px, 320px, 1920px);
}

.fourth-description-brand-color{
    opacity: 0.8;
    color: $fourth-color;
    font-family: $font-family;
    @include fluid-font(13px, 20px, 320px, 1920px);

    @include max-w($screen-sm){
        line-height: 17px;
    }
}

//Antonio 40px White
.typed-description-brand-color{
    color: $fourth-color;
    font-family: $font-family;
    line-height: 40px;
    z-index: 1;
    max-width: 1220px;
    width: 100%;
    margin-top: 6px;
    @include fluid-font(24px, 40px, 375px, 1920px);

    @include max-w($screen-portrait){
        padding: 0;
    }

    @include max-w($screen-sm){
        line-height: 32px;
        padding-top: 16px;
        letter-spacing: 0.2px;
    }
}



//Antonio 50px Black
.title {
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(28px, 50px, 320px, 1920px);
}

//Antonio 38px Black
.subtitle {
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(24px, 38px, 320px, 1920px);
    letter-spacing: 0.7px;
}

//Antonio 44px Black
.second-title {
    font-family: $font-family;
    text-transform: uppercase;
    @include fluid-font(18px, 44px, 320px, 1920px);
}

//Antonio 22px Black
.description{
    color: #595959;
    font-family: $font-family;
    @include fluid-font(12px, 22px, 320px, 1920px);
}

//Cooper Hewitt 18px
.second-description-brand-color{
    color: $fourth-color;
    font-family: $second-font;
    @include fluid-font(13px, 18px, 320px, 1920px);
}


//Cooper Hewitt 21px
.second-description {
    font-family: $second-font;
    @include fluid-font(14px, 21px, 320px, 1920px);
    letter-spacing: 0.2px;
}


//Cooper Hewitt 25px bold
.post-title {
    font-family: $font-family-bold;
    @include fluid-font(14px, 25px, 375px, 1920px);
    text-transform: uppercase;

    @include max-w($screen-sm) {
        line-height: 19px;
        letter-spacing: 0.5px;
    }
}

.post-description {
    color: #595959;
    font-family: $second-font;
    @include fluid-font(14px, 17px, 375px, 1920px);
    line-height: 26px;
}

.team__mail {
    color: $fourth-color;
    font-family: $second-font;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 14px;

    img{
        margin: 0 13px 4px 0;

    }
}

.reset{
    margin: 0;
    padding: 0;
}
