//  Подключения шрифтов

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src:  local('Roboto'), local('Roboto-Regular');
    src:  url('~@fonts/Roboto-Regular.eot');
    src:  url('~@fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('~@fonts/Roboto-Regular.woff') format('woff'),
    url('~@fonts/Roboto-Regular.ttf') format('truetype'),
    url('~@fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src:  local('Roboto'), local('Roboto-Regular');
    src:  url('~@fonts/Roboto-Regular.eot');
    src:  url('~@fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('~@fonts/Roboto-Regular.woff') format('woff'),
    url('~@fonts/Roboto-Regular.ttf') format('truetype'),
    url('~@fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src:  local('Roboto'), local('Roboto-Bold');
    src:  url('../fonts/Roboto-Bold.eot');
    src:  url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

// font-family: 'Antonio';
// font-weight: 400;
@font-face {
    font-family: "Antonio-Regular";
    src: url("../fonts/antonio/antonioregular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/antonio/antonioregular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/antonio/antonioregular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/antonio/antonioregular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/antonio/antonioregular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/antonio/antonioregular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

// font-family: 'Antonio';
// font-weight: 700;
@font-face {
    font-family: "Antonio-Bold";
    src: url("../fonts/antonio/antoniobold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/antonio/antoniobold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/antonio/antoniobold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/antonio/antoniobold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/antonio/antoniobold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/antonio/antoniobold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}

// font-family: 'CooperHewitt';
// font-weight: 400;
@font-face {
    font-family: "CooperHewitt-Book";
    src: url("../fonts/cooper-hewitt/cooper-hewittbook.eot"); /* IE9 Compat Modes */
    src: url("../fonts/cooper-hewitt/cooper-hewittbook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/cooper-hewitt/cooper-hewittbook.svg") format("svg"), /* Legacy iOS */
    url("../fonts/cooper-hewitt/cooper-hewittbook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/cooper-hewitt/cooper-hewittbook.woff") format("woff"), /* Modern Browsers */
    url("../fonts/cooper-hewitt/cooper-hewittbook.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

// font-family: 'CooperHewitt';
// font-weight: 700;
@font-face {
    font-family: "CooperHewitt-Bold";
    src: url("../fonts/cooper-hewitt/cooper-hewittbold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/cooper-hewitt/cooper-hewittbold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/cooper-hewitt/cooper-hewittbold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/cooper-hewitt/cooper-hewittbold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/cooper-hewitt/cooper-hewittbold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/cooper-hewitt/cooper-hewittbold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}
// Заголовки

h1, h2, h3, h4, h5 {
    font-family: $font-family;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}
