//  Цвет

$body-bg: #fff;
$text-color: #111111;
$brand-color: #fff;

$first-color: #111111;
$second-color: #c7c7c7;
$third-color: #121212;
$fourth-color: #fff;


$main-border-color: #595959;
$contact-bg-color: #002b58;
// Цвет ссылки

$link-color: #ffffff;
$link-color--hover: #00a2ff;
$submit-color-hover: #009cff;
//  Типографика

$font-family: "Antonio-Regular", sans-serif;
$font-family-bold: "Antonio-Bold", sans-serif;

$second-font: "CooperHewitt-Book", sans-serif;
$second-font-bold: "CooperHewitt-Bold", sans-serif;

$font-size: 14px;
$font-weight: 400; // Regular
$line-height: 1.2;

// Ширина контейнера

$container-padding: 15px;
$large-padding: 30px;
$container-width: 1660px + $container-padding * 2;

//  Адаптивность и соответствующие ширины контейнера

$screen-xs: 359px;

$screen-sm: 480px;

$screen-phone: 767px;

$screen-portrait: 812px;

$screen-tablet-landscape: 1024px;

$screen-md: 1280px;

$screen-lg: 1440px;

$screen-xl: 1680px;

$screen-phoneX: 812px;
