@font-face {
    font-display: swap;
    font-family: "Gotham-Book";
    src: url("fonts/Gotham-Book/Gotham-Book.eot") format("eot"), url("fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "GothamNarrow-Bold";
    src: url("fonts/GothamNarrow-Bold/GothamNarrow-Bold.eot") format("eot"), url("fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff2") format("woff2"), url("fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff") format("woff"), url("fonts/GothamNarrow-Bold/GothamNarrow-Bold.ttf") format("truetype"), url("fonts/GothamNarrow-Bold/GothamNarrow-Bold.svg#GothamNarrow-Bold") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "GothamNarrow-Book";
    src: url("fonts/GothamNarrow-Book/GothamNarrow-Book.eot") format("eot"), url("fonts/GothamNarrow-Book/GothamNarrow-Book.woff2") format("woff2"), url("fonts/GothamNarrow-Book/GothamNarrow-Book.woff") format("woff"), url("fonts/GothamNarrow-Book/GothamNarrow-Book.ttf") format("truetype"), url("fonts/GothamNarrow-Book/GothamNarrow-Book.svg#GothamNarrow-Book") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "GTWalsheimProMedium";
    src: url("fonts/GTWalsheimProMedium/GTWalsheimProMedium.eot") format("eot"), url("fonts/GTWalsheimProMedium/GTWalsheimProMedium.woff2") format("woff2"), url("fonts/GTWalsheimProMedium/GTWalsheimProMedium.woff") format("woff"), url("fonts/GTWalsheimProMedium/GTWalsheimProMedium.ttf") format("truetype"), url("fonts/GTWalsheimProMedium/GTWalsheimProMedium.svg#GTWalsheimProMedium") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "GTWalsheimProRegular";
    src: url("fonts/GTWalsheimProRegular/GTWalsheimProRegular.eot") format("eot"), url("fonts/GTWalsheimProRegular/GTWalsheimProRegular.woff2") format("woff2"), url("fonts/GTWalsheimProRegular/GTWalsheimProRegular.woff") format("woff"), url("fonts/GTWalsheimProRegular/GTWalsheimProRegular.ttf") format("truetype"), url("fonts/GTWalsheimProRegular/GTWalsheimProRegular.svg#GTWalsheimProRegular") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "QuincyCF-ExtraBold";
    src: url("fonts/QuincyCF-Black/QuincyCF-Black.eot") format("eot"), url("fonts/QuincyCF-Black/QuincyCF-Black.woff2") format("woff2"), url("fonts/QuincyCF-Black/QuincyCF-Black.woff") format("woff"), url("fonts/QuincyCF-Black/QuincyCF-Black.ttf") format("truetype"), url("fonts/QuincyCF-Black/QuincyCF-Black.svg#QuincyCF-Black") format("svg");
}

@font-face {
    font-display: swap;
    font-family: "QuincyCF-Medium";
    src: url("fonts/QuincyCF-Medium/QuincyCF-Medium.eot") format("eot"), url("fonts/QuincyCF-Medium/QuincyCF-Medium.woff2") format("woff2"), url("fonts/QuincyCF-Medium/QuincyCF-Medium.woff") format("woff"), url("fonts/QuincyCF-Medium/QuincyCF-Medium.ttf") format("truetype"), url("fonts/QuincyCF-Medium/QuincyCF-Medium.svg#QuincyCF-Medium") format("svg");
}