.page-footer {
    position: relative;
    background-color: #efefef;
    font-family: $secondFont;
    color: $secondColor;
    z-index: 1;
    width: 100%;
    height: auto;

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 45px;

        @include max-w($screen-md){
            padding-bottom: 25px;
        }

        @include max-w(705px){
            padding: 0 20px 25px;
        }

        @include max-w($mobile) {
            padding: 0 8px 30px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include max-w($mobile){
            align-items: flex-start;
        }
    }
    .social-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include max-w($screen-md){
            flex-direction: column-reverse;
            padding-bottom: 25px;
        }
    }
    .social {
        padding: 30px 0;
        font-size: 19px;

        @include max-w($screen-md){
            padding: 10px 0;
        }

        a {
            color: $linkSecondColor;
            padding: 0 8px;

            &:hover {
                color: $linkColorHover;
            }
        }
    }

    .footer-item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include max-w($screen-md){
            flex-wrap: wrap;
            justify-content: center;
        }

        @include max-w($mobile){
            flex-direction: column;
        }
    }
    .info-title {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -.35px;
        line-height: 20px;
        align-self: flex-start;
        margin: 0;

    }

    .city-row {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include max-w($mobile){
            max-width: 220px;
            flex-direction: column;
        }
    }
    .city_name{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -.35px;
        line-height: 20px;
        margin: 5px 0 !important;
    }
    .city-info {
        color: $secondTextColor;
        padding-right: 35px;
        max-width: 155px;
        width: 100%;
        white-space: nowrap;

        p{
            margin: 0;
            color: #626262;
        }

        @include max-w($mobile){
            max-width: 220px;
        }
    }

    .phone, .mobile, .fax, .address {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -.35px;
        margin: 0;
        line-height: 20px;
        justify-self: flex-start;
        color: $secondTextColor;
        width: 100%;
    }
    .mailto {
        color: $linkColorHover;
        font-size: 14px;
        letter-spacing: -.35px;
        margin: 0;
        line-height: 20px;
        align-self: center;
    }

    .privacy-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-page{
            display: flex;
            flex-direction: row;
            padding-bottom: 40px;

            .page-link {
                font-size: 11px;
                font-weight: 400;
                letter-spacing: -.28px;
                color: #a0a0a0;
                padding: 0 5px;
                text-align: center;

                @include max-w($mobile){
                    padding: 0 3px;
                }

                &:hover {
                    color: $linkColorHover;
                }
            }
        }
    }

    .copyright {
        margin: 0;
        padding-bottom: 10px;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: -.28px;
        color: #a0a0a0;
    }
}
.cookie-notice-container, .cn-bottom{
    background-color: rgba(50, 50, 50, .5) !important;
    min-height: 100px;
}
.cookie-notice-container{
    padding: 35px 0;
    @include max-w($screen-md){
        padding-bottom: 25px;
    }
}
.cookies_link{
    text-decoration: underline;
}

#cn-accept-cookie{
    border: 1px solid #fff;
    background: transparent;
    border-radius: 15px;
    width: 100px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.prefooter-angle {
    padding: 170px 0 115px;
    position: relative;

    @include max-w($screen-xl) {
        padding: 3px 0 115px;
    }

    @include max-w($mobile) {
        padding: 15px 0 112px;
    }
}
