.html--hidden {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

.page-header {
    width: 100%;
    position: fixed;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .22);
    z-index: 99;
    transition: all .3s ease-in-out;

    @include max-w($screen-lg) {
        border: transparent;
    }
    .logoImage {
        max-width: 100px;
        width: 100%;
    }
    .page-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;
        position: relative;

        @include max-w($screen-lg){
            max-width: 992px;
            padding: 22px 32px;
            margin: 0 auto;
        }
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 5;

        @include max-w($screen-lg) {
            position: absolute;
            top: 74px;
            right: -100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #efefef;
            transition: .5s;
            box-shadow: -10px 4px 20px rgba(0, 0, 0, .3);
        }
        &__list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;
            margin: 0;
            width: 100%;

            @include max-w($screen-lg) {
                padding: 14px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                font-weight: 400;
                text-transform: uppercase;
                transition: .3s ease;
                z-index: 2;
                text-align: center;
            }

            .sub-menu1{
                position: fixed;
                background-color: #efefef;
                list-style: none;
                padding: 0;
                width: auto;
                height: .1px;
                overflow-y: hidden;
                opacity: 0;
                visibility: hidden;

                @include max-w($screen-lg){
                    box-shadow: inset -8px 0 12px rgba(0, 0, 0, .2);
                    width: 50%;
                    right: 50%;
                    top: 74px;
                }
            }
        }
    }

    .social {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        @include max-w($screen-lg) {
            flex-direction: row;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .social__item {
        color: $linkColor;
        padding: 0 0 0 16px;
        font-size: 18px;

        &:hover {
            color: $linkColorHover;
        }

        @include max-w($screen-lg) {
            font-size: 16px;
            padding: 0 7px;
            color: $linkSecondColor;
        }
    }

    .menu__hamburger {
        overflow: hidden;
        height: 20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        outline: none;
        z-index: 15;
        cursor: pointer;
        transition: .3s;
        border: 1px solid transparent;
        position: fixed;
        right: 30px;
        top: 25px;

        @include max-w($screen-lg) {
            display: flex;
            right: 15px;
        }
    }

    .menu__hamburger .line {
        width: 22px;
        height: 2px;
        transition: all .3s cubic-bezier(.08, .81, .87, .71);
        background-color: white;
        border-radius: 2px;
    }

    .span1 {
        transform-origin:  4px -3px;
    }

    .span3 {
        transform-origin: bottom right;
    }

    .menu__show {
        + .main-nav {
            right: 0;
        }

        .span1 {
            transform: rotate(45deg) translate(6px, -1px);
            width: 22px;
            height: 2px;
        }

        .span2 {
            transform: rotate(495deg);
            width: 22px;
            height: 2px;
        }

        .span3 {
            transform: rotate(45deg);
            opacity: 0;
        }
    }

    .menu-item {
        padding: 0 12px;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -.35px;

        &:hover {
            color: $linkColorHover;
        }

        a {
            @include max-w($screen-lg) {
                color: #626262;

                &:hover {
                    color: $linkColorHover;
                }
            }
        }
    }

    .link0{
        line-height: 75px;

        @include max-w($screen-lg){
            line-height: 40px;
        }
    }

    .menu-item-has-children{
        position: relative;
        cursor: pointer;

        @include max-w($screen-lg){
            width: 100%;
        }

        .sub-menu1{
            line-height: 30px;
            background-color: #efefef;
            padding: 9px 0;
        }

        .link1{
            font-family: $fontFamily;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: -.35px;
            color: $linkSecondColor;

            &:hover{
                color: $linkColorHover;
            }
        }

        &:hover{
            .sub-menu1{
                transition: .5s ease-in;
                opacity: 1;
                height: auto;
                visibility: visible;
            }
        }
        &:before{
            content: '';
            color: $linkSecondColor;
            display: none;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            padding: 6px;
            background-image: url('~@img/left-arrow.png');
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: contain;

            @include max-w($screen-lg){
                display: block;
                left: 15px;
            }
        }
    }

    .hot-tooltips{

        @include max-w($screen-lg){
            display: none;
        }
    }
    .hot-wrap{
        position: absolute;
        right: 207px;
        top: 8px;

        @include max-w(920px){
            right: 173px;
        }

        @include max-w($screen-lg){
            display: none;
        }
    }
    .hot{
        background-color: $thirdTextColor;
        color: #fff;
        position: relative;
        padding: 2px 10px;
        border: transparent;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 12px;

        &:before {
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            transform: rotate(45deg) skew(0deg) translateX(-50%);
            background-color: $thirdTextColor;
            border-right: 1px solid $thirdTextColor;
            border-bottom: 1px solid $thirdTextColor;
            position: absolute;
            bottom: -3px;
            left: 50%;
        }
    }
}

.sticky-header {
    box-shadow: 0 0 15px rgba(255, 255, 255, .2);
    transition: all .4s ease-in-out;
    background: #fff;

    .social a{
        color: $linkSecondColor;
    }
    .menu-item a {
        color: $linkSecondColor;

        &:hover {
            color: $linkColorHover;
        }
    }

    .menu__hamburger .line {
        background-color: $linkSecondColor;
        z-index: 2;
    }
}

.page-template:not(.page-template-template-home) {
    .page-header {
        background-color: $mainColor;
    }
    .social__item {
        color: $linkSecondColor;

        &:hover {
            color: $linkColorHover;
        }
    }
    .menu-item a {
        transition: .3s;
        color: $linkSecondColor;

        &:hover {
            color: $linkColorHover;
        }
    }

    .menu__hamburger .line{
        background-color: $linkSecondColor;
    }
}
