.page-footer {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    background-color: #0d0d0d;

    .page-container {
        align-items: center;

        @include max-w($screen-tablet-landscape) {
            padding-top: 40px;
        }

        @include max-w($screen-portrait) {
            padding: 50px 0;
        }

        @include max-w(680px) {
            padding: 0;
        }
    }

    .logo {
        max-width: 293px;
        width: 100%;
        height: 133px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center left;

        @include max-w ($screen-portrait) {
            text-align: center;
            padding-top: 43px;
            min-height: 133px;
            width: 55%;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            width: 43%;
        }
    }

    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 185px;
        align-items: center;
        width: 100%;
        @include max-w($screen-xl) {
            padding-top: 100px;
        }

        @include max-w(1366px) {
            padding-top: 40px;
            align-items: flex-start;
        }

        @include max-w(992px){
            align-items: center;
        }
        @include max-w($screen-portrait) {
            flex-direction: column;
            padding: 0;
            width: 100%;
        }

        @include max-w ($screen-sm) {
            justify-content: space-around;
            height: 100%;
            width: 100%;
        }
    }
}

.page-footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0 160px;

    @include max-w($screen-lg) {
        padding: 40px 0 160px;
    }
    @include max-w($screen-md) {
        padding: 10px 0 160px;
    }

    @include max-w($screen-portrait) {
        justify-content: flex-start;
        padding: 0;
    }

    .footer_contacts {
        height: 400px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max-w($screen-tablet-landscape) {
            height: 350px;
        }

        @include max-w($screen-portrait) {
            height: auto;
        }
    }

    .footer__container {
        @include max-w($screen-portrait) {
            flex-direction: column;
            align-items: center;
        }

    }
    .links {
        height: 400px;
        width: 33%;
        border-left: 1px solid #2f2f2f;
        border-right: 1px solid #2f2f2f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #c7c7c7;
        font-family: $second-font;
        font-size: 22px;
        font-weight: 400;
        line-height: 38px;

        @include max-w($screen-portrait) {
            height: auto;
            order: -1;
            border-color: transparent;

        }

        .footer-nav {

            @include max-w($screen-portrait) {
                padding-top: 26px;
            }

            @include max-w($screen-sm) {
                padding: 0;
            }

            &__list {
                list-style: none;
                color: $second-color;
                font-family: $second-font;
                @include fluid-font(18px, 22px, 375px, 1920px);
                font-weight: 400;
                line-height: 38px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding-top: 25px;
                padding-left: 0;

                @include max-w($screen-portrait) {
                    justify-content: flex-start;
                }

                @include max-w($screen-xs) {
                    font-size: 16px;
                }

                @include max-w($screen-sm) {
                    margin: 0;
                    padding: 0;
                }
            }

            .menu-item {
                margin: 0 0 17px;
                @include max-w($screen-portrait) {
                    margin: 0 0 6px;
                }

                a {
                    padding: 5px 0;
                }
            }
        }
    }
    .social {
        height: 400px;
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @include max-w($screen-portrait) {
            height: 85px;
            justify-content: space-between;
            padding: 0;
        }

        @include max-w($screen-sm) {
            padding: 0;
            height: 55px;
        }

        .quora, .twitter, .linkedin {
            height: 82px;
            width: 82px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 43px;
            transition: 0.4s;
            margin-bottom: 30px;

            @include max-w($screen-portrait) {
                height: 50px;
                width: 50px;
                font-size: 25px;
                margin-bottom: 0;
            }
        }

        .quora {
            color: #cf2217;
            border: 1px solid rgba(207, 34, 23, 0.4);

            &:hover {
                color: $fourth-color;
                background-color: #cf2217;
                border: 1px solid rgba(207, 34, 23, 1);
            }

        }
        .twitter {
            color: #009cff;
            border: 1px solid rgba(0, 156, 255, 0.4);

            &:hover {
                color: $fourth-color;
                background-color: #009cff;
                border: 1px solid rgba(0, 156, 255, 1);
            }
        }
        .linkedin {
            color: #ffffff;
            border: 1px solid #6c6c6c;
            opacity: 0.4;

            &:hover {
                color: $fourth-color;
                background-color: #002b58;
                border: 1px solid #002b58;
                opacity: 1;
            }
        }
    }

    .links, .social {
        @include max-w($screen-lg) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;
        }
        @include max-w($screen-portrait) {
            width: 100%;
        }
    }

    .social {
        @include max-w($screen-portrait) {
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }

        @include max-w($screen-sm){
            padding-bottom: 30px;
        }
    }

    .footer_contacts {
        padding-bottom: 15px;
        padding-top: 7px;

        @include max-w($screen-lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 33%;
        }
        @include max-w($screen-portrait) {
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        @include max-w($screen-sm) {
            height: auto;
        }
    }

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;

        @include max-w($screen-md) {
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 15px 0;
        }
        @include max-w($screen-portrait) {
            max-width: 200px;
            padding: 30px 0;
        }

        img {
            @include max-w($screen-portrait) {
                max-width: 20px;
            }
        }

        p, a {
            padding-left: 55px;
            color: #c7c7c7;
            font-family: $second-font;
            @include fluid-font(12px, 19px, 375px, 1920px);
            max-width: 300px;

            @include max-w($screen-md) {
                padding: 0;
                margin-top: 17px;
                text-align: center;
            }

            @include max-w($screen-portrait) {
                margin: 0;
            }

            @include max-w($screen-sm) {
                line-height: 20px;
            }
        }

        &--address {

            @include max-w($screen-sm) {
                padding: 30px 0 10px;
            }

            p {

                @include max-w($screen-sm) {
                    line-height: 23px;
                    margin-top: 7px;
                }

            }

             img {
                 @include max-w(768px) {
                     padding-bottom: 15px;
                 }
            }
        }

        &--phone {


            @include max-w(768px) {
                padding-bottom: 15px;
            }
            //
            //@include min-w-h ($screen-sm, $screen-phoneX) {
            //    padding: 30px 0 10px;
            //}

            a, p {
                @include max-w($screen-sm) {
                    line-height: 18px;
                }
            }

            img {
                margin-bottom: 10px;
            }
        }

        &--mail {

            img{
                @include max-w(768px){
                    padding-bottom: 20px;
                }
            }

            a {
                padding: 0;
            }
        }
    }

    .inner{
        padding-top: 0;
    }

    .fax{
        margin-bottom: 0;
        margin-top: 8px;
    }
}

//footer static
.static {
    background-color: #0d0d0d;

    .page-footer__inner {
        @include max-w($screen-sm) {
            padding-bottom: 50px;
        }
    }

    .logo {
        @include max-w($screen-portrait) {
            padding: 0;
        }

        @include max-w($screen-sm){
            display: flex;
            flex-basis: 180px;
        }
    }

}

.footer__container {
    width: 100%;
    justify-content: space-around;
    padding: 185px 15px 0;

    @include max-w($screen-tablet-landscape) {
        justify-content: center;
        padding-top: 85px;
    }

    @include max-w($screen-portrait) {
        padding-top: 0;
    }

    .links, .social {
        @include max-w($screen-lg) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;
        }
    }

    .footer_contacts {
        height: auto;

        @include max-w($screen-lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 33%;
        }

        @include max-w(992px) {
            align-items: center;
        }
    }

    .social {
        @include max-w($screen-portrait) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }

        @include max-w($screen-sm) {
            padding: 80px 30px 0;
        }
    }

    .wrap {
        @include max-w($screen-xl) {
            padding: 10px 0;
        }

        @include max-w($screen-sm) {
            padding: 25px 0 0;
        }

        .mail {
            padding: 0;
        }
    }

    .inner {
        @include max-w($screen-sm) {
            width: 250px;
        }
    }

    .mail__icon {
        @include max-w($screen-sm) {
            margin: 15px 0;
        }
    }

    .phone__icon {

        @include max-w($screen-sm) {
            margin: 10px 0;
        }
    }

    .address__icon {

        @include max-w($screen-sm) {
            margin: 10px 0;
        }
    }
}
