//header style
.page-header {
    position: absolute;
    width: 100%;
    top: 64px;
    z-index: 1;

    @include max-w(680px) {
        top: 18px;
    }

    .page-container{
        padding-left: 0;
        position: relative;

        @include max-w($screen-sm){
            padding-left: 8px;
        }
    }

    &__logo {
        max-width: 293px;
        height: 133px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center left;
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        z-index: 1;

        @include max-w($screen-tablet-landscape){
            left: -5px;
        }

        @include max-w($screen-portrait) {
            width: 56%;
            padding: 0;
            top: 10px;
        }

        @include max-w($screen-sm){
            left: 8px;
            width: 52%;
            top: 12px;
        }
    }
}
