//.woocommerce-Addresses {
//    .woocommerce-Address:first-child {
//        display: none;
//    }
//}

hr {
    height: 0!important;
    display: none!important;
    border: none!important;
    visibility: hidden!important;
}

.woocommerce-notices-wrapper + p {
    display: none;
}

.address_book {
    h3 {
        display: none;
    }

    .myaccount_address {
        display: none;
    }
}

.u-column1 {
    display: none;
}

.woocommerce-Addresses {
    padding: 24px 15px 16px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.address-book {
    padding-left: 15px;
    padding-right: 15px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.wc-address-book-meta {
    a {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $textColor;
        opacity: .7;
        text-decoration: none;
    }
}

.u-column2 {
    padding: 17px 18px 17px 57px;
    border: 1px solid $neutralBrand;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include min-w(769px) {
        width: 100% !important;
    }

    &:before {
        content: '';
        position: absolute;
        left: 17px;
        top: 18px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.4' stroke='%23023130' stroke-width='1.2'/%3E%3Ccircle cx='11.9998' cy='12' r='7.2' fill='%23023130'/%3E%3C/svg%3E%0A");
    }

    .woocommerce-Address-title {
        order: 2;

        a {
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $textColor;
            opacity: .7;
            text-decoration: none;
        }
    }
}

.wc-address-book-address {
    padding: 17px 18px 17px 57px;
    border: 1px solid $neutralBrand;
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 17px;
        top: 18px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.4' stroke='%23023130' stroke-width='1.2'/%3E%3C/svg%3E%0A");
    }
}

//.wc-address-book-delete {
//    display: none!important;
//}

//.wc-address-book-make-primary {
//    display: none!important;
//}

address {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $linkColor2;
}

.add-new-address {
    display: none;
}

.woocommerce-address-fields {
    padding: 24px 15px 0;
    max-width: 360px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }

    .input-text, .select2-selection {
        width: 100%;
        height: 56px;
        border: 1px solid $neutralBrand;
        border-radius: 8px;
        font-weight: normal;
        font-size: 17px;
        line-height: 100%;
        //color: $linkColor2;
        color: #333;
        padding-left: 12px;
        padding-right: 12px;

        &::placeholder {
            opacity: .5;
        }
    }

    .select2-selection__arrow {
        top: 13px!important;
    }
}

#shipping_address_nickname-description {
    display: none!important;
}

.optional {
    display: none!important;
}

.add-address-button {
    width: 100%;
    height: 60px;
    background: $backgroundColor-4;
    border-radius: 8px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $secondTextColor;

    @include min-w(769px) {
        height: 50px;
        width: 228px;
    }
}

.back-button {
    display: none;

    @include min-w(769px) {
        display: inline-block;
        width: 116px;
        height: 50px;
        margin-right: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $textColor;
        border-radius: 8px;
        border: 1px solid $textColor4;
        background: transparent;
    }
}

.select2-selection__rendered {
    line-height: 56px!important;
    padding-left: 0!important;
}

//#shipping_state_field {
//    @include min-w(769px) {
//        width: 188px;
//        display: inline-block;
//        position: relative;
//        top: -5px;
//    }
//}
//
//#shipping_postcode_field {
//    @include min-w(769px) {
//        width: 156px;
//        display: inline-block;
//        margin-left: 16px;
//    }
//}
