.change-password-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }

    form {
        @include min-w(769px) {
            display: flex;
            flex-direction: column;
        }
    }

    label {
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        color: #7a7a88;
    }

    input {
        height: 56px;
        border-radius: 8px;
        border: 1px solid #e1e1e8;
        font-weight: normal;
        font-size: 17px;
        line-height: 100%;
        color: #7a7a88;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 22px;

        @include min-w(769px) {
            max-width: 360px;
        }
    }

    input[type='submit'] {
        width: 100%;
        height: 60px;
        border-radius: 8px;
        background: #59af9e;
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        margin-top: 40px;

        &:disabled {
            opacity: .5;
        }
    }
}

.change-password-result-wrapper {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.change-password-input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    width: 100%;
    position: relative;

    @include min-w(769px) {
        width: 360px;
    }

    svg {
        position: absolute;
        right: 16px;
        top: 24px;
        cursor: pointer;
    }
}

.password-condition {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #35353b;
    margin-bottom: 10px;

    p {
        margin: 0 0 0 14px;
    }

    svg {
        stroke: #b3c1c1;
    }
}

.condition-checked {
    svg {
        stroke: #59af9e;
    }
}
