.metabox-holder {
    display: none;
}

.linked-visual-wrapper {
    width: 100%;
    padding: 15px;
}

.linked-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e1e1e8;
    border-radius: 8px;
    padding: 24px 15px;
    text-align: center;
    margin-bottom: 24px;

    @include min-w(992px) {
        max-width: 524px;
        flex-direction: row;
        align-items: flex-start;
    }

    svg {
        margin-bottom: 28px;

        @include min-w(992px) {
            margin-bottom: 0;
            width: 64px;
            min-width: 64px;
        }
    }

    .text-wrapper {

        @include min-w(992px) {
            width: 100%;
        }
    }

    .heading {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: $textColor4;
        margin: 0 0 12px;

        @include min-w(992px) {
            text-align: left;
            margin-left: 16px;
            margin-right: 23px;
            margin-bottom: 6px;
        }
    }

    .text {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $textColor;
        margin: 0 0 21px;

        @include min-w(992px) {
            text-align: left;
            margin-left: 16px;
            margin-right: 23px;
            margin-bottom: 0;
        }
    }
}

//toggle start
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    min-width: 38px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c5c5c8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $textColor3;
}

input:focus + .slider {
    box-shadow: 0 0 1px $textColor3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 21px;
}

.slider.round:before {
    border-radius: 50%;
}

//toggle finish
