.my-details-main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    @include min-w(769px) {
        width: 360px;
        padding-left: 0;
        padding-right: 0;
    }
}

.my-details-input-wrapper {
    width: 100%;
    padding: 0!important;

    &:nth-child(1) {
        order: 0;
    }

    &:nth-child(2) {
        order: 0;
    }

    &:nth-child(3) {
        order: 4;
    }

    &:nth-child(4) {
        order: 3;
    }

    label {
        width: 100%;
        font-weight: normal;
        font-size: 14px;
        line-height: 124% !important;
        color: #7a7a88;

        abbr {
            display: none;
        }
    }

    input {
        width: 100%;
    }

    select {
        height: 56px;
        border-radius: 8px;
        border: 1px solid #e1e1e8;
        color: $textColor;
        padding-left: 12px;
        padding-right: 12px;
    }

    .input-text {
        height: 56px;
        border-radius: 8px;
        border: 1px solid #e1e1e8;
        color: $textColor;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 22px;
        margin-top: 0;

        &::placeholder {
            color: #e1e1e8;
        }
    }
}

#gender_field {
    margin-bottom: 22px;
    order: 0;
    opacity: .9;
}

#birthday.input-text.my-details-input {
    color: $linkColor2;
    &::-webkit-calendar-picker-indicator{
        opacity: .3;
    }
}

#tel_field {
    order: 5;
}

.my-account-save-details-button {
    order: 6;
    margin: 0;
}

.my-details-input {
    height: 56px;
    border-radius: 8px;
    border: 1px solid #e1e1e8;
    color: $textColor;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 22px;
    margin-top: 0;
}

.my-details-save-details {
    margin-top: 46px;
    margin-bottom: 32px;
    width: 100%;
    height: 60px;
    background: #59af9e;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    border: none;
}

.close-account-button {
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #35353b;
    opacity: .7;
    display: block;
    order: 7;
}
