.my-account-prescriptions-wrapper {
    padding-top: 96px;
    padding-left: 15px;
    padding-right: 15px;

    @include min-w(769px) {
        max-width: 360px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}

.prescriptions-icon-wrapper {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    color: #3f3f48;
    padding-bottom: 32px;

    @include min-w(769px) {
        max-width: 360px;
        padding-left: 0;
        padding-right: 0;
    }
}

.button-add-prescriptions {
    width: 100%;
    height: 60px;
    background: #59af9e;
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    border: none;
}

.add-prescription-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;

    @include min-w(769px) {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    input {
        border-radius: 8px;
    }

    textarea {
        border-radius: 2px;
    }
}

.add-lens-form {
    padding-left: 15px;
    padding-right: 15px;

    @include min-w(769px) {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    input {
        border-radius: 8px;
    }

    textarea {
        border-radius: 2px;
    }
}

label[for=prescription_name] {
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;
    color: #7a7a88;
}

#prescription_name {
    @include min-w(769px) {
        width: 304px;
    }
}

#prescription_name-filter {
    @include min-w(769px) {
        width: 304px;
    }
}

.save-prescription-button {
    margin-top: 40px;
    margin-bottom: 32px;
    width: 100%;
    height: 60px;
    background: #59af9e;
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    border: none;

    &:disabled {
        opacity: .6;
    }

    @include min-w(769px) {
        height: 50px;
        width: 228px;
        margin-left: 132px;
    }
}

.prescriptions-cancel-button {
    width: 100%;
    //margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #35353b;
    opacity: .7;
    border: none;
    background: transparent;
    text-align: center;

    @include min-w(769px) {
        width: 116px;
        height: 50px;
        border: 1px solid $textColor4;
        border-radius: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $textColor;
        transform: translateY(-80px);
    }
}

.lens-cancel-button {
    width: 100%;
    //margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #35353b;
    opacity: .7;
    border: none;
    background: transparent;
    text-align: center;
}

.save-prescriptions-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 24px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.saved_prescription {
    margin-bottom: 24px;
    border: 1px solid #e1e1e8;
    border-radius: 8px;
    padding: 18px 17px;
    //display: flex;
    //justify-content: space-between;

    @include min-w(769px) {
        max-width: 525px;
    }

    //div:first-child {
    //    margin-right: 15px;
    //}
}

.saved-first-row {
    display: flex;
    justify-content: space-between;

    @include min-w(769px) {
        padding-bottom: 16px;
    }
}

.saved-second-row {
    display: none;
}

.mobile-button-add-prescriptions {
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #35353b;
    background: transparent;
    border: none;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    position: absolute;
    right: 0;

    @include min-w(769px) {
        display: none;
    }
}

.saved-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #35353b;
    margin: 0 0 6px;
    display: flex;

    p {
        margin: 0;
    }

    svg {
        display: none;

        @include min-w(769px) {
            display: block;
            transform: rotate(90deg);
            margin-left: 5px;
            margin-top: 6px;
            cursor: pointer;
            transition: .3s;
        }
    }
}

.saved-comment {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #7a7a88;
    margin: 0;

    @include min-w(769px) {
        padding-top: 8px;
        border-top: 1px solid #e1e1e8;
    }
}

.edit-prescriptions-button {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #35353b;
    opacity: .7;
    background: transparent;
    border: none;
    padding: 0;
}

.save-changes {
    background: #023130;
}

.desktop-button-add-prescriptions {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #023130;
    color: #023130;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    width: fit-content;
    border-radius: 30px;
    display: none;
    text-decoration: none;

    @include min-w(769px) {
        display: block;
    }
}

.prescription-table {
    position: relative;
}

.top-button {
    right: 0!important;
}

.prescription-table-item {
    width: 330px;
    margin-bottom: 18px;
}

.tab1, .tab2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.prescription-modal-button {
    position: absolute;
    width: 17px;
    height: 17px;
    //border-radius: 50%;
    //border: 2px solid $linkColor2;
    border: none;
    top: 3px;
    right: 10px;
    font-size: 10px;
    color: $linkColor2;
    background: transparent;
}

.left_eye_disabled {
    opacity: .5;
    pointer-events: none;
}

.edit-comment-display {
    display: block!important;
    margin-bottom: 0!important;

    &:after {
        display: none!important;
    }
}

.content-columns {
    .title {
        @include min-w(769px) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }

        p:last-child {
            padding-bottom: 2px;
        }

        span {
            display: none;

            @include min-w(769px) {
                display: inline-block;
            }
        }
    }
}

.wizard2 {

    @include min-w(769px) {
        border-top: 1px solid $neutralBrand;
    }
}

.prescription-pupillary {

    .pupillary-heading {
        @include min-w(769px) {
            display: none;
        }
    }
}

.pupillary-title {
    .pupillary-span {
        display: none;

        @include min-w(769px) {
            display: block;
            font-weight: normal;
            font-size: 15px;
            line-height: 140%;
            color: $linkColor2;
            opacity: .7;
        }
    }
}

#comment {
    width: 100%;
    max-width: 417px;
}

.buttons-wrapper {
    @include min-w(769px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 48px;
    }

    .save-prescription-button {
        @include min-w(769px) {
            width: 228px;
            margin-top: 0;
            margin-bottom: 0;
            height: 50px;
            background: $textColor3;
        }
    }

    .prescriptions-cancel-button {
        @include min-w(769px) {
            width: 116px;
            border: 1px solid $textColor4;
            border-radius: 8px;
            background: transparent;
            height: 50px;
            margin-right: 16px;
        }
    }
}
