.woocommerce-MyAccount-content {
    padding-bottom: 30px;
}

.order-item {
    margin-top: 24px;
    padding-left: 15px;
    padding-right: 15px;

    @include min-w(769px) {
        width: 100%;
    }
}

.order-quantity-single {
    @include min-w(769px) {
        display: none;
    }
}

.order-content {
    border: 1px solid #e1e1e8;
    border-radius: 10px;
    padding: 15px;
}

.order-heading {
    display: flex;
    margin-bottom: 24px;

    @include min-w(769px) {
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e8;
    }
}

.order-id {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #35353b;
    margin-right: 15px;
    @include min-w(768px){
        font-size: 15px;
    }
}

.order-date {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #7a7a88;
}

.order-view {
    margin-left: auto;

    a {
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #7a7a88;
        opacity: .7;
        text-decoration: none;
        @include min-w(768px){
            font-size: 15px;
        }
    }
}

.product-image {
    width: 102px;
    height: 90px;
    margin-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-info {
    width: calc(100% - 112px);

    @include min-w(769px) {
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;
    }
}

.product-name {
    margin-bottom: 4px;

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 124%;
        color: #3f3f48;
        margin: 0;
        @include min-w(768px){
            font-size: 18px;
            line-height: 140%;
        }
    }
}

.product-parameters {
    display: flex;
    //justify-content: space-between;
    margin-bottom: 24px !important  ;

    div {
        width: 50%;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #7a7a88;

        @include min-w(769px) {
            width: fit-content;
            margin-right: 10px;
            font-size: 15px;
        }

        p {
            margin: 0;
        }

        span {
            color: #3f3f48;
        }
    }
}

.product-price-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-quantity {
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #7a7a88;
}

.product-quantity-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: $textColor;
    margin: 0;
}

.product-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #35353b;

    @include min-w(769px) {
        align-items: flex-start;
        margin-left: 15px;
    }
}

.product-price-text {
    margin: 0;
    color: #373638;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.order-bottom {
    display: flex;
    justify-content: space-between;

    @include min-w(769px) {
        padding-top: 10px;
        border-top: 1px solid #e1e1e8;
    }
}

.order-bottom-text {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;
    color: #7a7a88;
    @include min-w(768px){
        font-size: 15px;
    }
}

.order-status {
    display: flex;
    align-items: center;

    svg {
        margin-left: 10px;
    }
}
