.woocommerce-MyAccount-paymentMethods {
    display: none!important;
}

.button {
    display: none!important;
}

.payment-methods-wrapper {
    padding: 36px 15px 0;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.payment-method {
    width: 100%;
    max-width: 360px;
    margin-bottom: 16px;
    border: 1px solid $neutralBrand;
    border-radius: 8px;
    padding: 20px 31px 24px 16px;
    display: flex;
    align-items: center;
}

.payment-logo {
    width: 41px;
}

.payment-info {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    .heading {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $linkColor;
    }

    .text {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: $linkColor2;
    }
}

.payment-check {
    width: 24px;
}
