.button-pdf {
    margin-right: 15px;
    background: transparent;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #35353b;

    @include min-w(769px) {
        padding: 10px 16px;
        background: #ebf2f8;
        border-radius: 30px;
    }
}

.button-pdf-desktop {
    display: none;

    @include min-w(769px) {
        display: block;
    }
}

.order-header {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @include min-w(1152px) {
        width: 40%;
        padding-left: 0;
        padding-right: 0;
    }
}

.order-product {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: flex;
    padding-top: 24px;
    margin-bottom: 32px;

    @include min-w(769px) {
        padding-bottom: 0;
        border: none;
    }
}

.woocommerce-order-details .order-product{
    border-bottom: 1px solid #e1e1e8;
}

.woocommerce-order-details .subtotal-items.mob {
    margin: 28px 14px 0;
    
    @include min-w(360px) {
        display: none;
    }
}

.woocommerce-order-details .product-info {
    flex-direction: column;

}

.subtotal-taxes p{
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #7a7a88;
    margin-bottom: 10px;
}

.order-header-item {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e8;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    @include min-w(768px){
        font-size: 15px;
    }

    p {
        margin: 0;
    }

    p:first-child {
        color: #7a7a88;
    }

    p:nth-child(2) {
        color: #35353b;
    }

    svg {
        transform: rotate(180deg);
    }

    &:first-child {
        padding-top: 25px;

        @include min-w(769px) {
            padding-top: 0;
        }
    }
}

.order-quantity {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 26px;
    margin-bottom: 16px;

    @include min-w(769px) {
        //display: none;
    }
}

.quantity-text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #3f3f48;
}

.woocommerce-order-details {
    width: 100%;
    margin-bottom: 0!important;

    h2 {
        display: none;
        // padding-left: 15px;
        // padding-right: 15px;
    }

    @include min-w(769px) {
        margin-top: 30px;
    }

    @include min-w(1152px) {
        width: calc(60% - 48px);
        height: fit-content;
        background: rgba(239, 241, 242, .3);
        margin-left: 48px;
    }
}

.woocommerce-column__title {
    padding-left: 15px;
    padding-right: 15px;
}

.woocommerce-customer-details {
    width: 100%;
}

.single-order-image {
    height: 122px;

    img {
        height: 100%;
    }
}

.product-name {
    a {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #3f3f48;
        text-decoration: none;
        @include min-w(768px){
            font-size: 20px;
            line-height: 124%;
        }
    }

    a:hover {
        color: #3f3f48;
    }
}

// .product-parameters {
//     padding-bottom: 32px;
// }

.reorder-item {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e8;

    button {
        width: 100%;
        height: 48px;
        background: transparent;
        border: 1px solid #3f3f48;
        border-radius: 10px;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #3f3f48;
    }
}

.order-address-wrapper {
    padding: 15px;

    @include min-w(769px) {
        padding-left: 0;
        padding-right: 0;
    }

    //.shipping-main {
    //    align-items: flex-start;
    //}
}

.order-total-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @include min-w(769px) {
        //padding-left: 0;
        //padding-right: 0;
    }
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 124%;
    color: #373638;
    margin-bottom: 10px;
    @include min-w(768px){
        color: $textColor;
    }
}

.subtotal-items {
    margin: 0;
    color: #373638;
    font-weight: 500;
    font-size: 18px;
    line-height: 124%;
}

.subtotal-price {
    margin: 0;
    color: #373638;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    //@include min-w(768px){
    //    font-weight: bold;
    //    font-size: 18px;
    //    line-height: 130%;
    //}
}

.subtotal-delivery {
    padding-bottom: 17px;
    border-bottom: 1px solid #e1e1e8;
}

.need-help {
    padding-top: 16px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e8;
}

.need-help-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    color: #35353b;
    opacity: .7;
    margin: 0 0 10px;
}

.need-help-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #7a7a88;
    text-decoration: none;
}

.order-item-pre {
    margin-top: 20px;
    width: 100%;
}

.order-item-pre-heading {
    margin: 0 0 17px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $linkColor2;
    cursor: pointer;
    @include min-w(768px){
        font-size: 15px;
    }

    svg {
        transform: rotate(-90deg);
        transition: .3s;
    }

    & span {
        color: $textColor4 !important;
    }
}

.lenses-configuration {
    display: none;
}

.prescription-table-item {
    width: 100%;

    tbody {
        width: 100%;
    }

    tr {
        width: 100%;
    }

    td {
        width: 16%;
        border: 1px solid #e1e1e8;
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        color: #3f3f48;
        padding: 10px 5px;
        text-align: center;

        span {
            color: #7a7a88;
        }
    }
}

.rotate-180 {
    transform: rotate(90deg) !important;
}

.rotate-270 {
    transform: rotate(270deg) !important;
}

.lenses-configuration-rows {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #7a7a88;
    margin: 0;
}

.order-single-small-heading {
    display: none;

    @include min-w(992px) {
        margin-top: 20px;
        margin-bottom: 16px;
        color: $textColor4;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
    }
}

.shipping-summary {
    border: 1px solid $neutralBrand;
    border-radius: 8px;
    padding: 20px 16px;
    margin-bottom: 16px!important;

    @include min-w(992px) {
        margin-left: 0!important;
        width: 100% !important;
        margin-bottom: 0;
    }
}

.shipping-main {
    border-radius: 8px;
    border: 1px solid $neutralBrand;
    padding: 20px 16px;
    align-items: flex-start;
}

.payment-method {
    max-width: 100% !important;
}

.woocommerce-column--billing-address {
    @include min-w(992px) {
        width: 100%!important;
    }
}

.text-small {
    margin: 0;
    overflow-wrap: break-word;
}

.subtotal-price-normal {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $linkColor2;

    //@include min-w(992px) {
    //
    //}
}

.subtotal-total-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #373638;
}
