.approach {
    max-width: 2560px;
    width: 100%;

    .element {
        padding-left: 80px;
    }

    &__banner {
        background-color: rgba(18, 18, 18, 0.9);
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: -1;

        @include max-w($screen-portrait) {
            height: 660px;
        }

        @include max-w($screen-sm) {
            height: 668px;
        }

        .page-container {
            align-items: flex-end;
        }
        .wrap {
            align-items: flex-start;
            max-width: 1480px;
            width: 100%;
            height: 335px;

            @include max-w($screen-portrait) {
                flex-direction: column;
                height: 345px;
            }

            @include max-w($screen-sm){
                height: 445px;
            }
        }

        .title-brand-color-bold {
            padding-right: 136px;
            z-index: 1;
            left: 131px;
            max-width: 270px;
            @include fluid-font(40px, 50px, 375px, 1920px);

            @include max-w($screen-portrait) {
                padding: 0;
            }

            @include max-w($screen-sm){
                margin-bottom: 23px;
            }
        }

        .typed-description-brand-color {
            @include max-w($screen-portrait) {
                padding: 0;
            }

            @include max-w($screen-sm){
               line-height: 30px;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 700px;
            background-color: rgba(18, 18, 18, 0.9);
            position: absolute;
            top: 0;
            left: -50%;
            transform: translateX(50%);

            @include max-w($screen-sm) {
                height: 668px;
            }
        }
    }

    .container {
        padding-bottom: 160px;

        @include max-w($screen-sm){
            padding: 0 2px 84px;
        }
    }

}

.service {
    width: 100%;
    background-color: $contact-bg-color;
    justify-content: space-between;
    padding: 140px 0 150px 0;
    overflow: hidden;

    @include max-w($screen-sm){
        padding: 40px 0 0;
    }

    &__wrap {
        padding-top: 70px;
        justify-content: space-between;

        @include max-w($screen-sm){
            padding-top: 34px;
        }

        &:after {
            content: '';
            display: block;
            max-width: 470px;
            width: 100%;
            @include max-w($screen-lg) {
                max-width: 400px;
            }

            @include max-w($screen-portrait) {
                flex-direction: column;
                max-width: 136px;
            }
        }
    }

    .subtitle-brand-color{
            font-weight: 400;
        @include max-w($screen-sm) {
            font-weight: 400;
            line-height: 20px;
            padding-left: 2px;
            padding-top: 5px;
            letter-spacing: 0.4px;
        }
    }

    .subtitle {
        padding-bottom: 75px;
        max-width: 1270px;
    }

    &__item {
        max-width: 470px;
        width: 100%;
        margin-bottom: 50px;
        //margin-right: 50px;
        display: flex;
        flex-direction: row;

        @include max-w($screen-lg) {
            max-width: 400px;
        }

        @include max-w($screen-portrait) {
            flex-direction: column;
            max-width: 140px;
        }

        @include max-w($screen-sm){
            margin-bottom: 54px;
        }

        @include max-w(320px){
            max-width: 125px;
        }
    }

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 136px;
        height: 136px;
        width: 100%;
        background-color: rgba(18, 18, 18, 0.2);

        @include max-w($screen-portrait){
            max-width: 120px;
            height: 120px;
        }

        @include max-w($screen-sm){
            max-width: 115px;
            height: 115px;
        }

        img{
            flex-shrink: 0;
            @include max-w($screen-sm){
                max-width: 45%;
            }
        }
    }

    &__text {
        max-width: 1140px;
        width: 100%;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include max-w($screen-portrait) {
            padding: 0 5px;
        }

        @include max-w($screen-sm) {
            padding: 5px 0 0;
        }
        @include max-w($screen-phone) {
            max-width: 380px;
        }

    }
}

.approach__our-process {
    background-color: $first-color;
    max-width: 2560px;
    width: 100%;
    padding: 140px 0;
    overflow: hidden;

    @include max-w($screen-sm){
        padding: 50px 0 0;
    }

    &--text {
        max-width: 1140px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 140px;

        @include max-w($screen-tablet-landscape) {
            max-width: 800px;
            padding: 0;
        }
    }

    .title-brand-color-bold{
        margin-bottom: 12px;
    }

    .subtitle-brand-color{
        @include fluid-font(15px, 32px, 320px, 1920px);
        font-family: $font-family;

        @include max-w($screen-sm){
            line-height: 20px;
            letter-spacing: 0.4px;
            padding: 0 2px 47px;
        }

    }
}

.approach__alignment {
    width: 100%;
    min-height: 724px;
    position: relative;
    overflow: hidden;

    @include max-w($screen-sm){
        min-height: 500px;
    }


    &--overlay {
        height: 724px;
        width: 60%;
        background-color: $contact-bg-color;
        justify-content: center;
        padding-left: 124px;

        @include max-w($screen-xl) {
            padding-left: 70px;
        }

        @include max-w($screen-md){
            height: 580px;
        }

        @include max-w(1152px) {
            width: 100%;
            justify-content: flex-start;
        }

        @include max-w($screen-portrait) {
            padding: 0 23px;
        }

        @include max-w($screen-sm){
            height: 340px;
            padding-top: 30px;
        }
    }

    &--text {
        max-width: 600px;

        @include max-w($screen-xl) {
            max-width: 500px;
        }
        @include max-w($screen-lg) {
            max-width: 450px;
        }

        @include max-w($screen-md) {
            max-width: 410px;
        }

        @include max-w($screen-phone) {
            max-width: 380px;
        }
    }

    &--image {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 873px;
        width: 100%;
        display: block;

        @include max-w($screen-xl) {
            width: 60%;
        }

        @include max-w($screen-lg) {
             width: 55%
         }

        @include max-w($screen-md) {
           top: 41%;
        }

        @include max-w(1152px) {
            width: 90%;
            left: 50%;
            transform: translate(-50%);
        }

        @include max-w($screen-sm){
            top: 60%;
            width: 92%;
        }
    }

    .second-title-brand-color {
        margin-bottom: 29px;
        @include fluid-font(18px, 44px, 320px, 1920px);

        @include max-w($screen-sm){
            letter-spacing: 0.5px;
        }
    }

    .fourth-description-brand-color{
        letter-spacing: 0.1px;
    }
}

.finance {
    overflow: hidden;
    padding: 175px 0 225px;
    position: relative;

    @include max-w($screen-tablet-landscape) {
        padding: 225px 0;
    }

    @include max-w($screen-portrait){
        padding: 100px 0;
    }

    @include max-w($screen-sm){
        padding: 65px 0 40px;
    }

    &__text {
        padding-left: 128px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1140px;
        color: white;

        @include max-w($screen-lg) {
            max-width: 900px;
        }

        @include max-w($screen-md) {
            max-width: 800px;
            padding-left: 60px;
        }

        @include max-w($screen-tablet-landscape) {
            max-width: 600px;
            padding: 0;
        }

        p{
            @include fluid-font(13px, 20px, 320px, 1920px);

            @include max-w($screen-sm){
                line-height: 16px;
                margin: 10px 0;
            }
        }
    }

    .title-brand-color-bold{

        @include max-w($screen-portrait){
           display: none;
        }

        &-mobile{
            @include max-w($screen-portrait){
                display: block;
                padding-left: 30px;
            }

            @include max-w($screen-sm){
                padding-left: 23px;
                padding-top: 10px;
                letter-spacing: 0.1px;
            }
        }
    }



    &__item {
        display: flex;
        flex-direction: row;
        font-family: $font-family;

        @include max-w($screen-portrait) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__icon {
        max-width: 280px;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include max-w($screen-portrait){
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-width: 500px;
            width: 100%;
            padding-bottom: 30px;
        }

        @include max-w($screen-sm){
            padding-bottom: 0;
        }

        img {

            max-width: 280px;
            width: 100%;
            @include max-w($screen-md) {
                width: 90%;
            }

            @include max-w($screen-md) {
                width: 70%;
            }

            @include max-w($screen-portrait){
                width: 40%;
            }

            @include max-w($screen-sm){
                width: 30%;
            }
        }
    }
}

.timing {
    background-color: $contact-bg-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    overflow: hidden;

    @include max-w($screen-portrait){
        padding-bottom: 550px;
    }

    @include max-w($screen-sm){
        padding-bottom: 230px;
    }

    ul {
        padding-left: 0;

        p{
            margin: 0;
        }
    }

    li{

        list-style-position: inside;
    }

    &__image {
        max-width: 570px;
        width: 100%;
        position: absolute;
        left: 132px;
        top: 50%;
        transform: translateY(-50%);

        @include max-w($screen-tablet-landscape){
            left: 70px;
        }

        @include max-w(992px){
            max-width: 530px;
            width: 100%;
        }

        @include max-w(920px){
            max-width: 500px;
            width: 100%;
        }

        @include max-w($screen-portrait){
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include max-w($screen-sm){
            width: 85%;
            top: 60%;
        }


        img {
            @include max-w($screen-lg) {
                width: 90%;
            }

            @include max-w($screen-md) {
                width: 80%;
            }

            @include max-w(1152px){
                width: 79%;
            }

            @include max-w($screen-portrait){
                width: 100%;
            }


        }
    }

    &__item {
        background-color: $fourth-color;
        max-width: 1090px;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include max-w($screen-lg) {
            width: 65%;
        }

        @include max-w($screen-portrait){
            max-width: 800px;
            width: 100%;
            align-items: flex-start;
        }

        &--inner {
            max-width: 770px;
            width: 100%;
            padding: 150px 0 150px 180px;

            @include max-w($screen-xl) {
                padding: 150px 0 150px 225px;
            }

            @include max-w($screen-lg) {
                padding: 150px 15px 150px 250px;
            }

            @include max-w($screen-md) {
                padding: 100px 15px 100px 250px;
            }

            @include max-w(1152px){
                max-width: 530px;
                padding: 100px 15px 100px 230px;
            }

            @include max-w($screen-tablet-landscape){
                max-width: 520px;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 100px 0 100px 170px;
            }

            @include max-w(992px){
                padding: 65px 0 65px 170px;
            }

            @include max-w($screen-portrait){
                padding: 100px 30px;
            }

            @include max-w($screen-sm){
                padding: 25px 27px 97px;
            }
        }
    }

    .second-title{

        @include max-w($screen-sm){
        margin-bottom: 28px;
        }
    }

    .description{

        @include max-w($screen-sm){
        line-height: 17px;
        letter-spacing: 0.3px;
        }

        ul{
            @include max-w($screen-sm){
                padding: 15px 0 0 14px;
            }
        }
    }
}

.fit {
    padding: 150px 0 215px;

    @include max-w($screen-portrait){
        padding: 100px 0;
    }

    @include max-w($screen-sm){
        padding: 85px 0 80px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include max-w($screen-portrait) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .second-title-brand-color{
        @include max-w($screen-portrait){
            display: none;
        }
    }

    .title-brand-color-bold-mobile{

        @include max-w($screen-portrait){
            display: block;
            padding-left: 23px;
            padding-top: 27px;
        }
    }

    &__icon {
        max-width: 306px;
        width: 100%;
        flex-shrink: 0;

        @include max-w($screen-portrait){
            order: -1;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 23px;
        }

        img {
            @include max-w($screen-portrait){
                width: 60%;
            }

            @include max-w($screen-sm){
                width: 33%;
            }
        }
    }

    &__text {
        padding-right: 80px;

        @include max-w($screen-sm){
            padding: 0;
        }
    }

    .fourth-description-brand-color {

        @include max-w($screen-sm){
            line-height: 16px;
        }

    }
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include max-w($screen-portrait){
        flex-direction: column;
    }
}

.process {
    width: 50%;
    background-color: $fourth-color;
    margin-right: 47px;
    min-height: 850px;
    padding: 120px 125px;

    @include max-w($screen-lg){
        padding: 120px 125px 120px 105px;
    }

    @include max-w(1152px){
        min-height: 600px;
        margin-right: 20px;
        padding: 70px;
    }

    @include max-w($screen-portrait){
        width: 100%;
        min-height: auto;
        margin:  0 0 50px;
    }

    @include max-w($screen-sm){
        padding: 23px 24px 37px;
    }

    .second-title{
        @include max-w($screen-sm){
            margin-bottom: 28px;
            letter-spacing: 0.7px;
        }
    }

    .description{
        @include max-w($screen-sm){
            line-height: 17px;
            letter-spacing: 0.4px;
        }
    }
}

.valuation {
    width: 50%;
    min-height: 850px;
    background-color: #002b58;
    padding: 120px 125px;

    @include max-w(1152px){
        min-height: 600px;
        margin: 0;
        padding: 70px;
    }

    @include max-w($screen-portrait){
        width: 100%;
        min-height: auto;
        margin: 0;
    }

    @include max-w($screen-sm){
        padding: 25px 24px 37px;
    }

    .second-title{

        @include max-w($screen-sm){
            margin-bottom: 30px;
            letter-spacing: 0.7px;
        }
    }

    .description{
        color: $brand-color;

        p{
            margin-bottom: 16px;
        }

        @include max-w($screen-sm){
            line-height: 16px;
            letter-spacing: 0.4px;
        }

    }
}

.structure {
    padding: 180px 0 202px;

    @include max-w($screen-portrait){
        padding: 82px 0 100px;
    }

    @include max-w($screen-sm){
        padding: 82px 0 65px;
    }

    &__text {
        padding-left: 128px;
        max-width: 1080px;

        @include max-w($screen-portrait){
            padding-left: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;

        @include max-w($screen-portrait){
            flex-direction: column;
        }
    }

    &__icon {
        max-width: 278px;
        width: 100%;
        flex-shrink: 0;

        @include max-w($screen-portrait){
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 30px;
        }

        @include max-w($screen-sm){
            padding-bottom: 20px;
        }

        img {
            @include max-w($screen-portrait){
                width: 60%;
            }

            @include max-w($screen-sm){
                width: 36%;
            }
        }
    }

    .second-title-brand-color{
        @include max-w($screen-portrait){
            display: none;
        }

        &-mobile{
            @include max-w($screen-portrait){
                display: block;
                padding-left: 30px;
            }
        }
    }

    .second-title-brand-color-mobile{
        @include fluid-font(19px, 44px, 320px, 1920px);
        padding: 31px 26px 10px;
    }
}

.diligence {
    min-height: 724px;
    background-color: #002b58;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 132px 104px 132px 128px;

    @include max-w($screen-tablet-landscape){
        padding: 132px 70px 132px 70px;
    }

    @include max-w($screen-portrait){
        flex-direction: column;
        padding: 70px 30px;
    }

    @include max-w($screen-sm){
        padding: 28px 24px;
        justify-content: flex-start;
        min-height: 570px;
    }

    &__image {

        @include max-w($screen-xl) {
            width: 55%;
        }

        @include max-w($screen-portrait){
            max-width: 650px;
            width: 100%;
        }
    }

    &__text {
        max-width: 40%;
        display: flex;
        flex-direction: column;

        @include max-w($screen-lg) {
            max-width: 450px;
        }

        @include max-w($screen-md){
            max-width: 380px;
        }

        @include max-w($screen-tablet-landscape){
            max-width: 340px;
        }

        @include max-w($screen-portrait){
            max-width: 800px;
            width: 100%;
            padding-bottom: 50px;
        }

        @include max-w($screen-sm){
            padding-bottom: 30px;
        }
    }

    .second-title-brand-color{
        @include fluid-font(19px, 44px, 320px, 1920px);
        margin-bottom: 15px;
    }
}

.about-container {
    padding: 215px 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    @include max-w($screen-tablet-landscape){
        padding: 100px 0;
    }

    @include max-w($screen-portrait){
        flex-direction: column;
    }

    @include max-w($screen-sm){
        padding: 49px 0 35px;
    }

    .second-title-brand-color{
        @include max-w($screen-sm){
            @include fluid-font(19px, 44px, 320px, 1920px);
            margin-bottom: 34px;
        }
    }
}

.risk, .contracts {
    width: 45%;
    padding-right: 52px;
    position: relative;

    @include max-w($screen-portrait){
        width: 100%;
    }

    @include max-w($screen-sm){
        padding: 0;
    }
}

.risk__text, .contracts__text {
    max-width: 800px;

    @include max-w($screen-xl) {
        max-width: 600px;
    }

    @include max-w($screen-sm){
        margin-bottom: 52px;
    }
}

.closing {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 678px;

    @include max-w($screen-lg){
        height: 600px;
    }

    @include max-w($screen-tablet-landscape){
        height: 540px;
    }

    @include max-w($screen-sm){
        height: 531px;
    }

    &__image {
        max-width: 858px;
        width: 100%;
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include max-w(1152px){
            max-width: 700px;
        }

        @include max-w($screen-portrait){
            bottom: -120px;
        }

        @include max-w($screen-sm){
            bottom: 65px;
        }

        img {
            @include max-w($screen-xl) {
                max-width: 80%;
            }

            @include max-w($screen-md){
                max-width: 70%;
            }

            @include max-w(1366px){
                max-width: 65%;
            }

            @include max-w($screen-tablet-landscape){
                max-width: 60%;
            }

            @include max-w($screen-portrait){
                max-width: 600px;
                width: 91%
            }
        }
    }

    &__item {
        max-width: 1018px;
        width: 100%;
        height: 678px;
        flex-shrink: 0;
        background-color: $fourth-color;
        position: absolute;
        top: 0;
        right: 0;

        @include max-w($screen-lg){
            height: 600px;
        }

        @include max-w($screen-tablet-landscape){
            height: 540px;
        }

        @include max-w($screen-sm){
            height: 390px;
        }
    }

    &__text {
        padding: 180px 135px 0 342px;

        @include max-w($screen-lg) {
            padding: 180px 70px 0 530px;
        }

        @include max-w($screen-md) {
            padding: 180px 70px 0 550px;
        }

        @include max-w($screen-tablet-landscape){
            padding: 180px 70px 0 540px;

        }

        @include max-w($screen-portrait){
            padding: 70px 30px;
        }

        @include max-w($screen-sm){
            padding: 26px 25px 15px;
        }
    }

    .second-title{
        @include max-w($screen-sm){
            margin-bottom: 30px;
        }
    }

    .description{

        p{
            margin-bottom: 19px;
        }
        @include max-w($screen-sm){
            line-height: 15px;
            letter-spacing: 0.4px;
        }
    }
}

