.page-main {
    z-index: 0;
    position: relative;
}

.blog-page {
    position: relative;
    z-index: -1;
    background-color: #111111;

    .blog__banner {
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: -1;

        .page-container {
            align-items: flex-end;
        }
        .wrap {
            align-items: flex-start;
            max-width: 1480px;
            width: 100%;
            min-height: 375px;

            @include max-w($screen-portrait) {
                flex-direction: column;
                height: 345px;
            }
        }

        .title-brand-color-bold {
            padding-right: 136px;
            max-width: 480px;
            width: 100%;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 700px;
            background-color: rgba(0, 43, 88, 0.9);
            position: absolute;
            top: 0;
            left: 0;
        }

        .title-brand-color-bold {
            z-index: 1;
        }

    }

    .post {

        &__item {
            margin-bottom: 70px;
            margin-right: 0;

            @include max-w ($screen-sm) {
                max-width: 315px;
                padding: 32px 20px 0 24px;
                margin-right: 25px;
                height: 461px;
            }
        }

        &__title {
            padding-bottom: 35px;
            color: #121212;
        }

        &__date {
            color: #121212;
            font-family: $font-family;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 35px;
        }
    }
    .container {
        justify-content: space-between;

        @include max-w(480px) {
            justify-content: center;
        }
    }

    .article-container {
        padding: 125px 0 115px;
    }

    .title {
        margin: 0;
    }
}

.article-section {
    background-color: #fff;
}

//event section

.event-section {
    width: 100%;
    background-color: #111111;
    padding: 0;
    margin: 0;

    .title-brand-color {
        margin: 70px 0;
    }
}

.text-info {
    padding-left: 55px;
    max-width: 1020px;
    color: #aaaaaa;
    font-family: $second-font;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include max-w(768px){
        padding-left: 0;
    }

}

.event {
    z-index: 10;
    &-item {
        display: flex;
        flex-direction: row;
        padding-bottom: 130px;

        @include max-w(768px){
            flex-wrap: wrap;
            justify-content: center;
        }

        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 350px;
            width: 100%;
            @include max-w(992px){
                width: 60%;
            }
            @include max-w(768px){
                padding-bottom: 30px;
            }

            @include max-w(480px){
                width: 100%;
            }
        }
    }

    &-title {
        font-family: $font-family-bold;
        font-size: 36px;
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 0 27px;
    }

    &__date {
        padding-left: 20px;
        margin: 8px 0;
    }

    &__address {
        padding-left: 20px;
        margin: 8px 0;
    }

    &__description {
        max-width: 860px;
    }

    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center
    }
}


