//First screen style
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(17, 17, 17) ;
    padding: 0;
    margin: 0;

    &:after {
        content: '';
        display: block;
        background-color: rgba(17, 17, 17, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        @include max-w(680px){
            display: none;
        }
        @include max-h(480px){
            display: none;
        }

        @include max-w($screen-xs){
            position: absolute;
            top: 0;
            left: 0;
            height: 700px;
        }
    }
    .fullscreen-bg__video {
        min-height: 100vh;
    }

    .fp-tableCell {
        width: 100%;

    }

    .page-container {
        justify-content: center;
        z-index: 1;
        position: relative;

        @include max-w($screen-tablet-landscape){
            padding-left: $large-padding;
            padding-right: $large-padding;
        }

        @include max-w ($screen-xs) {
            justify-content: flex-start;
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .main-title-brand-color {
        padding-top: 70px;
        max-width: 1020px;
        width: 100%;

        @include max-w($screen-xl) {
            padding-top: 170px;
            max-width: 950px;
        }

        @include max-w($screen-lg){
            max-width: 890px;
            width: 100%;
            padding-top: 170px;
        }

        @include max-w(1366px){
            max-width: 850px;
            width: 100%;

        }

        @include max-w($screen-md){
            max-width: 810px;
            width: 100%;
            padding-top: 170px;
        }


        @include max-w ($screen-sm) {
            width: 180px;
            line-height: 60px;
        }
    }

    .main-subtitle-brand-color {
        max-width: 1040px;
        width: 100%;

        @include max-w($screen-xl){
            max-width: 950px;
        }

        @include max-w($screen-lg){
            max-width: 890px;
            width: 100%;
        }

        @include max-w(1366px){
            max-width: 850px;
            width: 100%;
        }

        @include max-w($screen-md){
            max-width: 810px;
            width: 100%;
        }

        @include max-w ($screen-sm) {
            padding-top: 16px;
            letter-spacing: 2px;
            line-height: 28px;
            max-width: 270px;
        }
    }

    .touch_button {

        @include max-w($screen-sm) {
            height: 52px;
            width: 225px;
        }
    }
}

//Intro section style
.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include max-w(992px) {
            flex-direction: column;

        }
    }
}

.left-bar {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    padding-right: 225px;
    width: 50%;

    @include max-w($screen-xl) {
        padding-left: $large-padding;
        padding-right: 175px;
    }

    @include max-w($screen-lg){
        padding-right: 75px;
    }

    @include max-w(1366px){
        padding-right: 40px;
    }

    @include max-w($screen-md) {
        padding-right: 0;
    }

    @include max-w(992px) {
        width: 100%;
        height: 50%;
        padding-left: $large-padding;
        padding-right: $large-padding;
    }

    @include min-w-h ($screen-sm, $screen-phoneX) {
        width: 100%;
        height: 50%;
        padding-top: 65px;
        padding-bottom: 50px;
        margin: 0;
        justify-content: flex-start;
    }

    &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.4s;
    }

    .inner {
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        height: 525px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max-w($screen-xl){
            max-width: 543px;
        }

        @include max-w($screen-md) {
            height: 430px;
        }

        @include max-w(992px) {
            height: auto;
            margin: 0;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            height: auto;
        }

        &__text {
            margin-bottom: 20px;
        }
    }

    .title-brand-color {
        @include max-w($screen-sm) {
            line-height: 31px;
            letter-spacing: 1.6px;
        }
    }

    .description-brand-color {
        @include max-w($screen-sm) {
            padding-top: 6px;
            letter-spacing: 0.3px;
            line-height: 20px;
        }
    }
}

.right-bar {
    padding-left: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    width: 50%;

    @include max-w($screen-xl) {
        padding-left: $large-padding;
        padding-right: $large-padding;
    }

    @include max-w($screen-md) {
        padding-right: 85px;
    }

    @include max-w(992px) {
        width: 100%;
        height: 50%;
        padding-left: $large-padding;
        padding-right: $large-padding;
    }

    @include min-w-h ($screen-sm, $screen-phoneX) {
        width: 100%;
        height: 50%;
        padding-top: 82px;
        padding-bottom: 50px;
        margin: 0;
        justify-content: flex-start;
    }

    &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.4s;
    }

    .inner {
        max-width: 545px;
        width: 100%;
        height: 525px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @include max-w($screen-md) {
            height: 430px;
        }

        @include max-w(992px) {
            height: auto;
        }

        @include max-w($screen-sm) {
            height: auto;
        }

        .touch_button {
            position: absolute;
            bottom: 0;
            left: 0;

            @include max-w(992px) {
                position: relative;
            }
        }

        &__text {
            margin-bottom: 20px;
        }

        .title-brand-color {
            @include max-w($screen-sm) {
                line-height: 31px;
                letter-spacing: 1.6px;
            }
        }

        .description-brand-color {
            @include max-w($screen-sm) {
                padding-top: 6px;
                letter-spacing: 0.3px;
                line-height: 20px;
            }
        }
    }
}

.left-bar {
    margin-right: auto;
    order: -1;

    &:after {
        background-color: rgba(17, 17, 17, 0.8);
    }
}

.right-bar {
    &:hover {
        cursor: pointer;
        &:after {
            background-color: rgba(0, 43, 88, 0.8);
        }

        + .left-bar {
            &:after {
                background-color: rgba(17, 17, 17, 1);
            }
        }
    }
    &:after {
        background-color: rgba(0, 43, 88, 1);
    }
}

//WHAT SETS US APART style
.sets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include max-w($screen-portrait){
        justify-content: center;
    }

    .title {
        padding-top: 94px;

        @include max-w($screen-xl) {
            padding-top: 35px;
        }

        @include max-w(480px) {
            top: 1%;
            padding-top: 0;
            display: block;
            width: 100%;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            position: relative;
            padding: 72px 0 0;
            margin: 0;
        }
    }

    &__container {
        align-self: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 252px;



        @include max-w($screen-xl) {
            padding-top: 50px;
        }

        @include max-w($screen-md) {
            padding-top: 40px;
        }

        @include max-w(992px) {
            flex-wrap: wrap;
        }

        @include max-w($screen-sm) {
            padding-top: 38px;
        }

        @include max-w(360px){
            align-items: center;
            flex-direction: column;
        }
    }


    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .page-container {
        @include max-w($screen-xl) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        @include max-w($screen-tablet-landscape) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 375px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include max-w($screen-tablet-landscape) {
            max-width: 310px;
            width: 100%;
        }

        @include max-w(992px) {
            flex-direction: row;
            max-width: 900px;
            width: 100%;
            justify-content: flex-start;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            padding-top: 18px;
            margin-bottom: 35px;
        }

        @include max-w(360px){
            flex-direction: column;
            align-items: center;
            padding-bottom: 40px;
        }

    }

    &__text {
        display: flex;
        flex-direction: column;

        @include max-w(992px) {
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            padding-left: 50px;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            padding-left: 25px;
        }

        @include max-w(360px){
            align-items: center;
            padding: 0;
            text-align: center;
        }
    }
    &__image {
        max-width: 210px;
        max-height: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-self: center;
        padding-bottom: 80px;

        @include max-w(360px){
            padding-bottom: 30px;
        }

        img{
            @include max-w($screen-lg) {
                width: 75%;
            }

            @include max-w($screen-md){
                width: 67%;
            }

            @include max-w($screen-tablet-landscape){
                width: 54%;
            }

            @include max-w($screen-portrait){
                width: 100%;
            }
        }

        @include max-w(992px) {
            justify-content: flex-start;
            max-width: 88px;
            max-height: 170px;
            flex-shrink: 0;
        }
    }

    .subtitle {
        margin: 0 0 5px;
    }
}

//recent_transactions style
.recent_transactions {
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include max-w(480px){
        justify-content: center;
    }

    .page-container {
        align-items: center;
        overflow: hidden;

        @include max-w($screen-xl) {
            justify-content: space-around;
        }

        @include max-w(1024px){
            padding-right: 0;
        }
    }

    .title-brand-color {

        @include fluid-font(25px, 50px, 320px, 1920px);
        align-self: center;
        padding: 72px 0 68px;
        line-height: 44px;

        @include max-w($screen-xl) {
            padding: 0;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            width: 100%;

            letter-spacing: 1px;
            padding: 50px 0;
        }
    }

    .nav-container {
        @include max-w($screen-portrait) {
            display: none;
        }
    }

    .fp-tableCell {
        width: 100%;
    }

    .container {
        width: 100%;
        justify-content: space-between;
    }

    .slick-slide {
        margin: 0 27px;

        @include max-w(480px){
            margin: 0 27px;
        }

    }
    /* the parent */
    .slick-list {
        margin: 0 -27px;

        @include max-w($screen-tablet-landscape){
            padding-right: 85px;
        }

        @include max-w(480px){
            margin: 0 -27px;
            padding-right: 80px;
        }


        @include max-w(320px){
            padding-right: 15px;
        }
    }

    .wrap {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .read-more{
        padding-bottom: 35px;
    }
}

.transactions {
    overflow: hidden;

    &__inner {
        outline:none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        color: $third-color;
        font-family: $second-font-bold;
        font-size: 18px;
        font-weight: 700;
        transition: 0.4s;
        margin: 63px 0;
        text-align: center;
        padding: 0 5px;

        @include max-w($screen-xl) {
            margin: 30px 0;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            margin: 35px 0;
        }
    }

    &__date {
        color: $third-color;
        font-family: $second-font-bold;
        font-size: 15px;
        font-weight: 700;
        transition: 0.4s;
        margin: 65px 0 0;

        @include max-w($screen-xl) {
            margin: 30px 0;
        }
        @include min-w-h ($screen-sm, $screen-phoneX) {
            margin: 35px 0;
        }
    }

    &__recommendation {
        color: $second-color;
        font-family: $second-font;
        font-size: 17px;
        font-weight: 400;
        width: 100%;
    }

    &__info{
        opacity: 0;
        position: absolute;
        top: 34px;
        left: 50px;
        transition: 0.3s;
        color: $fourth-color;
        font-family: $font-family;
        text-transform: uppercase;
        line-height: 35px;
        @include fluid-font(11px, 20px, 320px, 1920px);

        @include max-w(1280px){
            left: 35px;
        }
    }

    &__item {
        position: relative;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 75px 15px 35px;
        max-width: 100%;
        width: 100%;
        background-color: $fourth-color;
        cursor: pointer;
        transition: 0.4s;
        height: 503px;

        @include max-w($screen-xl) {
            height: 432px;
        }

        @include max-w($screen-lg) {
            padding: 35px 15px 15px;
        }

        @include max-w(1366px) {
            height: 340px;
        }

        @include max-w(480px){
            padding: 75px 15px 35px;
            height: 432px;
        }

        &--image {
            max-width: 55%;
            padding-left: 2px;
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include max-w($screen-md){
                height: 70px;
            }
        }

        &--logo {
            max-width: 50%;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include max-w($screen-md){
                height: 55px;
            }
        }

        &:hover {

            @include min-w(1025px) {

                border: 1px solid $main-border-color;
                background-color: #111111;

                .transactions {
                    transition: 0.3s;
                    &__item--image, &__item--logo, &__description, &__date {
                        transition: 0.3s;
                        opacity: 0;
                    }
                }

                ~ .transactions__recommendation {
                    color: $fourth-color;
                }

                .transactions__info {
                    opacity: 1;
                }

            }
        }
    }

    .read-more{

        @include max-w(480px){
            padding-bottom: 35px;
        }

    }

}

.transactions_show_info {
    border: 1px solid $main-border-color !important;
    background-color: #111111 !important;

    .transactions__item--image, .transactions__item--logo, .transactions__description, .transactions__date {
        opacity: 0;
    }

    .transactions__recommendation {
        color: $fourth-color;
    }

    .transactions__info {
        opacity: 1;
    }
}

//team style
.team {
    width: 100%;
    background-color: #002b58;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @include max-w($screen-xl) {
        padding: 0;
        justify-content: space-around;
    }

    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include max-w($screen-lg) {
            align-items: flex-start;
        }

        @include max-w($screen-md) {
            padding: 0;
            justify-content: space-around;
        }

        @include max-w($screen-sm) {
            align-items: flex-start;
        }
    }

    &__card {
        width: 100%;
        max-width: 375px;

        @include max-w($screen-xl) {

            padding-bottom: 10px;
        }

        @include max-w($screen-lg){
            padding-bottom: 0;
        }

        @include max-w($screen-sm) {
            max-width: 300px;
            width: 300px;
            padding-top: 7px;
            padding-right: 30px;
            padding-left: 1px;
        }

        @include max-w (320px){
            width: 290px;
            padding: 0;
        }

        a:hover {
            color: $fourth-color;
        }
    }

    &__name {
        text-transform: uppercase;
        margin-bottom: 0;
        @include fluid-font(18px, 30px, 375px, 1920px);
        letter-spacing: 0.7px;

    }

    &__position {
        text-transform: uppercase;
        @include fluid-font(14px, 18px, 375px, 1920px);
        margin: 24px 0;

        @include max-w($screen-lg) {
            margin: 10px 0;
        }
        @include max-w($screen-tablet-landscape){
            margin: 5px 0;
        }

        @include max-w($screen-sm) {
            margin: 13px 0;
        }
    }

    &__mail {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include max-w(1366px){
            padding-bottom: 2px;
        }

        @include max-w($screen-sm) {
            padding-bottom: 20px;
        }
        @include max-w (320px){
            width: 290px;

        }

        img {
            @include max-w($screen-sm) {
                width: 12px;
                height: 8px;
                margin-bottom: 0;
            }
        }

        @include max-w($screen-sm) {
            font-size: 13px;
            letter-spacing: 0.1px;
        }
    }

    &__description {
        color: $fourth-color;
        font-family: $second-font;
        font-size: 17px;

        @include max-w(1366px){
            margin-bottom: 0;
        }
        @include max-w(992px) {
            height: 40px;
            overflow: hidden;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            line-height: 16px;
            margin-top: 21px;
            letter-spacing: 0.1px;
            font-size: 13px;
            height: auto;
        }
    }

    &__details {
        position: absolute;
        right: 19px;
        bottom: 20px;
        height: 93px;
        width: 93px;
        background-color: #002b58;
        opacity: 0.8;
        padding: 30px;
        fill: #fff;
        cursor: pointer;
        transition: 0.3s;
        overflow: hidden;

        @include max-w($screen-lg) {
            max-width: 100%;
            height: 80px;
            width: 80px;
            padding: 30px;
            right: 10px;
            bottom: 10px;
            transition: 0.3s;
        }

        @include max-w($screen-sm) {
            height: 68px;
            width: 68px;
            right: 13px;
            bottom: 14px;
        }

        svg {
            width: 34px;
            height: 34px;
            position: absolute;
            right: 30px;
            padding-top: 4px;

            @include max-w($screen-lg){
                padding-top: 0;
                right: 23px;
                padding-bottom: 2px;
            }

            @include max-w($screen-md) {
                right: 23px;
                bottom: 18px;
            }

            @include max-w($screen-sm) {
                right: 17px;
                bottom: 13px;
            }
        }
    }

    &__full-profile {
        font-family: $second-font;
        @include fluid-font(14px, 18px, 375px, 1920px);
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        left: -155px;
        top: 17px;
        transition: 0.3s;

        @include max-w($screen-lg){
            margin: 15px 0 0;
            transition: 0.2s;
        }

        @include max-w($screen-sm){
            margin: 10px 0 0;
        }
    }

    &__photo {
        position: relative;
        cursor: pointer;
        width: 100%;

        &:hover {
            .team__details {
                width: 90%;
                opacity: 1;

                @include max-w($screen-lg){
                    width: 94%;
                }

                @include max-w(600px){
                    width: 91%;
                }


                .team__full-profile {
                    left: 65px;
                    color: #fff;

                    @include max-w($screen-xl){
                        left: 40px;
                    }

                    @include max-w($screen-lg) {
                        left: 25px;
                    }
                }
            }
        }
    }

    .page-container {
        height: auto;
        flex-direction: row;

        @include max-w($screen-xl){
            padding-top: 10px;
        }

        @include max-w(1366px){
            padding-top: 0;
        }

        @include max-w($screen-tablet-landscape) {
            justify-content: flex-start;
            flex-direction: column;
            padding-right: 0;
        }
    }

    .container {
        width: 100%;
        justify-content: space-between;
        padding-bottom: 80px;
        overflow: hidden;

        @include max-w($screen-xl) {
            padding-bottom: 0;
        }

    }

    .title-brand-color {
        padding-top: 133px;
        padding-right: 30px;
        @include fluid-font(25px, 50px, 320px, 1920px);

        @include max-w($screen-tablet-landscape) {
            padding-top: 0;
            margin: 5px 0;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            width: 100%;
            letter-spacing: 1px;
            padding: 40px 0;
        }
    }

    .read-more__container{
        max-width: $container-width;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $container-padding;
        padding-right: $container-padding;

        @include max-w($screen-xl){
            max-width: 88%;
        }

        @include max-w($screen-tablet-landscape){
            padding-left: $large-padding;
            padding-right: 0;
            max-width: 100%;
        }

        @include max-w(480px){
            padding-bottom: 35px;
        }
    }

    .slick-slide {
        margin: 0 100px;


        @include max-w($screen-xl){
            margin: 0 60px;
        }

        @include max-w($screen-lg){
            margin: 0 35px;
        }

        @include max-w(480px){
            margin: 0;
        }

        @include max-w(320px){
            margin: 0 15px;
        }
    }

    .slick-list {
        margin: 0 -100px;

        @include max-w($screen-xl){
            margin: 0 -60px;
        }

        @include max-w($screen-lg){
            margin: 0 -35px;
        }

        @include max-w($screen-tablet-landscape){
            padding-right: 100px;
        }

        @include max-w(480px){
            margin: 0;
            padding-right: 30px;
        }

        @include max-w(320px){
            padding-right: 15px;
            margin: 0 -15px;
        }

    }
}

//testimonial style
.testimonial {
    width: 100%;
    background-color: #111111;
    align-items: center;
    position: relative;

    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include max-w(480){
            justify-content: flex-start !important;
        }
    }

    &-inner{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include max-w($screen-xl){
            justify-content: center;
            width: 88%;
        }

        @include max-w($screen-tablet-landscape){
            width: 100%;
        }

        @include max-w($screen-sm){
            justify-content: flex-start;
        }
    }

    .container {
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__wrap {
        max-width: 1690px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;

        @include max-w($screen-xl){
            padding-top: 150px;
        }

        @include max-w($screen-lg){
            padding-top: 0;
        }

        @include max-w($screen-tablet-landscape){
            padding-left: $large-padding;
            padding-right: $large-padding;
        }
    }

    .title-brand-color {
        text-align: center;
        letter-spacing: 0.6px;
        @include fluid-font(27px, 50px, 375px, 1920px);
        padding-top: 8px;

        @include max-w ($screen-sm) {
            padding-top: 186px;

        }
    }

    .page-container {
        justify-content: space-between;
    }

    &__item {
        padding-top: 184px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        @include max-w($screen-xl) {
            padding-top: 0;
        }

        @include max-w($screen-lg) {
            padding-top: 84px;
        }

        @include max-w($screen-md) {
            padding-top: 50px;
        }
        @include min-w-h ($screen-sm, $screen-phoneX) {
            padding-top: 76px;
        }
    }

    &__name {
        text-align: center;
        color: $fourth-color;
        font-family: $font-family;
        @include fluid-font(22px, 30px, 375px, 1920px);
        text-transform: uppercase;

        @include min-w-h ($screen-sm, $screen-phoneX) {
            letter-spacing: 0.5px;
        }
    }

    &__comment {
        opacity: 0.8;
        color: $fourth-color;
        font-family: $second-font;
        @include fluid-font(15px, 21px, 375px, 1920px);
        text-align: center;
        max-width: 370px;

        @include min-w-h ($screen-sm, $screen-phoneX) {
            letter-spacing: 0.1px;
            margin-top: 5px;
            line-height: 18px;
        }
    }

    &__brand {
        padding-top: 40px;

        img {
            margin-left: 50%;
            transform: translateX(-50%);

            @include min-w-h ($screen-sm, $screen-phoneX) {
                max-width: 157px;
            }
        }
    }

    .figure {
        max-width: 269px;
        width: 100%;
        height: 221px;
        position: absolute;
        left: 132px;
        top: 158px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include max-w($screen-lg) {
            width: 158px;
            left: 30px;
            top: 89px;
            display: block;

        }
    }
}

//Blog-post style
.recent_post {
    width: 100%;
    position: relative;
    overflow: hidden;

    .title {
        padding-top: 57px;

        @include max-w($screen-xl) {
            padding-top: 0;
        }

        @include max-w (480px){
            padding: 30px 0;
        }

        @include max-w ($screen-sm){
            padding: 0;
        }
    }

    .page-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include max-w($screen-xl) {
            justify-content: center;
        }

        @include max-w($screen-tablet-landscape){
            padding-right: 0;
        }

        @include max-w($screen-sm){
            justify-content: flex-start;
            padding-top: 56px;
        }
    }

    .article-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include max-w($screen-tablet-landscape){
            padding-right: $large-padding;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 67px;

        @include max-w($screen-xl) {
            padding-top: 0;
        }

        @include min-w-h ($screen-sm, $screen-phoneX) {
            padding-top: 45px;
        }

        @include max-w(480px) {
            min-width: 480px;
            overflow: hidden;
        }

        @include max-w (414px) {
            min-width: 414px;
            width: 100%;
            overflow: hidden;
        }

        @include max-w (375px) {
            min-width: 375px;
            width: 100%;
            overflow: hidden;
        }
    }

    .slick-slide{
        padding-bottom: 2px;
        margin-right: 70px;

        @include max-w($screen-tablet-landscape){
            margin:  0;
        }
    }

    .slick-list{
        margin-right: -70px;

        @include max-w($screen-tablet-landscape){
            padding-right: 30px;
            margin-right: 0;
        }
        @include max-w(480px){

            padding-bottom: 100px;
            padding-right: 60px;
        }
    }


}

.post {

    &-title {
        color: #121212;
    }

    &__item {
        position: relative;
        border: 1px solid #aaaaaa;
        max-width: 500px;
        width: 100%;
        padding: 60px 74px 0;
        transition: 0.4s;
        margin-right: 80px;

        @include max-w($screen-xl) {
            max-width: 465px;
            margin: 0;
        }

        @include max-w(1600px){
            padding: 50px 35px 0;
            max-width: 420px;
        }

        @include max-w($screen-lg) {
            margin-bottom: 2px;
            max-width: 390px;
            padding: 50px 35px 0;
        }

        @include max-w(1366px) {
            max-width: 365px;
            padding: 30px 40px 0;
        }

        @include max-w($screen-md) {
            max-width: 350px;
        }

        @include max-w(1152px) {
            max-width: 310px;
            margin: 0;
        }

        @include max-w($screen-tablet-landscape) {
            max-width: 300px;
            margin: 0;
        }

        @include max-w ($screen-sm) {
            max-width: 275px;
            padding: 32px 20px 0 24px;
            margin-right: 25px;
            height: 461px;
        }

        @include max-w (320px){
            max-width: 290px;
        }


        p {
            color: #595959;
            font-family: $second-font;
            line-height: 26px;
            max-height: 260px;
            overflow: hidden;
            margin: 0;
            margin-bottom: 50px;
            @include fluid-font(13px, 17px, 375px, 1920px);

            @include max-w($screen-lg) {
                max-height: 185px;
            }

            @include min-w-h ($screen-sm, $screen-phoneX) {
                padding-top: 20px;
                line-height: 16px;
                max-height: 195px;
                margin-bottom: 45px;
            }

        }

        p.post__date {
            @include fluid-font(13px, 20px, 375px, 1920px);
            color: #121212;
            font-family: $font-family;
            text-transform: uppercase;
            transition: 0.4s;
            padding-bottom: 20px;

            @include max-w($screen-lg) {
                margin: 0;
            }

            @include max-w ($screen-sm) {

                padding-top: 60px;
                padding-bottom: 0;
            }

            //@include max-w(480px){
            //    position: absolute;
            //    bottom: 0;
            //}
        }

        .read-more--articles {
            opacity: 0 !important;
            @include fluid-font(18px, 30px, 375px, 1920px);
        }

        &:hover {

            @include min-w(1025px) {

                cursor: pointer;
                background-color: $contact-bg-color;

                .post-title, .post__description {
                    color: $fourth-color;
                }
                .post__date {
                    opacity: 0;
                }

                .read-more--articles {
                    opacity: 1 !important;
                    z-index: 5;
                }
                p {
                    color: $fourth-color;
                }
            }
        }
    }
}

.article_show_info{
    background-color: $contact-bg-color;

    .post-title, .post__description {
        color: $fourth-color;
    }
    .post__date {
        opacity: 0;
    }

    .read-more--articles {
        opacity: 1 !important;
        z-index: 5;
    }
    p {
        color: $fourth-color;
    }
}

.typed-cursor, .typed-cursor--blink {
    display: none;
}

.intro:not(.fp-section) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sets:not(.fp-section) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}

.section:not(.fp-section) {
    min-height: 700px;

    .contact__container, .contact__form {
        min-height: 700px;
    }

    .right-bar, .left-bar {
        min-height: 400px;
    }
}

.recent_transactions:not(.fp-section){
    justify-content: center;
}

.recent_post:not(.fp-section){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner:not(.fp-section){
    min-height: 800px;;
}
