.single_post {
    padding-top: 85px;
    max-width: $container-width;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $large-padding;
    padding-right: $large-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include max-w($screen-xl){
        width: 88%;
    }

    @include max-w($screen-tablet-landscape){
        width: 100%;
    }

    @include max-w(768px){
        padding-top: 30px;
    }

    @include max-w(480px){
        padding-top: 65px;
    }
}

.single-post_item {
    max-width: 1360px;
    width: 100%;

    @include max-w(480px){
        padding-top: 13px;
    }
    .post-title{
        line-height: normal;
        @include fluid-font(18px, 44px, 320px, 1920px);
        margin-bottom: 26px;

        @include max-w(480px){
            letter-spacing: 1.1px;
        }
    }

    p{
        color: #414141;
        font-family: $second-font;
        @include fluid-font(16px, 19px, 320px, 1920px);


        @include max-w(480px){
            letter-spacing: 1.1px;
            line-height: 19px;
        }
    }
}

.single {
    background: transparent;
}
