.single-team{
    .content{
        background-color: $contact-bg-color;
    }
}

.single_team {
    padding-top: 85px;
    max-width: $container-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
    z-index: 0;


    @include max-w($screen-xl){
        padding-top: 40px;
        width: 88%;
    }

    @include max-w($screen-tablet-landscape){
        width: 100%;
    }

    @include max-w(480px){
        padding-top: 65px;
    }

    .container{
        max-width: 1110px;
        width: 100%;
        padding-left: 68px;
        @include max-w($screen-sm){
            padding: 0;
        }
        p{
            color: #ffffff;
            font-family: $second-font;
            @include fluid-font(16px, 19px, 320px, 1920px);
        }
    }

    .team__mail{
        cursor: pointer;
        border-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        a:hover{
            color: $fourth-color !important;
        }
    }
}


.single-team-card{
    @include max-w($screen-sm){
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-info{
        padding-top: 17px;
    }
}
