.team-page{
    background-color: #002b58;
    padding-top: 170px;

    @include max-w($screen-portrait){
        padding-top: 70px;
    }

    .page-container{
        justify-content: space-between;
        position: relative;

        @include max-w($screen-portrait){
            padding-top: 70px;
        }
    }
    .title-brand-color{
        max-width: 140px;
        margin: 0;

        @include max-w($screen-portrait){
            position: absolute;
            top: 0;
        }
    }

    .team-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1414px;
        width: 100%;

        @include max-w($screen-lg){
            justify-content: space-around;
        }

        @include max-w(480px) {
            justify-content: center;
        }

        &:after {
            content: "";
            display: block;
            max-width: 374px;
            width: 100%;

            @include max-w($screen-xl) {
                max-width: 331px;
            }

            @include max-w($screen-md) {
                max-width: 300px;
            }

            @include max-w(1152px) {
                max-width: 290px;
            }

            @include max-w($screen-tablet-landscape) {
                max-width: 300px;
            }

            @include max-w($screen-sm) {
                max-width: 300px;
                width: 300px;
            }

            @include max-w (320px){
                width: 290px;
                padding: 0;
            }
        }
    }

    .team__card{
        max-width: 374px;
        width: 100%;
        margin-bottom: 20px;

        @include max-w($screen-xl) {
            max-width: 331px;
            padding-bottom: 10px;
        }

        @include max-w($screen-lg){
            padding-bottom: 0;
        }

        @include max-w($screen-md) {
            max-width: 300px;
        }

        @include max-w(1152px) {
            max-width: 290px;
        }

        @include max-w($screen-tablet-landscape) {
            max-width: 300px;
        }

        @include max-w(480px) {
            max-width: 320px;
            width: 320px;
            padding: 0;
        }

        @include max-w (320px){
            width: 290px;
            padding: 0;
        }
    }

    .team__photo{
        @include max-w(480px){
            width: 100%;
        }
    }
}

.team__banner {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: -1;

    @include max-w($screen-sm) {
        height: 668px;
    }

    .page-container{
        align-items: center;
    }
    .page-container{
        align-items: flex-end;
    }
    .wrap {
        align-items: flex-start;
        max-width: 1480px;
        width: 100%;
        min-height: 400px;

        @include max-w($screen-portrait){
            flex-direction: column;
        }

        @include max-w($screen-sm){
            min-height: 465px;
        }
    }

    .title-brand-color-bold {
        padding-right: 136px;
        z-index: 1;
        @include fluid-font(40px, 50px, 375px, 1920px);

        @include max-w($screen-portrait) {
            padding: 0;
        }

        @include max-w($screen-sm){
            margin-bottom: 5px;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 700px;
        background-color: rgba(18,18,18, 0.9);
        position: absolute;
        top: 0;
        left: 0;
    }
}
