.transactions_page {
    padding-top: 180px;

    @include max-w($screen-portrait) {
        padding-top: 0;
    }

    .container {
        max-width: 1660px;
        width: 100%;

        @include max-w(1280px) {
            justify-content: space-around;
        }

        &:after {
            content: "";
            display: block;
            max-width: 415px;
            width: 100%;

            @include max-w($screen-xl) {
                width: 380px;
            }
        }
    }

    .transactions__inner {
        outline: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 415px;
        padding: 0 15px 15px;
        width: 100%;

        @include max-w($screen-xl) {
            width: 380px;
        }

        @include max-w (320px) {
            width: 290px;
            padding: 0;
        }
    }

    .title-brand-color {
        display: none;
        @include max-w($screen-portrait) {
            padding: 37px 0;
            display: block;
        }

        @include max-w(480px){
            padding-left: 15px;
            text-align: center;
            width: 100%;
        }

        @include max-w(375px){
            text-align: left;
        }
    }

    .page-container {
        padding: 0;
    }

    .transactions__item {
        position: relative;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 75px 0 35px;
        max-width: 100% !important;
        width: 100%;
        background-color: $fourth-color;
        cursor: pointer;
        transition: 0.4s;
        height: 503px;

        &--image {
            max-width: 55%;
            padding-left: 2px;
            height: 80px;

            @include max-w($screen-md) {
                height: 70px;
            }
        }

        &--logo {
            max-width: 50%;
            height: 60px;
            @include max-w($screen-md) {
                height: 55px;
            }
        }

        &:hover {

            @include min-w(1025px) {

                border: 1px solid $main-border-color;
                background-color: #111111;

                .transactions {
                    transition: 0.3s;
                    &__item--image, &__item--logo, &__description, &__date {
                        transition: 0.3s;
                        opacity: 0;
                    }
                }

                ~ .transactions__recommendation {
                    color: $fourth-color;
                }

                .transactions__info {
                    opacity: 1;
                }

            }
        }
    }
}

.transactions {

    &__banner {
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: -1;

        @include max-w($screen-portrait) {
            height: 660px;
        }

        .page-container {
            align-items: flex-end;
        }
        .wrap {
            align-items: flex-start;
            max-width: 1480px;
            width: 100%;
            height: 335px;

            @include max-w($screen-portrait) {
                flex-direction: column;
                height: 345px;
            }
        }

        .title-brand-color-bold {
            padding-right: 136px;
            z-index: 1;
            left: 131px;
            @include fluid-font(40px, 50px, 375px, 1920px);

            @include max-w($screen-portrait) {
                padding: 0;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 700px;
            background-color: rgba(18, 18, 18, 0.9);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

