.value {

    overflow: hidden;

    &__banner {
        background-color: rgba(18, 18, 18, 0.9);
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: -1;

        @include max-w($screen-sm) {
            height: 668px;
        }


        .page-container {
            align-items: flex-end;
        }
        .wrap {
            align-items: flex-start;
            max-width: 1480px;
            width: 100%;
            height: 335px;

            @include max-w($screen-portrait) {
                flex-direction: column;
                height: 345px;
            }

            @include max-w($screen-sm){
                height: 413px;
            }
        }

        .title-brand-color-bold {
            padding-right: 136px;
            z-index: 1;
            left: 131px;
            max-width: 270px;
            @include fluid-font(40px, 50px, 375px, 1920px);

            @include max-w($screen-portrait) {
                padding: 0;
            }

            @include max-w($screen-sm){
                margin-bottom: 23px;
            }
        }

        .typed-description-brand-color {
            @include max-w($screen-portrait) {
                padding: 0;
            }

            @include max-w($screen-sm){
                line-height: 30px;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 700px;
            background-color: rgba(18, 18, 18, 0.9);
            position: absolute;
            top: 0;
            left: -50%;
            transform: translateX(50%);

            @include max-w($screen-sm) {
                height: 668px;
            }
        }
    }
    .title {
        padding: 74px 0;
        font-weight: 700;

        @include max-w($screen-portrait){
            padding: 40px 0;
        }

        @include max-w($screen-sm){
            padding: 20px 0;
        }
    }

    &__item {
        color: #ffffff;
        padding: 150px 0;
        position: relative;
        width: 100%;

        @include max-w(992px){
            padding: 70px 0;
        }

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #111111;
            height: 100%;
            z-index: -1;
        }

        &--img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include max-w(992px){
                flex-direction: row;
                justify-content: flex-start;
            }

            @include max-w($screen-sm){
                margin-bottom: 51px;
            }

            img{
                max-width: 300px;
                margin-right: auto;

                @include max-w(992px){
                    margin: 0;
                    max-width: 250px;
                }

                @include max-w($screen-portrait){
                    max-width: 200px;
                }

                @include max-w($screen-sm){
                    max-width: 100px;
                }
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            padding-left: 146px;
            max-width: 1200px;
            width: 100%;

            @include max-w(992px){
                padding: 0;
            }

            .description p{
                font-family: "CooperHewitt", sans-serif;
                font-size: 20px;
                color: rgba(255, 255, 255, 0.6);

                @include max-w($screen-sm){
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            strong{
                color: #ffffff;
            }
        }

        .second-title-brand-color{
            max-width: 665px;

            @include max-w(992px){
                display: none;
            }

            &-mobile{
                @include fluid-font(19px, 44px, 320px, 1920px);

                @include max-w(992px){
                    display: block;
                    padding: 18px 23px 0;
                }
            }
        }
    }

    .inner{
        display: flex;
        flex-direction: row;
        max-width: $container-width;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;

        @include max-w(992px){
            flex-direction: column;
        }
    }

    &__item:nth-child(2n){
        color: #111111;

        .inner{
            flex-direction: row-reverse;
            justify-content: flex-end;

            @include max-w(992px){
                flex-direction: column;
            }
        }

        &:after{
            display: none;
        }

        .value__item--text {
            max-width: 1190px;
            width: 100%;
            padding-left: 0;
            padding-right: 146px;


            @include max-w(992px){
                padding: 0;
            }


            .description p{
                color: rgba(18, 18, 18, 0.8);
            }
        }

        .value__item--img{
            padding: 0;
            margin: 0;
        }

        .second-title-brand-color{
            color: #121212;

            &-mobile{
                @include max-w(992px){
                    display: block;
                    color: #121212;
                    padding-left: 30px;
                }
            }
        }
    }
}


