.icon-right-dir:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-left-dir-1:before { content: '\e802'; } /* '' */
.icon-right-dir-1:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-down-open-mini:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open-mini:before { content: '\e80b'; } /* '' */
.icon-right-open-mini:before { content: '\e80c'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80d'; } /* '' */
.icon-cancel-circle:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */