// Buttons
.btn {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 50px;
    background-color: $darkColor;
    color: #fff;
    transition: .4s;
    font-size: 16px;
    font-family: $mainFontFamily;

    &--product-view{
        width: 137px;
        height: 44px;
        padding: 11px 50px;
        margin-top: 25px;

        &:focus, :active {
            color:$secondTextColor;
            border: transparent;
        }
        @include min-w(678px) {
            display: none;
        }
    }

    &--try-on {
        background-color: #fff;
        border: 1px solid $darkColor;
        width: 137px;
        height: 44px;
        text-decoration: none;
        padding: 11px 25px;
        margin-top: 25px;
        margin-right: 15px;
        color: $darkColor;
        & .try-on-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        @include min-w(678px) {
            display: none;
        }
    }

    &-burger {
        width: 24px;
        height: 16px;
        position: absolute;
        top: 22px;
        left: 0;
        right: 100%;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
        display: block;

        @include min-w(1152px) {
            display: none;
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $darkColor;
            transition: all .5s;
        }

        .span1 {
            top: 0;
        }

        .span2 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .span3 {
            bottom: 0;
        }
    }

    &-active {
        left: auto;
        right: 0;
        transition: all .5s;

        .span1 {
            transform: rotate(45deg);
            top: auto;
            bottom: 39%;
        }

        .span2 {
            opacity: 0;
            width: 0;
        }

        .span3 {
            transform: rotate(-45deg);
            top: 49%;
            bottom: auto;
        }
    }

    &--subscribe {
        position: relative;
        background-color: $backgroundColor-5 !important;
        padding: 8px;
        height: 55px;
        width: 55px;
        border-radius: 0 8px 8px 0;
        &:before {
            position: absolute;
            content: url('../images/arrow-right.svg');
            fill: $secondTextColor;
            display: block;
            left: 15px;
            top: 45%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
        }
    }

    &--contacts_button {
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #023130;
        color: #023130;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-family:$mainFontFamily !important ;
        margin-bottom: 16px;
        @include min-w(1151px){
            margin-bottom: 0;
        }

        &:before {
            position: relative;
            top: 6px;
            margin-right: 12px;
        }

        @include min-w(768px) {
            width: 237px;
            height: 56px;
            line-height: 56px;
            &:first-child {
                margin-right: 16px;
            }

        }
    }

    &--contacts_button-contained {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: #59af9e;
        border: none;
        color: #fff;
        font-family: $mainFontFamily !important;

        &:before {
            content: url('../images/phone.svg');
            margin-bottom: 5px;
        }
    }

    &--quiz {
        padding: 15px 50px;
        background: $darkColor;
        border: none;

        &:hover {
            background: #044544;
            color: #fff;
        }
    }
    &--contacts_button-outlined {
        &:before {
            content: url('../images/mail.svg');
        }
    }

    &--confirmation_button {
        font-family: $mainFontFamily;
        background-color: $fourth-color;
        border-radius: 8px;
        border: 1px solid $textColor4;
        color: $textColor;
        width: 100%;
        margin-bottom: 16px;
        height: 50px;
        line-height: 50px;
        font-weight: 400;
        font-size: 16px;

        &:before {
            position: relative;
            top: 6px;
            margin-right: 10px;
        }

        @include min-w(768px) {
            width: 172px;
            height: 60px;
            line-height: 60px;
            &:first-child {
                margin-right: 16px;
            }

        }
    }

    &--confirmation_button--fb {
        &:before {
            content: url('../images/fb.svg');
        }
    }

    &--confirmation_button-google {
        &:before {
            content: url('../images/google.svg');
        }
    }

    &--confirmation_button-email {
        width: 100%;
        color: $textColor;
    }

    &--confirmation_member_button {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        padding: 19px 30px;

        &:hover {
            color: #fff;
        }

        &:last-child {
            background-color: #59af9e;
        }
    }

    &--confirmation_member_button-outlined {
        background-color: #fff;
        border: 1px solid #023130;
        color: #023130;
        padding: 19px 34px;
    }

}
.toggle-grids {
    display: inline-block;
}
.col_1 {
    height: 26px;
    width: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 2px solid #3f3f48;
    margin-left: 5px;
    opacity: .5;
    border-radius: 2px;
    .vertical-line {
        width: 10px;
        height: 10px;
        background-color: #3f3f48;
        border: 1px solid #3f3f48;
    }
}

.col_4, .col_3, .col_2{
    background-color: transparent;
    height: 26px;
    width: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 2px solid #3f3f48;
    margin-left: 10px;
    cursor: pointer;
    opacity: .5;
    border-radius: 2px;

    .vertical-line {
        width: 6px;
        height: 10px;
        background-color: #3f3f48;
        border: 1px solid #3f3f48;
        margin: 1px;

        @include min-w(992px) {
            width: 3px;
        }
    }
}

.blog-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:140%;
    text-decoration: none;
    color: #35353b !important;
    padding: 16px 44px;
    border: 1px solid #35353b;
    border-radius: 8px;
    display: block;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;

    @include min-w(768px) {
        max-width: 240px;
        margin: 55px auto 0;
    }
}

.active-grid-button {
    opacity: 1;
}

.yith-wcan-filters .apply-filters.main-modal-button {
    max-width: 44%;
    position: fixed !important;
    left: unset;
    bottom: 15px;
    right: 15px;
    border-radius: 8px;
    margin-bottom: 0;
    line-height: 140%;
    height: auto !important;
    padding: 10px 0;
}

.yith-wcan-filters-opener {
    font-family: $mainFontFamily;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #023130 !important;
}
.sort-by {
    font-family: $mainFontFamily;
    font-weight:400;
    font-size: 16px;
    line-height: 140%;
    color: #3f3f48 !important;

    &:before {
        left: 19px !important;
        top: 11px !important;
    }
}
.yith-wcan-filters-opener, .sort-by {
    max-width: 44% !important;
    width: 100%;
    background-color: transparent !important;
    border: none;
    display: inline-block;
    padding: 0 !important;
    margin: 0;
    text-align: center;
    outline: none;
    box-shadow: transparent !important;

    &:hover {
        color: #0b2e13;
        background-color: transparent !important;
        border-color: transparent !important;
        .filter-icon {
            filter: brightness(0) invert(0) !important;
        }
    }

    &:focus, &:active {
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1) !important;
        outline: none;
    }
}

.yith-wcan-filters.filters-modal .main-modal-button, .apply-filters {
    color: #fff !important;
    text-align: center;
    outline: none;
    box-shadow: transparent !important;

    &:focus, &:active{
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1) !important;
    }
}

.reset {
    display: none;
    @include min-w(1151px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .reset-filters {
        background-color: transparent !important;
        padding: 0;
        margin: 0;
        position: relative;
        height: 20px;
        color: transparent;

        &:after {
            content: 'Clear';
            position: absolute;
            right: 0;
            top: 0;
            color: $linkColor2;
        }

        &:focus, &:active {
            background-color: transparent !important;
            border-color: transparent !important;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1) !important;
            outline: none;
        }
    }
}
.clear-selection {
    color: $linkColor;
    border: 1px solid $linkColor;
    border-radius: 8px;
    max-width: 44%;
    width: 100%;
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    padding: 11px 0;
}

.try-now {
    background-color: #fff;
    border-radius: 8px;
    text-decoration: none;
    padding: 16px 55px;
    margin: 24px 0;
    color: $darkColor;
    &:hover {
        color: $darkColor;
    }
}

.btn-open-prescription-modal{
    background: #59af9e;
    border: none;
    color: #fff;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 140%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.start-lenses-wizard {
    max-width: 341px;
    width: 100%;
    margin-right: 14px;
    background: #59af9e;
    border-radius: 8px;
    padding: 12px 16px;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
    border: transparent;

    &:disabled {
        border: transparent;
        opacity: .65;
    }
}
