.mega-menu-wrap {
    display: flex;
    flex-direction: column;

    @include max-w(1151px) {
        display: none;
    }
}

.desktop-mega-menu {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 0;
    transition: height .3s;
    position: fixed;
    background: $bodyBg;
    top: 139px;
    left: 0;
    @include min-w(1440px){
        top: 140px;
    }
}

.menu-open {
    height: 324px;
}

.glasses-product-wrap {
    padding: 27px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    width: 100%;
}

.product-card{
    height: 216px;
    display: block;
    width: 33.333%;
    margin-right: 20px;
    text-decoration: none;
}

.post-image{
    height: 100% !important;
    object-fit: cover;
}

.brand-label{
    font-size: 17px;
    line-height: 140%;
    color: $linkColor;
}

.menus-container {
    position: relative;
    display: flex;
    flex-direction: row;

    &__inner {
        display: flex;
    }
}

.overall {
    margin: 27px 25px 0 0;
}

.menu-item {
    &:hover {
        cursor: pointer;
    }
}
.search-menu-item {

    a {
        display: none;
    }
    &:after {
        content: url('../images/search.svg');
        display: block;
    }
}

.login-menu-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px;
    a {
        display: none;
    }
    &:after {
        content: url('../images/acc.svg');
        display: block;
        height: 75px;
    }
}

.wish-list-menu-item{
    position: relative;

    a {
        position: absolute;
        width: 30px;
        opacity: 0;
    }
    &:after {
        content: url('../images/wishlist.svg');
        display: block;
    }
}

.bag-menu-item{

    a {
        display: none;
    }
    &:after {
        content: url('../images/bag.svg');
        display: block;
    }
}

.main-nav{
    &__icon-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        padding-left: 0;

        .menu-item {
            padding: 0 9px 0 11px;
            height: 24px;
            display: flex;
            align-items: center;
        }
        & li:first-of-type {
            padding-left: 0;
            padding-right: 16px;
        }
        & li:last-of-type {
            padding-left: 16px;
            padding-right: 0;
        }
        & li:nth-child(4n){
            padding-right: 16px;
        }
        & li:nth-child(3){
            padding-left: 19px;
        }

        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: $linkColor2;
        }

    }
    &__glasses-list {
        max-width: 1280px;
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: $textColor;

        }

    }
    &__navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        color: $darkColor;
        padding: 0;
        margin: 15px 0;

        .menu-item {
            margin: 0 10px;
            @include min-w(1440px){
                margin: 0 20px;
            }
        }

        a {
            text-decoration: none;
            font-size: 14px;
            line-height: 24px;
            color: $darkColor;
            font-weight: 500;
            padding: 19px 0 22px;
            border-bottom: 2px solid transparent;
            transition: .2s;
            cursor: pointer;
            @include min-w(1440px){
                font-size: 17px;
                padding: 21px 0;
            }

            &:hover {
                border-bottom: 2px solid $linkColorHover;
                color: $linkColorHover !important;
                font-weight: 700;
            }
        }
    }
}

.help-menu {
    border-right: 1px solid $neutralBrand;
    position: relative;
}

.language-menu {
    font-size: 17px;
    border-left: 1px solid $neutralBrand;
}

.bag-link {
    @include min-w(1151px) {
        display: none;
    }
}

.iconic-menu {
    position: relative;
}

.account-menu {
    position: absolute;
    background-color: #fff;
    display: none;
    top: 72px;
    border-radius: 0 0 10px 10px;
}

.account-menu-open {
    display: block;
    z-index: 9999;
}

.article-title, .article-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    position: relative;
}

.header-chevron-wrapper {
    position: absolute;
    right: -150px;
    top: 5px;
    display: none;

    @include min-w(1151px) {
        display: block;
    }
}

.account-menu-list {
    list-style: none;
    padding: 0 0 5px;
    margin-top: 0;
    margin-bottom: 0;

    .menu-item {
        width: 290px;
        margin: 0;
        padding: 12px 28px;
    }

    .mobile-login-menu-item {
        position: relative;
        border-bottom: 1px solid $neutralBrand;
    }

    .mobile-login-menu-item a {
        display: flex;
        flex-direction: row;

        .article-title {
            margin-right: 5px;
        }
    }
    .menu-item a{
        text-decoration: none;
        color: #35353b;
        font-size: 18px;
        line-height: 120%;
    }

    .customer-logout a{
        color: #59af9e;
    }

    .desktop-login-menu-item {
        padding-top: 10px;
        padding-bottom: 0;
        border-bottom: 1px solid $neutralBrand;
        a {
            display: flex;
            flex-direction: row;
        }

        p {
            margin: 15px 5px;
        }
    }
}

.help-popup {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    max-width: 354px;
    width: 100%;
    padding: 24px;
    top: 72px;
    overflow: hidden;
    display: none;

    @include max-w(1151px) {
        display: none;
    }

    .help-ifo {
        display: flex;
        flex-direction: column;
        position: relative;

        &:before {
            content: '';
            display: block;
            border-top: 1px solid #e1e1e8;
            position: absolute;
            top: 0;
            left: -24px;
            right: -24px;
        }
    }

    .faq-link {
        text-decoration: none;
        text-align: center;
        border: 1px solid #023130;
        box-sizing: border-box;
        border-radius: 8px;
        color: #023130;
        width: 100%;
        padding: 8px 0;
        display: block;
        margin-bottom: 25px;
    }

    .working-hours {
        padding: 28px 0;
        text-align: center;
        font-size: 15px;
        color: #7a7a88;
    }

    .connect-with {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .connect-with-item {
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;

        a {
            padding-left: 10px;
            font-size: 14px;
        }
    }

    .connect-text {
        text-decoration: none;
        color: #35353b;
    }
}

.help-menu-open {
    display: block;
}
