.header-search {
    height: 100vh;
    z-index: 99999;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    @include min-w(576px) {
        height: auto;
    }
    @include min-w(1152px) {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        max-width: 783px;
        width: 0;
        //overflow: hidden;
        border-radius: 0 0 8px 8px;
    }

    .result-search {
        position: relative;
        width: 100%;
        z-index: 99;
        box-shadow: 0 4px 5px rgba(103, 100, 117, .15);
        border-radius: 0 0 8px 8px;
        //height: 85vh;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }

    .search-input {
        max-width: 783px;
        width: 100%;
        position: relative;
        background: #f9fafb;
        border: 1px solid #e1e1e8;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 12px 12px 12px 35px;
        margin-top: 20px;
        font-size: 15px;

        @include min-w(768px) {
            margin-top: 12px;
        }

        &:focus {
            &::placeholder {
                color: #f9fafb;
            }
        }
    }

    .search-icon-active {
        left: 23px;
        top: 85px;
        position: absolute;
        stroke: #7a7a88;
        @include min-w(992px) {
            left: 8px;
            top: 20px;
        }

    }
    .search-input-open {
        max-width: 783px;
        width: 100%;
    }
    .preloader {
        width: 100%;
        display: none;
        background: #fff;
        border-top: none;
        border: 1px solid #eee;
    }

    .loader {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        display: block;
    }

    .result_item {
        line-height: 15px;
        max-width: 156px;
        width: 100%;
        display: block;
        box-sizing: border-box;

        @include min-w(576px) {
            padding: 0 10px;
        }

        @include min-w(1152px) {
            max-width: 25%;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .result_item:first-child{
        margin-top: 0;
        padding-left: 0;
    }

    .result_item:last-child {
        padding-bottom: 0;
        border-bottom: none;
        padding-right: 0;
    }

    .result_item a {
        margin-bottom: 5px;
        display: block;
    }

    .result-search-list {
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        display: flex;
        flex-direction: row;
        z-index: 999;
        border-radius: 0 0 8px 8px;

        @include min-w(1152px) {
            padding: 10px;
        }
        .price {
            height: 20px;
            display: flex;
            text-align: left;
            flex-direction: row-reverse;
        }

        .wrapper {
            width: 100%;
        }
    }

    .post-ajax-grid {
        .result_item {
            max-width: 100%;
            @include min-w (1152px) {
                max-width: 50%;
            }
        }
    }
    .product-ajax-grid {
        .result_item img{
            height: auto;
        }
    }

    .product-ajax-grid, .post-ajax-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 45px;

        @include min-w(1152px) {
            justify-content: flex-start;
        }
    }

    .blog-link {
        margin-top: 10px;
        display: block;
        @include min-w(768px) {
            display: none;
        }
    }

    .title-link {
        font-size: 18px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #3f3f48;
        text-decoration: none;
        margin: 10px 0;
    }

    .recommended-search {
        padding: 0 0 15px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        @include min-w(768px) {
            padding: 24px;
            overflow: hidden;
        }

        @include min-w(1152px) {
            padding: 11px 0;
        }
        &-item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 1200px;

            @include min-w(1152px) {
                padding-left: 15px;
            }

            a {
                display: block;
            }
        }
    }
    .suggestion-item-title {
        text-align: left !important;
        padding: 15px;
        color: #3f3f48;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        font-family: $mainFontFamily;

        @include min-w(1152px) {
            padding: 24px 24px 0;
            font-size: 20px;
            line-height: 124%;
        }
    }

    #searchform{

        @include min-w(1152px) {
            border-radius: 0 0 8px 8px;
        }
    }

    .suggestion-queries {
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #35353b;
        margin-right: 20px;
        padding: 10px 14px;
        background: rgba(187, 211, 229, .3);
        border-radius: 20px;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    .header-search-modal {
        position: relative;
    }

    .search-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 22px;
        line-height: 124%;
        color: #3f3f48;
        margin-bottom: 16px;

        @include min-w(992px) {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .product-count {
        font-size: 22px;
        font-family: $mainFontFamily;
        font-weight: 500;
        color: #3f3f48;
        opacity: .5;

        @include min-w(992px) {
            font-size: 20px;
        }
    }

    .category_subtitle {
        text-align: left !important;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #7a7a88;

        @include min-w(1152px) {
            display: none;
        }
    }

    .product-title {
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 135%;
        color: #3f3f48;
    }

    .product-price bdi {
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #35353b;
    }
}

.header-search-open {
    max-width: 784px;
    width: 100%;
    @include adaptive-width(1440, 1152, 783, 530, true);
    display: block;
    overflow: unset;
}
.iconic-menu {
    position: relative;
}

.button-close-search {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: transparent;
}

.head-line {
    padding: 20px;
    position: relative;

    &:after {
        display: block;
        content: '';
        border-bottom: 1px solid #e1e1e8;
        position: absolute;
        bottom: 0;
        left: -15px;
        right: -15px;
    }
}

.search-form,.no-results, .not-found {
    display: none;
}

.html--hidden {
    overflow: hidden;
    height: 100vh;
}

.col-6 {
    .product-btns, .raiting {
        display: none !important;
    }
}

.search-post-wrap .filter {
    padding: 0 45px;
    @include min-w(992px) {
        padding: 0 80px;
    }
}

.search-load-more-button {
    padding-top: 0 !important;
}

.breadcrumbs__current {
    color: #7a7a88;
}

.page-template-search .recently-slider {
    padding-bottom: 119px;
}
