//  Базовые стили

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $bodyBg;
    color: $textColor;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    //line-height: $lineHeight;
    height: 100%;
}

a {
    color: $linkColor;
    text-decoration: none;
    transition: .3s;

    &:hover,
    &:active {
        color: $linkColorHover;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    position: relative;
}

.page-container {
    max-width: $containerWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $containerPadding;
    padding-right: $containerPadding;

    @include max-w($screen-md){
        padding-left: 32px;
        padding-right: 32px;
    }

    @include max-w($screen-sm){
        padding-left: $containerPadding;
        padding-right: $containerPadding;
    }
}

.icon {
    display: inline-block;
}

.centerX{
    margin-left: 50%;
    transform: translateX(-50%);
}

.section-title {
    font-family: $fontFamily;

    &__gray {
        width: 100%;
        color: $secondTextColor;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        line-height: 41px;
        text-transform: uppercase;
        letter-spacing: -.9px;

        @include max-w($mobile){
            font-size: 30px;
            letter-spacing: -.75px;
        }
    }

    &__lite{
        width: 100%;
        color: $textColor;
        font-size: 36px;
        font-weight: 400;
        line-height: 41px;
        text-transform: uppercase;
        letter-spacing: -.9px;
        text-align: center;
        position: relative;
        z-index: 1;

        @include max-w($mobile){
            font-size: 30px;
            letter-spacing: -.75px;
        }
    }
}

.section-subtitle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.45px;
    font-family: $secondFont;

    @include max-w($screen-md){
        text-align: center;
    }

    @include max-w($mobile){
        font-size: 16px;
        letter-spacing: -.4px;
    }

}

.overlay {
    background-color: #555555;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

.single{
    .page-header {
        background-color: $mainColor;
    }

    .menu-item a, .social a {
        transition: .3s;
        color: $linkSecondColor;

        &:hover {
            color: $linkColorHover;
        }
    }
}

.slick-slide{
    outline: none;
}

#hubspot-messages-iframe-container{
    z-index: 99 !important;
}

.hero-after-section {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 1;
    @include max-w($screen-xl){
        bottom: -6px;
    }
}

.before-section {
    width: 100%;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    z-index: 1;
    @include max-w($screen-xl){
        top: 0;
    }
}

.after-section {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: -6px;
    left: 0;
    right: 0;
    z-index: 1;

    @include max-w($screen-xl){
        bottom: -4px;
    }
}

.info{
    padding-top: 90px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    color: #000;

    p{
        font-family: $fontFamily;
        font-size: 16px;
        color: #000;
    }
}
