//  Подключения шрифтов

// font-family: 'Arial';
// font-weight: 400;
@font-face {
    font-family: 'ArialMT';
    font-weight: normal;
    src: url('~@fonts/ArialRegular.eot');
    src: url('~@fonts/ArialRegular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/ArialRegular.woff') format('woff'),
        url('~@fonts/ArialRegular.ttf') format('truetype'),
        url('~@fonts/ArialRegular.svg#ArialRegular') format('svg');
}

// font-family: 'Arial';
// font-weight: 700;
@font-face {
    font-family: 'ArialMT';
    font-weight: 700;
    src: url('~@fonts/ArialBold.eot');
    src: url('~@fonts/ArialBold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/ArialBold.woff') format('woff'),
        url('~@fonts/ArialBold.ttf') format('truetype'),
        url('~@fonts/ArialBold.svg#ArialBold') format('svg');
}

// font-family: 'Seravek';
// font-weight: 400;
@font-face {
    font-family: 'Seravek';
    font-weight: normal;
    src: url('~@fonts/Seravek.eot');
    src: url('~@fonts/Seravek.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Seravek.woff') format('woff'),
        url('~@fonts/Seravek.ttf') format('truetype'),
        url('~@fonts/Seravek.svg#Seravek') format('svg');
}

// font-family: 'Seravek-Bold';
// font-weight: 700;
@font-face {
    font-family: 'Seravek';
    font-weight: 700;
    src: url('~@fonts/Seravek-Bold.eot');
    src: url('~@fonts/Seravek-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Seravek-Bold.woff') format('woff'),
        url('~@fonts/Seravek-Bold.ttf') format('truetype'),
        url('~@fonts/Seravek-Bold.svg#Seravek-Bold') format('svg');
}

// Заголовки
h1,
h2,
h3,
h4,
h5 {
    font-family: $fontFamily;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}
