//  Цвет

$bodyBg: #fff;
$textColor: #fff;
$secondTextColor: #626262;
$thirdTextColor: #ee5050;
$fourthTextColor: #949494;

$mainColor: #ffffff;
$secondColor: #626262;
// Цвет ссылки

$linkColor: #ffffff;
$linkSecondColor: #626262;
$linkColorHover: #ea4141;

//  Типографика

$fontFamily: 'Seravek';
$secondFont: 'ArialMT';
// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fontSize: 14px;
$fontWeight: 400; // Regular
$lineHeight: 1.2;

// Ширина контейнера

$containerPadding: 15px;
$containerWidth: 940px + $containerPadding * 2;

//  Адаптивность и соответствующие ширины контейнера

$screen-xs: 375px;
$mobile: 480px;
$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1440px;
