// Кнопки
.touch_button {
    vertical-align: middle;
    outline: 0 none;
    background-color: transparent;
    color: $fourth-color;
    border: 1px solid;
    z-index: 55;
    font-family: $second-font;
    width: 294px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    @include fluid-font(12px, 22px, 320px, 1920px);



    @include max-w(920px){
        width: 166px;
        height: 40px;
        letter-spacing: 0.4px;
    }
}

.btn:hover {
    transition: 0.4s;
    background-color: $link-color--hover;
    color: $fourth-color;
    border-color: $link-color--hover;
}

.read-more {
    color: $fourth-color;
    font-family: $font-family;
    @include fluid-font(22px, 30px, 375px, 1920px);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
    align-self: flex-end;
    z-index: 5;
    @include max-w(1024px){
        padding-right: 30px;
    }

    &__container{
        max-width: $container-width;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $container-padding;
        padding-right: $container-padding;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @include max-w($screen-xl){
            padding-left: $large-padding;
            padding-right: $large-padding;
        }

        @include max-w($screen-tablet-landscape){
            padding: 0;
        }
    }

    &--articles {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 1;
        position: absolute;
        bottom: 70px;
        transition: 0.4s;
        color: $fourth-color;
        @include fluid-font(21px, 30px, 375px, 1920px);

        @include max-w($screen-lg){
            bottom: 23px;
        }

        &-top {
            color: $third-color;
            @include fluid-font(21px, 30px, 375px, 1920px);
            text-transform: uppercase;
            transition: 0.4s;
            padding-top: 57px;

            @include max-w($screen-xl){
                padding-top: 0;
            }

            @include max-w (480px){
                position: absolute;
                bottom: 70px;
                right: 32px;
            }

            @include max-w ($screen-sm){
                position: absolute;
                bottom: 35px;
                right: 32px;
            }

            @include max-w($screen-xs){
                position: absolute;
                bottom: 30px;
                right: 32px;
            }

            &:hover {
                color: $third-color;
                opacity: 0.7;
            }
        }
    }

    &:hover {
        color: $fourth-color;
        opacity: 0.7;
    }
}

.btn_back {
    position: relative;
    height: 80px;
    width: 80px;
    border: 1px solid $third-color;
    transition: 0.4s;
    align-self: flex-end;
    display: flex;
    padding: 24px 20px;
    flex-shrink: 0;
    z-index: 5;
    cursor: pointer;

    @include max-w(480px){
        padding: 14px 20px;
        height: 60px;
        width: 60px;
    }

    svg {
        width: 36px;
        height: 36px;
    }

    &:hover {
        opacity: 0.7;
    }

    &--team {
        height: 80px;
        width: 80px;
        align-self: flex-end;
        display: flex;
        padding: 24px 20px;
        border: 1px solid $fourth-color;

        @include max-w(480px){
            padding: 14px 20px;
            height: 60px;
            width: 60px;
        }
        svg {
            width: 36px;
            height: 36px;
            stroke: #ffffff !important;
            fill: #ffffff !important;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.btn_events{
    color: #009cff;
    font-family: $font-family;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid #009cff;
    padding: 14px 44px;
    transition: 0.4s;

    &:hover{
        color: #ffffff;
        background-color: #009cff;
    }
}
