.slick-next {
    right: 42px;
    border: 1px solid #595959;
    height: 80px;
    width: 80px;
    transition: 0.4s;

    &:hover {
        border-color: #ffffff;
        fill: #ffffff;
    }
}

.slick-prev {
    right: 150px;
    border: 1px solid #595959;
    height: 80px;
    width: 80px;
    transition: 0.4s;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);

    @include max-w($screen-sm){
        margin-right: 20px;
    }

    &:hover {
        border-color: #ffffff;
        fill: #ffffff;
    }

}

.nav-container, .testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    opacity: 0;
    @include max-w(1024px){
        padding-right: 30px;
    }

    svg {
        padding: 26px 23px 23px;
        width: 80px;
        height: 80px;
        fill: #595959;

    }
}

.testimonial-container {
    max-width: $container-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 93px;

    @include max-w($screen-xl){
        padding-top: 20px;
    }

    @include max-w($screen-portrait){
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
    }


    svg {
        padding: 26px 23px 23px;
        width: 80px;
        height: 80px;
        fill: #595959;

        @include max-w($screen-sm){
            width: 55px;
            height: 55px;
            padding: 15px 19px 12px;
        }
    }
}

.show{
    opacity: 1;
}

.slick-slide{
    outline:none;
    div{
        outline:none;
    }
}
#testimonial_block{
    @include max-w($screen-portrait){
        opacity: 1;
    }
}



