// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
    font-family: inherit;
    width: 100%;
    max-width: 100%;
    background: none;
    outline: 0 none;
    border: 1px solid #dedede;
    padding: 15px;
    color: #333;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 8px;
}

.contact {
    width: 100%;
    height: 100%;
    .fp-tableCell {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .title-brand-color{
        margin-bottom: 0;

        @include max-w($screen-lg){
            margin: 5px 0;
        }

        @include max-w(480px){
            padding: 52px 0 1px;
        }
    }

    .description-brand-color{
        margin-bottom: 37px;
        margin-top: 21px;

        @include max-w($screen-lg){
            margin-bottom: 7px;
        }

        @include max-w(1366px){
            margin-bottom: 0;
        }

        @include max-w(480px){
            margin: 5px 0 40px;
        }
    }

    &__form {
        background-color: $contact-bg-color;
        height: 100%;
        width: 100%;
        padding-top: 100px;
        padding-left: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include max-w($screen-xl){
            justify-content: center;
            padding: 0 80px;
        }

        @include max-w($screen-lg){
            padding: 0 100px 0 30px;
        }

        @include max-w(1366px){
            padding: 0 100px;
        }

        @include max-w($screen-tablet-landscape){
            justify-content: center;
        }

        @include max-w(480px){
            padding: 0;
            align-items: center;
        }

        @include max-w($screen-xs){
            padding: 0 30px;
        }

        .title-brand-color{
            @include max-w($screen-md){
                margin: 20px 0;
            }
        }

        @include max-w(768px){
            order: -1;
        }
    }


    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;

        @include max-w(768px) {
            display: flex;
            flex-direction: column;
        }
    }



    .map {
        width: 60%;
        min-height: 100%;

        @include max-w(768px){
            width: 100%;
            min-height: 300px;
        }
    }


    .wrap {
        max-width: 850px;

        @include max-w(480px){
            max-width: 320px;
        }

        @include max-w($screen-xs){
            max-width: 290px;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0 0;
        width: 100%;

        @include max-w($screen-xs){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    p{
        @include max-w(480px){
            margin: 0;
        }
    }

    .wpcf7-text{
        height: 70px;
        margin: 0;

        @include max-w($screen-lg){
            height: 50px;
        }
    }
    .text-949, .phone {
        width: 408px;
        margin: 0;
        padding: 5px 0;


        @include max-w($screen-xl){
            width: 390px;
        }

        @include max-w($screen-lg){
            width: 350px;
        }

        @include max-w(1366px){
            width: 320px;
        }

        @include max-w($screen-md){
            width: 300px;
            margin: 0;
        }

        @include max-w(1152px){
            width: 260px;
        }


        @include max-w($screen-tablet-landscape){
            max-width: 250px;
        }

        //@include max-w($screen-portrait){
        //    max-width: 180px;
        //}

        @include  max-w(480px){
            min-width: 150px;
            width: 100%;
            margin-right: 13px;
        }

        @include max-w($screen-xs){
            min-width: 290px;
        }
    }

    .wpcf7-form-control {
        resize: none;
        background-color: transparent;
        color: $fourth-color;
        font-family: $second-font;
        font-size: 16px;
        transition: 0.4s;
        padding-left: 35px;
        line-height: normal;

        @include max-w(480px){
            margin: 5px 0 7px;
            height: 45px;
            padding-left: 17px;
        }

        &::placeholder {
            color: $fourth-color;
            font-family: $second-font;
            @include fluid-font(12px, 16px, 375px, 1920px);
        }
        &:hover {
            background-color: $fourth-color;
            color: $third-color;
            transition: 0.4s;

            &::placeholder {
                color: $third-color;
            }
        }
        &:focus {
            transition: 0.4s;
            &::placeholder {
                color: transparent;
            }
        }
    }
    .wpcf7-form {
        position: relative;
        @include max-w(480px){
            margin-bottom: 65px;
        }
    }

    .wpcf7-submit {
        position: absolute;
        right: 0;
        bottom: -55px;
        font-family: $font-family;
        @include fluid-font(13px, 24px, 375px, 1920px);
        padding: 5px;
        background-color: $first-color;
        border-color: transparent;
        width: 408px;
        height: 73px;
        cursor: pointer;
        transition: 0.4s;

        @include max-w($screen-xl){
            bottom: -40px;
        }
        @include max-w($screen-lg){
            width: 300px;
            height: 55px;
        }
        @include max-w($screen-md){
            bottom: -75px;
        }

        @include max-w($screen-portrait){
            height: 47px;
            width: 150px;
            bottom: -47px;
            letter-spacing: 0.1px;
        }

        @include max-w(480px){
            bottom: -9px;
        }

        @include max-w(480px){
            bottom: -50px;
        }

        &:hover{
            background-color: $submit-color-hover;
            color: $fourth-color;
        }
    }

    .wpcf7-validation-errors, .wpcf7submit{
        opacity: 0;
    }

    .wpcf7-mail-sent-ok{
        border: transparent !important;
    }

    .wpcf7-textarea {

        @include max-w($screen-lg){
            max-height: 180px;
        }

        @include max-w($screen-md) {
            max-height: 100px !important;
        }

        @include max-w(480px){
            height: 80px !important;
        }
    }

    .wpcf7-validation-errors{
        position: absolute;
    }

    .wpcf7-mail-sent-ok{
        position: absolute;
        bottom: -106px;
        color: $fourth-color;
    }
}
