.menu__hamburger {
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    outline: none;
    z-index: 15;
    padding: 21px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
    position: absolute;
    right: -7px;
    top: 0;

    @include max-w($screen-xl){
        right: 35px;
    }

    @include max-w($screen-portrait){
        width: 55px;
        height: 55px;
        right: 14px;
        top: 14px;
        padding: 15px;
    }


    &:hover{
        border: 1px solid $fourth-color;


    }

}

.menu__hamburger .line {
    width: 34px;
    height: 5px;
    background: $fourth-color;
    transition: all 0.3s cubic-bezier(0.08, .81, .87, .71);

    @include max-w($screen-portrait){
        width: 25px;
        height: 3px;
    }
}

.span1 {
    transform-origin: 4px 0;
}

.span3 {
    transform-origin: bottom right;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s ease;
    z-index: 2;
    margin: 0 auto;
    padding-left: 210px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 170px;
    padding-bottom: 180px;
    transform: translateX(100%);
    height: 100vh;
    background: $first-color;
    color: $link-color;
    font-family: $font-family;
    width: 50%;

    @include max-w($screen-lg){
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @include max-w($screen-md){
        padding-left: 180px;
    }

    @include max-w($screen-portrait){
        width: 100%;
    }

    @include max-w(460px){
        padding: 0 50px;
        align-items: center;
        justify-content: center;
    }

    @include max-h(480px){
        overflow: scroll;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: $font-size;
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        transition: 0.3s ease;
        z-index: 2;
        list-style: none;
        @include fluid-font(28px, 36px, 375px, 1920px);
    }

    .menu-item {
        padding-bottom: 83px;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        position: relative;
        color: $fourth-color;
        font-family: $font-family;

        @include max-w($screen-lg){
            padding-bottom: 63px;
        }

        @include max-w(1366px){
            padding-bottom: 45px;
        }

        @include max-w($screen-md){
            padding-bottom: 43px;
        }

        @include max-w (680px){
            padding: 29px 0;
        }
    }
}

.menu__show {
    + .main-nav {
        transform: translateX(0);
    }

    .span1 {
        background-color: $fourth-color;
        transform: rotate(45deg) translate(6px, -1px);
        width: 45px;
        height: 3px;
        @include max-w($screen-portrait){
            width: 28px;
            height: 2px;
            transform: rotate(45deg) translate(6px, 0);
        }
    }

    .span2 {
        background-color: $fourth-color;
        transform: rotate(495deg);
        width: 45px;
        height: 3px;
        @include max-w($screen-portrait){
            width: 28px;
            height: 2px;
        }
    }

    .span3 {
        background-color: $fourth-color;
        transform: rotate(45deg);
        opacity: 0;
    }
}
