.section-404 {
  text-align: center;
  padding: 15% 0 50px 0;
  background-color: white;
  @media(max-width: 768px) {
    padding: 100px 0 50px 0;
  }
  @media(max-width: 500px) {
    padding: 100px 0;
  }

  .title-type-1 {
    text-align: center;
  }

  .title-type-2 {
    text-align: center;
  }
}