.top-banner-about {
  height: 490px;
  position: relative;
  @media (max-width: 730px) {
    background-position: calc(100% + 30px) 0;
  }
  @media screen and (max-width: 500px) {
    height: 400px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .container {
    height: 100%;
    align-items: center;
  }

  .title-type-3 {
    padding-top: 30px;
    text-align: center;
    width: 100%;
  }

  .showAnimation{
    transition: transform .8s, opacity .8s;
    transition-delay: .3s;
    opacity: 1;
    transform: translateY(-30px);
  }
}
.about {
  background-color: $background-color-2;
  padding: 65px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;

  &-section-1 {
    position: relative;
    z-index: 0;

    &:after{
      content: "";
      background-color: $background-color-1;
      width: 63%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @media (max-width: 768px){
        width: 100%;
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 768px){
      align-items: center;
      flex-direction: column-reverse;
      padding: 0 0 50px 0;
    }

    &-text {
      min-height: 568px;
      padding: 115px 15px 105px 95px;

      @media (max-width: 992px){
        padding: 50px 20px;
      }

      @media (max-width: 768px){
        min-height: auto;
      }
      .content {
        padding-top: 36px;
      }
    }

    &-image {
      @media (max-width: 768px){
        max-width: 500px;
        width: 100%;
      }
    }

    .line-animation-render{
      @media (max-width: 768px){
        stroke: transparent;
      }
    }
  }
  &-section-2 {
    display: flex;
    flex-direction: row;
    background-color: $background-color-1;

    @media (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
  }
  &-item-2 {
    width: 80%;
    padding-left: 15%;
    padding-top: 122px;
    background-color: $background-color-2;
    position: relative;
    min-height: 705px;

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
    }

    svg{
      @media screen and (max-width: 768px){
        display: none;
      }
    }

    @media screen and (max-width: 768px){
      width: 100%;
      padding: 30px 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-text {
      width: 100%;
      @media (min-width: 769px){
        max-width: 460px;
      }

      .content {
        padding-top: 45px;
        padding-bottom: 85px;
      }
    }

    &-image {
      position: absolute;
      top: 120px;
      right: -305px;
      z-index: 2;

      img{
        width: 100%;
      }

      @media screen and (max-width: 768px){
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
  &-section-3 {
    position: relative;
    z-index: 2;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: inherit !important;
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
    }

    .left-side {
      width: 49%;
      padding: 62px 0 70px 18%;
      display: flex;
      align-items: center;

      @media (max-width: 1024px) {
        padding: 0 40px 70px 50px;
      }
      @media (max-width: 768px) {
        padding: 0 30px 70px 20px;
        width: 100%;
      }
      @media (max-width: 650px) {
        padding: 0 20px 20px 20px;
      }
    }

    .slick-dots {
      @media (min-width: 651px) {
        margin-bottom: 25px;
      }

      li {
        background-color: black;
        width: 40px;
        height: 4px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        transition: .5s;

        + li {
          margin-left: 5px;
        }

        button {
          font-size: 0;
        }

        &.slick-active {
          background-color: $orange-1;
        }
      }
    }

    .wrap-content {
      width: 100%;
    }

    .right-side {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
        height: 350px;
      }
    }  

    .subtitle {
      font-family: $QuincyCF-ExtraBold;
      font-size: 14px;
      color: white;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .title-type-2 {
      margin-bottom: 15px;
    }
    .title-type-5 {
      padding-bottom: 50px;
    }
    .content {
      margin-bottom: 20px;
      line-height: 1.5;
    }

    .slick-track {
      display: flex !important;
    }

    .slick-list {
      @media (min-width: 651px) {
        overflow: visible !important;
      }
    }
  }
  &-section-4 {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @media (min-width: 769px){
      padding-top: 66px;
    }

    &:after{
      content: "";
      background-color: $background-color-1;
      width: 80%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @media (max-width: 768px){
        width: 100%;
      }
    }

    .about-item {
      max-width: 100%;
      width: 100%;

      @media (max-width: 768px){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 20px;
      }

      @media (max-width: 600px){
        width: 100%;
      }
      &-images{
        width: 100%;
        padding-bottom: 63px;
        @media (max-width: 768px){
          max-width: 500px;
          width: 100%;
        }

        img{
          width: 100%;
        }
      }
      &-text {
        padding: 66px 8%;
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: auto;

        @media (max-width: 992px){
          padding: 20px 20px 50px 20px;
        }

        &:before {
          position: absolute;
          content: "";
          height: 453px;
          width: 453px;
          border: 2px solid $decor-line-color-2;
          border-radius: 50%;
          top: -58%;
          right: -9%;
          z-index: 0;

          @media (max-width: 1024px){
            top: -90%;
          }

          @media (max-width: 992px){
            display: none;
          }
        }

        .title-type-5, .content {
          width: 100%;
          z-index: 1;
          @media (min-width: 769px){
            max-width: 460px;
          }
        }
      }
    }
  }
}