.top-banner-feature-post {
  height: 590px;
  position: relative;
  @media screen and (max-width: 500px) {
    height: 500px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .container {
    height: 100%;
  }

  .item {
    max-width: 435px;
    width: 100%;
    position: absolute;
    left: 126px;
    bottom: 44px;
    @media screen and (max-width: 1300px) {
      left: 70px;
    }
    @media screen and (max-width: 992px) {
      left: 52px;
    }
    @media screen and (max-width: 768px) {
      left: 30px;
    }
    @media screen and (max-width: 400px) {
      left: 20px;
    }
  }

  .title-type-3 {
    margin-bottom: 20px;
  }

  .btn-type-1 {
    font-size: 12px;
    padding: 7px 15px;
  }
}

.blog {
  position: relative;
  @media screen and (min-width: 993px) {
    margin: 0 100px 0 0;
  }

  .container {
    padding: 100px 126px;
    z-index: 2;
    background: white;
    @media screen and (max-width: 1300px) {
      padding: 100px 70px;
    }
    @media screen and (max-width: 992px) {
      padding: 70px 52px;
    }
    @media screen and (max-width: 768px) {
      padding: 70px 30px 90px 30px;
    }
    @media screen and (max-width: 400px) {
      padding: 70px 20px 90px 20px;
    }
  }

  .description {
    font-family: $GTWalsheimProMedium;
    font-size: 18px;
    max-width: 595px;
    margin-bottom: 70px;
  }

  .blog-items-wrap {
    flex-wrap: wrap;
    margin: 0 -45px;
    min-height: 400px;
    @media screen and (max-width: 992px) {
      margin: 0 -30px;
    }
    @media screen and (max-width: 768px) {
      margin: 0 -20px;
    }
    @media screen and (max-width: 650px) {
      margin: 0;
    }
  }

  .item {
    width: calc(50% - 90px);
    margin: 40px 45px;
    @media screen and (max-width: 992px) {
      margin: 30px 30px;
      width: calc(50% - 60px);
    }
    @media screen and (max-width: 768px) {
      margin: 30px 20px;
      width: calc(50% - 40px);
    }
    @media screen and (max-width: 650px) {
      width: 100%;
      margin: 30px 0;
    }

    &:nth-child(2n) {
      margin: -20px 45px 40px 45px;
      @media screen and (max-width: 992px) {
        margin: 0 30px 30px 30px;
      }
      @media screen and (max-width: 768px) {
        margin: 0 20px 20px 20px;
      }
      @media screen and (max-width: 650px) {
        width: 100%;
        margin: 30px 0;
      }
    }

    &:hover {

      .image-wrapper {
        transform: scale(.95) rotateY(-9deg);
      }

      .gatsby-image-wrapper {
        transform: scale(1.1);
      }
    }
  }

  .image-container {
    transition: transform .95s var(--primary-ease);
    perspective: 1000px;
  }

  .image-wrapper {
    transition: all 1.25s var(--primary-ease);
    overflow: hidden;
    position: relative;
  }

  .gatsby-image-wrapper {
    transition: transform 4s var(--custom-ease-3);
  }

  .rect-outer {
    padding-top: 96%;
  }

  .wrap-info {
    padding: 30px 5px 0 5px;
  }

  .category {
    font-family: $GothamNarrow-Bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  .title {
    font-family: $QuincyCF-ExtraBold;
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 15px;
    @include adaptive-font-size(1367, 400, 21, 19, true);
  }

  .excerpt {
    font-family: $Gotham-Book;
    font-size: 12px;
    line-height: 1.6;
  }

  .filter-button {
    background-color: $orange-1;
    z-index: 1;
    padding: 48px 52px;
    display: inline-block;
    @media screen and (min-width: 993px) {
      position: absolute;
      right: -100px;
      top: -126px;
      width: 492px;
      height: 100%;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      padding: 30px;
    }
    @media screen and (max-width: 400px) {
      padding: 30px 20px;
    }

    .filter-title {
      color: white;
      font-family: $QuincyCF-ExtraBold;
      font-size: 28px;
      @include adaptive-font-size(1367, 400, 28, 20, true);
      transition: .5s;

      &:hover {
        cursor: pointer;
        letter-spacing: 3px;
      }
    }
  }

  .filter-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $orange-1;
    color: #fff;
    display: none;
    z-index: 11;
    @media (max-width: 768px) and (orientation: landscape) {
      overflow: auto;
    }

    .close-button {
      position: absolute;
      right: 20px;
      top: 20px;
      display: inline-block;

      i {
        font-size: 40px;
        transition: .3s;
        @media screen and (max-width: 992px) {
          font-size: 30px;
        }
      }

      &:hover {
        filter: blur(0.9px);
        cursor: pointer;
      }
    }

    .categories {
      height: 100%;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
      }

      li {
        display: inline-block;
        transition: all 400ms linear;
        filter: blur(20px);
        opacity: 0;

        &.in {
          filter: blur(0px);
          opacity: 1;
        }

        input[type=checkbox] + label {
          margin: 0.2em;
          cursor: pointer;
          color: white;
          font-family: $QuincyCF-ExtraBold;
          display: inline-flex;
          line-height: 1.2;
          font-size: 30px;
          letter-spacing: .025em;
          text-transform: capitalize;
          @media screen and (max-width: 992px) {
            font-size: 25px;
          }
        }

        input[type=checkbox] {
          display: none;
        }

        input[type=checkbox] + label:before {
          content: "\2714";
          border: 1px solid white;
          border-radius: 0;
          width: 33px;
          height: 33px;
          margin: 22px 20px 0 0;
          vertical-align: middle;
          color: transparent;
          transition: .3s;
          font-size: 40px;
          align-items: center;
          display: none;
          @media screen and (max-width: 992px) {
            margin: 8px 20px 0 0;
          }
        }

        input[type=checkbox] + label:active:before {
          transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
          background-color: $orange-1;
          border-color: white;
          color: #fff;
        }

        &.checked {

          input[type=checkbox] + label {
            color: #d1d1d1;
          }
          input[type=checkbox] + label:before {
            background-color: $orange-1;
            border-color: white;
            color: #fff;
          }
        }
      }
    }
  }

  #back-top {
    background-color: #edcbbf;
    width: 100px;
    position: absolute;
    right: -100px;
    bottom: 0;
    height: 126px;
    z-index: 2;
    color: white;
    font-family: $QuincyCF-ExtraBold;
    font-size: 12px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s;
    @media screen and (max-width: 992px) {
      right: 0;
      height: 65px;
      width: 65px;
      font-size: 10px;
    }

    span {
      display: inline-block;
    }

    &:hover {
      background-color: #edb1a2;
      cursor: pointer;
    }
  }
}

body, html {
  &.filter-active {
    overflow: hidden;
  }
}