.btn-type-1 {
  font-size: 17px;
  font-family: $QuincyCF-ExtraBold;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  transition: color .5s, border .5s;

  &.white {
    color: white;
    border: 1px solid white;
  }

  &.black {
    color: #252525;
    border: 1px solid #252525;
  }

  &:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}

.btn-type-2 {
  font-size: 17px;
  font-family: $QuincyCF-ExtraBold;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  transition: .5s;

  &.black {
    border: 1px solid black;
    color: black;

    &:hover {
      color: white;
      border: 1px solid white;
      background-color: black;
    }
  }

  &.pink {
    color: #e7baae;
    border: 2px solid white;

    &:hover {
      border: 2px solid black;
      color: black;
    }
  }

  &.red {
    background-color: $orange-1;
    color: white;
    border: 1px solid $orange-1;

    &:hover {
      color: $orange-1;
      background-color: white;
    }
  }
}