//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700');

@font-face {
  font-family: 'fontello';
  src: url('../../src/fonts/fontello/font/fontello.eot?31943601');
  src: url('../../src/fonts/fontello/font/fontello.eot?31943601#iefix') format('embedded-opentype'),
  url('../../src/fonts/fontello/font/fontello.woff2?31943601') format('woff2'),
  url('../../src/fonts/fontello/font/fontello.woff?31943601') format('woff'),
  url('../../src/fonts/fontello/font/fontello.ttf?31943601') format('truetype'),
  url('../../src/fonts/fontello/font/fontello.svg?31943601#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-right-dir:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-left-dir-1:before { content: '\e802'; } /* '' */
.icon-right-dir-1:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-down-open-mini:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open-mini:before { content: '\e80b'; } /* '' */
.icon-right-open-mini:before { content: '\e80c'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80d'; } /* '' */
.icon-cancel-circle:before { content: '\e80e'; } /* '' */
.icon-cancel-circled:before { content: '\e80f'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */