footer {
  background-color: #2f2f2f;
  font-size: 10px;
  font-family: $QuincyCF-ExtraBold;
  font-weight: 500;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    font-family: $QuincyCF-Medium;
    font-size: 10px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }

  .copyright {
    position: relative;
    padding-right: 20px;
    @media (max-width: 500px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .footer-menu {

    li {
      display: inline-block;

      + li {
        margin-left: 15px;
      }
    }

    a {
      transition: .5s;

      &:hover {
        color: $orange;
      }
    }
  }

  &.sticky {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: auto;
    margin-top: 0;
    @media (max-height: 400px) {
      position: relative;
      bottom: auto;
      left: auto;
      transform: translateX(0);
    }
  }
}