.container-wrap {
  //height: 100%;
}

.fp-tableCell {
  overflow: hidden;
}

.bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1050px) {

  #fullpage {

    .parallax-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;

      .box {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .section {
      position: absolute;
    }

  }
}
