body, html {
  overflow-x: hidden;
  background: white;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s, background .5s;
  &:focus {
    outline: none;
  }
}

button {
  transition: color .5s, opacity .5s, background .5s;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  &-small{
    max-width: 1010px;
  }
}

.flex {
  display: flex;
}

.back-img {
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
}

.back-img-top-align {
  background-repeat: no-repeat ;
  background-position: top center ;
  background-size: cover;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
.topBar_active{
  header{
    top: 47px;
  }
}

.animation-from-left {
  transition: transform .8s, opacity .8s;
  transition-delay: .2s;

  &:not(.is_on_screen) {
    transform: translateX(-30px);
    opacity: 0;
  }
}

.animation-from-right {
  transition: transform .8s, opacity .8s;
  transition-delay: .2s;

  &:not(.is_on_screen) {
    transform: translateX(60px);
    opacity: 0;
  }
}

.animation-first-row {
  transition: transform .8s, opacity .8s;
  transition-delay: .3s;

  &:not(.is_on_screen) {
    transform: translateY(30px);
    opacity: 0;
  }
}

.animation-second-row {
  transition: transform .8s, opacity .8s;
  transition-delay: .5s;

  &:not(.is_on_screen) {
    transform: translateY(30px);
    opacity: 0;
  }
}