body.fp-viewing-0 {

  .logo {
    opacity: 0;
  }
}

@media screen and (max-width: 1049px){
  body {
    a.logo {
      opacity: 1 !important;
    }
  }
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  z-index: 10;

  @media screen and (max-width: 768px) {
    background-color: white;
    padding: 10px 0;
  }


  .logo {
    padding-top: 15px;
    display: inherit;
    max-width: 136px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      max-height: 47px;
    }
  }

  .container {
    padding: 0;
    @media (min-width: $mobile-menu-breakpoint + 1px) {
      display: flex;
      justify-content: space-between;
    }
  }

  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #05111f;
    color: #fff;
    display: none;
    @media screen and (max-width: 992px) {
      min-height: 100vh;
      height: 100%;
    }
  }

  .wrap-right-side {
    position: relative;
  }

  .btn-link {
    font-family: $QuincyCF-ExtraBold;
    font-size: 13px;
    color: black;
    transition: .5s;
    display: inline-block;
    right: calc(100% + 3px);
    top: 12px;
    position: absolute;
    padding: 0 10px 0 0;

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 14px;
      width: 1px;
      background-color: black;
    }

    &:hover {
      color: $orange;
    }
  }

  .navbar-toggle {
    position: relative;
    font-family: $QuincyCF-ExtraBold;
    font-size: 13px;
    padding: 0 36px 0 5px;
    width: 85px;
    height: 30px;
    z-index: 5;

    @media (min-width: $mobile-menu-breakpoint + 1) {
      display: none;
    }

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background-color: black;
      content: 'N';
      color: white;
      transition: .5s;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
    }

    span {
      position: absolute;
      bottom: 2px;
      left: 6px;
      display: inline-block;
      transition: .5s;
    }

    .menu-close {
      opacity: 0;
    }

    &:hover {
      @media (min-width: 1100px) {
        &:before {
          background-color: $orange;
        }
      }
    }

    &.open {
      color: white;

      &:before {
        background-color: $orange;
      }

      .menu-open {
        opacity: 0;
      }
      .menu-close {
        opacity: 1;
      }
    }
  }

  .navbar-head {
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
    > li {
      > a {
        font-size: 60px;
        letter-spacing: .025em;
        padding: 10px 0;
        text-transform: capitalize;
        font-family: $QuincyCF-ExtraBold;
        transition: all 400ms linear;
        filter: blur(20px);
        opacity: 0;
        @media screen and (max-width: 992px) {
          font-size: 40px;

        }
        @media screen and (max-width: 768px) {
          font-size: 36px;

        }
        &:hover {
          transform: translateX(3px);
        }
      }
      &.in {
        a {
          filter: blur(0px);
          opacity: 1;
        }
      }
    }
  }
  .container2 {
    height: 100%;
    padding: 0 20px;
    @media screen and (max-width: 480px) {
      padding: 0 20px 80px;
    }
  }
  a.link-no-hover {
    color: #7e7979;
    transform: scale(0.98);
  }
  .contact {
    width: 50%;
    opacity: 0;
    display: flex;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    p {
      color: #7e7979;
      padding-bottom: 10px;
    }
    a {
      color: #7e7979;
      font-family: $main-font-family-1;

      &:hover {
        color: #fff;
      }
    }
    h4 {
      font-family: $QuincyCF-ExtraBold;
      padding-bottom: 16px;
      letter-spacing: .025em;
      font-size: 17px;

      @media screen and (max-width: 768px) {
        padding-bottom: 8px;
      }

    }
    .item {
      width: 50%;
      display: block;
      @media screen and (max-width: 992px) {
        padding: 0 5px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .wrap-nav {
    overflow: inherit;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
      overflow-y: auto;
    }
    @media screen and (max-width: 560px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  .info {
    a {
    }
  }
  .social {
    a {
      margin-bottom: 10px;
      display: block;
      text-transform: capitalize;
      @media screen and (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
  }
  svg {
    width: 142px;
    min-height: 23px;
    fill: #fff;
    transition: 0.5s fill;
    transition-delay: 0.7s;
  }
}

.disable-scroll {
  header .navbar-toggle .animate-burger span {
    background: #fff !important;
  }
}