.page-template-home-page {
  #content {
    @media (min-width: 1050px) {
      height: 100vh;
    }
  }
}

#fullpage {

  .section-inner {
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 1050px) {
      height: 100vh;
    }
  }
  .section {
    @media (max-width: 768px) {
      display: block;
      position: relative;
      transform: none !important;
      left: 0 !important;
      transition: none !important;
      opacity: 1 !important;
      overflow: hidden;
    }
  }

  .absolute-numbers {
    position: absolute;
    left: 20px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1020px) {
      left: 10px;
    }
    @media (max-width: 768px) {
      display: none;
    }

    span {
      display: block;
      font-size: 17px;
      font-family: $GothamNarrow-Bold;
      @media (max-width: 1020px) {
        font-size: 15px;
      }
    }
  }

  .section-top-banner {
    @media (max-width: 768px) {
     margin-top: 86px;
    }

    .box {
      position: relative;
      @media (max-width: 1050px) {
        min-height: 600px;
      }
      @media (max-width: 770px) {
        min-height: 550px;
      }
      @media (max-width: 700px) {
        min-height: 450px;
      }
      @media (max-width: 570px) {
        min-height: 400px;
      }
      @media (max-width: 500px) {
        min-height: 350px;
      }
      @media (max-width: 440px) {
        min-height: 300px;
      }
    }

    .absolute-numbers {
      span {
        color: white;
      }
    }

    .right-bottom-info {
      display: flex;
      width: 100%;
      @media (min-width: 851px) {
        align-items: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        max-width: 730px;
      }
      @media (max-width: 850px) {
        //flex-direction: column-reverse;
        align-items: center;
        padding: 30px 0;
        background-color: #edcbbf;
      }

      @media (max-width: 650px) {
        flex-direction: column-reverse;
      }

      img {
        max-width: 100%;
        display: inline-block;
        @media (min-width: 851px) {
          width: 40%;
        }
        @media (max-width: 850px) {
          width: 50%;
        }
      }

      .content {
        padding: 0 0 25px 20px;
        font-family: $GothamNarrow-Bold;
        font-size: 15px;
        @media (max-width: 850px) {
          padding: 0 20px 0 20px;
          width: 50%;
        }
        @media (min-width: 851px) {
          width: 60%;
        }
        @media (max-width: 650px) {
          width: 100%;
        }
      }
    }
  }

  .section-better-naked {
    overflow: hidden;

    .section-inner {
      @media (max-width: 1049px) {
        padding: 140px 0 70px 0;
      }

      @media (max-width: 650px) {
        padding: 70px 0 40px 0;
      }
    }

    &.visible {
      @media (min-width: 1049px) {
        #bottleImg {
          transform: translate3d(0, 100%, 0) translate(0, -140%) scale(0.94) rotate(9deg);

          .cap {
            transform: translate(-80px, -140px) rotate(-19deg) !important;
          }
        }
      }
    }

    .bg {
      background-color: #ebebeb;
      box-shadow: inset 35px 0 486px -45px rgba(97, 97, 97, 1);
    }

    .absolute-numbers {
      span {
        color: #59a8b6;
      }
    }

    .container {
      max-width: 905px;
    }

    .wrapper-columns {
      display: flex;
      align-items: center;
      @media (max-width: 1049px) {
        padding: 0 0 0 30px;
      }
      @media (max-width: 768px) {
        padding: 0;
      }
      @media (max-width: 650px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
    }

    .left-side {
      width: 43%;
      position: relative;
      @media (min-width: 1050px) {
        height: 100vh;
      }
      @media (max-width: 650px) {
        width: 100%;
        text-align: center;
      }

      #bottleImg {
        position: relative;
        @media (min-width: 1050px) {
          transition: all 0.8s ease;
          -webkit-backface-visibility: hidden;
          -webkit-perspective: 1000;
          top: 66%;
          transition-delay: 1s;
        }
        @media (max-width: 1049px) {
          max-width: 240px;
        }
        @media (max-width: 650px) {
          margin: 0 auto;
          max-width: 210px;
        }

        .bottle {
          display: inline-block;
          width: 100%;

          @media (min-width: 1050px) {
            position: relative;
          }

          @media (max-width: 1049px) {
            margin-bottom: -5px;
            transform: translate(0) !important;
            max-width: 287px;
          }
        }

        .cap {
          position: absolute;
          left: 15px;
          top: -35%;
          transform: rotate(17deg);
          z-index: 1;
          width: 87%;

          @media (min-width: 1050px) {
            transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
            transition-delay: 1s;
          }
          @media (max-width: 1049px) {
            left: 50%;
            transform: translateX(-50%) rotate(17deg) !important;
            max-width: 250px
          }
        }
      }
    }

    .right-side {
      width: 57%;
      padding: 0 0 0 18%;
      @media (max-width: 1020px) {
        padding: 0 0 0 10%;
      }
      @media (max-width: 768px) {
        padding: 0 0 0 50px;
      }
      @media (max-width: 650px) {
        width: 100%;
        padding: 0 0 120px 0;
      }
    }

    .title-type-1 {
      margin-bottom: 54px;
      position: relative;
      @media (max-width: 650px) {
        margin-bottom: 47px;
      }
    }

    .title-type-2 {
      margin-bottom: 20px;
    }

    .content {
      margin-bottom: 35px;
      line-height: 1.5;
    }

    .slider-better-naked {
      width: 100%;
      @media (min-width: 651px) {
        max-width: 326px;
      }
    }

    .slick-list {
      @media (min-width: 651px) {
        overflow: visible !important;
      }
    }

    .slick-dots {
      position: absolute;
      left: 0;
      top: -16px;

      li {
        background-color: black;
        width: 40px;
        height: 4px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;

        + li {
          margin-left: 5px;
        }

        button {
          font-size: 0;
        }

        &.slick-active {
          background-color: $orange-1;
        }
      }
    }
  }

  .section-why-naked {

    .bg {
      background-color: #edcbbf;
    }

    .absolute-numbers {
      span {
        color: white;
      }
    }

    .item {
      display: flex;
      @media (max-width: 650px) {
        flex-wrap: wrap;
      }
    }

    .left-side {
      width: 49%;
      padding: 0 10% 70px 15%;
      display: flex;
      align-items: center;
      @media (min-width: 1050px) {
        height: 100vh;
      }
      @media (max-width: 1049px) {
        padding: 70px 40px 70px 50px;
      }
      @media (max-width: 768px) {
        padding: 70px 30px 70px 20px;
      }
      @media (max-width: 650px) {
        width: 100%;
        padding: 70px 20px 20px 20px;
      }
    }

    .slick-dots {
      @media (min-width: 651px) {
        margin-bottom: 25px;
      }

      li {
        background-color: black;
        width: 40px;
        height: 4px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2px;
        transition: .5s;

        + li {
          margin-left: 5px;
        }

        button {
          font-size: 0;
        }

        &.slick-active {
          background-color: $orange-1;
        }
      }
    }

    .wrap-content {
      width: 100%;
      @media (min-width: 651px) {
        max-width: 326px;
        min-height: 420px;
      }
    }

    .right-side {
      width: 51%;
      @media (max-width: 650px) {
        width: 100%;
        height: 350px;
      }
    }

    .subtitle {
      font-family: $QuincyCF-ExtraBold;
      font-size: 14px;
      color: white;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .title-type-1 {
      margin-bottom: 50px;
      @media (max-width: 650px) {
        margin-bottom: 30px;
      }
    }

    .title-type-2 {
      margin-bottom: 15px;
    }

    .content {
      margin-bottom: 20px;
      line-height: 1.5;
    }

    .btn-type-1 {
      margin-top: 20px;
    }

    .slick-list {
      @media (min-width: 651px) {
        overflow: visible !important;
      }
    }
  }

  .section-our-products {

    .section-inner {
      @media (max-width: 1049px) {
        padding: 70px 0;
      }
    }

    .fade {
      opacity: 0;
      animation: slide-down 1s ease-out;
    }

    .fade.in {
      opacity: 1;
    }

    .absolute-figure {
      position: absolute;
      right: 20px;
      top: 18px;
      display: block;
      width: auto;
      height: calc(100% - 34px);
      z-index: 1;
      max-width: 36%;
      @media (max-width: 750px) {
        display: none;
      }
    }

    .bg {
      background-color: #ececec;
    }

    .absolute-numbers {
      span {
        color: #c4c4c4;
      }
    }

    .container {
      max-width: 1274px;
      display: flex;
      align-items: center;
      @media (min-width: 1050px) {
        height: 100vh;
      }
    }

    .wrapper {
      width: 100%;
      z-index: 4;
      position: relative;
      @media (min-width: 1050px) {
        padding: 0 0 0 9%;
      }
      @media (max-width: 1049px) {
        padding: 0 0 0 30px;
      }
      @media (max-width: 768px) {
        padding: 0;
      }
    }

    .title-type-1 {
      margin-bottom: 20px;
      position: relative;
    }

    .subtitle {
      font-size: 17px;
      color: black;
      font-family: $GothamNarrow-Bold;
      margin-bottom: 36px;
      position: relative;
    }

    .nav-tabs {
      margin-bottom: 15px;
      position: relative;
      @media (max-width: 400px) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        display: inline-block;
        @media (max-width: 400px) {
          width: 100%;
          position: relative;
          margin-left: 10px;

          &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            height: 17px;
            width: 1px;
            background-color: black;
            @media (max-width: 768px) {
              left: -8px;
            }
          }
        }

        a {
          color: black;
          font-size: 20px;
          letter-spacing: 0.7px;
          font-family: $QuincyCF-ExtraBold;
          @include adaptive-font-size(1367, 768, 20, 15, true);
          @media (max-width: 400px) {
            font-size: 17px;
          }
        }

        &.active {

          a {
            color: $orange-1;
          }
        }

        + li {
          margin-left: 20px;
          position: relative;
          @media (max-width: 768px) {
            margin-left: 10px;
          }

          &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            height: 17px;
            width: 1px;
            background-color: black;
            @media (max-width: 768px) {
              left: -8px;
            }
          }
        }
      }
    }

    .absolute-bottle {
      display: inline-block;
      max-width: 340px;
      max-height: 480px;
      position: absolute !important;
      top: 50%;
      right: 80px;
      transform: translateY(-50%);
      z-index: 3;
      width: 340px;
      height: 480px;
      @media screen and (max-width: 1400px) {
        width: 240px;
        height: 350px;
        right: 20%;
      }
      @media screen and (max-width: 1049px) {
        right: 12%;
      }
      @media screen and (max-width: 992px) {
        width: 210px;
        height: 300px;
      }
      @media (max-width: 768px) {
        right: 5%;
      }
      @media (max-width: 650px) {
        position: relative !important;
        top: auto;
        right: auto;
        transform: translateY(0);
        display: block;
        margin: 0 auto;
      }
      @media (max-width: 500px) {
        height: 270px;
        margin: 0 auto;
      }
    }

    .tab-pane {
      position: relative;
      @media (min-width: 769px) {
        min-height: 226px;
      }

      .content-wrap {
        font-size: 14px;
        color: black;
        line-height: 1.8;
        font-family: $GothamNarrow-Bold;
        margin-bottom: 30px;
        position: relative;
        @media (min-width: 651px) {
          max-width: 454px;
          width: 50%;
        }
      }

      .btn-type-2 {
        position: relative;
        @media (max-width: 650px) {
          margin-bottom: 55px;
        }
      }
    }

    .wrap-bottom-content {
      display: flex;
      max-width: 545px;
      margin: 55px 0 0 0;
      align-items: center;
      @media (max-width: 650px) {
        flex-wrap: wrap;
        max-width: 450px;
      }

      .title {
        font-family: $QuincyCF-ExtraBold;
        font-size: 28px;
        @include adaptive-font-size(1367, 400, 28, 20, true);
        line-height: 1.1;
        width: 28%;
        text-transform: capitalize;
        @media (max-width: 650px) {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }

    .wrap-logos {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 650px) {
        width: 100%;
        margin: 0 -20px;
      }
      @media (max-width: 500px) {
        margin: 0 -10px;
      }
      @media (min-width: 651px) {
        padding: 0 0 0 40px;
        margin: 0 -10px;
        width: 72%;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        @media (max-width: 650px) {
          padding: 10px 20px;
        }
        @media (max-width: 500px) {
          padding: 10px;
        }
      }

      img {
        display: inline-block;
        max-width: 100%;
        max-height: 130px;
      }
    }
  }

  .section-naked-insights {

    .section-inner {
      @media (max-width: 1049px) {
        padding: 70px 0 35px 0;
      }
    }

    .bg {
      background-color: #ebebeb;
      @media (max-width: 500px) {
        background-color: white;
      }
    }

    .absolute-numbers {
      span {
        color: #c7c7c7;
      }
    }

    .wrap-content {
      @media (min-width: 1050px) {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    .container {
      max-width: 1135px;
    }

    .wrap-columns {
      display: flex;
      margin-bottom: 30px;
      @media (max-width: 1049px) {
       padding-bottom: 50px;
      }
      @media (max-width: 768px) {
        flex-wrap: wrap;
        max-width: 550px;
        margin: 0 auto;
      }
      @media (min-width: 769px) {
        align-items: center;
      }
    }

    .wrap-boxes {
      display: flex;
      width: 100%;
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }

    .item {
      position: relative;
      display: block;

      &:hover {

        .title {
          color: $orange;
        }

        .rect-inner {
          transform: scale(1.1);
        }
      }
    }

    .title {
      font-family: $GothamNarrow-Bold;
      font-size: 10px;
      text-transform: uppercase;
      padding: 0 0 0 15px;
      max-width: 160px;
      display: inline-block;
      transition: .5s;
    }

    .title-type-1 {
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 16px;
      font-family: $GothamNarrow-Bold;
    }

    .rect-outer {
      margin-bottom: 10px;
      overflow: hidden;
    }

    .rect-inner {
      transition: .5s;
    }

    .wrap-titles-mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: relative;
        margin: 0 auto 30px auto;
        width: 100%;
      }
    }

    .left-side {
      width: 42%;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 500px) {
        width: 100%;
        margin-bottom: 30px;
      }

      .item {
        max-width: 462px;
        width: 100%;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      .rect-outer {
        border: 18px solid #e1bcaf;
        min-height: 505px;
        @media (max-width: 500px) {
          padding-top: 100%;
          min-height: auto;
        }
        @media (min-width: 769px) and (max-height: 785px) {
          min-height: 405px;
        }
      }
    }

    .right-side {
      width: 58%;
      position: relative;
      @media (max-width: 768px) {
         width: 50%;
      }
      @media (max-width: 500px) {
        width: 100%;
      }

      .wrap-items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @media (min-width: 769px) {
          max-width: 432px;
        }
      }

      .wrap-titles {
        position: absolute;
        left: 292px;
        top: 47px;
        z-index: 3;
        @media (max-width: 1020px) {
          left: 240px;
        }
        @media (max-width: 768px) {
          display: none;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }

      .rect-outer {
        margin-bottom: 10px;
        width: 100%;
        min-height: 219px;
        @media (max-width: 500px) {
          padding-top: 100%;
        }
        @media (min-width: 769px) {
          max-width: 219px;
        }
        @media (min-width: 501px) and (max-height: 785px) {
          min-height: 169px;
        }
      }

      .item {
        @media (max-width: 768px) {
          padding: 0 5px;
        }
        @media (max-width: 500px) {
          padding: 0;
        }

        &:first-child {
          width: 100%;
          margin-bottom: 30px;

          .rect-outer {
            border: 15px solid #d9d9d9;
          }
        }

        &:nth-child(2) {
          width: 50%;
          @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 30px;
          }

          .rect-outer {
            border: 15px solid #1c253c;
          }
        }

        &:nth-child(3) {
          width: 50%;
          @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 30px;
          }

          .rect-outer {
            border: 15px solid #ea923d;
          }
        }
      }
    }

    .wrap-footer {
      display: flex;
      justify-content: space-between;
      font-family: $QuincyCF-ExtraBold;
      font-size: 10px;
      padding: 0 20px;
      width: 100%;
      margin: 0 auto;
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
      @media (min-width: 769px) {
        position: absolute;
        bottom: 40px;
        left: 0;
      }
      @media (min-width: 769px) and (max-width: 1000px) and (max-height: 785px) {
        position: relative;
        bottom: auto;
      }

      .copyright {
        position: relative;
        @media (max-width: 500px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .footer-nav {
        position: relative;

        li {
          display: inline-block;

          + li {
            margin-left: 15px;
          }
        }

        a {
          transition: .5s;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

