.top-banner-products {
  height: 490px;
  position: relative;
  @media (max-width: 730px) {
    background-position: calc(100% + 30px) 0;
  }
  @media screen and (max-width: 500px) {
    height: 400px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .container {
    height: 100%;
  }

  .title-type-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    span {
      display: block;
    }
  }
}

.products {
  padding: 80px 0 174px 0;
  text-align: center;
  background: white;

  .title-type-3 {
    margin-bottom: 30px;
  }

  .wrap-salsas {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    width: 100%;
    margin: 85px auto 0 auto;
  }

  .column {
    width: 50%;
    @media (max-width: 730px) {
      width: 100%;
    }

    &:first-child {
      .wrap-imgs {
        transform: rotate(-12deg);
      }

      .absolute-title {
        color: $mild-color;
        right: calc(100% - 55px);
        top: 50%;
        @media (max-width: 1030px) {
          right: calc(100% - 83px);
        }
        @media (max-width: 730px) {
          right: calc(100% - 80px);
        }
      }

      .item-circle {
        path {
          stroke: $mild-color-transition;
        }
      }
    }

    &:nth-child(2) {
      margin: 80px 0 0 0;
      @media (max-width: 730px) {
        margin: 80px 0 0 0;
      }

      .wrap-imgs {
        transform: rotate(5deg);
      }

      .absolute-title {
        color: $med-color-1;
        right: calc(100% - 130px);
        top: 26%;
        @media (max-width: 1030px) {
          right: calc(100% - 150px);
        }
        @media (max-width: 730px) {
          right: calc(100% - 133px);
        }
      }

      .item-circle {
        path {
          stroke: $med-color-1-transition;
        }
      }
    }

    &:nth-child(3) {
      margin: 20px 0 0 0;
      @media (max-width: 730px) {
        margin: 80px 0 0 0;
      }

      .wrap-imgs {
        transform: rotate(8deg);
      }

      .absolute-title {
        color: $hot-color;
        right: 50px;
        top: 26%;
        width: 500px;
        @media (max-width: 1030px) {
          right: 8px;
        }

        @media (max-width: 730px) {

        }
      }

      .item-circle {
        path {
          stroke: $hot-color-transition;
        }
      }
    }

    &:nth-child(4) {
      margin: 115px 0 0 -17px;
      @media (max-width: 730px) {
        margin: 80px 0 0 0;
      }

      .absolute-title {
        color: $med-color-2;
        right: calc(100% - 80px);
        top: 26%;
        @media (max-width: 1030px) {
          right: calc(100% - 105px);
        }
        @media (max-width: 730px) {
          right: calc(100% - 96px);
        }
      }

      .item-circle {
        path {
          stroke: $med-color-2-transition;
        }
      }
    }
  }

  .wrap-imgs {
    position: relative;
    z-index: 2;
    @media (max-width: 1030px) {
      width: 73%;
      margin: 0 auto;
    }
  }

  .absolute-title {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    transform: rotate(-90deg);
    will-change: transform;
    font-family: $QuincyCF-ExtraBold;
    opacity: 0;
    transition: .5s;
    z-index: -1;
    font-size: 93px;
    @include adaptive-font-size(1367, 400, 93, 60, true);
  }

  .item-circle {
    position: absolute;
    top: -65px;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transform-origin: left center;
    transform: scale(.7) translateX(-50%);
    transition: opacity 2s cubic-bezier(.5, 0, 0, 1), transform 2s cubic-bezier(.5, 0, 0, 1);
    z-index: 1;
    @media (max-width: 1030px) {
      top: -125px;
    }
    @media (max-width: 500px) {
      transform: scale(.5) translateX(-50%);
    }

    svg {
      width: 523px;
      height: 523px;
    }
  }

  .salsa-wrap {
    position: relative;
    display: inline-block;
    max-width: 265px;
    width: 100%;
    animation: productsMove 3s ease infinite;
    transition-delay: .8s;

    &:hover {
      .absolute-title {
        opacity: 1;
      }

      .item-circle {
        opacity: 1;
        transform: scale(1) translateX(-50%);
        transition: opacity .5s cubic-bezier(.5, 0, 0, 1), transform 1s cubic-bezier(.5, 0, 0, 1);
        @media (max-width: 1030px) {
          transform: scale(.8) translateX(-50%);
        }
        @media (max-width: 500px) {
          transform: scale(.7) translateX(-50%);
        }
      }

      .cap {
        transform: translate(-10px, -50px) rotate(-14deg);
        @media (max-width: 1030px) {
          transform: translate(-10px, -37px) rotate(-14deg);
        }
      }
    }
  }

  .cap {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    display: inline-block;
    left: 0;
    top: 0;
    transition: transform 1s cubic-bezier(.5, 0, 0, 1);
  }

  .bottle {
    display: inline-block;
    max-width: 100%;
  }
}

.sign-up-today {
  padding: 196px 0 205px 0;
  position: relative;
  text-align: center;
  @media screen and (max-width: 10300px) {

  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .container {
    max-width: 900px;
  }

  .title-type-3 {
    width: 100%;
    margin-bottom: 55px;
  }

  .content {
    max-width: 570px;
    margin: 0 auto 30px auto;
    width: 100%;
    line-height: 1.5;
    font-family: $GothamNarrow-Bold;
  }

  .btn-type-2 {
    min-width: 200px;
  }
}