.single-post-wrapper {
  .top-banner-feature-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 490px;

    @media screen and (max-width: 500px) {
      height: 400px;
    }
  }

  .title-type-3 {
    text-align: center;
    max-width: 450px;
    width: 100%;
    z-index: 1;
  }

  .content-head-line {
    padding-top: 98px;
  }

  .post-info {
    padding: 18px 0 24px;
    font-family: $QuincyCF-ExtraBold;
    font-size: 19px;
    @include adaptive-font-size(1367, 400, 19, 16, true);
    line-height: 29.84px;
    letter-spacing: 0.57px;
  }

  .content-single-post {
    p {
      font-size: 18px;
      @include adaptive-font-size(1367, 400, 18, 16, true);
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;
      color: $neutral-1;
      border: 1px solid $neutral-1;
      border-radius: 50%;
      margin-right: 22px;
      font-size: 15px;

      .icon-twitter-bird {
        padding-top: 2px;
        font-size: 13px;
      }

      .icon-instagram{
        @media screen and (max-width: 500px){
          padding-top: 2px;
        }
      }

      &:hover {
        color: $orange-1;
        border-color: $orange-1;
      }
    }
  }
  .comment {
    padding: 65px 0 120px;
    max-width: 705px;
    width: 100%;

    @media (max-width: 768px) {
      padding: 30px 0;
    }
  }
}

.next-post {
  padding: 20px;

  a {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.bottom-banner-products {
  height: 490px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    height: 400px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
  }
}