#fullpage-single-product {
  position: relative;
  @media screen and (min-width: 851px) {
    height: 100vh !important;
  }

  .section {
    @media (max-width: 850px) {
      display: block;
      position: relative;
      transform: none !important;
      left: 0 !important;
      transition: none !important;
      opacity: 1 !important;
    }
  }

  .btn-open {
    position: relative;
    width: 185px;

    &:after {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      content: '\e808';
      font-size: 20px;
      font-family: 'fontello';
    }

    &.show {

      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .wrap-dropdown {
    position: relative;
    @media screen and (min-width: 851px) {
      opacity: 0;
    }
  }

  .links {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 400px;
    top: calc(100% + 5px);
    z-index: 3;
    @media screen and (max-width: 850px) {
      text-align: left;
    }
    @media screen and (max-width: 420px) {
      width: 300px;
    }

    ul {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    li {
      display: inline-block;
      line-height: 1.1;
      padding: 4px 0;
    }

    a {
      font-family: $GTWalsheimProMedium;

      &:hover {
        color: $orange-1;
      }
    }
  }

  #staticImg {
    padding: 0 120px;
    max-width: 1368px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 29vh;
    transform: translate(-50%, 0);
    left: 50%;
    width: 100%;
    height: 100%;
    transition: all .8s ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    @media screen and (max-width: 992px) {
      padding: 0 120px 0 50px;
    }

    @media screen and (max-width: 850px) {
      display: none;
    }

    .wrap-img {
      position: relative;
      max-width: 333px;
      transition: transform 1s cubic-bezier(.5, 0, 0, 1);
      width: 100%;
      @media screen and (max-width: 1367px) {
        width: 30%;
      }
      @media screen and (max-width: 850px) {
        max-width: 230px;
      }
      @media screen and (max-width: 850px) {
        margin: 0 auto 30px auto;
      }

      &:before {
        content: '';
        background-image: url("/wp-content/themes/naked-infusions-theme/images/shadow.png");
        position: absolute;
        right: -50%;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 400px;
        height: 400px;
        z-index: 1;
        opacity: 0.6;
      }
    }

    img.cap {
      position: absolute;
      left: 50%;
      top: -8px;
      transform: translateX(-50%);
      z-index: 3;
      width: 100%;
      transition: transform 1s cubic-bezier(.5, 0, 0, 1);
    }

    img.bottle {
      position: relative;
      z-index: 2;
      width: 100%;
    }

    &.moveUp {
      transform: translate3d(0, 0, 0) translate(-50%, 0);
    }

    &.moveDown {
      transform: translate3d(0, 100%, 0) translate(-50%, 0);

      .wrap-img {
        transform: scale(0.94) rotate(20deg);
      }

      img.cap {
        transform: translate(calc(-50% - 37px), -155px) rotate(-33deg);
      }
    }
  }

  .single-product-banner {
    @media (max-width: 850px) {
      padding: 180px 0 0 0;
    }

    &.active {
      @media screen and (min-width: 851px) {
        .title-type-1 {
          opacity: 1;
          transition: opacity .7s;
          transition-delay: .7s;
        }

        .absolute-word {
          transition: transform .8s, opacity .8s;
          transition-delay: 1s;
          opacity: 1;
          transform: translateY(0);
        }

        .price {
          opacity: 1;
          transition: opacity .9s;
          transition-delay: .9s;
        }

        .content {
          opacity: 1;
          transition: opacity 1.1s;
          transition-delay: 1.1s;
        }

        .wrap-dropdown {
          opacity: 1;
          transition: opacity 1.1s;
          transition-delay: 1.1s;
        }

        .wrap-characteristics {
          .item {
            transition: transform 1s cubic-bezier(.79, -.48, .18, 1.465);
            opacity: 1;
            transform: scale(1);
          }

          @for $i from 1 through 6 {
            .item:nth-child(n + #{$i}) {
              transition-delay: .2s * $i;
            }
          }
        }
      }
    }

    .container {
      padding: 0 120px;
      display: flex;
      max-width: 1368px;
      @media screen and (max-width: 1100px) {
        padding: 0 120px 0 50px;
      }
      @media screen and (max-width: 850px) {
        padding: 0 20px;
        flex-wrap: wrap;
        text-align: center;
      }
    }

    .wrap-img-mobile {
      position: relative;
      max-width: 230px;
      width: 100%;
      margin: 0 auto 30px auto;
      display: none;
      @media screen and (max-width: 850px) {
        display: block;
      }

      &:before {
        content: '';
        background-image: url("/wp-content/themes/naked-infusions-theme/images/shadow.png");
        position: absolute;
        right: -50%;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 400px;
        height: 400px;
        z-index: 1;
        opacity: 0.6;
      }

      img.cap {
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        z-index: 3;
        width: 100%;
        transition: transform 1s cubic-bezier(.5, 0, 0, 1);
      }

      img.bottle {
        position: relative;
        z-index: 2;
        width: 100%;
      }
    }

    .absolute-word {
      position: absolute;
      top: 11%;
      right: 0;
      font-size: 217px;
      @include adaptive-font-size(1367, 400, 217, 80, true);
      font-family: $QuincyCF-ExtraBold;
      color: rgba(0, 0, 0, 0.02);
      z-index: 1;
      @media screen and (max-width: 850px) {
        bottom: 0;
        top: auto;
      }
      @media screen and (min-width: 851px) {
        transform: translateY(30px);
        opacity: 0;
      }
    }

    .left-side {
      width: 40%;
      @media screen and (max-width: 1000px) {
        width: 35%;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
      }
    }

    .right-side {
      width: 60%;
      position: relative;
      z-index: 2;
      padding: 0 0 0 27px;
      @media screen and (max-width: 1000px) {
        width: 65%;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
        max-width: 100%;
        padding: 0;
      }
    }

    .title-type-1 {
      @media screen and (min-width: 851px) {
        opacity: 0;
      }
    }

    .price {
      color: white;
      font-size: 38px;
      font-family: $QuincyCF-ExtraBold;
      @include adaptive-font-size(1367, 400, 38, 22, true);
      margin-bottom: 30px;
      @media screen and (min-width: 851px) {
        opacity: 0;
      }

      span {
        font-size: 22px;
        display: inline-block;
        @include adaptive-font-size(1367, 400, 38, 16, true);
      }

      .plus-info {
        display: inline-block;
        font-size: 15px;
        font-family: $Gotham-Book;
      }
    }

    .content {
      margin-bottom: 35px;
      font-family: $GothamNarrow-Bold;
      max-width: 550px;
      @media screen and (max-width: 850px) {
        margin-bottom: 15px;
      }
      @media screen and (min-width: 851px) {
        opacity: 0;
      }
    }

    .wrap-characteristics {
      display: flex;
      justify-content: space-between;
      margin: 0 0 35px -10px;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      @media screen and (max-width: 850px) {
        justify-content: center;
        margin: 0 0 35px 0;
      }

      .item {
        text-align: center;
        padding: 5px 0;
        width: 16.66666%;

        @media screen and (max-width: 1200px) {
          width: auto;
        }

        @media screen and (min-width: 851px) {
          opacity: 0;
          transform: scale(0);
        }

        img {
          display: inline-block;
          max-width: 100%;
        }
      }
    }

    .wrap-dropdown {
      @media screen and (min-width: 851px) {
        margin-left: -56px;
      }
    }

    .links {
      left: 0;
      @media screen and (max-width: 850px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .section-ingredients {
    @media screen and (max-width: 850px) {
      padding: 50px 0 80px 0;
    }

    &.active, &.visible {
      @media screen and (min-width: 851px) {

        .title-type-1 {
          opacity: 1;
          transition: opacity 1s cubic-bezier(.5, 0, 0, 1);
          transition-delay: .7s;
        }

        .absolute-word {
          transition: transform .8s, opacity .8s;
          transition-delay: 1s;
          opacity: 1;
          transform: translateY(0);
        }

        .wrap-dropdown {
          opacity: 1;
          transition: opacity 1.1s;
          transition-delay: 1.1s;
        }

        .wrap-ingredients {
          li {
            transition: transform 1s cubic-bezier(.79, -.48, .18, 1.465);
            opacity: 1;
            transform: scale(1);
          }

          &.first-row {
            @for $i from 1 through 3 {
              li:nth-child(n + #{$i}) {
                transition-delay: .2s * $i;
              }
            }
          }

          &.second-row {
            @for $i from 1 through 4 {
              li:nth-child(n + #{$i}) {
                transition-delay: .25s * $i;
              }
            }
          }
        }
      }
    }

    .wrap-img-mobile {
      position: relative;
      max-width: 230px;
      width: 100%;
      margin: 0 auto 30px auto;
      display: none;
      @media screen and (max-width: 850px) {
        display: block;
      }

      &:before {
        content: '';
        background-image: url("/wp-content/themes/naked-infusions-theme/images/shadow.png");
        position: absolute;
        right: -50%;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 400px;
        height: 400px;
        z-index: 1;
        opacity: 0.6;
      }

      img.cap {
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        z-index: 3;
        width: 100%;
        transition: transform 1s cubic-bezier(.5, 0, 0, 1);
      }

      img.bottle {
        position: relative;
        z-index: 2;
        width: 100%;
      }
    }

    .container {
      padding: 0 120px;
      display: flex;
      max-width: 1368px;
      @media screen and (max-width: 1100px) {
        padding: 0 120px 0 50px;
      }
      @media screen and (max-width: 850px) {
        padding: 0 20px;
        flex-wrap: wrap;
        text-align: center;
      }
    }

    .left-side {
      width: 40%;
      padding: 0 50px 0 46px;
      @media screen and (max-width: 1000px) {
        width: 35%;
        padding: 0 50px 0 0;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
        padding: 0;
      }
    }

    .right-side {
      width: 60%;
      position: relative;
      z-index: 2;
      padding: 0 0 0 38px;
      @media screen and (max-width: 1000px) {
        width: 65%;
        padding: 0 0 0 27px;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
        padding: 0;
      }
    }

    .title-type-1 {
      max-width: 460px;
      width: 100%;
      margin: 0 25px 23px 0;

      @media screen and (max-width: 1300px) {
        max-width: 100%;
        margin: 0 0 30px 0;
      }
      @media screen and (min-width: 851px) {
        transform: translateY(30px);
        opacity: 0;
      }
    }

    .wrap-dropdown {
      @media screen and (max-width: 1300px) {
        margin: 30px 0 0 0;
      }
      @media screen and (max-width: 850px) {
        margin: 0 auto;
      }
    }

    .links {
      right: 0;
      @media screen and (max-width: 850px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .top-info {
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: 1300px) {
        flex-wrap: wrap;
      }
    }

    .wrap-ingredients {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 850px) {
        justify-content: center;
        margin: 0 -10px;
      }

      li {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 20px 33px 0 rgba(8, 8, 8, 0.3);
        position: relative;

        @media screen and (max-width: 1040px) {
          width: 80px;
          height: 80px;
        }
        @media screen and (min-width: 851px) {
          transform: scale(0);
          opacity: 0;
        }

        .title {
          font-size: 14px;
          color: #32384c;
          font-family: $QuincyCF-ExtraBold;
        }

        .hidden {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: .5s;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          text-align: center;
        }

        &:hover {
          background-image: none !important;
          .hidden {
            opacity: 1;
          }
        }
      }

      &.first-row {
        margin: 60px 0 0 0;
        @media screen and (max-width: 1040px) {
          margin: 30px 0 0 0;
        }

        li {
          &:first-child {
            margin: 35px 9% 0 0;
            @media screen and (max-width: 1240px) {
              margin: 35px 5% 0 0;
            }
          }

          &:nth-child(2) {
            margin: 52px 8% 0 0;
            @media screen and (max-width: 1240px) {
              margin: 50px 5% 0 0;
            }
          }

          @media screen and (max-width: 1040px) {
            margin: 20px 20px 0 0 !important;
          }
          @media screen and (max-width: 850px) {
            margin: 20px 10px 0 10px !important;
          }
        }
      }

      &.second-row {
        li {
          &:first-child {
            margin: 15px 8% 0 8%;
            @media screen and (max-width: 1240px) {
              margin: 15px 5% 0 4%;
            }
          }

          &:nth-child(2) {
            margin: 50px 5% 0 0;
            @media screen and (max-width: 1240px) {
              margin: 40px 3% 0 0;
            }
          }

          &:nth-child(3) {
            margin: -20px 7% 0 0;
            @media screen and (max-width: 1240px) {
              margin: -20px 5% 0 0;
            }
          }

          &:nth-child(4) {
            margin: -72px 0 0 0;
            @media screen and (max-width: 1240px) {
              margin: -52px 0 0 0;
            }
          }

          @media screen and (max-width: 1040px) {
            margin: 20px 20px 0 0 !important;
          }
          @media screen and (max-width: 850px) {
            margin: 20px 10px 0 10px !important;
          }
        }
      }
    }
  }

  #footer-outer {

    &.fp-completely {
      @media screen and (min-width: 851px) {
        .absolute-word {
          transition: transform .8s, opacity .8s;
          transition-delay: .1s;
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }

    @media screen and (max-width: 850px) {
      overflow: hidden;
    }

    .fp-tableCell {
      overflow: visible;
    }

    .wrap-content {
      position: relative;
      height: 365px;
      @media screen and (max-width: 850px) {
        height: 265px;
      }
    }

    .absolute-word {
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translate(-50%, -30px);
      font-size: 217px;
      @include adaptive-font-size(1367, 400, 217, 90, true);
      font-family: $QuincyCF-ExtraBold;
      color: rgba(0, 0, 0, 0.04);
      z-index: 1;
      width: 100%;
      text-align: center;
      @media screen and (min-width: 851px) {
        opacity: 0;
      }
    }

    a {
      display: block;
    }

    .wrap-img {
      position: absolute;
      max-width: 267px;
      width: 100%;
      bottom: -42%;
      left: 50%;
      transform: translate(-50%, 0);
      margin: 0 auto;
      z-index: 2;
      @media screen and (max-width: 850px) {
        max-width: 200px;
        bottom: -38%;
      }

      img.cap {
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
        z-index: 3;
        width: 100%;
      }

      img.bottle {
        position: relative;
        z-index: 2;
        width: 100%;
        display: inline-block;
      }
    }
  }
}

.shopify-buy-frame--product {
  display: inline-block !important;
}

.shopify-buy-frame--toggle.is-sticky {
  top: 65% !important;
}