/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  outline: none;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-list {
  position: relative;
}


.slick-prev, .slick-next {
  border: none;
  font-size: 0;
  position: absolute;
  background: transparent;
  top: 50%;
  z-index: 2;
  height: 50px;
  width: 50px;
  transition: .5s;
  &:before {
    font-family: 'fontello';
    font-size: 20px;
    line-height: 1;
    color: #9c9c9b;
    content: '\e802';
    z-index: 2;
    @media (max-width: 1150px) {
      left: 10px;
    }
  }
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 500px) {
    display: none !important;
  }
}
