body {
  font-family: $main-font-family-1;
  font-size: 16px;
  color: $main-text-color-1;
  line-height: 1.3;
}

.title-type-1 {
  font-family: $QuincyCF-ExtraBold;
  font-size: 52px;
  line-height: 1;
  @include adaptive-font-size(1367, 400, 52, 25, true);

  &.orange {
    color: $orange-1;
  }

  &.black {
    color: black;
  }

  &.white {
    color: White;
  }
}

.title-type-2 {
  color: #1c1919;
  font-family: $QuincyCF-ExtraBold;
  font-size: 30px;
  @include adaptive-font-size(1367, 400, 30, 20, true);
}

.title-type-3 {
  font-family: $QuincyCF-ExtraBold;
  font-size: 62px;
  line-height: 1;
  @include adaptive-font-size(1367, 400, 62, 35, true);

  &.black {
    color: black;
  }

  &.white {
    color: White;
  }
}

.title-type-4 {
  font-family: $QuincyCF-ExtraBold;
  font-size: 36px;
  @include adaptive-font-size(1367, 400, 36, 22, true);
  line-height: 1;
  letter-spacing: 1px;

  &.black {
    color: black;
  }

  &.white {
    color: White;
  }
}

.title-type-5 {
  font-family: $QuincyCF-ExtraBold;
  font-size: 44px;
  @include adaptive-font-size(1367, 400, 44, 30, true);
  line-height: 1;
  letter-spacing: 1px;

  &.black {
    color: black;
  }

  &.white {
    color: White;
  }
}

.content {
  font-size: 16px;
  line-height: 1.6;
  font-family: $GTWalsheimProReg;

  &.white-theme {
    color: white;
  }

  &.little-font-size {
    font-size: 14px;
  }

  p {
    font-family: $GothamNarrow-Bold;

    + p {
      margin-top: 20px;
    }


    + h1 {
      margin-top: 20px;
    }

    + h2 {
      margin-top: 20px;
    }

    + h3 {
      margin-top: 20px;
    }

    + h4 {
      margin-top: 20px;
    }

    + h5 {
      margin-top: 20px;
    }

    + h6 {
      margin-top: 20px;
    }
  }

  &.content-single-post {
    p {
      font-family: $GTWalsheimProReg;

      + p {
        margin-top: 20px;
      }


      + h1 {
        margin-top: 20px;
      }

      + h2 {
        margin-top: 20px;
      }

      + h3 {
        margin-top: 20px;
      }

      + h4 {
        margin-top: 20px;
      }

      + h5 {
        margin-top: 20px;
      }

      + h6 {
        margin-top: 20px;
      }
    }
  }
  strong {
    font-family: $GTWalsheimProMedium;
  }

  a {
    font-family: $GTWalsheimProMedium;
    text-decoration: underline;
    color: $orange-1;
  }

  em {
    font-style: italic;
  }

  ul {
    padding: 20px 0 0 20px;

    li {
      list-style-type: disc;

      + li {
        margin-top: 15px;
      }
    }

    + p {
      margin-top: 20px;
    }
  }

  ol {
    padding: 15px 0 0 20px;
    li {
      list-style-type: decimal;

      + li {
        padding-top: 15px;
      }
    }

    + p {
      margin-top: 20px;
    }
  }

  h1 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 36px;
    @include adaptive-font-size(1367, 400, 36, 25, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  h2 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 32px;
    @include adaptive-font-size(1367, 400, 32, 22, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  h3 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 28px;
    @include adaptive-font-size(1367, 400, 28, 20, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  h4 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 25px;
    @include adaptive-font-size(1367, 400, 25, 19, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  h5 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 22px;
    @include adaptive-font-size(1367, 400, 22, 18, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  h6 {
    font-family: $QuincyCF-ExtraBold;
    font-size: 19px;
    @include adaptive-font-size(1367, 400, 19, 17, true);
    line-height: 1.1;

    + p {
      margin-top: 20px;
    }
  }

  img {
    max-width: 100%;
  }

  img.size-thumbnail {
    max-width: 150px;
    width: auto;
    height: auto;
  }

  img.size-medium {
    max-width: 300px;
    width: auto;
    height: auto;
  }

  img.size-large {
    max-width: 1024px;
    height: auto;
    width: auto;
  }

  img.size-full {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  img.aligncenter {
    margin: 0 auto;
    display: block;
    padding: 20px 0;
  }

  img.alignright {
    display: block;
    float: right;
    padding: 25px 0 20px 35px;

    @media (max-width: 768px) {
      padding: 20px 0 20px 20px;
    }
    @media (max-width: 550px) {
      float: none;
    }
  }

  img.alignleft {
    display: block;
    float: left;
    padding: 25px 35px 20px 0;

    @media (max-width: 768px) {
      padding: 20px 20px 20px 0;
    }
    @media (max-width: 550px) {
      float: none;
    }
  }
}

.policy {
  padding: 150px 0 100px;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  h2 {
    color: #1c1919;
    font-family: $QuincyCF-ExtraBold;
    font-size: 40px;
    @include adaptive-font-size(1367, 400, 40, 20, true);
  }

  h3 {
    color: #1c1919;
    font-family: $QuincyCF-ExtraBold;
    font-size: 30px;
    @include adaptive-font-size(1367, 400, 30, 20, true);
  }
}