$main-text-color-1: #151313;
$orange: #ee5a32;
$orange-1: #ea5043;
$neutral-1: #a8a8a8;
$neutral-2: #f6f6f6;

$background-color-1: #ffffff;
$background-color-2: #f6f6f6;
$background-color-3: linear-gradient(90deg, rgba(246,246,246,1) 32%, rgba(255,255,255,1) 100%);
$decor-line-color: #ea5043;
$decor-line-color-2: #f4e0d9;

$mild-color: #edcbbf;
$med-color-1: #ffc946;
$med-color-2: #b488c2;
$hot-color: #e96d56;
$mild-color-transition: rgba(237, 203, 191, 0.5);
$med-color-1-transition: rgba(255, 201, 70, 0.5);
$med-color-2-transition: rgba(180, 136, 194, 0.5);
$hot-color-transition: rgba(233, 109, 86, 0.5);

$main-font-family-1: 'GothamNarrow-Book', sans-serif;
$GothamNarrow-Bold: 'GothamNarrow-Bold', sans-serif;
$QuincyCF-ExtraBold: 'QuincyCF-ExtraBold', sans-serif;
$QuincyCF-Bold: 'QuincyCF-Bold', sans-serif;
$QuincyCF-Medium: 'QuincyCF-Medium', sans-serif;

$GTWalsheimProMedium: 'GTWalsheimProMedium', sans-serif;
$GTWalsheimProReg: 'GTWalsheimProRegular', sans-serif;
$Gotham-Book: 'Gotham-Book', sans-serif;

$mobile-menu-breakpoint: 5000px;

:root {
  --primary-ease: cubic-bezier(0.475,0.425,0,0.995);
  --custom-ease-3: cubic-bezier(0.19,1,0.22,1);
}