// Кнопки

.btn {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 8px 25px;
    text-transform: uppercase;
    color: $linkColor;

    &__get-quote{
        border-radius: 10px;
        background-color: #ee5050;
        color: $linkColor;
        opacity: .8;
        padding: 20px 45px;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 205px;
        cursor: pointer;
        border: none;
        transition: .3s;
        outline: none;
        position: relative;
        z-index: 2;

        @include max-w($screen-md){
            font-size: 16px;
            letter-spacing: -.4px;
        }

        &:hover{
            background-color: #ea4141;
            color: $linkColor;
        }
    }

    &__apply{
        border-radius: 6px;
        background-color: #ee5050;
        font-family: $fontFamily;
        color: $linkColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.16px;
        opacity: .8;
        height: 40px;
        width: 105px;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;
        position: relative;
        z-index: 99;
        white-space: nowrap;

        &:hover{
            background-color: #ea4141;
            color: $linkColor;
        }
    }
}

#load-more{
    display: block;
    padding: 30px;
    width: 70px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin-bottom: 25px;

    &:after{
        content: '';
        background-image: url('~@img/load_more.png');
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: contain;
        padding: 10px 34px;
        position: absolute;
        top: 29px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#portfolio-show{
    display: block;
    padding: 30px;
    width: 70px;
    height: 20px;
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin-bottom: 25px;

    @include max-w($screen-lg){
        display: none;
    }
    &:after{
        content: '';
        background-image: url('~@img/load_more.png');
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: contain;
        padding: 10px 34px;
        position: absolute;
        top: 29px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.load-more-blog-wrp{
    max-width: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.button-up{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 7px 25px;
    font-size: 18px;
    color: $linkColor;
    border-radius: 6px 6px 0 0;
    border: 1px solid $linkColor;
    background-color: #d0d0d0;
    width: 36px;
    height: 45px;
    z-index: 9999;

    @include max-w(1024px){
        left: 15px;
        right: unset;
    }

    &:hover{
        background-color: $linkColorHover;
    }
}
.attached-file{
    padding: 0 10px;
    font-size: 18px;
    max-width: 300px;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &-name{
        font-size: 16px;
    }
}

.mdl-button{
    width: 20px;
    transition: .3s;
    .fa-paperclip{
        cursor: pointer;
        &:hover{
            color: $linkColorHover;
        }
    }
}
#uploadBtn{
    cursor: pointer;
    width: 100px;
    opacity: 0;
}

.file300{
    display: none;
}
