// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea, select {
    width: 100%;
    max-width: 100%;
    background: none;
    outline: 0 none;
    border: 2px solid #a7a7a7;
    padding: 12px 15px;
    color: $textColor;
    background-color: transparent;
    font-family: $secondFont;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.35px;
    border-radius: 5px;
    resize: none;

    &::placeholder {
        color: $textColor;
        font-family: $secondFont;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -.35px;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}

.wpcf7-form {
    max-width: 704px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    br {
        display: none !important;
    }
    p, textarea {
        margin: 0 0 7px;
    }

    p label {
        height: 0;
    }

    textarea {
        height: 140px;
    }

    .wpcf7-textarea {
        margin-bottom: 15px;

        @include max-w($screen-md) {
            margin-bottom: 20px;
        }
    }

    .wpcf7-not-valid {
        border: 2px solid $thirdTextColor;
        &::placeholder {
            color: $thirdTextColor;
        }
    }
}
.file-300, .file-978{
    position: relative;
    .wpcf7-not-valid-tip {
        position: absolute;
        width: 250px;
        top: -5px;
        left: 0;
    }
}

.wpcf7-validation-errors {
    border: 2px solid $thirdTextColor !important;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include max-w($screen-sm) {
        flex-wrap: wrap;
    }

    .name-wrap {
        width: 50%;
        margin: 0 7px 7px 0;

        @include max-w($screen-md) {
            margin: 0 5px 7px 0;
        }

        @include max-w($screen-sm) {
            margin: 0 0 7px;
            width: 100%
        }
    }

    .email-wrap {
        width: 50%;
        margin: 0 0 7px 7px;

        @include max-w($screen-md) {
            margin: 0 0 7px 5px;
        }

        @include max-w($screen-sm) {
            margin: 0 0 7px;
            width: 100%
        }
    }

    p {
        margin: 0 0 7px;
    }
}

.wpcf7-form-control-wrap, .wpcf7-form-control {
    width: 100%;
}

.wpcf7-submit {
    margin-left: 50%;
    transform: translateX(-50%);
}
