.projects-slider {
    position: relative;

    .slick-dots {
        position: absolute;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
    }
    .circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #b8b8b8;
        margin: 9px;

        &:hover{
            background-color: #7b7b7b;
        }
    }

    .circle.slick-active {
        position: relative;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #000000;
        padding: 2px;

        &:before {
            position: absolute;
            content: '';
            padding: 7px;
            margin: 0;
            z-index: 5;
            border: 1px solid #000000;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;

    @include max-w($screen-md){
        padding: 0 32px;
        top: 55%;
    }

    @include max-w($mobile){
        padding: 0 3px;
    }

    .slick-prev, .slick-next{
        position: relative;
        padding: 17px 22px;
        border: 2px solid #a0a0a0;
        background-color: #a0a0a0;
        opacity: .14;
        border-radius: 50%;
        color: $textColor;
        font-size: 18px;

        &:hover{
            opacity: .2;
            cursor: pointer;
        }
    }
}
