.hero-blog {
    padding: 115px 0 323px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;
    position: relative;

    @include max-w($mobile){
        padding: 60px 0 145px;
    }

    .banner-title {
        color: #fefefe;
        font-family: $fontFamily;
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: -.36px;
        position: relative;
        z-index: 2;
        max-width: 570px;
        width: 100%;
        text-align: center;
        margin-bottom: 85px;

        @include max-w($mobile){
            margin-top: 21px;
            margin-bottom: 94px;
            font-size: 30px;
            line-height: 46px;
        }
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -1.5px;
        padding-left: 25px;
        z-index: 2;
        position: relative;

        @include max-w($mobile){
            font-size: 36px;
            margin-bottom: 15px;
        }
    }

    .hero-inner {
        text-align: center;
        padding-top: 133px;

        @include max-w($screen-xl){
            padding-top: 50px;
        }

        @include max-w($mobile){
            padding-top: 0;
        }
    }
}

.post-section {
    width: 100%;
    padding: 0 0 350px;
    position: relative;

    @include max-w($screen-xl){
        padding: 0 0 250px;
    }

    @include max-w($mobile){
        padding: 15px 0 150px;
    }
}

.post-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    flex-wrap: wrap;

    @include max-w(978px) {
        justify-content: center;

        &:after {
            content: '';
            max-width: 305px;
            width: 100%;
            margin: 5px;

            @include max-w($mobile){
                margin: 0 0 15px;
            }
        }
    }

    .blog, .type-blog {
        margin: 5px;

        @include max-w($mobile){
            margin: 0 0 15px;
        }
    }
    .post__inner {
        border-radius: 6px;
        max-width: 305px;
        width: 100%;
        background-color: #f7f7f7;
        display: block;
    }

    h3 {
        color: $secondTextColor;
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -.18px;
        line-height: 28px;
        margin: 11px 0 29px;

        @include max-w($mobile){
            letter-spacing: -.3px;
        }
    }

    p {
        color: $fourthTextColor;
        font-family: $secondFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 29px;
    }

    .post-image {
        max-width: 306px;
        width: 100%;
        position: relative;
        filter: grayscale(50%);
        img{
            border-radius: 6px 6px 0 0;
        }
    }

    .post-description {
        padding: 0 9px 16px;
    }

    .date {
        padding-top: 16px;

        p {
            color: $fourthTextColor;
            width: 100%;
            text-align: center;
            font-family: $secondFont;
            font-size: 11px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.11px;
            padding-top: 10px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                background-color: #c4c4c4;
                max-width: 60px;
                width: 100%;
            }
        }
    }

    .load-more-blog-wrp{
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }
}
