.hero-careers {
    position: relative;
    width: 100%;
    padding: 115px 0 412px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: #dedede;
    z-index: 0;

    @include max-w($screen-xl) {
        padding: 116px 0 120px;
    }

    @include max-w($mobile){
        padding: 60px 0 90px;
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        padding-left: 22px;

        @include max-w($mobile) {
            font-size: 36px;
        }
    }

    .item-wrap {
        max-width: 805px;
        width: 100%;
        padding-top: 4px;
        position: relative;
        z-index: 5;

        @include max-w($screen-md) {
            padding: 4px 70px 0;
        }

        @include max-w($screen-sm) {
            padding: 4px 25px 0;
        }

        @include max-w($mobile) {
            padding: 4px 0 0;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(208, 208, 208, .5);
        z-index: 1;
    }

    &__text {
        font-family: $secondFont;
        color: #fefefe;
        font-weight: 700;
        line-height: 24px;

        p {
            margin: 13px 0;
        }
    }

    .careers-title {
        font-family: $secondFont;
        font-size: 30px;
        letter-spacing: -.3px;
        margin: 9px 0;

        @include max-w($mobile){
            font-size: 24px;
        }
    }
    &-info {
        font-size: 16px;
        letter-spacing: -.16px;
    }

    .btn__apply{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include max-w($mobile){
            top: 60%;
        }
    }
}
