.hero-company{
    padding: 115px 0 470px;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    position: relative;
    width: 100%;

    @include max-w($screen-xl){
        padding: 115px 0 180px;
    }

    @include max-w($screen-md){
        padding: 115px 0 80px;
    }

    @include max-w($mobile){
        padding: 60px 0 80px;
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        padding-left: 27px;
        margin-bottom: 30px;

        @include max-w($mobile){
            font-size: 36px;
            margin-bottom: 15px;
        }
    }
}

.company-text{
    color: #fefefe;
    font-family: $secondFont;

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -.2px;
        margin: 30px 0;

        @include max-w($screen-md){
            line-height: 28px;
            margin: 30px 0;
        }

        @include max-w($mobile){
            margin: 22px 0;
        }
    }

    strong{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -.16px;
        line-height: 24px;
    }
}
