.page-main {
    overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    padding: 230px 0 300px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: #dedede;
    z-index: 0;

    @include max-w($screen-md) {
        padding: 180px 0 284px;
    }

    @include max-w($mobile) {
        padding: 64px 0 141px;
    }

    .after-hero {
        width: 100%;
        position: absolute;
        top: auto;
        bottom: -4px;
        left: 0;
        right: 0;
    }
    .home-slider {
        max-width: 750px;
        width: 100%;
    }

    &-text {
        width: 100%;
        text-align: center;
        margin: 25px 0 5px;
    }

    .main-title {
        font-family: $fontFamily;
        font-size: 50px;
        font-weight: 400;
        line-height: 41px;
        text-transform: uppercase;
        color: $textColor;
        letter-spacing: -1.25px;
        padding-bottom: 15px;

        @include max-w($mobile) {
            font-size: 36px;
            letter-spacing: -.9px;
            padding: 0;
        }

        span {
            color: $thirdTextColor;
        }
    }

    .main-subtitle {
        color: #ffffff;
        font-family: $secondFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: -.5px;
        padding-bottom: 45px;

        @include max-w($screen-md) {
            padding-bottom: 5px;
        }

        @include max-w($mobile) {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -.45px;
        }
    }

    .button {
        text-align: center;

        @include max-w($mobile) {
            margin-top: 54px;
        }
    }
}

.services {
    padding-bottom: 50px;
    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 865px;
        width: 100%;
        padding: 40px 0 0;

        @include max-w($screen-md) {
            padding: 25px 0 0;
            justify-content: center;
        }

        @include max-w($mobile) {
            max-width: 500px;
        }
    }
    &-item {
        color: $secondColor;
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 25px;
        padding-top: 25px;
        transition: .3s;
        cursor: pointer;

        @include min-w(769px) {
            &:hover {
                box-shadow: 0 0 27px #777;
            }
        }

        @include max-w($screen-md) {
            max-width: 310px;
            padding: 15px 0 51px;
        }

        @include max-w($mobile) {
            max-width: 150px;
            padding: 35px 0;

            &:nth-child(-n+2) {
                padding-top: 0;
            }

            &:nth-child(n+7) {
                padding-bottom: 20px;
            }
        }

        @include max-w($screen-xs) {
            max-width: 125px;
        }

        &__title {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -.45px;
            padding-top: 7px;

            @include max-w($screen-xs) {
                font-size: 16px;
            }
        }
    }
}

.process {
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 200px 0 220px;

    @include max-w($screen-xl) {
        padding: 163px 0 180px;
    }

    @include max-w($mobile) {
        margin-top: -35px;
        padding: 113px 0 83px;
    }

    //&:before {
    //    content: '';
    //    background-image: url('~@img/before_section.svg');
    //    background-repeat: no-repeat;
    //    background-position: center, center;
    //    background-size: cover;
    //    position: absolute;
    //    width: 100%;
    //    top: -3px;
    //    left: 0;
    //    right: 0;
    //    padding: 140px 0;
    //    z-index: 5;
    //
    //    @include max-w($screen-xl) {
    //        padding: 80px 0;
    //    }
    //
    //    @include max-w($mobile) {
    //        padding: 40px 0;
    //    }
    //}
    //
    //&:after {
    //    content: '';
    //    background-image: url('~@img/affter_section_gray.svg');
    //    background-repeat: no-repeat;
    //    background-position: center, center;
    //    background-size: cover;
    //    position: absolute;
    //    width: 100%;
    //    bottom: -3px;
    //    left: 0;
    //    right: 0;
    //    padding: 140px 0;
    //    z-index: 5;
    //
    //    @include max-w($screen-xl) {
    //        padding: 80px 0;
    //    }
    //
    //    @include max-w($mobile) {
    //        padding: 66px 0;
    //    }
    //}

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 930px;
        width: 100%;

        @include max-w($screen-md) {
            max-width: 520px;
        }

        @include max-w($mobile) {
            justify-content: center;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        max-width: 235px;
        width: 100%;
        position: relative;
        padding: 47px 15px 51px;

        @include max-w($mobile) {
            padding: 29px 15px;
        }

        &__title {
            color: $thirdTextColor;
            font-size: 24px;
            width: 100%;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -.6px;
            text-align: center;
            margin: 0;
        }

        &__description {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -.45px;
            margin: 7px 0;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .section-title__lite {
        margin-bottom: 32px;
    }
}

.reviews {
    color: $secondColor;
    font-family: $secondFont;
    padding: 33px 0 255px;
    background-color: #efefef;
    position: relative;

    @include max-w($screen-xl) {
        padding: 33px 0 205px;
    }

    @include max-w($screen-md) {
        padding: 33px 0 176px;
    }

    @include max-w($mobile) {
        padding: 5px 0 70px;
    }

    .page-container {
        position: relative;
    }

    &__inner {
        @include max-w($screen-md) {
            padding-top: 10px;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 57px;
        line-height: 22px;

        @include max-w($screen-md) {
            &__description p {
                font-size: 14px;
                letter-spacing: -.4px;
            }
        }

        @include max-w($mobile) {
            padding: 0 45px;
        }

        &-name {
            display: flex;
            flex-direction: row;
            justify-content: center;

            @include max-w($mobile) {
                justify-content: center;
            }
        }

        .first-name, .last-name {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -.4px;
            text-align: center;
            margin-bottom: 0;
            padding: 0 3px;
        }

        &__profession {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -.4px;
            margin: 0 0 10px;
        }

        &__image {
            filter: grayscale(100%);
        }
    }

    .section-title__gray {
        margin: 0;
    }

    .section-subtitle {
        margin: 13px 0 32px;
        text-align: center;
    }
}

.projects {
    padding: 5px 0 50px;

    @include max-w($screen-md) {
        padding: 9px 0 60px;
    }

    &__inner {
        padding-top: 50px;
    }

    &-item img {
        filter: grayscale(100%);
        transition: .3s;

        &:hover {
            transition: .3s;
            filter: grayscale(0);
        }
    }
}

.quote, .industries-quote {
    padding: 170px 0 0;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    position: relative;
    z-index: 2;

    @include max-w($screen-xl) {
        padding: 170px 0 0;
    }

    @include max-w($screen-md) {
        padding: 159px 0 0;
    }

    @include max-w($mobile) {
        padding: 85px 0 0;
    }

    .section-title__lite {

        margin-bottom: 15px;
        @include max-w($screen-md) {
            margin-bottom: 0;
        }
    }
    .section-subtitle {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 2;
        margin-top: 15px;
        margin-bottom: 45px;

        @include max-w($screen-md) {
            margin-top: 9px;
            margin-bottom: 35px;
            line-height: 26px;
        }
    }
}
