.industries-hero {
    position: relative;
    width: 100%;
    padding: 127px 0 318px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: #dedede;
    z-index: 0;

    @include max-w($screen-md){
        padding: 127px 0 322px;
    }

    @include max-w($mobile){
        padding: 65px 0 200px;
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        padding-left: 27px;

        @include max-w($mobile){
            font-size: 36px;
        }
    }

    .main-subtitle {
        padding-bottom: 47px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-family: $secondFont;

        @include max-w($mobile){
            padding-bottom: 10px;
        }
    }

    .description li {
        list-style: none;
        position: relative;
        font-size: 18px;
        letter-spacing: -.16px;
        line-height: 28px;

        @include max-w($mobile){
            font-size: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -20px;
            padding: 5px;
            background-image: url('../images/list_image.png');
            color: #fff;
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: cover;
            height: 11px;
            width: 13px;
        }
    }

    .description{
        ol, ul{
            padding: 0 0 0 22px;
            margin: 0;
            line-height: 24px;
        }

        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
        }

        h5{
            margin-bottom: 6px;
        }
    }
}

.industries-hero-text {
    width: 100%;
}

.to-do {
    margin-top: -90px;
    position: relative;
    z-index: 1;
    color: $secondTextColor;
    font-family: $secondFont;

    @include max-w(1024px){
        margin-top: -70px;
    }

    @include max-w($screen-md){
        margin-top: -50px;
    }

    @include max-w($screen-sm){
        margin-top: -20px;
    }

    &__inner {
        letter-spacing: -.16px;
        font-size: 16px;
        line-height: 24px;

        p{
            margin: 10px 0;
            line-height: 28px;
        }

        strong {
            font-weight: 700;
            line-height: 24px;
        }
    }
}

.industries-quote{
    @include max-w($screen-md){
        padding: 157px 0 150px;
        margin-top: -43px;
    }

    @include max-w($mobile){
        padding: 110px 0;
        margin-top: -40px;
    }

    .section-subtitle{
        margin-bottom: 15px;
    }
}
