.info{
    font-family: $secondFont;
    color: $secondTextColor;
    p{
        font-family: $secondFont;
        color: $secondTextColor;
        font-size: 16px;
        line-height: 20px;
    }
    h2{
        font-size: 36px;
        font-weight: 400;
    }
    h3{
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
}
