.page-template-template-portfolio{
    .content{
        background-color: #efefef;
    }
}
.hero-portfolio {
    padding: 128px 0 200px;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    position: relative;

    @include max-w($screen-xl){
        padding: 128px 0 143px;
    }

    @include max-w($screen-md) {
        padding: 128px 0 219px;
    }

    @include max-w($mobile) {
        padding: 67px 0 160px;
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        padding-left: 27px;
        z-index: 2;
        position: relative;

        @include max-w($mobile) {
            font-size: 36px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 12px;
    }

    &__title {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .3s;
    }
    .link-overlay {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .3;
        background-color: #000000;
        transition: .3s;
        border-radius: 6px;
    }
    &__link {
        margin: 5px 3px;
        position: relative;
        max-width: 300px;
        width: 100%;
        border-radius: 6px;

        img{
            border-radius: 6px;
        }

        &:nth-child(n+7) {
            display: none;

            @include max-w($screen-lg) {
                display: block;
            }
        }

        &:hover {
            color: white;
            opacity: 1;

            .hero-portfolio__title {
                opacity: 1;
            }
            .link-overlay {
                opacity: 1;
                background-color: rgba(165, 70, 70, .9);
                border-radius: 6px;
            }
        }
    }

    .portfolio-slider{
        width: 100%;

        @include max-w($screen-lg){
            max-width: 625px;
            width: 100%;
        }
    }
    .slick-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: none;

        @include max-w($mobile) {
            margin: 0 15px 0 12px;
        }
    }
    .page-container {
        position: relative;
    }
    .control-container {
        display: none;
        width: 100%;

        @include max-w($screen-lg) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: 57%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            z-index: 5;
        }
    }

    .slick-prev {
        transform: rotateZ(90deg);
        position: relative;
        z-index: 5;
        &:after {
            content: '';
            background-image: url('~@img/load_more.png');
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: contain;
            padding: 10px 34px;

            @include max-w($mobile) {
                padding: 10px;
            }
        }
    }

    .slick-next {
        position: relative;
        z-index: 5;
        transform: rotateZ(-90deg);
        &:after {
            content: '';
            background-image: url('~@img/load_more.png');
            background-repeat: no-repeat;
            background-position: center, center;
            background-size: contain;
            padding: 10px 34px;

            @include max-w($mobile) {
                padding: 10px;
            }
        }
    }
}

.show-item {
    &:nth-child(n+7) {
        display: block;
        animation: .7s ease fadein;
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
        display: block;
    }
}
