.single-careers-section {
    position: relative;
    width: 100%;
    padding: 115px 0 203px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;

    @include max-w($mobile){
        padding: 60px 0 240px;
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        padding-left: 27px;

        @include max-w($mobile) {
            font-size: 36px;
        }
    }
}

.single-careers {

    .menu__hamburger .line{
        background-color: $linkSecondColor;
    }

    .item-content {
        padding: 140px 0;
        max-width: 800px;
        width: 100%;

        @include max-w($screen-md) {
            max-width: 660px;
            width: 100%
        }

        @include max-w($mobile){
            padding: 35px 12px 35px 24px;
        }
    }
    &__inner {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        .btn__apply {
            margin-bottom: 45px;
            height: 40px;
            width: 105px;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            @include max-w($mobile){
                right: 55%;
                transform: translateX(55%);
                top: auto;
                bottom: -140px;
            }
        }
    }

    &__text {
        font-family: $secondFont;
        color: #fefefe;
        font-weight: 700;
        line-height: 28px;
        font-size: 24px;
        letter-spacing: -.24px;
    }

    .careers-title {
        font-size: 48px;
        letter-spacing: -.48px;
        margin: 0;
        font-family: $secondFont;
        font-weight: 700;
        margin-bottom: 34px;
        line-height: 40px;

        @include max-w($mobile){
            margin-bottom: 20px;
        }
    }
    &-info {
        font-size: 24px;
        letter-spacing: -.24px;
    }

    .position-description {
        color: #626262;
        font-family: $secondFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -.16px;
        max-width: 800px;
        width: 100%;
        margin-top: -83px;
        margin-bottom: 31px;
        position: relative;
        z-index: 5;

        @include max-w(1024px){
            margin-top: -60px;
        }

        @include max-w($screen-sm){
            margin-top: -30px;
        }

        @include max-w($mobile){
            margin-top: -10px;
        }

        strong {
            color: #a54646;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -.18px;
        }

        .page-container {
            position: relative;
            z-index: 5;

            @include min-w(1366px) {
                padding: 0 0 40px;
            }

            @include max-w($screen-md){
                padding-bottom: 40px;
            }

            @include max-w($mobile){
                padding-bottom: 19px;
            }
        }
    }
}

.careers-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(150, 150, 150, .8);
    display: none;

    &__inner {
        width: 100%;
        max-width: 400px;
        position: absolute;
        border-radius: 6px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: #000;
        padding: 40px 15px 20px;
        background-color: rgba(220, 220, 220, .9);
    }

    .email-wrap{
        margin-bottom: 7px;
    }
    .wpcf7-form-control {
        color: #555555;

    }

    input, textarea {
        border-color: #555555;

        &::placeholder {
            color: #555555;
        }
    }

    textarea{
        height: 100px;
    }

    br {
        display: none !important;
    }

    .btn__get-quote {
        color: white;
        height: 40px;
        width: 125px;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;
        padding: 0;
        font-size: 16px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        border: transparent;
        background-color: transparent;
        outline: none;
        font-size: 18px;
        z-index: 1;
    }
}
