.single-blog-section {
    position: relative;
    padding: 140px 0 270px;

    @include max-w($screen-xl){
        padding: 140px 0;
    }

    @include max-w($screen-md) {
        padding: 140px 30px 135px;
    }

    @include max-w($mobile){
        padding: 140px 10px 97px;
    }

    .single-blog__inner {
        position: relative;
        max-width: 800px;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -902px;
        background-color: #f7f7f7;
        z-index: 1;
        padding: 0;
        border-radius: 6px 6px 0 0;

        @include max-w($mobile){
            margin-top: -660px;
        }
    }
    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        position: absolute;
        top: -115px;
        left: -43px;

        @include max-w($screen-md) {
            left: 22px;
        }

        @include max-w($mobile){
            font-size: 36px;
            top: -80px;
            left: 25px;
        }
    }

    .post-image {
        width: 100%;
        height: auto;
        border-radius: 6px 6px 0 0;

        img{
            border-radius: 6px 6px 0 0;
        }
    }

    .post-description {
        color: $secondTextColor;
        pointer-events: none;
        padding: 0 30px 50px;
        position: relative;

        @include max-w($screen-md){
            padding: 0 10px 10px;
        }

        @include max-w($mobile){
            padding: 0 5px 10px;
        }

        h3, .single-post__title {
            color: $secondTextColor;
            font-family: $secondFont;
            font-size: 24px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: -.24px;
            max-width: 410px;
            width: 100%;
            margin: 20px 0;

            @include max-w($screen-sm){
                margin: 30px 0 20px;
            }
        }

        p {
            //color: $secondTextColor;
            font-family: $secondFont;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.16px;
        }

        strong {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -.18px;
        }
        ul, li, ol {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.16px;
            padding: 0;
            list-style-position: inside;
            color: $secondTextColor;
            font-family: $secondFont;
        }

        .date {
            position: absolute;
            margin: 0;
            top: 0;
            right: 30px;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.12px;
            color: $secondTextColor;

            @include max-w($screen-md){
                right: 10px;
                top: -5px;
            }

            @include max-w($screen-sm){
                right: 10px;
                top: -25px;
            }
        }
    }
}

.single-post {
    &-section {
        position: relative;

        background-size: cover;
        background-position: center, center;
        background-repeat: no-repeat;
        background-color: #dedede;
        z-index: 0;
        padding: 490px 0 500px;
        width: 100%;

        @include max-w($mobile){
            padding: 325px 0 335px;
        }
    }

    .menu__hamburger .line{
        background-color: $linkSecondColor;
    }
}

.single-blog{
    .menu__hamburger .line{
        background-color: $linkSecondColor;
    }
}
