.hero-single-portfolio {
    padding: 412px 0 473px;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    position: relative;

    @include max-w($mobile){
        padding: 200px 0 530px;
    }
}

.single-portfolio {
    .menu__hamburger .line{
        background-color: $linkSecondColor;
    }
    .single-portfolio__inner {
        position: relative;
        max-width: 800px;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -651px;
        border-radius: 6px;
        background-color: #f7f7f7;
        z-index: 1;
        padding: 0;

        @include max-w($screen-md){
            max-width: 704px;
            width: 100%;
        }

        @include max-w($mobile){
            margin-top: -600px;
        }

        @include max-w(414px){
            max-width: 300px;
        }
    }

    .single-portfolio-text {
        padding: 0 28px 10px;
        color: #626262;
        font-family: $secondFont;

        @include max-w($screen-md){
            padding: 0 9px;
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -.6px;

            @include max-w($mobile){
                margin-top: 13px;
            }
        }

        p,ul,ol,li,blockquote {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -.16px;
            line-height: 30px;
            margin-bottom: 22px;
        }

        strong {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -.18px;
        }
    }

    .portfolio-image {
        padding: 228px 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: cover;
        border-radius: 6px 6px 0 0;

        @include max-w($mobile){
            padding: 98px 0;
        }
    }

    .main-title {
        opacity: .3;
        color: #ffffff;
        font-family: $secondFont;
        font-size: 60px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -.6px;
        position: absolute;
        top: -115px;
        left: -22px;

        @include max-w($screen-md){
            left: 22px;
        }

        @include max-w($mobile) {
            font-size: 36px;
            top: -77px;
            left: 27px;
        }
    }

    .portfolio-category {
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-family: $secondFont;
        align-items: center;
        margin: 0 auto;
        padding: 0 30px;

        @include max-w($screen-md){
            max-width: 704px;
            width: 100%;
            padding: 0 15px;
        }

        @include max-w($mobile){
            justify-content: center;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;
        }

        li:not(:last-child):after {
            content: ',';
            color: $secondTextColor;
        }

        a {
            color: $secondTextColor;
            padding-left: 5px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.16px;
        }

        span {
            margin: 13px 0;
            color: $secondTextColor;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            letter-spacing: -.16px;
        }
    }

    .prefooter-angle {
        padding: 0 0 260px;

        @include max-w($screen-xl){
            padding: 0 0 173px;
        }

        @include max-w($mobile){
            padding: 0 0 71px;
        }

        &:after{
            padding: 240px 0;

            @include max-w($screen-xl) {
                padding: 80px 0;
            }

            @include max-w($mobile) {
                padding: 70px 0;
            }
        }
    }
}
