//  Базовые стили

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $bodyBg;
    color: $textColor;
    font-family: $mainFontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.page-container {
    max-width: $containerWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $containerPadding;
    padding-right: $containerPadding;

    @include max-w(1152px){
        padding: 0 30px;
    }

    @include max-w(768px){
        padding: 0 15px;
    }
}

.icon {
    display: inline-block;
}

.html--hidden{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    z-index: 99;
}

.ol, ul, p  {
    margin: 15px 0;
}

.yith-wcan-preset-modal-open {
    overflow: hidden;
}

.search-post-wrap {
    padding: 60px 0 0;

    @include min-w(1152px) {
        padding: 138px 0 0;
    }
    width: 100%;
    .btn {
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 8px 50px;
        background-color: #023130;
        color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        font-size: 16px;
        font-family: $mainFontFamily;

        &--try-on {
            background-color: #fff;
            border: 1px solid #023130;
            width: 137px;
            height: 44px;
            text-decoration: none;
            padding: 11px 25px;
            margin-top: 30px;
            margin-right: 15px;
            color: #023130;
        }
    }
}
