// Mixins
@import 'utils/compact_shorthand';
@import 'utils/decimals';
@import 'utils/px_to_vw';
@import 'utils/set_units';
@import 'utils/shorthand_format_convert';
@import 'utils/adaptive_property';
@import 'library/adaptive_font-size';
@import 'library/adaptive_padding';
@import 'library/adaptive_margin';
@import 'library/adaptive_height';
@import 'library/adaptive_width';

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin clearlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

// Media Queries Min Width

@mixin min-w($width) {
    @media screen and (min-width: $width) { @content; }
}

// Media Queries Max Width

@mixin max-w($width) {
    @media screen and (max-width: $width) { @content; }
}

// Fluid font size
// $f-min - min font size
// $f-max - max font size
// $w-min - min window width
// $w-max - max window width
// $fallback - default font size for old browsers support
// $units - measure units (e.x. px, em, rem, vw)
@mixin fluid-font($fMin, $fMax, $wMin, $wMax, $fallback: false, $units: px) {

    font-size: $fMin;

    @media (min-width: $wMin) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($fMin, $fMax, $wMin, $wMax, $units);
    }
    @media (min-width: $wMax) {
        font-size: $fMax;
    }
}
