// Include fonts
// font-family: StyreneA-Regular;
@font-face {
    font-family: 'StyreneA';
    src:  local('StyreneA-Regular'), local('StyreneA-Regular');
    src: url('~@fonts/StyreneA-Regular.woff') format('woff');
    font-weight: 400;
}

// font-family: StyreneA-Medium;
@font-face {
    font-family: 'StyreneA';
    src:  local('StyreneA-Medium'), local('StyreneA-Medium');
    src: url('~@fonts/StyreneA-Medium.woff') format('woff');
    font-weight: 500;
}

// font-family: StyreneB-Regular;
@font-face {
    font-family: 'StyreneB';
    src:  local('StyreneB-Regular'), local('StyreneB-Regular');
    src: url('~@fonts/StyreneB-Regular.woff') format('woff');
    font-weight: 400;
}

// font-family: StyreneB-Medium;
@font-face {
    font-family: 'StyreneB';
    src:  local('StyreneB-Medium'), local('StyreneB-Medium');
    src: url('~@fonts/StyreneB-Medium.woff') format('woff');
    font-weight: 500;
}

// Headers

.page-title {
    margin-top: 8px;
    font-size: 22px;
    line-height: 120%;
    @include min-w(1440px) {
        font-size: 28px;
        line-height: 110%;
    }
}
.product-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $textColor4;
    font-family:$mainFontFamily;
    height: 50px;

    @include min-w(1440px) {
        font-size: 20px;
        font-family: $secondFontFamily;

    }

}

.banner-header {
    font-size: 28px;

    @include min-w(1152px) {
        font-size: 40px;
    }
}
