//  Colors

$bodyBg: #fff;
$footerBg: #292931;
$darkColor: #023130;
$textColor: #35353b;
$textColor3: #59af9e;
$textColor4: #3f3f48;
$secondTextColor: #ffffff;

$backgroundColor: #02ad78;
$backgroundColor-2: #dcede8;
$backgroundColor-3: #000;
$backgroundColor-4: #59af9e;
$backgroundColor-5: #ec423e;
$backgroundColor-6: #eff1f2;
// Link colors

$linkColor: #35353b;
$linkColor2: #7a7a88;

$linkColorHover: #59af9e;
$fourth-color: #fff;

//  Border colors

$neutralBrand: #e1e1e8;
$neutralBrand2: #3e3e45;
//  Typography

$mainFontFamily: 'StyreneB';
$secondFontFamily: 'StyreneA';

$fontSize: 16px;
$fontWeight: 400;
$lineHeight: 1.2;

// Container width

$containerPadding: 80px;
$containerWidth: 1280px + $containerPadding * 2;
