// Alignments

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Widgets

.widget {
    margin: 0 0 1.5em;
}

// Make sure select elements fit in widgets.
.widget > select {
    max-width: 100%;
}

// Posts and pages

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 28px;
    @include min-w(1440px){
        margin: 0 0 6.5em;
    }
}

.byline,
.updated:not(.published) {
    display: none;
}

.single > .byline,
.group-blog > .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

// Comments

.comment-content > a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

// Media

.page-content > .wp-smiley,
.entry-content > .wp-smiley,
.comment-content > .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
    max-width: 100%;
}

// Captions

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption > img[class*='wp-image-'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption > .wp-caption-text {
    margin: .875em 0;
}

// Galleries

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 > .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 > .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 > .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 > .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 > .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 > .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 > .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 > .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
