@import 'block/checkout-fixed';
@import 'block/checkout-modal';
@import 'pages/_cart';
@import 'my-account/single-order';

.hentry {
    margin-bottom: 180px;

    @include min-w(992px) {
        margin-bottom: 0;
    }
}
