//  Импорт файлов
//@import 'normalize-scss';
//@include normalize();
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'base';
//@import 'typography';
//
//@import 'wp-classes';
//@import '~bootstrap/dist/css/bootstrap.min.css';
//@import 'elements/form-elements';
//@import 'elements/buttons';
//
@import 'block/header';
@import 'block/header-cart';
@import 'block/footer';
@import 'block/subscribe';
@import 'block/try-on';
*:focus {
    outline: 0 !important;
}
body {
    margin: 0 auto;
    &:after {
        box-shadow: none !important;
    }
}
.display-none {
    display: none !important;
}

#app {
    overflow-x: hidden;
    background: $footerBg;
}
//.featured-articles {
//    a {
//        text-decoration: none;
//        color: $darkColor;
//    }
//}
//.attribute-count {
//    display: none;
//}
//.recently-slider {
//    padding-bottom: 108px;
//    @include min-w(768px){
//        padding-bottom: 100px;
//    }
//
//    .slick-slide {
//        margin: 0 15px !important;
//        box-sizing: border-box;
//    }
//    .slick-list {
//        margin: 0 -15px;
//        @include max-w(768px) {
//            padding: 0 10% 15px 0;
//        }
//    }
//}
//
//.recently-product-section {
//    position: relative;
//
//    .slick-arrow {
//        background-color: #b2d1d4;
//        border-radius: 50%;
//        padding: 15px;
//        width: 50px;
//        height: 50px;
//
//        &:hover {
//            cursor: pointer;
//        }
//    }
//
//    .prev {
//        transform: rotate(180deg);
//    }
//    .slick-list {
//        margin: 0 -15px;
//    }
//}
//
//.recently-nav-container {
//    position: absolute;
//    top: 40%;
//    left: 0;
//    transform: translateY(-50%);
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    width: 100%;
//    z-index: 1;
//}
//
//.recently-headline {
//    display: flex;
//    flex-direction: row;
//    align-items: baseline;
//    width: 100%;
//    justify-content: space-between;
//    margin-bottom: 20px;
//    @include min-w(768px){
//        margin-bottom: 24px;
//    }
//}
//
//.recently-header{
//    font-family: $secondFontFamily;
//    font-size: 20px;
//    font-weight: 500;
//    line-height: 120%;
//    margin-bottom: 0;
//    @include min-w(1440px){
//        font-size: 28px;
//        line-height: 110%;
//    }
//}
//
//.faq-main .recently-header {
//    padding-bottom: 0;
//}
//.clear-cookie {
//    font-size: 17px;
//    color: $textColor3;
//    text-decoration: none;
//    border: none;
//    background-color: transparent;
//    outline: none;
//
//    &:active {
//        border: none;
//    }
//    &:focus {
//        border: none;
//    }
//    &:hover {
//        color: $textColor3;
//    }
//}
//
//.product-price {
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    justify-content: space-between;
//    font-weight: 500;
//    font-size: 18px;
//    line-height: 25px;
//    color: $textColor;
//    margin: 0;
//}
//.price {
//    display: flex;
//    line-height: 140%;
//    flex-direction: row-reverse;
//    align-items: center;
//    justify-content: space-between;
//}
//.price ins {
//    font-family: $mainFontFamily;
//    color: $backgroundColor-5;
//    text-decoration: none;
//    margin-right: 8px;
//}
//.price del {
//    font-family: $mainFontFamily;
//    color:$linkColor2;
//    opacity: .5;
//    font-size: 16px;
//    font-weight: normal;
//    text-decoration-line: line-through;
//    @include min-w(1152px){
//        font-family: $secondFontFamily;
//        font-size: 14px;
//        opacity: .7;
//    }
//}
//span.raiting {
//    padding-bottom: 5px;
//
//}
//span.star {
//    color:$darkColor;
//    margin-bottom: 5px;
//}
//
//.article-img {
//    img {
//        object-fit: cover;
//        width: 100%;
//        height: 236px;
//    }
//}
//
//.banner {
//    margin: 0 auto;
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    position: relative;
//
//    &-info {
//        max-width: 1440px;
//        width: 100%;
//        position: absolute;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        margin: 0 auto;
//        display: flex;
//        flex-direction: row;
//        align-items: center;
//        padding: 0 15px;
//
//        @include min-w(769px) {
//            padding: 0 30px;
//        }
//
//        @include min-w(1153px) {
//            padding: 0 80px;
//        }
//    }
//
//    &-text {
//        color: #fff;
//
//        @include min-w(576px) {
//            color: $darkColor;
//        }
//    }
//}
//
//.description-bold {
//    font-weight: 500;
//}
//
//.desktop-banner {
//    margin: 0 auto;
//    display: none;
//
//    @include min-w(576px) {
//        display: block;
//    }
//}
//
//.mobile-banner {
//    display: block;
//
//    @include min-w(576px) {
//        display: none;
//    }
//}
//
//.info-panel {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//}
//
//.filter {
//    max-width: 1440px;
//    width: 100%;
//    padding: 0 80px;
//    margin: 0 auto;
//    position: relative;
//
//    @include min-w(1151px) {
//        background-color: $backgroundColor-6;
//    }
//
//    &:after {
//        border-bottom: 1px solid $neutralBrand;
//        width: 100%;
//        position: absolute;
//        content: '';
//        bottom: 0;
//        left: 0;
//        right: 0;
//    }
//
//    &-title {
//        font-size: 16px;
//        @include min-w(1151px) {
//            padding: 25px 10px;
//            line-height: 34px;
//            font-weight: 400;
//            margin: 0;
//            font-size: 17px !important;
//        }
//    }
//
//    &-container {
//        @include min-w(1151px) {
//            display: flex;
//            flex-direction: row;
//            justify-content: space-around;
//        }
//    }
//
//    &-wrap {
//        width: 100%;
//    }
//
//    .filters-container {
//        @include min-w(1151px) {
//            background-color: $backgroundColor-6;
//        }
//    }
//
//    .filter-content {
//        @include min-w(1152px) {
//            position: absolute;
//            background-color: #fff;
//            z-index: 999;
//            padding: 20px 16px;
//            filter: drop-shadow(0 4px 5px rgba(103, 100, 117, .15));
//            min-width: 200px;
//        }
//    }
//}
//
//.breadcrumbs {
//    a {
//        text-decoration: none;
//        color: $linkColor2;
//        font-size: 15px;
//    }
//
//    span {
//        font-size: 15px;
//    }
//}
//
//.grid-button {
//    display: flex;
//}
//
//.mobile-grid-button {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-around;
//    max-width: 75px;
//    width: 20%;
//
//    @include min-w(992px) {
//        display: none;
//    }
//}
//
//.headline {
//    padding: 24px 0;
//}
//
//.product-item {
//    margin-bottom: 64px;
//
//    @include min-w(767px) {
//        margin: 0 0 100px;
//    }
//}
//
//.product-link {
//    text-decoration: none;
//    color: $textColor4;
//}
//
//.product-thumbnail {
//    position: relative;
//    margin-bottom: 15px;
//    background-color: rgba(239,241,242,.5);
//    min-height: 100px;
//    img {
//        object-fit: cover;
//        width: 100%;
//    }
//}
//
//.product-attribute {
//    width: 100%;
//    display: flex;
//    justify-content: space-between;
//    padding: 0 15px;
//    position: absolute;
//    left: 0;
//    right: 0;
//    bottom: 20px;
//
//    p, span {
//        margin: 0;
//        padding: 0;
//    }
//}
//
//.attribute-color {
//
//    &-item {
//        display: inline-block;
//        height: 20px;
//        width: 20px;
//        background-color: $linkColor2;
//        border-radius: 20px;
//        cursor: pointer;
//        position: relative;
//        margin-left: 6px!important;
//    }
//
//    &-after {
//        &:after {
//            position: absolute;
//            content: '';
//            width: 28px;
//            height: 28px;
//            border: 1px solid rgba(63, 63, 72, .3);
//            left: -4px;
//            top: -4px;
//            border-radius: 50%;
//        }
//    }
//}
//
//.wish-product-link {
//    position: absolute;
//    right: 21px;
//    top: 28px;
//}
//
//.wish-product-icon {
//    max-width: 18px;
//    height: 18px;
//    fill: $darkColor;
//}
//
//.product-sale-tooltip, .product-new-tooltip {
//    position: absolute;
//    left: 20px;
//    top: 20px;
//    color: #fff;
//    border-radius: 4px;
//    font-weight: 500;
//    font-size: 12px;
//    padding: 7px 6px;
//    display: inline;
//}
//
//.red {
//    background-color: rgb(237, 84, 81);
//}
//
//.green {
//    background: rgba(89,175,158,.9);
//}
//.price-wrapper-with-sale-text {
//    display: flex;
//    flex-direction: column;
//    align-items: flex-start;
//    @include min-w(768px){
//        flex-direction: row;
//        align-items: center;
//    }
//}
//.price.basic-price{
//    margin: 0;
//}
//
//.product-sale-text {
//    font-family: $mainFontFamily;
//    font-weight: 400;
//    font-size: 14px;
//    line-height: 140%;
//    color: #59af9e;
//    @include min-w(768px){
//        padding-left: 8px;
//        font-size: 15px;
//    }
//}
//
//.woocommerce-product-details__short-description,  .variations_form {
//    max-width: 416px;
//    width: 100%;
//}
//.yith-wcan-filters .yith-wcan-filter h4.collapsable.opened:after {
//    display: none !important;
//}
/////////////////////////////
//.woocommerce-lost-password {
//    height: 100vh !important;
//    .wrapper {
//        height: 100vh !important;
//    }
//}
//.lost_reset_password {
//    max-width: 400px;
//    width: 100%;
//    margin: 0 auto;
//    display: flex;
//    flex-direction: column;
//
//    p, label {
//        width: 100% !important;
//    }
//}
//
//.woocommerce-LostPassword, .lost_password {
//    a {
//        display: none;
//    }
//}
//
//.forgot {
//    margin: 0 auto;
//}
//
//.woocommerce-product-rating {
//    display: flex;
//}
//.product-rait-info {
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    justify-content: space-between;
//
//    .woocommerce-review-link {
//        font-family: $mainFontFamily;
//        font-style: normal;
//        font-weight: normal;
//        font-size: 15px;
//        line-height: 140%;
//        color: #3f3f48;
//        opacity: .5;
//        text-decoration: none;
//    }
//}
//.star-rating {
//    overflow: hidden;
//    position: relative;
//    height: 1em;
//    line-height: 1;
//    font-size: 1em;
//    width: 5.4em;
//    font-family: 'star', serif;
//
//    &::before {
//        content: '\73\73\73\73\73';
//        float: left;
//        top: 0;
//        left: 0;
//        position: absolute;
//    }
//
//    span {
//        overflow: hidden;
//        float: left;
//        top: 0;
//        left: 0;
//        position: absolute;
//        padding-top: 1.5em;
//    }
//
//    span::before {
//        content: '\53\53\53\53\53';
//        top: 0;
//        position: absolute;
//        left: 0;
//    }
//}
//
//.non-result {
//    display: flex;
//    flex-direction: column;
//    width: 100%;
//    align-items: center;
//    justify-content: center;
//    font-family: $mainFontFamily;
//    font-style: normal;
//    font-weight: normal;
//    font-size: 18px;
//    line-height: 120%;
//    color: #727276;
//}
//
//.col-6 {
//    .product-thumbnail {
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//        width: 100%;
//        background-color: rgba(239, 241, 242, .5);
//        min-height: 196px;
//        justify-content: center;
//        position: relative;
//    }
//
//    .product-attribute {
//        bottom: 8px;
//        display: flex;
//        align-items: center;
//    }
//    .attribute-color {
//        height: 30px;
//        width: 30px;
//        overflow: hidden;
//        margin-left: 25px;
//    }
//
//    .attribute-size {
//        overflow: hidden;
//        height: 22px;
//        width: 35px;
//        display: flex;
//    }
//    .attribute-color-item, .attribute-color-after {
//        margin: 5px 5px 7px !important;
//    }
//
//    .attribute-size-item {
//        margin: 0 2px 7px !important;
//    }
//
//    .attribute-count {
//        font-family: $mainFontFamily;
//        font-weight: 400;
//        font-size: 14px;
//        line-height: 140%;
//        color: #7a7a88;
//        opacity: .7;
//        display: block;
//    }
//
//    .rating {
//        display: none;
//    }
//}
//
//.result-search-list {
//    .attribute-count {
//        margin-bottom: 5px;
//    }
//}
