@import '_base';
@import 'block/_prescription';
@import 'my-account/orders';
@import 'my-account/single-order';
@import 'my-account/my-details';
@import 'my-account/my-prescriptions';
@import 'my-account/change-password';
@import 'my-account/linked-accounts';
@import 'my-account/addresses';
@import 'my-account/payment-methods';
@import 'checkout';

.display-none {
    display: none!important;
}

input, select {
    padding: 15px!important;
}

.woocommerce {
    padding: 0!important;
    //margin-top: 100px;
}

.woocommerce-MyAccount-content {
    //padding-left: 15px;
    //padding-right: 15px;

    @include min-w(769px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        //width: auto!important;
        //float: unset!important;
    }
}

.page-title-desktop-wrapper {
    width: 100%;
    display: none;

    @include min-w(769px) {
        margin-bottom: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

//.button {
//    display: none!important;
//}

.hentry {
    margin: 72px 0 0;

    @include min-w(1152px){
        margin-top: 108px;
    }
}

.title-wrapper {
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e1e1e8;

    @include min-w(769px){
        display: none;
    }
}

.page-title-desktop {
    padding-left: 15px;
    display: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #3f3f48;
    margin: 0;

    @include min-w(769px){
        display: flex;
        //align-items: center;
        justify-content: space-between;
        padding-left: 0;
    }
}

.my-account-link {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    color: #35353b;

    &:hover {
        color: #35353b;
    }
}

.chevron-icon {
    position: absolute;
    left: 15px;
    top: 22px;
}

.page-title {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}

.page-content {
    margin: 0 auto;

    @include min-w(769px){
        width: 100%;
        max-width: 1440px;
        padding: 48px 80px;
    }

    .woocommerce {
        @include min-w(769px){
            display: flex;
        }
    }

    .my-account-menu {
        @include min-w(769px){
            flex-shrink: 0;
            width: 363px;
            margin-right: 70px;
        }
    }
}

.account-header {
    padding: 24px 15px;
    background: url(../images/account-bg.jpg) no-repeat;
    background-size: cover;

    @include min-w(769px){
        padding: 34px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    p:first-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #35353b;
        margin: 0 0 4px;
    }

    p:last-child {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: #35353b;
        margin: 0;

        @include min-w(769px){
            font-size: 28px;
            line-height: 110%;
        }
    }
}

.account-list {
    margin: 0 0 20px;
    padding-left: 0;

    @include min-w(769px){
        margin-bottom: 0;
    }
}

.account-list-item {
    padding-left: 15px;
    list-style: none;
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e8;

    @include min-w(769px){
        border-left: 1px solid #e1e1e8;
        border-right: 1px solid #e1e1e8;
    }

    a {
        text-decoration: none;
        font-size: 17px;
        line-height: 120%;
        color: #35353b;
        display: block;
        width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 12px;
        right: 26px;
        top: 26px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%237A7A88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: cover;
    }

    //&:nth-child(5) {
    //    @include min-w(769px){
    //        border-bottom-left-radius: 10px;
    //        border-bottom-right-radius: 10px;
    //    }
    //}

    &:last-child {
        display: none;
    }
}

.is-active a {
    font-weight: 500;
}

.help-link-wrapper {
    padding-left: 15px;
    height: 48px;
    display: flex;
    align-items: center;

    @include min-w(769px){
        height: 64px;
        border-bottom: 1px solid #e1e1e8;
        border-left: 1px solid #e1e1e8;
        border-right: 1px solid #e1e1e8;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 6px;
            height: 12px;
            right: 26px;
            top: 26px;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%237A7A88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: cover;
        }
    }

    a {
        font-size: 18px;
        line-height: 120%;
        color: #7a7a88;
        text-decoration: none;

        @include min-w(769px) {
            color: #35353b;
        }
    }
}

.logout-link-wrapper {
    margin-bottom: 58px;
    padding-left: 15px;
    height: 48px;
    display: flex;
    align-items: center;

    @include min-w(769px){
        height: 64px;
        border-bottom: 1px solid #e1e1e8;
        border-left: 1px solid #e1e1e8;
        border-right: 1px solid #e1e1e8;
        position: relative;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &:after {
            content: '';
            position: absolute;
            width: 6px;
            height: 12px;
            right: 26px;
            top: 26px;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%237A7A88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: cover;
        }
    }

    a {
        font-size: 18px;
        line-height: 120%;
        color: #59af9e;
        text-decoration: none;
    }
}

.prescriptions-tabs {
    margin-top: 43px;
    padding-left: 15px;
    padding-right: 15px;
}

.prescriptions-tabs-buttons {
    display: flex;
}

.prescriptions-tab {
    width: 50%;
    padding-bottom: 13px;
    border-bottom: 4px solid $darkColor;
    margin-bottom: 32px;
    text-align: center;

    .text {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: $darkColor;
    }
}

.not-active {
    border-bottom: 4px solid $neutralBrand;

    .text {
        font-weight: 400;
    }
}

.lens-comment {
    margin-bottom: 0;
    display: none;

    &:after {
        display: none;
    }
}

.lens-add-comment {
    text-align: center;

    .text {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: $textColor;
        text-decoration: underline;
    }
}

.prescription-comment {
    display: none;
}

.add-prism-checkbox {
    display: none;
}

.lens-prescriptions-both {
    margin-top: 38px;
    margin-bottom: 22px;
    height: 53px;
    border-radius: 10px;
    background: rgba(239, 241, 242, .5);
    position: relative;
    padding: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $linkColor2;

    //label {
    //
    //}
}

.lens-switch {
    width: 38px;
    height: 20px;
    position: absolute;
    right: 15px;
}

.lens-text {
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    color: $textColor4;
    width: 100%;
    margin-bottom: 24px;
}

.lens-label {
    margin-bottom: 40px;
}

.my-account-single-order-wrapper {
    display: flex;
    flex-direction: column;

    @include min-w(1152px){
        flex-direction: row;
    }
}
