@import 'pages/_single-product-tab';
@import 'block/_prescription';
@import 'block/_prescriptions-modal';
//@import 'library/bootstrap.css';

.display-none {
    display: none!important;
}

.display-block {
    display: block!important;
}

.background-transparent {
    background: transparent!important;
}

#start-wizard {
    background: #59af9e;
    border-radius: 8px;
    padding: 12px 16px;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
}

.single_add_to_cart_button {
    background: #59af9e!important;
    border-radius: 8px!important;
    padding: 12px 16px!important;
    color: #fff!important;
    font-size: 16px!important;
    line-height: 140%!important;
    max-width: 341px!important;
    width: 100%!important;
    margin-right: 14px!important;
}

.wizard-review {

    @include min-w(992px) {
        display: none!important;
    }
}

#my-fitmix-container {
    width : 600px;
    height : 500px;
    max-width: 100%;
}

div[id^='product-'] {
    margin-top: 150px;
    //display: none;
}

.products.columns-4 {
    display: none;
}

.sub-item {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .2);
    //border-left: 1px solid #023130;
    //border-right: 1px solid #023130;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #023130;

    &:hover {
        background: rgba(89, 175, 158, .1);
    }

    input {
        display: none;
    }

    label {
        //width: 100%;
        height: 100%;
        display: inline-block!important;

        @include min-w(992px) {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: $textColor;
            font-family: $secondFontFamily;
        }
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.single-product-category-show a{
    text-decoration: none;
    font-family: $mainFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #7a7a88;
    @include min-w(768px){
        font-size: 18px;
    }
}

.wizard2 {
    .order-check-wrapper {
        display: flex;
        margin-top: 16px;

        .text {
            margin: 0;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;

            .prism-weight {
                color: $textColor;
            }

            a {
                color: $darkColor;
            }
        }
    }

    .custom-checkbox> input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox> span {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-checkbox> span::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $darkColor;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    .custom-checkbox> input:checked+ span::before {
        border-color: $darkColor;
        background-color: $darkColor;
        background-image: url(../images/check.svg);
    }
}

#wizard {
    //display: none;
    //margin-top: -20px;

    @include min-w(992px) {
        //margin-top: 50px;
    }
}

.step-heading-wrapper {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 32px;
    //padding-bottom: 0;
    opacity: 1!important;

    @include min-w(768px) {
        padding-bottom: 25px;
    }
}

.step-heading-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #35353b;
    margin: 0;

    @include min-w(992px) {
        font-weight: 500;
        font-size: 28px;
        line-height: 110%;
        font-family: $secondFontFamily;
    }
}

#sidebar {
    display: none;
}

.wizard-container {

    @include min-w(992px) {
        display: flex;
        gap: 35px;
        padding-top: 30px;
    }
}

.wizard-steps {

    @include min-w(992px) {
        //flex-grow: 2;
        width: calc(100% - 435px);
    }
}

.wizard-total-wrapper {
    display: none;

    @include min-w(992px) {
        display: block;
        width: 400px;
        height: fit-content;
        background: rgba(239, 241, 242, .3);
    }

    .total-img {
        //display: none;

        @include min-w(992px) {
            display: block;
            padding-bottom: 25px;
            background: rgba(239, 241, 242, .8);
        }
    }

    .total-frame {
        display: flex;
        justify-content: space-between;
        //display: none;

        @include min-w(992px) {
            margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .total-prescriptions {
        padding-bottom: 15px;
        padding-top: 15px;
        display: none;

        @include min-w(992px) {
            display: none;
            padding-left: 20px;
            padding-right: 20px;
        }

        table {
            width: 100%;
        }

        tr {
            height: 39px;
        }

        td {
            width: 56px;
            border: 1px solid #e1e1e8;
            font-weight: 400;
            font-size: 14px;
            line-height: 110%;
            color: #3f3f48;
            text-align: center;

            span {
                opacity: .5;
            }
        }

        td:first-child {
            width: 69px;
            font-weight: 500;
        }

        tr:first-child {
            height: 31px;

            td {
                font-weight: 500;
            }
        }
    }

    .lenses-configuration {
        display: none;
    }

    .total-brand {
        display: none;
        text-align: center;

        @include min-w(992px) {
            margin-top: 0;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: $linkColor2;
            opacity: .7;
            padding-left: 20px;
            padding-right: 20px;
            font-family: $secondFontFamily;
            text-align: left;
        }
    }

    .total-brand--mobile {
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: $textColor;
        margin-top: 30px;
        opacity: .7;

        @include min-w(992px) {
            display: none;
        }
    }

    .total-name {
        display: none;

        @include min-w(992px) {
            display: block;
            font-weight: 500;
            font-size: 28px;
            line-height: 110%;
            color: #3f3f48;
            margin-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            font-family: $secondFontFamily;
        }
    }

    .total-name-mobile {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: $textColor4;
        text-align: center;
        margin-bottom: 23px;

        @include min-w(992px) {
            display: none;
        }
    }

    .total-brand--desktop {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        padding-left: 20px;
        padding-right: 20px;
        color: $linkColor2;
        opacity: .7;
        font-family: $secondFontFamily;

        @include min-w(992px) {
            display: block;
        }
    }

    .frame {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #35353b;
        margin-bottom: 5px;
        font-family: $secondFontFamily;

        @include min-w(992px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .variations {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $linkColor2;

        @include min-w(992px) {
            font-size: 17px;
            line-height: 140%;
            color: #7a7a88;
        }
    }

    .price {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #373638;

        @include min-w(992px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #373638;
        }
    }

    .table-name {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $linkColor;
        margin-top: 30px;
        margin-bottom: 17px;

        @include min-w(992px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .rotate-90 {
        transform: rotate(90deg);
    }

    .rotate-270 {
        transform: rotate(270deg);
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .frame-options {
        //display: none;

        @include min-w(992px) {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .option-row {
        display: flex;

        .option-name {
            font-size: 14px;
            line-height: 140%;
            color: #7a7a88;
            margin: 0;
        }

        .option-price {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #373638;
            margin: 0;
        }
    }

    .with-price {
        justify-content: space-between;
    }

    .without-price {
        justify-content: flex-start;
    }
}

.wizard-image {
    width: 100%;
}

.lenses-container {
    .total-prescriptions {
        display: block;
    }
}

// .usage-multifocal {
//     //display: none;
// }

.wizard-item-open {
    border: 1px solid #023130!important;
    background: rgba(89, 175, 158, .2);
}

.wizard-heading {
    width: 100%;
    height: 56px;
    //text-align: center;
    font-size: 18px;
    line-height: 140%;
    //border-bottom: 1px solid #e1e1e8;
    position: relative;
    padding-top: 0;
    padding-bottom: 15px;

    @include min-w(992px) {
        padding-top: 15px;
    }

    .wizard-header {
        text-align: center;

        @include min-w(992px) {
            display: none;
        }
    }

    .wizard-header-desktop {
        display: none;

        @include min-w(992px) {
            display: block;
            font-weight: normal;
            font-size: 17px;
            line-height: 140%;
            color: $textColor4;
            padding-left: 55px;
            cursor: pointer;
        }
    }

    &:after {
        position: absolute;
        content: '';
        width: calc(100% + 30px);
        height: 1px;
        background: #e1e1e8;
        bottom: 0;
        left: -15px;

        @include min-w(992px) {
            display: none;
            width: 100%;
            left: 0;
        }
    }

    p {
        margin: 0;
    }
}

.wizard-subtotal, .wizard-subtotal-mobile {
    display: flex;
    justify-content: space-between;
    //border-top: 1px solid #e1e1e8;
    padding-top: 15px;
    padding-bottom: 30px;
    position: relative;

    @include min-w(992px) {
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 124%;
        color: $textColor4;
        margin: 0;
    }

    .current-price {
        font-weight: 700;
        color: $textColor;
    }
}

.wizard-subtotal {
    padding-top: 25px;

    @include min-w(992px) {
        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 15px;
            right: 15px;
            height: 1px;
            background-color: $neutralBrand;
        }
    }
}

.step-signin-text {
    margin: 15px auto;

    @include min-w(992px) {
        font-size: 17px;
        color: $textColor4;
        margin: 15px 0;
    }

    .prescription-login-button {
        font-weight: 500;
        color: $darkColor;
    }
}

.wizard-subtotal-mobile {
    .current-price {
        font-weight: 700;
        color: #373638;
    }

    @include min-w(992px) {
        display: none;
    }

    &:after {
        position: absolute;
        content: '';
        width: calc(100% + 30px);
        height: 1px;
        top: 0;
        left: -15px;
        background: #e1e1e8;
        box-shadow: 0 -4px 10px rgba(103, 100, 117, .6);

        @include min-w(992px) {
            width: 100%;
            left: 0;
        }
    }
}

.circle {
    width: 28px;
    height: 28px;
    //opacity: 0.5;
    border: 2px solid rgba(63, 63, 72, .5);
    border-radius: 50%;
    background: #fff;
    position: relative;

    p {
        font-size: 12px;
        line-height: 120%;
        color: $linkColor2;
        position: absolute;
        bottom: -35px;
        left: -10%;
    }

    &:nth-child(2) {
        p {
            margin-left: -18px;
        }
    }
}

.wizard-circles {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 35px;

    &:before {
        position: absolute;
        content: '';
        width: calc(100% - 30px);
        height: 2px;
        background: #3f3f48;
        opacity: .5;
        left: 15px;
        top: 34px;
        z-index: -1;
    }

    .circle-active {
        border: 2px solid #59af9e;

        &:after {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            left: -2px;
            top: -2px;
            z-index: 2;
            border: 6px solid #59af9e;
            border-radius: 50%;
        }

        p {
            color: $textColor;
        }

        &:first-child:before{
            display: none;
        }

        &:nth-child(n+1) {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 30vw;
                height: 2px;
                background: #59af9e;
                left: -26vw;
                top: 12px;
                z-index: -1;

                @include min-w(992px) {
                    display: none;
                }
            }
        }
    }

    .circle-completed {
        background: #59af9e;
        border: 2px solid #59af9e;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        p {
            color: $textColor;
        }

        &:first-child:before{
            display: none;
        }

        &:nth-child(n+1) {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 30vw;
                height: 2px;
                background: #59af9e;
                left: -26vw;
                top: 12px;
                z-index: -1;

                @include min-w(992px) {
                    display: none;
                }
            }
        }
    }
}

.add-to-cart {
    width: 100%;
    padding: 16px 50px;
    margin-bottom: 20px;
    background: #59af9e;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
    border: none;

}

.wizard-back-button {
    position: absolute;
    background: transparent;
    border: none;
    left: 25px;
    top: -3px;

    @include min-w(992px) {
        top: 12px;
    }
}

.prescription-wrapper {
    display: block;
    position: relative;

    @include min-w(992px) {
        display: flex;
    }

    .input-wrapper {
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }
}

.prescription-modal-button {
    position: absolute;
    width: 17px;
    height: 17px;
    //border-radius: 50%;
    //border: 2px solid $linkColor2;
    border: none;
    top: 0;
    right: 0;
    font-size: 10px;
    color: $linkColor2;
    background: transparent;
}

@include min-w(992px) {
    .prescription-table:nth-child(1) {
        width: calc(50% + 36px);
        margin-right: 16px;
    }

    .prescription-table:nth-child(2) {
        width: calc(50% - 36px);

        .title-column {
            display: none;
        }
    }
}

.title-column {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    .title {
        width: 56px;
        text-align: center;
        height: 56px;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;

            @include min-w(992px) {
                font-size: 18px;
            }
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;

            @include min-w(992px) {
                //font-size: 15px;
            }
        }
    }
}

.prescription-table {
    display: flex;
    //margin-bottom: 30px;
}

.content-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &> div {
        width: calc(50% - 8px);
    }

    .title {
        text-align: center;
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include min-w(992px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;

            span {
                display: none;

                @include min-w(992px) {
                    display: inline;
                }
            }
        }
    }
}

.prescription-form {
    width: 100%;
    padding-bottom: 35px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    .input-wrapper {
        //width: 100%;
        //
        input {
            width: 100%;
            height: 56px;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
            padding: 15px;
        }
    }

    .title {
        text-align: center;

        p:first-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            color: #3f3f48;
            margin: 0;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 110%;
            color: #7a7a88;
            margin: 0;
        }
    }

    .title-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .select-wrapper {
        height: 56px;

        select {
            height: 100%;
            margin: 0;
            font-size: 17px;
            line-height: 1;
            color: #7a7a88;
            border: 1px solid #e1e1e8;
            border-radius: 8px;
        }
    }

    //#pd-2 {
    //    display: none;
    //}
}

//.prescription-pupillary {
//    margin-top: 40px;
//}
//
//.pupillary-info {
//    display: flex;
//    align-items: center;
//    gap: 16px;
//
//    .pupillary-title {
//        width: 56px;
//        height: 56px;
//        margin-bottom: 0;
//        margin-right: 15px;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//    }
//
//    .pupillary-selects {
//        width: 100%;
//        display: flex;
//        gap: 16px;
//    }
//
//    .select-wrapper {
//        height: 56px;
//        width: calc(100% - 8px);
//
//        select {
//            height: 100%;
//            margin: 0;
//            font-size: 17px;
//            line-height: 1;
//            color: #7a7a88;
//            border: 1px solid #e1e1e8;
//            border-radius: 8px;
//        }
//    }
//}
//
//.pupillary-checkbox {
//    margin-top: 25px;
//    margin-bottom: 30px;
//    display: flex;
//    justify-content: center;
//
//    label {
//        font-size: 16px;
//        line-height: 140%;
//        color: #35353b;
//    }
//}

//.prescription-comment {
//    margin-bottom: 45px;
//    position: relative;
//
//    .comment-text {
//        font-size: 14px;
//        line-height: 140%;
//        color: #7a7a8c;
//        margin: 0;
//    }
//
//    textarea {
//        height: 150px;
//    }
//
//    &:after {
//        position: absolute;
//        content: '';
//        width: 100%;
//        height: 1px;
//        left: 0;
//        bottom: -30px;
//        background: #e1e1e8;
//    }
//}

//.add-prism-checkbox {
//    .add-prism-text {
//        font-size: 16px;
//        line-height: 140%;
//        color: #7a7a88;
//    }
//
//    .prism-weight {
//        font-weight: 500;
//    }
//}

.wizard2-subtotal {
    padding-bottom: 0;
}

.wizard3-subtotal {
    //padding-bottom: 0;
}

.disabled {
    //background: red;
    opacity: .5;
    cursor: auto;
    pointer-events: none;
}

.woo-variation-gallery-wrapper .woo-variation-gallery-slider .wvg-post-image {
    width: auto!important;
    max-width: 540px!important;
}

.wizard-item {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 15px;
    position: relative;

    &:hover {
        background: rgba(89, 175, 158, .2);
    }

    label {
        display: flex;
        //position: absolute;
        //left: 0;
        //top: 0;
        //right: 0;
        //bottom: 0;
        padding: 20px 15px;
        cursor: pointer;

        .label-image {
            width: 55px;
            margin-right: 20px;

            img {
                width: 100%;
            }
        }

        .label-info {
            flex: 1 0;

            p:first-child {
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;

                @include min-w(992px) {
                    font-family: $secondFontFamily;
                }
            }

            p:last-child {
                margin-top: 0;
                margin-bottom: 0;
                opacity: .7;
                font-size: 14px;
                line-height: 140%;

                @include min-w(992px) {
                    font-size: 15px;
                    color: $linkColor2;
                }
            }
        }
    }
    //
    //input[name='usage'] {
    //    display: none;
    //    visibility: hidden;
    //}
}

.label-tooltip {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 17px;
    height: 17px;
    //border-radius: 50%;
    //border: 2px solid #7a7a88;
    border: none;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //color: #7a7a88;
    //font-size: 8px;
    //font-weight: 500;
    background: transparent;
    z-index: 2;
    padding: 0;
}

.wizard-item-noimage {
    width: 100%;
    //height: 60px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 15px;
    position: relative;
    //padding-left: 10px;
    //padding-top: 20px;
    //padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #3f3f48;
        width: calc(100% - 50px);
        height: 100%;
        padding: 20px 40px 20px 10px;
        cursor: pointer;
    }

    .tint-text, .tint-unavailable {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #35353b;
        opacity: .7;
        margin-right: 30px;
        margin-top: 5px;
        margin-bottom: 0;
        display: block;
    }
}

.tint-color-choose, .tint-color-mirrored {
    padding-left: 20px;
    padding-right: 40px;
}

//.step-active {
//    background-color: rgba(89, 175, 158, .2);
//}

.tint-colors, .tint-mirror {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    label {
        display: block;
        width: 28px!important;
        height: 28px!important;
        font-size: 0;
        line-height: 0;
        border-radius: 50%;
        //border: 1px solid black;
        margin-right: 16px;
        padding: 0;
        margin-bottom: 10px;
    }

    input[name=tint-color], input[name=tint-mirror] {
        display: none;
    }

    .blue {
        background: blue;
    }

    .gold {
        background: gold;
    }

    .silver {
        background: silver;
    }

    .brown {
        background-color: brown;
    }

    .gray {
        background-color: gray;
    }

    .green {
        background-color: green;
    }

    .orange {
        background-color: orange;
    }

    .pink {
        background-color: pink;
    }

    .darkgreen {
        background-color: darkgreen;
    }

    .purple {
        background-color: purple;
    }

    .yellow {
        background-color: yellow;
    }

    .darkgray {
        background-color: darkgray;
    }

    .lightgray {
        background-color: lightgrey;
    }

    .lightpinkwithbrown {
        background-color: lightpink;
    }

    .darkpinkwithgreen {
        background-color: darksalmon;
    }

    .yellowwithgreen {
        background-color: yellowgreen;
    }

    .turquoisewithbrown {
        background-color: turquoise;
    }

    .purplewithbrown {
        background-color: purple;
    }

    .greenwithgrey {
        background-color: green;
    }

    .violetwithbrown {
        background-color: yellow;
    }

    .copperwithbrown {
        background-color: orange;
    }

    .platinumwithgrey {
        background-color: silver;
    }

    .checked-label {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            width: 36px;
            height: 36px;
            border: 1px solid #7a7a88;
            left: -4px;
            top: -4px;
            border-radius: 50%;
        }
    }
}

.radio-hide {
    display: none;
    visibility: hidden;
}

.continue-button {
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background: #59af9e;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
    border: none;

    @include min-w(992px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.wizard2-bottom-buttons {
    display: flex;
    justify-content: space-between;

    @include min-w(992px) {
        padding-top: 30px;
        padding-bottom: 25px;
    }
}

.wizard2-back-button-desktop {
    display: none;

    @include min-w(992px) {
        display: block;
        padding: 0 80px;
        border: 1px solid $darkColor;
        border-radius: 8px;
        color: $darkColor;
        background: transparent;
        height: 54px;
    }
}

.wizard2-continue {
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include min-w(992px) {
        width: fit-content;
        padding: 0 64px;
        margin-top: 0;
        margin-bottom: 0;
        height: 54px;
    }
}

.product-custom-fields {
    display: none;
}

/////////////////////////////////////////   fitting

.sku_wrapper {
    display: none!important;
}

.try-on {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 403px;
    margin-top: 15px;
    margin-bottom: 24px;
    background: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    color: #35353b;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid $textColor4;
    @include min-w(768px){
        margin-bottom: 7px;
    }
}

.step2-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .saved-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        color: $linkColor2;
        margin: 0 0 5px;

        @include min-w(992px) {
            display: none;
        }
    }

    @include min-w(992px) {
        align-items: center;
    }
}

.step2-heading-desktop {
    display: none;

    @include min-w(992px) {
        display: block;
        font-weight: 500;
        font-size: 28px;
        line-height: 110%;
        color: $textColor;
        margin-bottom: 16px;
        font-family: $secondFontFamily;
    }
}

.saved-select-wrapper {
    display: flex;
    width: 100%;
    max-width: 330px;
}

.saved-select, .saved-select-lenses {
    width: 219px;
    height: 56px;
    border: 1px solid $neutralBrand;
    border-radius: 8px;
    font-size: 17px;
    line-height: 100%;
    color: $textColor;
}

.add-new-button {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $backgroundColor-4;
    text-align: center;
    background: transparent;
    border: none;
    margin-left: 24px;
}

.wizard-item-label {
    width: 100%;
}

.driving-item, .multifocal-item {
    @include min-w(992px) {
        &:hover {
            background: transparent;

            &> label {
                background: rgba(89, 175, 158, .2);
            }
        }
    }
}

.active-open {
    border: 1px solid $darkColor;

    .sub-item {
        border-top: 1px solid #3f3f48;
    }
}

// .product .woocommerce-variation-price {
//     //display: none!important;
// }

.woocommerce-variation.single_variation {
    display: none!important;
}

@media (min-width: 992px) {
    .woo-variation-gallery-slider .wvg-gallery-image .wp-post-image {
        height:540px!important;
    }
}
