body {
    .lenses-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-bottom: 64px;
        justify-content: center;

        .wizard-circles .circle-active:not(:nth-child(1)):before {
            position: absolute;
            content: '';
            width: 20vw;
            height: 2px;
            background: #59af9e;
            left: -20vw;
            top: 12px;
            z-index: -1;
        }

        .wizard-circles .circle-active:first-child:before{
            display: none;
        }
    }

    .wizard-circles-mobile {
        @include min-w(992px) {
            display: none;
        }
    }
    .wizard-total-wrapper .order-product-open-lenses {
        transform: rotate(90deg);
    }
    .rotate-180 {
        transform: rotate(270deg) !important;
    }

    .prescription-step {
        padding: 0;
        @include min-w(992px) {
            max-width: 845px;
            width: 100%;
            padding-right: 33px;
        }
    }

    .step-heading-text, hr {
        display: none;

        @include min-w(992px) {
            display: block;
        }
    }

    .lenses-wizard2 .step-heading-text {
        display: block;
        margin-bottom: 32px;
    }

    .wizard-circles {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
        @include min-w(768px) {
            max-width: 330px;
        }
    }

    .total-name-mobile {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: #3f3f48;
        text-align: center;
        @include min-w(992px) {
            display: none;
        }

    }

    .total-name-desktop {
        display: none;

        @include min-w(992px) {
            display: block;
        }
    }

    .chevron-left {
        margin-right: 15px;
    }

    .button-back-to-product-mobile, .back-to-Prescription, .back-to-quantity {
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        justify-content: center;
        width: 100%;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: .03em;
        color: #35353b;
        position: relative;
        margin-bottom: 25px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -25px;
            left: -45px;
            right: -45px;
            border-bottom: 1px solid #e1e1e8;
        }

        @include min-w(992px) {
            display: none;
        }

        .chevron-left {
            position: absolute;
            left: 25px;
            top: 5px;
        }
    }
    .button-back-to-product {
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 140%;
        display: none;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        color: $textColor4;

        @include min-w(992px) {
            display: flex;
        }
    }

    .both-eyeglass-toggle {
        background: #eff1f2;
        border-radius: 8px;
        max-width: 358px;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        color: $linkColor2;
    }

    .right-eye-wrap, .left-eye-wrap {
        margin-bottom: 40px;
    }

    .eye-wrap-heading {
        font-weight: normal;
        font-size: 17px;
        line-height: 120%;
        color: $textColor4;
        margin-bottom: 24px;
    }

    #lenses-right-sph, #lenses-left-sph {
        color: $textColor4;

        option {
            color: $textColor4;
        }
    }

    .label-info-first {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $textColor4;
    }

    .label-info-second {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $linkColor;
        opacity: .7;
    }

    .order-item-pre-heading {
        font-weight: 500;
    }

    .current-price {
        font-weight: 700;
        color: #373638;
    }

    .lens-count-total {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $linkColor2;
    }

    #lens-total {
        font-weight: 500;
        color: #373638;
    }

    .wizard2-bottom-buttons {
        display: flex;
        justify-content: space-between;

        @include min-w(992px) {
            padding-top: 30px;
            padding-bottom: 25px;
        }
    }

    .button-lens-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .wizard-lens-back-button-desktop {
        display: none;

        @include min-w(992px) {
            display: block;
            padding: 0 80px;
            border: 1px solid $darkColor;
            border-radius: 8px;
            color: $darkColor;
            background: transparent;
            height: 54px;
        }
    }

    .lenses-wizard {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include min-w(992px) {
            align-items: flex-start;
        }
    }

    .lenses-wizard .headline {
        padding: 0;
        display: none;

        @include min-w(768px) {
            padding: 24px 0;
        }

        @include min-w(992px) {
            display: block;
        }
    }

    .lenses-wizard2 {

        .headline {
            display: none;

            @include min-w(992px) {
                display: block;
            }
        }
        .prescription-step {
            width: 100%;
            //padding-left: 15px;
            //padding-right: 15px;
            //
            //@include min-w(992px) {
            //    padding-left: 0;
            //    padding-right: 0;
            //}
        }
    }

    .wizard-lens-mobile-step {
        @include min-w(992px) {
            display: none;
        }
    }

    .wizard-lens-btn-continue, .wizard-lens-mobile-step {
        background: #59af9e;
        border-radius: 8px;
        color: #fff;
        font-size: 16px;
        line-height: 140%;
        height: 54px;
        border: 1px solid #59af9e;
        padding: 0 64px;
        margin: 0 auto;
        width: 100%;

        &:disabled {
            opacity: .5;
        }

        @include min-w(992px) {
            width: auto;
            margin: 0;
        }
    }

    //toggle start
    .switch {
        position: relative;
        display: inline-block;
        width: 38px;
        min-width: 38px;
        height: 21px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c5c5c8;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: $textColor3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $textColor3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 21px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
    //toggle finish

    .prescription-select-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
        width: 100%;
    }
    .select {
        height: 100%;
        margin: 0;
        font-size: 17px;
        line-height: 1;
        color: #7a7a88;
        border: 1px solid #e1e1e8;
        border-radius: 8px;
    }

    .wizard-lens-btn-add-to-cart {
        padding: 16px 50px;
        margin-bottom: 20px;
        background: #59af9e;
        border-radius: 8px;
        color: #fff;
        font-size: 16px;
        line-height: 140%;
        border: none;

        &:disabled {
            opacity: .5;
        }
    }

    .left-eye-wrap {
        display: none;
    }

    .wizard-lenses-item {
        width: 100%;
        position: relative;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 24px;
        padding-left: 20px;
    }

    .choice-count {
        display: none;
    }

    .choice-count:checked + .wizard-lenses-item{
        border: 1px solid #023130;
    }
    #attribute_pa_cl-power, .class-pa_cl-power, #data-pa_cl-power {
        display: none;
    }

    .button-wrap {
        width: 100%;
        justify-content: flex-start;
    }

    .attribute-lens-wrapper {
        display: flex;
        flex-direction: column;
    }
    .pa_cl-bc {
        order: 2 !important;

        .label label{
            font-family: $mainFontFamily;
            font-weight: 400 !important;
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;
            margin-bottom: 8px;
            @include min-w(768px){
                font-size: 15px;
            }
        }
    }

    .select_option_label {
        margin-bottom: 10px;
    }
    .pa_cl-dia {
        order: 0 !important;

        .select_option_label{
            border: none !important;
            padding: 0;
        }

        .label label{
            font-family: $mainFontFamily;
            font-weight: 400 !important;
            font-size: 14px;
            line-height: 140%;
            color: $linkColor2;
            @include min-w(768px){
                font-size: 15px;
            }
        }

        .select_option.selected {
            font-family: $mainFontFamily;
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            color: #35353b;
            background: transparent;
        }
    }

    .total-price-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .single-product-category-show a{
        text-decoration: none;
        font-family: $mainFontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: #7a7a88;
        @include min-w(768px){
            font-size: 18px;
        }
    }

    .add-contact-lenses-to-cart--mobile {
        display: none;
        @include min-w(992px) {
            display: block;
        }
    }

    .wizard-total-wrapper .wizard-subtotal {
        display: none;
    }
    .button-lens-wrap-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #fff;
        padding: 24px 15px;
        box-shadow: 0 -4px 10px rgba(103, 100, 117, .6);

        @include min-w(768px) {
            position: relative;
        }

        @include min-w(992px) {
            box-shadow: unset;
            padding: 0;
            background: rgba(239, 241, 242, .3);
        }
        .wizard-subtotal {
            //padding-top: 0;
            padding-top: 15px;
            display: flex;
            @include max-w(768px){
                & p{
                    color: #373638;
                }
            }
        }

        .wizard-lens-btn-add-to-cart  {
            margin: 0 auto;
            width: 100%;

            @include min-w(992px){
                width: auto;
                margin: 0;
            }
        }
    }
}

.lens-sign-in {
    text-decoration: underline;
    font-weight: 500;
    color: $darkColor;
}

.saved-text {
    text-align: left;
    font-size: 14px;
    color: $linkColor2;

    @include min-w(992px) {
        font-size: 17px;
        text-align: center;
    }
}

.saved-select-wrapper {

    @include min-w(992px) {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

.add-new-lenses-button {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $backgroundColor-4;
    text-align: center;
    background: transparent;
    border: none;
    margin-left: 24px;
    @include min-w(768px){
        font-size: 17px;
    }
}

.wizard-circles .circle:first-child {
    .circle-text {
        left: -75%;
        @include min-w(768px){
            font-size: 14px;
        }
    }
}

.wizard-circles .circle:last-child {
    .circle-text {
        left: 15%;
        @include min-w(768px){
            font-size: 14px;
        }
    }
}
